{% extends "files/desktop/home/container.html" %}
{% block content %}
<link href="/files/desktop/common/css/jquery-ui/jquery-ui.css" rel="stylesheet">
<div class="content-container width80">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Audit Trail<span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">From Date:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box" value="" readonly="readonly" id="from-date" placeholder="dd-Mon-yyyy">
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">User:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="user" autofocus placeholder="Type User">
            <input type="hidden" id="userid"> 
            <div id="userListView" class="ac-textbox default-display-none"  onchange="hidemenu();" onclick="hidemenu();">
              <ul style="width:195px;"></ul> 
            </div>
          </div>
        </div>
        </div>
        <div class="input-row-right">
        <div class="input-row">
          <div class="field-label">To Date:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box" value="" readonly="readonly" id="to-date" placeholder="dd-Mon-yyyy">
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Form Name:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="formname" autofocus placeholder="Type Form name">
            <input type="hidden" id="formid"> 
            <div id="formListView" class="ac-textbox default-display-none"  onchange="hideMenuFormList();" onclick="hideMenuFormList();">
              <ul style="width:195px;"></ul> 
            </div>
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Show" id="show" class="btn-submit">
      </div>
      <div class="clearfix"></div>
      <div class="grid-table default-display-none">
        <table>
          <tr align="left">
            <th>User</th>
            <th>Date & Time</th>
            <th>Form Name</th>
            <th>Action</th>
          </tr>
          <tbody class="tbody-audittrail-list">
          </tbody> 
        </table>
      </div>
    </div>
  </div>
</div>
<div id="templates">
<table class="table-audittrail-list">
<tr class="tableRow">
  <td class="username"></td>
  <td class="datetime"></td>
  <td class="formname"></td>
  <td class="action"></td>
</tr> 
</table>
</div>
<script type="text/javascript" src="/files/desktop/client/audit-trail/audittrail.js"></script>
<script src="/files/desktop/common/js/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript">
$(function() {
  $("#from-date" ).datepicker({
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
    dateFormat: "dd-M-yy",
    monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    onClose: function( selectedDate ) {
    $( "#to-date" ).datepicker( "option", "minDate", selectedDate );
  }
});
$( "#to-date" ).datepicker({
changeMonth: true,
changeYear: true,
numberOfMonths: 1,
dateFormat: "dd-M-yy",
monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
onClose: function( selectedDate ) {
$( "#from-date" ).datepicker( "option", "maxDate", selectedDate );
}
});
});
</script>
{% endblock %} 