{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width70">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Statutory Master<span class="error-message"></span></div>
       <div class="single-column-input-row" style="margin-top:10px">
        <div class="input-row">
          <div class="single-column-field-label">Country:<span class="mandatory">*</span></div>
          <div class="single-column-field-input">
            <input type="text" name="location-name" class="input-box icon-autocomplete" style="width:200px;" value="India">
          </div>
        </div>
       </div>
       <br>
       <div class="form-container-outer">
<!--grid Panchayat-->
<div id="grid-panchayat" class="form-container-grid-table" >
              <table style="width:100%;">
                <tr align="left">
                  <th width="25%" >Act Name</th>
                  <th  width="25%">Rule Name</th>
                  <th width="25%" >Section</th>
                  <th width="25%" >Subsection</th>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>
                        <input type="text" class="filter-text-box" placeholder="Search">
                      </li>
                      <li class="active">Gratuity Act, 1972</li>
                      <li >Batteries Act</li>
                      <li>Industrial Disputes (Central) Rules, 1957</li>
                     
                      <li>Indian Partnership Act, 1932</li>
                    </ul>
                    <div><input type="text" class="input-box" placeholder="Act Name"/>
                    <span> <a href="#"><img src="/images/icon-plus.png" formtarget="_self" class="valignmiddle" /></a> </span></div>
                  </td>
                  <td>
                    <ul>
                     <li>
                        <input type="text" class="filter-text-box" placeholder="Search">
                        </li>
                        <li class="active">Tamil Nadu Gratuity Act, 1972</li>
                    </ul>
                    <div ><input type="text" class="input-box" placeholder="Rule Name" />
                    <span> <a href="#"><img src="/images/icon-plus.png" class="valignmiddle" formtarget="_self" /></a> </span>
                    </div>
                  </td>
                  <td>
                    <ul>
                       <li>
                        <input type="text" class="filter-text-box" placeholder="Search">
                      </li>
                    </ul>
                    <div ><input type="text" class="input-box" placeholder="Section" />
                    <span> <a href="#"><img src="/images/icon-plus.png" class="valignmiddle" formtarget="_self" /></a> </span>
                    </div>
                  </td>
                  <td>
                    <ul>
                       <li> 
                        <input type="text" class="filter-text-box" placeholder="Search">
                      </li>
                    </ul>
                    <div  style="margin-bottom:5px"><input type="text" class="input-box" placeholder="Subsection" />
                      <span> <a href="#"><img src="/images/icon-plus.png" class="valignmiddle" formtarget="_self" /></a> </span>
                    </div>
                  </td>
                </tr>
              </table>
              <table style="width:100%;">
                <tr align="left">
                  <th width="25%">Rule</th>
                  <th width="25%" >Subrule</th>
                  <th width="25%" >Clause</th>
                  <th width="25%">Subclause</th>
                </tr>
                <tr>
                  <td >
                    <ul>
                      <li>
                        <input type="text" class="filter-text-box" placeholder="Search">

                      </li>
                      <li>Rule 4 </li>
                      <li>Rule 9(1) </li>
                      <li>Rule 3</li>
                      <li>Rule 4 (iii)</li>
                      <li>Rule 5 </li>
                      <li>Rule 6 (ii)</li>
                      <li>Rule 6(iii)</li>
                      <li>Rule 7(vii)</li>
                      <li>Rule 7(iv)</li>
                      <li>Rule 8(i) </li>
                      <li>Rule 8 (iii)</li>
                      <li>Rule 10(2) (iii)</li>
                      <li>Rule 11(ii)</li>
                    </ul>
                    <div ><input type="text" class="input-box" placeholder="Rule"  value="Rule 3"/>
                      <span> <a href="#"><img src="/images/icon-plus.png"  class="valignmiddle" formtarget="_self" /></a> </span>
                    </div>
                  </td>
                  <td >
                    <ul>
                       <li>
                        <input type="text" class="filter-text-box" placeholder="Search">
                      </li>
                    </ul>
                    <div ><input type="text" class="input-box" placeholder="Sub Rule" />
                      <span> <a href="#"><img src="/images/icon-plus.png"  class="valignmiddle" formtarget="_self" /></a> </span>
                    </div>
                  </td>
                  <td >
                    <ul>
                       <li>
                        <input type="text" class="filter-text-box" placeholder="Search">
                      </li>
                    </ul>
                     <div ><input type="text" class="input-box" placeholder="Clause" />
                      <span> <a href="#"><img src="/images/icon-plus.png"  class="valignmiddle" formtarget="_self" /></a> </span>
                    </div>
                  </td>
                  <td>
                    <ul>
                       <li>
                        <input type="text" class="filter-text-box" placeholder="Search">
                      </li>
                    </ul>
                    <div  style="margin-bottom:5px"><input type="text" class="input-box" placeholder="Subclause" value=""/>
                      <span> <a href="#"><img src="/images/icon-plus.png"  class="valignmiddle" formtarget="_self" /></a> </span>
                    </div>
                    
                  </td>
                </tr>
              </table>
              <br>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
{% endblock %}