{% extends "files/desktop/home/container.html" %}
{% block content %}
    <div class="content-container width75" id="statutorymapping-view">
      <div class="content-area">
        <h1>Statutory Mapping List</h1>
        <div class="filters-and-search">
          <div class="btn-add btn-statutorymapping-add">Add</div>
        </div>
        <div class="clearfix"></div>
        <div class="grid-table">
          <table>
            <tr align="left">
              <th align="center">#</th>
              <th width="10%">Country</th>
              <th width="10%">Domain</th>
              <th width="10%">Industry</th>
              <th width="10%">Statutory Nature</th>
              <th width="35%">Statutory</th>
              <th width="30%">Compliance Task</th>
              <th width="5%" align="center">Edit</th>
              <th width="5%" align="center" style="padding-right:3px">Status</th>
              <th width="5%" align="center" style="padding-right:3px">Approval Status</th>
            </tr>
            <tr>
              <td align="center"></td>
              <td><input type="text" class="filter-text-box listfilter" id="filter1"></td>
              <td><input type="text" class="filter-text-box listfilter" id="filter2" ></td>
              <td><input type="text" class="filter-text-box listfilter" id="filter3" ></td>
              <td><input type="text" class="filter-text-box listfilter" id="filter4" ></td>
              <td><input type="text" class="filter-text-box listfilter" id="filter5" ></td>
              <td><input type="text" class="filter-text-box listfilter" id="filter6" ></td>
              <td align="center"></td>
              <td align="center"></td>
              <td align="center"></td>
            </tr>
            <tbody class="tbody-statutorymapping-list" id="filter_statutorymapping">
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  <div id="templates">
    <table class="table-statutorymapping">
      <tr class="table-row">
        <td class="sno" align="center"></td>
        <td class="country"></td>
        <td class="domain"></td>
        <td class="industry"></td>
        <td class="statutorynature"></td>
        <td class="statutory"></td>
        <td class="compliancetask"></td>
        <td class="edit" align="center"></td>
        <td class="status" align="center"></td>
        <td class="approvalstatus"></td>
      </tr>
    </table>
  </div>
    <div class="content-container width75 default-display-none" id="statutorymapping-add">
      <div class="content-area">
        <h1>Statutory Mapping</h1>
        <input type="hidden" id="edit_sm_id" value="">
        <div class="add-container">
          <div class="form-container-outer">
            <ul class="nav  nav-pills nav-justified setup-panel">
              <li class="active"><a href="#step-1">
                <h4 class="list-group-item-heading">1. Select Domain</h4>
              </a>
            </li>
            <li class="disabled"><a href="#step-2">
              <h4 class="list-group-item-heading">2. Select Statutory</h4>
            </a></li>
            <li class="disabled"><a href="#step-3">
              <h4 class="list-group-item-heading">3. Compliances</h4>
            </a></li>
            <li class="disabled"><a href="#step-4">
              <h4 class="list-group-item-heading">4. Applicable Location</h4>
            </a></li>
          </ul>
          <div class="clearfix"></div>
          <div class="setup-content" id="step-1">
            <div class="innercontent">
              <div class="form-container-grid-table-sm">
                <table style="height:500px">
                  <tr align="left">
                    <th width="25%">Country<span class="mandatory">*</span></th>
                    <th width="25%">Domain<span class="mandatory">*</span></th>
                    <th width="25%">Industry<span class="mandatory">*</span></th>
                    <th width="25%">Statutory Nature<span class="mandatory">*</span></th>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="filter-text-box" id="filter_country">
                    </td>
                    <td>
                      <input type="text" class="filter-text-box" id="filter_domain">
                    </td>
                    <td>
                      <input type="text" class="filter-text-box" id="filter_industry">
                    </td>
                    <td>
                      <input type="text" class="filter-text-box" id="filter_statutorynature">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <ul style="height:500px;overflow-y:scroll" id="country">
                      </ul>
                    </td>
                    <td>
                      <ul style="height:500px;overflow-y:scroll" id="domain">
                      </ul>
                    </td>
                    <td>
                      <ul style="height:500px;overflow-y:scroll" id="industry">
                      </ul>
                    </td>
                    <td>
                      <ul  style="height:500px;overflow-y:scroll" id="statutorynature">
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <table width="100%">
            <tr>
              <td width="50%" valign="middle">
                <span class="error-message" style="float:left;color:red;font-size: 1em;margin:10px;"></span>
              </td>
              <td align="right" width="50%">
                <button id="activate-step-2" class="btn-right">Next</button>
              </td>
            </tr>
          </table>
          </div>
          <div class="setup-content" id="step-2">
            <div class="innercontent">
              <div class="form-container-grid-table">
                <h2 style="font-size:0.813em;" class="breadcrumbs_1"> </h2>
                <input type="hidden" id="statutoryid">
                <table>
                  <tbody class="tbody-statutory-level">
                  </tbody>
                </table>
              </div>
              <div class="clearfix"></div>
              <div style="padding-top:3px;padding-bottom:5px;" align="center"><input type="submit" class="btn-submit" value="Add" id="temp_addstatutories" /></div>
              
              <div class="grid-table">
                <table width="100%">
                  <tr align="left" style="height:2.0em;">
                    <th style="height:2em;width:5%" align="center">#</th>
                    <th style="height:2em;width:85%">Statutory</th>
                    <th align="center" style="padding-right:3px; height:2em;width:10%">Remove</th>
                  </tr>
                  <tbody class="tbody-statutory-list">
                  </tbody>
                  
                </table>
              </div>
            </div>
            <table width="100%">
            <tr>
              <td width="50%" valign="middle">
                <span class="error-message" style="float:left;color:red;font-size: 1em;margin:10px;"></span>
              </td>
              <td align="right" width="50%">
                <button id="activate-step-3" class="btn-right">Next</button>
                <button id="backward-step-1" class="btn-right">Previous</button>
              </td>
            </tr>
             </table>

           
          </div>
          <div style="float:left;width:25%" id="statutory-level-templates">
            <table style="width:100%;">
              <tr align="left">
                <th style="overflow: hidden;" class="statutory_title"></th>
              </tr>
              <tr>
                <td style="overflow: hidden;" class="statutory_levelvalue">
                </td>
              </tr>
            </table>
          </div>
          <div id="statutory-templates">
            <table class="table-statutory">
              <tr class="table-row">
                <td class="sno" align="center"></td>
                <td class="statutory"></td>
                <td class="remove" align="center"></td>
              </tr>
            </table>
          </div>
          <div class="setup-content" id="step-3">
            <div class="innercontent">
              <h2 style="font-size:0.813em;"> <span class="breadcrumbs_1"> </span>  <img src="/images/chevron_black_right.png"> <span class="breadcrumbs_2"> </span></h2>
              <div class="form-container-grid-table-sm">
                <section id="section-flip-1">
                  <div class="input-row-left">
                    <div class="input-row">
                      <div class="field-label">Statutory Provision<span class="mandatory">*</span></div>
                      <div class="field-input">
                        <textarea class="input-box heightsmall" id="statutory_provision" maxlength="250"></textarea>
                      </div>
                    </div>
                    <div class="input-row">
                      <div class="field-label">Compliance Task<span class="mandatory">*</span></div>
                      <div class="field-input">
                        <input type="text" maxlength="100" class="input-box" value="" id="compliance_task"/>
                      </div>
                    </div>
                    <div class="input-row">
                      <div class="field-label">Compliance Description<span class="mandatory">*</span></div>
                      <div class="field-input">
                        <textarea class="input-box heightsmall" id="compliance_description" ></textarea>
                        <p id="counter" style="font-size:0.65em;"></p>
                      </div>
                    </div>
                    <div class="input-row">
                      <div class="field-label">Compliance Frequency<span class="mandatory">*</span></div>
                      <div class="field-input">
                        <select class="input-box tasktype" id="compliance_frequency">
                          <!-- <option value="">Select</option> -->
                          <!-- <option value="Periodical">Periodical</option>
                          <option value="Review">Review</option>
                          <option value="OneTime">One Time</option>
                          <option value="OnOccurrence">On Occurrence</option> -->
                        </select>
                      </div>
                    </div>
                    
                  </div>
                  <div class="input-row-right">
                    <div class="input-row">
                      <div class="field-label">Compliance Document</div>
                      <div class="field-input">
                        <input type="text" maxlength="100" class="input-box"  value="" id="compliance_document">
                      </div>
                    </div>
                    <div class="input-row">
                      <div class="field-label">Format</div>
                      <div class="field-input">
                        <input type="file" class="input-box" id="upload_file">
                      </div>
                    </div>

                    <div class="input-row" id="uploaded_fileview" style="display:none">
                    <p id="uploaded_filename" style="width:60%;font-size:0.8em; color:gray; float:right; "> </p> 
                    </div>

                    <div class="input-row">
                      <div class="field-label">Penal Consequences</div>
                      <div class="field-input">
                        <textarea class="input-box heightsmall" id="penal_consequences"></textarea>
                      </div>
                    </div>
                  </div>
                </section>
                <div class="clearfix"></div>
                <div class="one_time" id="One_Time" style="display:none;">
                  <fieldset>
                    <legend>One Time</legend>
                    <div class="input-row-left">
                      <div class="input-row">
                        <div class="field-label">Statutory Date</div>
                        <div class="field-input">
                          <select class="input-box" style="width:60px;" id="statutory_date">
                          </select>
                          <select class="input-box" style="width:60px;" id="statutory_month">
                            <option value="">Select</option>
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="input-row-right">
                      <div class="input-row">
                        <div class="field-label">Trigger Before</div>
                        <div class="field-input">
                          <input type="text" maxlength="3" class="input-box" value="" style="width:50px; float:left;" id="triggerbefore">
                          <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Days</span>
                        </div>
                      </div>
                    </div>
                    <div class="input-row-right">
                    </div>
                  </fieldset>
                </div>
                <div class="occasional" id="Occasional" style="display:none;">
                  <fieldset>
                    <legend>On Occurrence</legend>
                    <div class="input-row-left">
                      <div class="input-row">
                        <div class="field-label">To Complete Within</div>
                        <div class="field-input">
                          <input class="input-box " value="" style="width:55px; float:left;" id="duration">
                          <select class="input-box dayhour" style="width:100px; margin-left:10px; float:left;" id="duration_type">
                            <!-- <option value="day">Days</option>
                            <option value="hour">Hours</option> -->
                          </select>
                        </div>
                      </div>
                      <div class="input-row">
                        <div class="field-label">Summary</div>
                        <div class="field-input"> <span style="font-size:0.8em; float:left; padding-top:5px;" class="occasional_summary" id="summary"></span> </div>
                      </div>
                    </div>
                    <div class="input-row-right">
                    </div>
                  </fieldset>
                </div>
                <div class="recurring" id="Recurring" style="display:none;">
                  <fieldset>
                    <legend>Periodical</legend>
                    <div class="input-row-left">
                      <div class="input-row">
                        <div class="field-label">Repeats Every<span class="mandatory">*</span></div>
                        <div class="field-input">
                          <select class="input-box" class="month_recurring_sel" style="width:50px; float:left;" id="repeats_every">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                          </select>
                          <select class="input-box" style="width:100px; margin-left:10px; float:left;" id="repeats_type">
                            <!-- <option value="">Select</option> -->
                            <!-- <option value="day">Day(s)</option>
                            <option value="month">Month(s)</option>
                            <option value="year">Year(s)</option> -->
                          </select>
                          <div class="clearfix"></div>
                          <label style="font-size:0.8em; padding-top:5px;"></label>
                        </div>
                      </div>
                      <div class="input-row">
                        <div class="field-label">Repeat by<span class="mandatory">*</span></div>
                        <div class="field-input">
                          <label style="padding:3px 0px 5px 0px; vertical-align:middle;" class="repeatlabelday" >
                            <input type="radio" name="repeatby" style="width:20px;float:left;" value="dayofmonth" checked="checked">
                            <span style="font-size:0.8em; padding-top:4px; float:left;">Day of the month</span>
                          </label>
                          <div class="clearfix"></div>
                          <label   class="repeatlabelendday" >
                            <input type="radio" name="repeatby" style="width:20px; float:left;"   value="enddayofmonth">
                            <span style="font-size:0.8em; padding-top:4px;">End day of the month</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="input-row-right">
                      <div class="input-row">
                        <div class="field-label" style="width:100% !important;"><input type="checkbox" class="multipleinput" />Multiple Input Selection</div>
                      </div>
                      <div class="multipleselect" style="display:none">
                        <div class="input-row">
                          <div class="field-label">Statutory Date 1</div>
                          <div class="field-input">
                            <span style="float:left;margin-left:0px;">
                              <select class="input-box" style="width:60px;" id="multiple_statutory_date1">
                              </select>
                              <select class="input-box" style="width:60px;" id="multiple_statutory_month1">
                                <option value="">Select</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                              </select>
                            </span>
                            <span style="float:left; font-size:0.8em; margin-left:20px; padding-top:8px;">Trigger Before &nbsp;&nbsp;</span>
                            <input type="text" maxlength="3" class="input-box" value="" style="width:40px; float:left;" id="multiple_triggerbefore1">
                            <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Days</span>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="input-row2" style="display:none">
                          <div class="field-label">Statutory Date 2</div>
                          <div class="field-input">
                            <span style="float:left;margin-left:0px;">
                              <select class="input-box" style="width:60px;" id="multiple_statutory_date2">
                              </select>
                              <select class="input-box" style="width:60px;" id="multiple_statutory_month2">
                                <option value="">Select</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                              </select>
                            </span>
                            <span style="float:left; font-size:0.8em; margin-left:20px; padding-top:8px;">Trigger Before &nbsp;&nbsp;</span>
                            <input type="text" maxlength="3" class="input-box" value="" style="width:40px; float:left;" id="multiple_triggerbefore2">
                            <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Days</span>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="input-row3" style="display:none;padding-top:10px;">
                          <div class="field-label">Statutory Date 3</div>
                          <div class="field-input">
                            <span style="float:left;margin-left:0px;">
                              <select class="input-box" style="width:60px;" id="multiple_statutory_date3">
                              </select>
                              <select class="input-box" style="width:60px;" id="multiple_statutory_month3">
                                <option value="">Select</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                              </select>
                            </span>
                            <span style="float:left; font-size:0.8em; margin-left:20px; padding-top:8px;">Trigger Before &nbsp;&nbsp;</span>
                            <input type="text" maxlength="3" class="input-box" value="" style="width:40px; float:left;" id="multiple_triggerbefore3">
                            <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Days</span>
                          </div>
                          <br/>
                        </div>
                        <div class="clearfix"></div>
                        <div class="input-row4" style="display:none;padding-top:10px;">
                          <div class="field-label">Statutory Date 4</div>
                          <div class="field-input">
                            <span style="float:left;margin-left:0px;">
                              <select class="input-box" style="width:60px;" id="multiple_statutory_date4">
                              </select>
                              <select class="input-box" style="width:60px;" id="multiple_statutory_month4">
                                <option value="">Select</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                              </select>
                            </span>
                            <span style="float:left; font-size:0.8em; margin-left:20px; padding-top:8px;">Trigger Before &nbsp;&nbsp;</span>
                            <input type="text" maxlength="3" class="input-box" value="" style="width:40px; float:left;" id="multiple_triggerbefore4">
                            <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Days</span>
                          </div>
                          <br/>
                        </div>
                        <div class="clearfix"></div>
                        <div class="input-row5" style="display:none;padding-top:10px;">
                          <div class="field-label">Statutory Date 5</div>
                          <div class="field-input">
                            <span style="float:left;margin-left:0px;">
                              <select class="input-box" style="width:60px;" id="multiple_statutory_date5">
                              </select>
                              <select class="input-box" style="width:60px;" id="multiple_statutory_month5">
                                <option value="">Select</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                              </select>
                            </span>
                            <span style="float:left; font-size:0.8em; margin-left:20px; padding-top:8px;">Trigger Before &nbsp;&nbsp;</span>
                            <input type="text" maxlength="3" class="input-box" value="" style="width:40px; float:left;" id="multiple_triggerbefore5">
                            <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Days</span>
                          </div>
                          <br/>
                        </div>
                        <div class="clearfix"></div>
                        <div class="input-row6" style="display:none;padding-top:10px;">
                          <div class="field-label">Statutory Date 6</div>
                          <div class="field-input">
                            <span style="float:left;margin-left:0px;">
                              <select class="input-box" style="width:60px;" id="multiple_statutory_date6">
                              </select>
                              <select class="input-box" style="width:60px;" id="multiple_statutory_month6">
                                <option value="">Select</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                              </select>
                            </span>
                            <span style="float:left; font-size:0.8em; margin-left:20px; padding-top:8px;">Trigger Before &nbsp;&nbsp;</span>
                            <input type="text" maxlength="3" class="input-box" value="" style="width:40px; float:left;" id="multiple_triggerbefore6">
                            <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Days</span>
                          </div>
                          <br/>
                        </div>
                        <div>
                          <div class="field-label">Summary</div>
                          <div class="field-input">
                            <span style="font-size:0.8em; float:left; padding-top:5px;" class="summary_repeat"></span>
                          </div>
                        </div>
                      </div>
                      <div class="multipleselectnone">
                        <div class="input-row">
                          <div class="field-label">Statutory Date </div>
                          <div class="field-input">
                            <span style="float:left;margin-left:0px;">
                              <select class="input-box" style="width:60px;" id="single_statutory_date" >
                              </select>
                              <select class="input-box" style="width:60px;" id="single_statutory_month">
                                <option value="">Select</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                              </select>
                            </span>
                          </div>
                        </div>
                        <div class="input-row">
                          <div class="field-label">Trigger Before</div>
                          <div class="field-input">
                            <input type="text" maxlength="3" class="input-box" value="" style="width:50px; float:left;" id="single_triggerbefore">
                            <span style="font-size:0.8em; float:left; padding-top:5px;">&nbsp;Days</span> </div>
                          </div>
                          <div class="input-row">
                            <div class="field-label">Summary</div>
                            <div class="field-input"> <span style="font-size:0.8em; float:left; padding-top:5px;" class="summary_repeat"> </span> </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="clearfix"></div>
                  <div align="center" style="padding-top:5px; padding-bottom:5px;">
                    <input type="submit" name="submit" value="Add" id="temp_addcompliance" class="btn-submit">
                    <input type="hidden" id="complianceid" value=""/>
                  </div>
                </div>
                <div class="grid-table">
                  <table>
                    <tr align="left" style="height:2.0em;">
                      <th style="height:2em;" align="center">#</th>
                      <th style="height:2em;">Statutory Provision</th>
                      <th style="height:2em;">Task</th>
                      <th style="height:2em;">Description</th>
                      <th style="height:2em;">Frequency</th>
                      <th style="height:2em;">Repeats</th>
                      <th style="height:2em;" align="center">Edit</th>
                      <th align="center" style="padding-right:3px; height:2em;">Status</th>
                    </tr>
                    <tbody class="tbody-compliance-list">
                    </tbody>
                  </table>
                </div>
              </div>

              <table width="100%">
              <tr>
                <td width="50%" valign="middle">
                  <span class="error-message" style="float:left;color:red;font-size: 1em;margin:10px;"></span>
                </td>
                <td align="right" width="50%">
                  <button id="activate-step-4" class="btn-right">Next</button>
                  <button id="backward-step-2" class="btn-right">Previous</button>
                </td>
              </tr>
               </table>

              
            </div>
            <div id="compliance-templates">
              <table class="table-compliance">
                <tr class="table-row">
                  <td class="sno" align="center"></td>
                  <td class="statutory-provision"></td>
                  <td class="task"></td>
                  <td class="description"></td>
                  <td class="frequency"></td>
                  <td class="repeats"></td>
                  <td class="edit" align="center"></td>
                  <td class="status" align="center"></td>
                </tr>
              </table>
            </div>
            <div class="setup-content" id="step-4">
              <div class="innercontent">
                <h2 style="font-size:0.813em;"> <span class="breadcrumbs_1"> </span>  <img src="/images/chevron_black_right.png"> <span class="breadcrumbs_2">  </span> <img src="/images/chevron_black_right.png"> <span class="breadcrumbs_3"> </span></h2>
                <div class="form-container-grid-table" style="padding-top:10px;">
                  <table>
                    <tbody class="tbody-geography-level">
                    </tbody>
                  </table>
                </div>
              </div>

              <table width="100%">
              <tr>
                <td width="50%" valign="middle">
                  <span class="error-message" style="float:left;color:red;font-size: 1em;margin:10px;"></span>
                </td>
                <td align="right" width="50%">
                  <button id="activate-step-finish" class="btn-right">Submit</button>
                  <button id="backward-step-3" class="btn-right">Previous</button>
                </td>
              </tr>
               </table>

              
            </div>
            <div style="float:left;width:25%" id="geography-level-templates">
              <table style="width:100%;">
                <tr align="left">
                  <th style="overflow: hidden;" class="title"></th>
                </tr>
                <tr>
                  <td style="overflow: hidden;" class="levelvalue">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
<script type="text/javascript" src="/files/desktop/statutory-mapping/statutorymapping.js"></script>
{% endblock %}