{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="btn-group pull-right m-t-5 m-b-20">
        <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" aria-expanded="false" onclick="parent.location='/configure-file-server/create'"> <span class="m-l-5"><i class="fa fa-plus-circle"></i> Add</span></button>
      </div>
      <h4 class="page-title">Configure File Server</h4>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row" >
  <div id="animationSandbox">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <div class="card-box table-responsive">
          
            <div class="col-sm-12">
              <table id="datatable-responsive" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th width="1%">#</th>
                    <th width="15%">File Server</th>
                    <th width="10%">No.of clients</th>
                    <th width="10%">IP</th>
                    <th width="06%">Port</th>
                    <th width="06%" class="text-center">Edit</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="text" class="form-control input-sm" placeholder="File Server" /></td>
                    <td><input type="text" class="form-control input-sm" placeholder="No. of Clients" /></td>
                    <td><input type="text" class="form-control input-sm" placeholder="IP" /></td>
                    <td><input type="text" class="form-control input-sm" placeholder="Port" /></td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>File Server One</td>
                    <td>01</td>
                    <td>192.168.1.1</td>
                    <td>3306</td>
                    <td class="icon-3x text-center">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>File Server Two</td>
                    <td>01</td>
                    <td>192.168.1.2</td>
                    <td>3307</td>
                    <td class="icon-3x text-center">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>File Server Three</td>
                    <td>00</td>
                    <td>192.168.1.3</td>
                    <td>3308</td>
                    <td class="icon-3x text-center"><i class="fa fa-pencil c-pointer text-primary"  data-toggle="tooltip" data-placement="top" title="Click here to Edit" data-original-title="Tooltip on top" onclick="parent.location='/configure-file-server/edit'"></i></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>File Server Four</td>
                    <td>00</td>
                    <td>192.168.1.4</td>
                    <td>3309</td>
                    <td class="icon-3x text-center"><i class="fa fa-pencil c-pointer text-primary"  data-toggle="tooltip" data-placement="top" title="Click here to Edit" data-original-title="Tooltip on top"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
       
    </div>
    <!-- end col -->
  </div>
</div>
</div>
{% endblock %}