{% extends "files/desktop/knowledge/home/container.html" %}
{% block content %}
<div class='loading-indicator-spin'>
  <span><img src='/files/desktop/common/images/loading-img.gif' alt=""></span>
</div>
  <div class="content-container" id="assignstatutory-view">
    <div class="content-area">
      <h1>Assign Statutory </h1>
      <div class="filters-and-search">
        <div class="btn-add btn-assignstatutory-add">Add</div>
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table>
          <tr align="left">
            <th align="center">#</th>
            <th width="6%">Country</th>
            <th>Group</th>
            <th>Business Group</th>
            <th>Legal Entity</th>
            <th >Division</th>
            <th >Location</th>
            <th >Industry</th>
            <th width="12%">Unit</th>
            <th >Domain</th>
            <th >Status</th>
            <th align="center" width="5%" style="padding-right:5px">Edit</th>
            <th align="center" width="5%" style="padding-right:5px">View & Submit</th>
          </tr>
          <tr>
            <td align="center"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter1"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter2"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter3"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter4"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter5"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter6"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter7"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter8"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter9"></td>
            <td><input type="text" class="filter-text-box listfilter" id="filter10"></td>
            <td align="center"></td>
            <td align="center"></td>
          </tr>
          <tbody class="tbody-assignstatutory-list">
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div id="templates">
    <table class="table-assignstatutory">
      <tr class="table-row">
        <td class="tbl_sno" align="center"></td>
        <td class="tbl_country"></td>
        <td class="tbl_group"></td>
        <td class="tbl_businessgroup"></td>
        <td class="tbl_legalentity"></td>
        <td class="tbl_division"></td>
        <td class="tbl_location"></td>
        <td class="tbl_industry"></td>
        <td class="tbl_unit"></td>
        <td class="tbl_domain"></td>
        <td class="tbl_status"></td>
        <td class="tbl_edit" align="center"></td>
        <td class="tbl_view" align="center"></td>
      </tr>
    </table>
  </div>
  <div class="content-container width100 default-display-none" id="assignstatutory-add" >
    <div class="content-area">
      <h1>Assign Statutory</h1>
      <div class="add-container">
        <div class="form-container-outer">
          <ul class="nav  nav-pills nav-justified setup-panel">
            <li class="active" style="width: 49.5%;"><a href="#step-1">
              <h4 class="list-group-item-heading">1. Select Unit & Domain</h4>
            </a>
          </li>
          <li class="disabled" style="width: 49.5%;"><a href="#step-2">
            <h4 class="list-group-item-heading">2. Select Statutory</h4>
          </a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="setup-content" id="step-1">
          <div class="innercontent">
            <div class="form-container-grid-table">
              <table style="border:1px solid #ccc; margin-bottom:5px; height:200px !important;">
                <tr align="left">
                  <th width="20%">Country <span class="mandatory">*</span> </th>
                  <th width="20%">Group <span class="mandatory">*</span> </th>
                  <th width="20%">Business Group </th>
                  <th width="20%">Legal Entity <span class="mandatory">*</span> </th>
                  <th width="20%">Division</th>
                </tr>
                <tr>
                  <td>
                    <input type="hidden" id="ascountry">
                    <input type="text" class="filter-text-box" id="filter_country">
                  </td>
                  <td>
                    <input type="hidden" id="asgroup">
                    <input type="text" class="filter-text-box" id="filter_group">
                  </td>
                  <td>
                    <input type="text" class="filter-text-box" id="filter_businessgroup">
                  </td>
                  <td>
                    <input type="text" class="filter-text-box" id="filter_legalentity">
                  </td>
                  <td>
                    <input type="text" class="filter-text-box" id="filter_division">
                  </td>
                </tr>
                <tr>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="country">
                    </ul>
                  </td>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="group">
                    </ul>
                  </td>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="businessgroup">
                    </ul>
                  </td>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="legalentity">
                    </ul>
                  </td>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="division">
                    </ul>
                  </td>
                </tr>
              </table>
              <table>
                <tr align="left">
                  <th width="20%">Geography Levels <span class="mandatory">*</span></th>
                  <th width="20%">Location <span class="mandatory">*</span> </th>
                  <th width="20%">Industry <span class="mandatory">*</span></th>
                  <th width="20%">Unit <span class="mandatory">*</span></th>
                  <th width="20%" >Domain <span class="mandatory">*</span></th>
                </tr>
                <tr>
                  <td>
                    <input type="text" class="filter-text-box" id="filter_geographylevel">
                  </td>
                  <td>
                    <input type="hidden" id="aslocation">
                    <input type="text" class="filter-text-box" id="filter_location">
                  </td>
                  <td>
                    <input type="hidden" id="asindustry">
                    <input type="text" class="filter-text-box" id="filter_industry">
                  </td>
                  <td>
                    <input type="text" class="filter-text-box" id="filter_unit">
                  </td>
                  <td>
                    <input type="hidden" id="asdomain">
                    <input type="text" class="filter-text-box" id="filter_domain">
                  </td>
                </tr>
                <tr>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="geographylevel">
                    </ul>
                  </td>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="location">
                    </ul>
                  </td>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="industry">
                    </ul>
                  </td>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="unit">
                    </ul>
                  </td>
                  <td>
                    <ul style="height:200px;overflow-y:scroll" id="domain">
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <table width="100%">
            <tr>
              <td width="50%" valign="middle">
                <span class="error-message" style="text-align:left;float:left;color:red;font-size: 0.8em;margin:10px;"></span>
              </td>
              <td align="right" width="50%">
                <button id="activate-step-2" class="btn-right">Next</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="setup-content" id="step-2">
          <div class="innercontent">
            <h2 style="font-size:0.813em;" class="breadcrumbs"> </h2>
            <div class="grid-table">
              <table class="tbody-assignstatutory" id="accordion">
              </table>
            </div>
          </div>
          <table width="100%">
            <tr>
              <td width="45%" valign="middle">
                <span class="error-message" style="float:left;color:red;font-size: 0.8em;margin:10px;"></span>
              </td>
              <td align="center" width="20%">
                
                <button id="activate-step-submit" class="btn-right default-display-none">Submit</button>
                <button id="activate-step-submit-cancel" class="btn-right ">Cancel</button>
              </td>
              <td align="right" width="35%">
                <input type="hidden" id="clientstatutoryid" value="">
                <button id="activate-step-finish" class="btn-right">Save</button>
                <button id="backward-step-1" class="btn-right">Previous</button>
                <button id="activate-step-finish-cancel" class="btn-right default-display-none">Cancel</button>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="act-templates" class="default-display-none">
  <table class="font1" >
  <tbody class="accordion-toggle tbody-heading">
    <tr align="left" class="rightside tableRow " style="margin-bottom:1em; border:1px solid #ccc;">
      <th style="background-color:#eae8e8; color:#000000; font-size: 0.813em;font-weight: bold; vertical-align:middle;" width="100%" colspan="5"><div class="actapplicable gt" style="float:left; width:3%;padding-top:5px;"></div><div class="actname" style="float:left; width:94%;margin-top:0px;"></div>
      <div style="float:right; width:3%;padding-top:5px;"><img src="/images/chevron_black_down.png"></div>
      </th>
    </tr>
    </tbody>
  </table>
</div>
<div id="statutory-templates" class="default-display-none">
  <table cellpadding="0" cellspacing="0" width="100%" class="checkedtable">
    <tr class="compliance-heading" style="width:100%;">
      <td width="5%"><span style="font-weight:bold;">#</span></td>
      <td width="30%" ><span style="font-weight:bold;">Statutory Provision</span></td>
      <td width="30%"><span style="font-weight:bold;">Compliance Task</span></td>
      <td width="25%"> <span style="font-weight:bold; ">Compliance Description</span></td>
      <td width="10%" align="center">
        <span style="font-weight:bold;">
          <img src="/images/icon-client-comply.png" title="Applicable" >
        </span>
      </td>
    </tr>
  </table>
</div>

 <div id="statutory-values" class="default-display-none">
  <table class="table-statutory-values">
    <tr class="compliance-details">
      <td class="sno"></td>
      <td class="statutoryprovision"></td>
      <td class="compliancetask"></td>
      <td class="compliancedescription"></td>
      <td align="center" class="gt complianceapplicable"></td>
    </tr>
  </table>
</div>

<div id="no-record-templates" class="default-display-none">
  <table class="font1" >
  <tr> 
  <td style="height:100px;vertical-align:middle;text-align:center;font-weight:bold;"> No Compliance Available</td>
  </tr>
  </table>
</div>

<script type="text/javascript" src="/files/desktop/knowledge/assign-statutory/assignstatutory.js"></script>
{% endblock %}