{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row" id="animationSandbox">
    <div class="col-sm-3"> </div>
    <div class="col-sm-6">
      <div class="card-box">
          <h4 class="page-title">Allocate Database Environment</h4>
          <hr class="no-top-margin">
        <form class="form-horizontal group-border-dashed" action="#" novalidate="">
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Group</label>
            <div class="col-sm-6">
              <p class=" form-control-static">RG Group</p>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Legal Entity</label>
            <div class="col-sm-6">
              <p class=" form-control-static">RG Legal Entity 01</p>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Application Server</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Enter Application Server" value="Application Server One">
              <span class="help-block"><small>IP: 192.168.1.1, Port: 3306</small></span>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Database Server</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Enter Database Server" value="Database Server One">
              <span class="help-block"><small>IP: 192.168.2.1, Port: 3307</small></span>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">File Server</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Enter File Server" value="File Server One">
              <span class="help-block"><small>IP: 192.168.3.1, Port: 3308</small></span>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-6">
              <button class="btn btn-primary waves-effect waves-light" type="submit"> Submit </button>
              <button class="btn btn-info waves-effect m-l-5" type="reset" onclick="location.href='/allocate-database-environment/list'"> Cancel </button>
            </div>
          </div>
      </form>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
{% endblock %}