{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width60">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Audit Trail<span class="error-message"><!----></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">From Date:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box" value="10-Jul-2015" placeholder="dd-mon-yyyy">
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">User:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="user" autofocus placeholder="Type User">
          </div>
        </div>
        </div>
        <div class="input-row-right">
        <div class="input-row">
          <div class="field-label">To Date:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box" value="20-Jul-2015" placeholder="dd-mon-yyyy">
          </div>
        </div>
          <div class="input-row">
          <div class="field-label">Form Name:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="formname" autofocus placeholder="Type Form name">
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Show" class="btn-submit">
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table>
          <tr align="left">
            <th>User</th>
            <th>Date & Time</th>
            <th>Form Name</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>Rajaram</td>
            <td>18-Jul-2015 12:15</td>
            <td>Service Mapping</td>
            <td>Add Service Mapping - "Payroll Services"</td>
          </tr>
          <tr>
            <td>Sundarrajan</td>
            <td>16-Jul-2015 15:25</td>
            <td>Compliance Approval</td>
            <td>Compliance Approval - "Registration"</td>
          </tr>
          <tr>
            <td>Rajaram</td>
            <td>15-Jul-2015 10:30</td>
            <td>Compliance Approve</td>
            <td>Add Sub Compliance Level - "Obtain the required information"</td>
          </tr>
           <tr>
            <td>Rajaram</td>
            <td>14-Jul-2015 12:15</td>
            <td>Sub Compliance Entry</td>
            <td>Add Sub Compliance - "Registration"</td>
          </tr>
          <tr>
            <td>Rajaram</td>
            <td>13-Jul-2015 15:25</td>
            <td>Client</td>
            <td>Create Client - "TVS"</td>
          </tr>
          <tr>
            <td>Rajaram</td>
            <td>11-Jul-2015 10:30</td>
            <td>Group </td>
            <td>Add Group  - "TVS Group"</td>
          </tr>
           <td colspan="4"><p style="border-top:1px dashed #ccc;">Total : 6 records</p></td>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  
   $('#user').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Ragavan', 'Muthu', 'Ramesh'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
});
</script>
{% endblock %} 