{% extends "files/client/common/html/container.html" %}
{% block content %}
<div class="content-page">
<div class="content">
<div class="container page_font_size_13">
    <div class="row" id="animationSandbox">
        <div class="col-sm-12">
            <!-- <h3 class="page-title">Completed Task - Current Year</h3> -->
            <div class="portlet">
            <div class="portlet-heading bg-info">
                    <h3 class="portlet-title">Completed Task - Current Year</h3>
                    <div class="portlet-widgets">
                        <!--a href="#" onclick="location.href='/service-provider/list'">
                            <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                        </a-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="bg-primary1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                <!-- <form> -->
                    <div id="basicwizard" >
                        <ul class="nav nav-tabs navtab-wizard nav-justified bg-muted statutory_mapping_tab">
                            <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">1. Select Unit</a></li>
                            <li><a href="#tab2" data-toggle="tab">2. Select Domain</a></li>
                            <li><a href="#tab3" data-toggle="tab">3. Select Compliance</a></li>
                        </ul>
                        <div class="tab-content b-0 m-b-0 task-current-year-tab" >
                            <div class="tab-pane m-t-0 fade active in box-height-350" id="tab1">
                                <div class="row">
                                    <div class="col-sm-12 scroll_box">
                                        <table id="datatable-fixed-header" class="table dt-responsive nowrap table-list" width="100%" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="width-50">
                                                        <h6 class="m-t-0">Legal Entity <span class="mandatory">*</span></h6>
                                                        <div class="form-group has-feedback">
                                                            <input class="form-control input-sm" placeholder="Enter Legal Entity" type="text">
                                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                        </div>
                                                        <ul class="list-unstyled  box-height-150" id="legalentity">
                                                          <!--   <li class="active">RG Legal Entity<i class="fa fa-check pull-right"></i></li> -->
                                                        </ul>
                                                    </td>
                                                    <td class="width-50">
                                                        <h6 class="m-t-0">Division</h6>
                                                        <div class="form-group has-feedback">
                                                            <input class="form-control input-sm" placeholder="Enter Division" type="text">
                                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                        </div>
                                                        <ul class="list-unstyled  box-height-150">
                                                            <!-- <li class="active">RG Division 01<i class="fa fa-check pull-right"></i></li> -->
                                                            
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 scroll_box">
                                        <table id="datatable-fixed-header" class="table dt-responsive nowrap table-list" width="100%" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="width-50">
                                                        <h6 class="m-t-0">Category</h6>
                                                        <div class="form-group has-feedback">
                                                            <input class="form-control input-sm" placeholder="Enter Category" type="text">
                                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                        </div>
                                                        <ul class="list-unstyled  box-height-150" id="category">
                                                         <!--    <li>RG Category 01</li>
                                                            <li>RG Category 02</li>
                                                            <li>RG Category 03</li>
                                                            <li>RG Category 04</li>
                                                            <li>RG Category 05</li> -->
                                                        </ul>
                                                    </td>
                                                    <td class="width-50">
                                                        <h6 class="m-t-0">Unit <span class="mandatory">*</span></h6>
                                                        <div class="form-group has-feedback">
                                                            <input class="form-control input-sm" placeholder="Enter Unit" type="text">
                                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                        </div>
                                                        <ul class="list-unstyled box-height-150" id="units">
                                                           <!--  <li><i class="zmdi zmdi-info" data-toggle="tooltip" title="871, South Gate, Delhi, 110012"></i> RG1001 - Corporate Office</li>
                                                            <li class="active"><i class="zmdi zmdi-info" data-toggle="tooltip" title="871, South Gate, Delhi, 110012"></i> RG1003 - Regional Office - South <i class="fa fa-check pull-right"></i></li>
                                                            <li><i class="zmdi zmdi-info" data-toggle="tooltip" title="871, South Gate, Delhi, 110012"></i> RG1004 - Branch Office - 1</li>
                                                            <li><i class="zmdi zmdi-info" data-toggle="tooltip" title="871, South Gate, Delhi, 110012"></i> RG1005 - Branch Office - 2</li>
                                                            <li><i class="zmdi zmdi-info" data-toggle="tooltip" title="871, South Gate, Delhi, 110012"></i> RG1006 - Branch Office - 3</li>
                                                            <li><i class="zmdi zmdi-info" data-toggle="tooltip" title="871, South Gate, Delhi, 110012"></i> RG1007 - Branch Office - 4</li>
                                                            <li><i class="zmdi zmdi-info" data-toggle="tooltip" title="871, South Gate, Delhi, 110012"></i> RG1008 - Branch Office - 5</li>
                                                            <li><i class="zmdi zmdi-info" data-toggle="tooltip" title="871, South Gate, Delhi, 110012"></i> RG1008 - Branch Office - 6</li>
                                                            <li><i class="zmdi zmdi-info" data-toggle="tooltip" title="871, South Gate, Delhi, 110012"></i> RG1008 - Branch Office - 7</li> -->
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane m-t-0 fade box-height-350" id="tab2">
                                <div class="row">
                                    <div class="col-sm-12 scroll_box">
                                        <table id="datatable-fixed-header" class="table dt-responsive nowrap table-list" width="100%" cellspacing="0">
                                            <tbody>
                                                <tr class="height-400">
                                                    <td class="width-32">
                                                        <h6 class="m-t-0">Domain <span class="mandatory">*</span></h6>
                                                        <div class="form-group has-feedback">
                                                            <input class="form-control input-sm" placeholder="Enter Domain" type="text">
                                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                        </div>
                                                        <ul class="list-unstyled box-height-350" id="domain">
                                                            <!-- <li>Finance Law</li>
                                                            <li>Industrial Law</li>
                                                            <li class="active">Labour Law<i class="fa fa-check pull-right"></i></li> -->
                                                        </ul>
                                                    </td>
                                                    <td class="width-33">
                                                        <h6 class="m-t-0">Act</h6>
                                                        <div class="form-group has-feedback">
                                                            <input class="form-control input-sm" placeholder="Enter Act" type="text">
                                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                        </div>
                                                        <ul class="list-unstyled box-height-350" id="">
                                                            <!-- <li>Gratuity Act, 1972</li>
                                                            <li>Batteries Act</li>
                                                            <li>Industrial Disputes (Central) Rules, 1957</li>
                                                            <li>Indian Partnership Act, 1932</li>
                                                            <li>Payment of Bonus Act</li> -->
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-t-0">Frequency</h6>
                                                        <div class="form-group has-feedback">
                                                            <input class="form-control input-sm" placeholder="Enter Frequency" type="text">
                                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                        </div>
                                                        <ul class="list-unstyled box-height-350" id="">
                                                            <!-- <li>One Time</li>
                                                            <li>Periodical</li>
                                                            <li>Review</li> -->
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane m-t-0 fade" id="tab3">
                                <div class="panel-group col-lg-12" id="accordion" role="tablist" aria-multiselectable="true">
                                    <br>
                                    <div class="panel panel-default bx-shadow-none">

                                        <div class="panel-heading p-0" role="tab" id="headingOne">
                                            <h4 class="panel-title ">
                                                <div class="checkbox checkbox-primary m-b-0 m-t-5 m-l-5 tab-checkbox">
                                                    <input id="checkbox1" type="checkbox" class="text-center">
                                                    <label for="checkbox1" class="text-bold"></label>
                                                </div>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="p-5"> The Batteries Act </a>
                                                <div class="clearfix"></div>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body no-padding">
                                              <div class="dataTable_wrapper top-lightborder">
                                                <table  class="table table-striped dt-responsive nowrap no-bgheader no-border" cellspacing="0" width="100%">
                                                  <thead>
                                                    <tr>
                                                      <th width="13%">Compliance Task</th>
                                                      <th width="07%">Compliance Frequency</th>
                                                      <th width="10%">Statutory Date</th>
                                                      <th width="08%">Due Date <span class="mandatory">*</span></th>
                                                      <th width="08%">Completion Date <span class="mandatory">*</span></th>
                                                      <th width="10%">Document Upload</th>
                                                      <th width="8%">Assignee <span class="mandatory">*</span></th>
                                                      <th width="8%">Compliance Status <span class="mandatory">*</span></th>
                                                      <th width="03%">Completed <span class="mandatory">*</span></th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by manufacturer, importer, bulk consumer, assembler and reconditioned"></i> FORM I - Half yearly returns Submission</td>
                                                      <td>Periodical</td>
                                                      <td>Every Year 1st January</td>
                                                      <td><input class="form-control input-sm" value="01-Jan-2016" type="text"></td>
                                                      <td><input class="form-control input-sm" value="01-Jan-2016" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file" ></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox1" type="checkbox" class="text-center">
                                                            <label for="checkbox1"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether registration for importers obtained for importing lead acid battery or primary Lead"></i> FORM II - Registration</td>
                                                      <td>One Time</td>
                                                      <td>10th March</td>
                                                      <td><input class="form-control input-sm" value="10-Mar-2017" type="text"></td>
                                                      <td><input class="form-control input-sm" value="" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox2" type="checkbox" class="text-center">
                                                            <label for="checkbox2"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether undertaking submitted by importer to authority."></i> FORM III - Undertaking submission</td>
                                                      <td>Review</td>
                                                      <td>Repeats Every 1 Month(s)</td>
                                                      <td><input class="form-control input-sm" value="10-Dec-2016" type="text"></td>
                                                      <td><input class="form-control input-sm" value="" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox3" type="checkbox" class="text-center">
                                                            <label for="checkbox3"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by dealer to manufacturer"></i> FORM V - Dealer Half yearly returns</td>
                                                      <td>Periodical</td>
                                                      <td>Every 30th June</td>
                                                      <td><input class="form-control input-sm" value="30-Jun-2016" type="text"></td>
                                                      <td><input class="form-control input-sm" value="" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox4" type="checkbox" class="text-center">
                                                            <label for="checkbox4"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether registration obtained for dealers"></i> FORM IV - Dealer Registration</td>
                                                      <td>Periodical</td>
                                                      <td>Every 31st March, 30th June, 20th September</td>
                                                      <td>
                                                        <input class="form-control input-sm" value="31-Mar-2016" type="text">
                                                        <input class="form-control input-sm" value="30-Jun-2016" type="text">
                                                        <input class="form-control input-sm" value="20-Sep-2016" type="text">
                                                      </td>
                                                      <td>
                                                        <input class="form-control input-sm" value="" type="text">
                                                        <input class="form-control input-sm" value="" type="text">
                                                        <input class="form-control input-sm" value="" type="text">
                                                      </td>
                                                      <td>
                                                        <input class="form-control input-sm no-padding" value="" type="file">
                                                        <input class="form-control input-sm no-padding" value="" type="file">
                                                        <input class="form-control input-sm no-padding" value="" type="file">
                                                      </td>
                                                      <td>
                                                        <input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text">
                                                        <input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text">
                                                        <input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text">
                                                      </td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox5" type="checkbox" class="text-center">
                                                            <label for="checkbox5"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether registration and renewal obtained by recycler"></i> FORM VI - Recycler Registration and Review</td>
                                                      <td>Review</td>
                                                      <td>Every 1st January</td>
                                                      <td><input class="form-control input-sm" value="01-Jan-2016" type="text"></td>
                                                      <td><input class="form-control input-sm" value="" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox6" type="checkbox" class="text-center">
                                                            <label for="checkbox6"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by recyclers"></i> FORM VII - Recycler Half yearly returns</td>
                                                      <td>Periodical</td>
                                                      <td>Every 30th June </td>
                                                      <td><input class="form-control input-sm" value="30-Jun-2016" type="text"></td>
                                                      <td><input class="form-control input-sm" value="" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox7" type="checkbox" class="text-center">
                                                            <label for="checkbox7"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default bx-shadow-none">
                                        <div class="panel-heading p-0" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <div class="checkbox checkbox-primary m-b-0 m-t-5 m-l-5 tab-checkbox">
                                                    <input id="checkbox1" type="checkbox" class="text-center">
                                                    <label for="checkbox1"></label>
                                                </div>
                                                <a class="collapsed p-5" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"  aria-expanded="false" aria-controls="collapseTwo">
                                                    Indian Partnership Act, 1932
                                                </a>
                                                <div class="clearfix"></div>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body no-padding">
                                              <div class="dataTable_wrapper top-lightborder">
                                                <table  class="table table-striped dt-responsive nowrap no-bgheader no-border" cellspacing="0" width="100%">
                                                  <thead>
                                                    <tr>
                                                      <th width="15%">Compliance Task</th>
                                                      <th width="10%">Compliance Frequency</th>
                                                      <th width="10%">Statutory Date</th>
                                                      <th width="06%">Due Date</th>
                                                      <th width="06%">Completion Date</th>
                                                      <th width="08%">Document Upload</th>
                                                      <th width="10%">Assignee</th>
                                                      <th width="10%">Compliance Status</th>
                                                      <th width="06%">Completed</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by manufacturer, importer, bulk consumer, assembler and reconditioned"></i> FORM I - Half yearly returns Submission</td>
                                                      <td>Periodical</td>
                                                      <td>Every Year 1st January</td>
                                                      <td><input class="form-control input-sm" value="01-Jan-2016" type="text"></td>
                                                      <td><input class="form-control input-sm" value="01-Jan-2016" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox8" type="checkbox" class="text-center">
                                                            <label for="checkbox8"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether registration for importers obtained for importing lead acid battery or primary Lead"></i> FORM II - Registration</td>
                                                      <td>One Time</td>
                                                      <td>10th March</td>
                                                      <td><input class="form-control input-sm" value="10-Mar-2017" type="text"></td>
                                                      <td><input class="form-control input-sm" value="" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox9" type="checkbox" class="text-center">
                                                            <label for="checkbox9"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether undertaking submitted by importer to authority."></i> FORM III - Undertaking submission</td>
                                                      <td>Review</td>
                                                      <td>Repeats Every 1 Month(s)</td>
                                                      <td><input class="form-control input-sm" value="10-Dec-2016" type="text"></td>
                                                      <td><input class="form-control input-sm" value="" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox10" type="checkbox" class="text-center">
                                                            <label for="checkbox10"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default bx-shadow-none">
                                      <div class="panel-heading p-0" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <div class="checkbox checkbox-primary m-b-0 m-t-5 m-l-5 tab-checkbox"> 
                                                    <input id="checkbox1" type="checkbox" class="text-center">
                                                    <label for="checkbox1"></label> 
                                                </div>
                                                <a class="collapsed p-5" role="button" data-toggle="collapse" ata-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" >
                                                    The Factories Act, 1948
                                                </a>
                                                <div class="clearfix"></div>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body no-padding">
                                              <div class="dataTable_wrapper top-lightborder">
                                                <table  class="table table-striped dt-responsive nowrap no-bgheader no-border" cellspacing="0" width="100%">
                                                  <thead>
                                                    <tr>
                                                      <th width="15%">Compliance Task</th>
                                                      <th width="10%">Compliance Frequency</th>
                                                      <th width="10%">Statutory Date</th>
                                                      <th width="06%">Due Date</th>
                                                      <th width="06%">Completion Date</th>
                                                      <th width="08%">Document Upload</th>
                                                      <th width="10%">Assignee</th>
                                                      <th width="10%">Compliance Status</th>
                                                      <th width="06%">Completed</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by manufacturer, importer, bulk consumer, assembler and reconditioned"></i> FORM I - Half yearly returns Submission</td>
                                                      <td>Periodical</td>
                                                      <td>Every Year 1st January</td>
                                                      <td><input class="form-control input-sm" value="01-Jan-2016" type="text"></td>
                                                      <td><input class="form-control input-sm" value="01-Jan-2016" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox11" type="checkbox" class="text-center">
                                                            <label for="checkbox11"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether registration for importers obtained for importing lead acid battery or primary Lead"></i> FORM II - Registration</td>
                                                      <td>One Time</td>
                                                      <td>10th March</td>
                                                      <td><input class="form-control input-sm" value="10-Mar-2017" type="text"></td>
                                                      <td><input class="form-control input-sm" value="" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox12" type="checkbox" class="text-center">
                                                            <label for="checkbox12"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether undertaking submitted by importer to authority."></i> FORM III - Undertaking submission</td>
                                                      <td>Review</td>
                                                      <td>Repeats Every 1 Month(s)</td>
                                                      <td><input class="form-control input-sm" value="10-Dec-2016" type="text"></td>
                                                      <td><input class="form-control input-sm" value="" type="text"></td>
                                                      <td><input class="form-control input-sm no-padding" value="" type="file"></td>
                                                      <td><input class="form-control input-sm" value="EMP10018 - Vivek - L5" type="text"></td>
                                                      <td>
                                                        <select class="form-control input-sm">
                                                          <option>Complied</option>
                                                          <option>Delayed Complied</option>
                                                          <option>Not Complied</option>
                                                        </select>
                                                      </td>
                                                      <td class="text-center">
                                                        <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                                            <input id="checkbox13" type="checkbox" class="text-center">
                                                            <label for="checkbox13"></label>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <ul class="pager wizard m-b-0">
                                <li class="previous disabled"><a href="#" class="btn btn-custom waves-effect waves-light">Previous</a></li>
                                <li class="next"><a href="#" class="btn btn-primary waves-effect waves-light">Next</a></li>
                                <li class="finish pull-right"><a href="#" class="btn btn-primary waves-effect waves-light">Submit</a></li>
                                <!-- <li class="finish pull-right"><a href="#" class="btn btn-primary waves-effect waves-light">Save</a> &nbsp; </li> -->
                            </ul>
                        </div>
                    </div>
               <!--  </form> -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="mySmallModalLabel">Applicable Units</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                  <div class="form-group">
                      <p class="form-control-static">RG1001 - Corporate Office - 15/9, New Delhi, New Delhi, North Region, India</p>
                      <p class="form-control-static">RG1002 - Regional Office - 24-1/4, South Delhi Municipal Corporation, Delhi</p>
                      <p class="form-control-static">RG1003 - Branch Office - 12, KK nagar, Chennai, Tamil Nadu, South Region</p>
                  </div>
              </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="templates">
    <div class="ul-row">
        <ul>
            <li></li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="/script/completed-task-current-year/completed-task-current-year.js"></script>
<script>
    var resizefunc = [];
</script>



{% endblock %}