{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<style type="text/css">
.modal td
{
  font-size: 0.813em;
  border: 1px solid #ddd;
  padding: 5px;
}
.grid-table-rpt th span{
  font-size: 13px;
}
</style>

<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/tooltip/tipso.css">
<script src="/files/desktop/common/js/tooltip/tipso.js"></script>
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/popup/popup.css">
<script type="text/javascript" src="/files/desktop/common/js/popup/modernizr.js"></script>
<div class="content-container">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Assigned Compliance<span class="error-message"></span></div>
      <div class="input-row-left">
      <div class="input-row">
          <div class="field-label">Country<span class="mandatory">*</span>:</div>
          <div class="field-input">
            <select class="input-box">
              <option selected="selected">India</option>
              <option>Sri Lanka</option>
              <option>Singapore</option>
              <option>Malaysia</option>
            </select>
          </div>
        </div>
           <div class="input-row">
          <div class="field-label">Business Group:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="businessgroup" value="RG Business Group" placeholder="Enter Business Group" />
          </div>
        </div>
            <div class="input-row">
          <div class="field-label">Legal Entity:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="entity" value="RG Entity" placeholder="Enter Legal Entity" />
          </div>
        </div>
         
      
	
      </div>
      <div class="input-row-right">
     
        <div class="input-row">
          <div class="field-label">Division:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="division" value="Rg Division" placeholder="Enter Division Name" />
          </div>
        </div>
         <div class="input-row">
          <div class="field-label">Unit:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" autofocus id="unit" value="" placeholder="Enter Unit" />
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Show" class="btn-submit">
        
      </div>
      <div class="clearfix"></div>
      <div class="grid-table-rpt">
        <h1>Assigned Compliances</h1>
        <div style="margin-left:15%; margin-top:1em;">
          <div style="float:left; padding-bottom:0.5em; margin-left:0.5em;">
            <div style="margin-left:10px; font-size:0.8em;padding-bottom:1em;">Country:<span style="margin-left:10px; font-weight:bold;">India</span> </div>
             <div style="margin-left:10px; font-size:0.8em;padding-bottom:1em;">Business Group:<span style="margin-left:10px; font-weight:bold;">RG Business Group</span> </div>
            
          </div>
          <div style="float:right; margin-right:20%;">
           <div style="margin-left:10px; font-size:0.8em;padding-bottom:1em;">Legal Entity:<span style="margin-left:10px; font-weight:bold;">RG Entity</span> </div>
            <div style="margin-left:10px; font-size:0.8em;padding-bottom:1em;">Division:<span style="margin-left:10px; font-weight:bold;">RG Division</span> </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <table class="font1" style="width:100%;">
            <tr align="left" class="rightside" style="margin-bottom:1em; height:30px;">
              <th style="background-color:#f1e9f6; color:#000000; font-size: 0.813em;font-weight: bold;" width="33%" align="center">Assignee: EMP20019 - Raguram</th>
               <th style="background-color:#f1e9f6; color:#000000; font-size: 0.813em;font-weight: bold;" width="33%" align="center">Concurrence: EMP1011 - Krishnamoorthy</th>
                <th style="background-color:#f1e9f6; color:#000000; font-size: 0.813em;font-weight: bold;" width="33%" align="center">Approval: EMP1001 - Rajkumar</th>
            </tr>
            <tr >
              <td colspan="3" style="padding-left:0px; padding-top:0px"> <div class="grid-table-rpt"><table cellpadding="0" cellspacing="0" width="100%" >
                  <tr align="left">
                    <th width="2%" style="background:#ccc;"><span style="font-weight:bold;">#</span></th>
                    <th width="28%" style="background:#ccc;" ><span style="font-weight:bold;">Compliance</span></th>
                    <th width="10%" style="background:#ccc;"><span style="font-weight:bold;">Applicable Unit</span></th>
                    <th width="8%"  style="background:#ccc;"><span style="font-weight:bold;">Compliance Type</span></th>
                    <th width="15%"  style="background:#ccc;"colspan="4" ><span style="font-weight:bold;" >Statutory Date</span></th>
                    <th width="13%" style="background:#ccc;" ><span style="font-weight:bold;">Trigger Before</span></th>
                    <th width="12%"  style="background:#ccc;" ><span style="font-weight:bold;">Due Date</span></th>
                    <th width="12%"  style="background:#ccc;" ><span style="font-weight:bold;">Validity Date</span></th>
                  </tr>
                  <tr >
                    <td  align="center">1</td>
                    <td ><abbr class="page-load" title="Whether half yearly returns submitted by manufacturer,  importer, bulk consumer, assembler and reconditioned"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM I - Half yearly returns Submission</td>
                    <td><a href="#" class="toggleModal">ALL</a></td>
                    <td>Recurring</td>
                    <td colspan="4">Every Year 1st January</td>
                    <td >20 Days</td>
                    <td>01-Jan-2016</td>
                   
                    <td>01-Jan-2016</td>
                  </tr>
                  <tr>
                    <td align="center">2</td>
                    <td><abbr class="page-load" title="Whether registration for importers obtained for importing lead acid battery or primary Lead"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM II - Registration</td>
                    <td><a href="#" class="toggleModal">ALL</a></td>
                    <td>One Time</td>   
                    <td colspan="4"> 10th March</td>
                    <td >20 Days</td>
                    <td>10-Mar-2016</td>
                   
                     <td></td>
                  </tr>
                  <tr>
                    <td align="center">3</td>
                    <td><abbr class="page-load" title="Whether undertaking submitted by importer to authority."><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM III - Undertaking submission </td>
                    <td><a href="#" class="toggleModal">ALL</a></td>
                    <td>One Time</td>
                    
                     
                    <td colspan="4"> 10th January</td>
                    <td >48 Hours</td>
                   <td>10-Jan-2016</td>
                   
                    <td></td>
                  </tr>
                  <tr>
                    <td align="center">4</td>
                    <td><abbr class="page-load" title="Whether registration obtained for dealers"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM IV - Dealer Registration</td>
                    <td><a href="#" class="toggleModal">ALL</a></td>
                    <td>One Time</td>
                    <td colspan="4">10th January</td>
                    <td >15 Days</td>
                    <td>10-Jan-2016</td>
                   
                     <td></td>                  </tr>
                     <tr>
                    <td align="center">5</td>
                    <td><abbr class="page-load" title="Whether half yearly returns submitted by dealer to manufacturer"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM V - Dealer Half yearly returns</td>
                    <td><a href="#" class="toggleModal">ALL</a></td>
                    <td>Recurring</td>
                    <td colspan="4" >Every 31st March, 30th June, 20th September, 31th December</td>
                    <td >20 Days, 20 Days, 20 Days, 15 Days </td>
                  <td>31-Dec-2015</td>
                     <td>31-Dec-2015</td>
                  </tr>
                  </table></div></td></tr></table>
                  <table class="font1" style="width:100%;">
                    <tr align="left" class="rightside" style="margin-bottom:1em; height:30px;">
                      <th style="background-color:#f1e9f6; color:#000000; font-size: 0.813em;font-weight: bold;" width="33%" align="center">Assignee: EMP20016 - Sivaraman</th>
                      <th style="background-color:#f1e9f6; color:#000000; font-size: 0.813em;font-weight: bold;" width="33%" align="center">Concurrence: EMP1011 - Krishnamoorthy</th>
                      <th style="background-color:#f1e9f6; color:#000000; font-size: 0.813em;font-weight: bold;" width="33%" align="center">Approval: EMP1001 - Rajkumar</th>
                    </tr>
                    <tr >
                      <td colspan="3" style="padding-left:0px; padding-top:0px"> <div class="grid-table-rpt"><table cellpadding="0" cellspacing="0" width="100%" class="managetask">
                    <tr align="left">
                    <th width="2%" style="background:#ccc;"><span style="font-weight:bold;">#</span></th>
                    <th width="28%" style="background:#ccc;" >Compliance Task</th>
                    <th width="10%" style="background:#ccc;"><span style="font-weight:bold;">Applicable Unit</span></th>
                    <th width="8%"  style="background:#ccc;"><span style="font-weight:bold;">Compliance Frequency</span></th>
                    <th width="15%"  style="background:#ccc;"colspan="4" ><span style="font-weight:bold;" >Statutory Date</span></th>
                    <th width="13%" style="background:#ccc;" ><span style="font-weight:bold;">Trigger Before</span></th>
                    <th width="12%"  style="background:#ccc;" ><span style="font-weight:bold;">Due Date</span></th>
                    <th width="12%"  style="background:#ccc;" ><span style="font-weight:bold;">Validity Date</span></th>
                  </tr>
                  
                  <tr>
                    <td align="center">6</td>
                    <td><abbr class="page-load" title="Whether registration and renewal obtained by recycler"><img src="/images/icon-info.png" style="margin-right:10px"> </abbr>FORM VI - Recycler Registration and Review</td>
                    <td><a href="#" class="toggleModal">ALL</a></td>
                    <td>Recurring</td>
                    <td colspan="4">Every 1st January</td>
                    <td >25 Days</td>
                    <td>01-Jan-2016</td>
                 
                    <td></td>
                  </tr>
                  <tr>
                    <td align="center">6</td>
                    <td><abbr class="page-load" title="Whether half yearly returns submitted by recyclers"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM VII - Recycler Half yearly returns</td>
                    <td><a href="#" class="toggleModal">VRM1003 - Regional Office - South...</a></td>
                    <td>Recurring</td>
                    <td colspan="4">Every 30th June <br> 31st December</td>
                    <td >15 Days,10 Days</td>
                    <td>
                    31-Dec-2015</td>
                 
                    <td>
                    </td>
                  </tr>
                  <tr >
                    <td align="center">7</td>
                    <td><abbr class="page-load" title="Whether half yearly returns submitted by bulk consumer"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM VIII - Bulk consumer half yearly returns</td>
                    <td><a href="#" class="toggleModal">VRM1005 - Branch Office - Madurai...</a></td>
                    <td>Recurring</td>
                    <td colspan="4">Every Month on 10th</td>
                    <td >10 Days</td> 
                   <td>10-Oct-2015</td>
                 
                   <td>10-Oct-2015</td>
                  </tr>
                </table></div>
                </td></tr></table>
      </div>
    </div>
  </div>
</div>

<div class="modal">
  <header>
    <h1 style="background:#ccc; padding:5px 10px; border-radius:3px;">Applicable Units</h1>
     <div class="close toggleModal"></div>
  </header>  
  <section><p style="font-size:0.8em; padding-top:10px;">
    <table width="100%" class="content">
      <tr><td >VRM1003 - Regional Office - South,</td></tr><tr>
      <td >VRM1005 - Branch Office - 1,</td></tr><tr>
<td >VRM1008 - Branch Office - 2</td></tr>
<tr>
<td >VRM1009 - Branch Office - 3</td></tr>
<tr>
<td >VRM1010 - Branch Office - 4</td></tr>
<tr>
<td >VRM1011 - Branch Office - 5</td></tr>
<tr>
<td >VRM1012 - Branch Office - 6</td></tr>
<tr>
<td >VRM1013 - Branch Office - 7</td></tr>
<tr>
<td >VRM1014 - Branch Office - 8</td></tr>
<tr>
<td >VRM1015 - Branch Office - 9</td></tr>

    </table>
  </p>
  </section>
</div>

<script type="text/javascript">

jQuery(window).load(function(){
  jQuery('.page-load').tipso({
    tooltipHover: true
  });
});
$('.toggleModal').on('click', function (e) {
  $('.modal').toggleClass('active');
});

</script> 
<script>
$(function(){
  $('#taskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['FORM I - Half yearly returns Submission', 'FORM II - Registration', 'FORM III - Undertaking submission ', 'FORM IV - Dealer Registration', 'FORM V - Dealer Half yearly returns '];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   $('#tasktype').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Recurring', 'One Time'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
  $('#domain').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Industrial Law', 'Finance Law', 'Labour Law'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
 
});
</script> 
{% endblock %}