{% extends "files/client/common/html/container.html" %}
{% block content %}
<link href="/files/client/common/css/dashboard.css" rel="stylesheet" type="text/css" />
<link href="/files/client/common/css/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  $(function(){
    $(".left-menu-button").show();
    $(".content-page").removeClass('m-l-0');
  });
</script>


<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Chart List</li>
        <li class="has_sub"> <a href="/dashboard" class="waves-effect"><i class="zmdi zmdi-info-outline"></i> <span> Compliance Status </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/escalation" class="waves-effect"><i class="zmdi zmdi-case"></i> <span> Escalation </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/not-complied" class="waves-effect"><i class="zmdi zmdi-block"></i> <span> Not Complied </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/assignee-wise" class="waves-effect"><i class="zmdi zmdi-card-travel"></i> <span> Assignee Wise Compliance</span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/trend-chart" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Trend Chart </span> </a> </li>
        <li class="has_sub active"> <a href="/dashboard/compliance-applicability" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Compliance Applicability </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/risk-chart" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Risk Chart </span> </a> </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>



<div class="content-page">
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 h4-title">
          <h4 class="page-title pull-left">Compliance Applicability Chart - RG Groups</h4>
      <div class="pull-right">
        <button type="button" class="btn btn-success waves-effect waves-light" onclick="location.href='/dashboard/compliance-applicability'" > <i class="fa fa-mail-reply"></i> Back</button>
        <a href="javascript:void(0);" class="right-bar-toggle dropdown-toggle card-drop btn btn-info" title="Filter">
          <i class="zmdi zmdi-sort"></i> <small>Filter</small>
               </a>
      </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"> 
          <div class="table-responsive details">
                    <div class="card-box">
                        <table id="datatable-responsive" class="table dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="02%">#</th>
                                    <th width="15%">Business Group</th>
                                    <th width="10%">Legal Entity</th>
                                    <th width="10%">Division</th>
                                    <th width="10%">Type</th>
                                    <th width="15%">Compliance</th>
                                    <th width="10%">Assigned To</th>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm" />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <td colspan="100%">
                                      <!-- Start accordian -->
                                      <div class="panel-group col-lg-12 no-padding-left no-padding-right no-bottom-margin" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default bx-shadow-none">
                                                <div class="panel-heading p-0" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="p-5"> RG1018 - Madurai Unit </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body no-padding">
                                                      <div class="dataTable_wrapper top-lightborder">
                                                        <table  class="table table-striped dt-responsive nowrap no-bgheader no-border highlight" cellspacing="0" width="100%">
                                                          <tbody>
                                                            <tr>
                                                                <td colspan="100%" >
                                                                    <div class="col-sm-2 no-padding">
                                                                        <input type="text" class="form-control input-sm text-center" value="The Batteries Act, 2001" readonly="true" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                              <td width="02%">1</td>
                                                              <td width="15%">RG Business Group 01</td>
                                                              <td width="10%">RG Legal Entity</td>
                                                              <td width="10%">RG Division 01</td>
                                                              <td width="10%">Factory</td>
                                                              <td width="15%">FORM I - Submit half yearly returns</td>
                                                              <td width="10%">Sivaraman</td>
                                                            </tr>
                                                            <tr>
                                                              <td>2</td>
                                                              <td>RG Business Group 01</td>
                                                              <td>RG Legal Entity</td>
                                                              <td>RG Division 01</td>
                                                              <td>Office</td>
                                                              <td>FORM II - Importers registration</td>
                                                              <td>Narayanan</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default bx-shadow-none">
                                                <div class="panel-heading p-5" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseTwo"
                                                           aria-expanded="false" aria-controls="collapseTwo">
                                                            RG1020 - Namakkal Unit
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body no-padding">
                                                      <div class="dataTable_wrapper top-lightborder">
                                                        <table  class="table table-striped dt-responsive nowrap no-bgheader no-border highlight" cellspacing="0" width="100%">
                                                          <tbody>
                                                            <tr>
                                                                <td colspan="100%" >
                                                                    <div class="col-sm-2 no-padding">
                                                                        <input type="text" class="form-control input-sm text-center" value="The Batteries Act, 2001" readonly="true" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                              <td width="02%">1</td>
                                                              <td width="15%">RG Business Group 01</td>
                                                              <td width="10%">RG Legal Entity</td>
                                                              <td width="10%">RG Division 01</td>
                                                              <td width="10%">Factory</td>
                                                              <td width="15%">FORM I - Submit half yearly returns</td>
                                                              <td width="10%">Sivaraman</td>
                                                            </tr>
                                                            <tr>
                                                              <td>2</td>
                                                              <td>RG Business Group 01</td>
                                                              <td>RG Legal Entity</td>
                                                              <td>RG Division 01</td>
                                                              <td>Office</td>
                                                              <td>FORM II - Importers registration</td>
                                                              <td>Narayanan</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default bx-shadow-none">
                                              <div class="panel-heading p-5" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> RG1021 - Chennai Unit </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body no-padding">
                                                      <div class="dataTable_wrapper top-lightborder">
                                                        <table  class="table table-striped dt-responsive nowrap no-bgheader no-border highlight" cellspacing="0" width="100%">
                                                          <tbody>
                                                            <tr>
                                                                <td colspan="100%" >
                                                                    <div class="col-sm-2 no-padding">
                                                                        <input type="text" class="form-control input-sm text-center highlight" value="The Batteries Act, 2001" readonly="true" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                              <td width="02%">1</td>
                                                              <td width="15%">RG Business Group 01</td>
                                                              <td width="10%">RG Legal Entity</td>
                                                              <td width="10%">RG Division 01</td>
                                                              <td width="10%">Factory</td>
                                                              <td width="15%">FORM I - Submit half yearly returns</td>
                                                              <td width="10%">Sivaraman</td>
                                                            </tr>
                                                            <tr>
                                                              <td>2</td>
                                                              <td>RG Business Group 01</td>
                                                              <td>RG Legal Entity</td>
                                                              <td>RG Division 01</td>
                                                              <td>Office</td>
                                                              <td>FORM II - Importers registration</td>
                                                              <td>Narayanan</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                </div>
                                                <p class="rpt-count">Showing 815 records</p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <!-- End accordian -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <!-- content -->
  </div>
</div>
<div class="side-bar right-bar"> <a href="javascript:void(0);" class="right-bar-toggle close-button"> <i class="zmdi zmdi-close-circle-o"></i> </a>
  <h4 class="filter-text">Filter By</h4>
  <div class="notification-list nicescroll">
    <div class="form-group col-sm-12">
      <label class="control-label">Country</label>
    <div class="pull-right">
      <select class="form-control input-sm" id="country" multiple="multiple">
        <option selected="selected">India</option>
        <option selected="selected">US</option>
        <option selected="selected">Malaysia</option>
        <option selected="selected">Singapore</option>
        <option selected="selected">China</option>
      </select>
    </div>
    </div>
    <div class="form-group col-sm-12">
      <label class="control-label">Domain</label>
    <div class="pull-right">
      <select class="form-control input-sm pull-right" id="domain" multiple="multiple">
        <option selected="selected">Finance Law</option>
        <option selected="selected">Labour Law</option>
        <option selected="selected">Industrial Law</option>
      </select>
    </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioGroup" type="checkbox" checked="checked">
        <label for="radioGroup"> Group </label>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin ">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioBusinessGroup" type="checkbox">
        <label for="radioBusinessGroup"> Business Group </label>
      </div>
      <div class="has-feedback textboxbusiness" id="filter-business-group">
        <input type="text" class="form-control input-sm pull-right" value="KG">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioLegalEntity" type="checkbox">
        <label for="radioLegalEntity"> Legal Entity </label>
      </div>
      <div class="has-feedback textboxlegalentity" id="filter-legal-entity">
        <input type="text" class="form-control input-sm pull-right" value="RG Legal Entity 1">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioDivision" type="checkbox">
        <label for="radioDivision"> Division </label>
      </div>
      <div class="has-feedback textboxdivision" id="filter-division">
        <input type="text" class="form-control input-sm pull-right" value="KG Manufacturing Division">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radiocategorys" type="checkbox">
        <label for="radiocategorys"> Category </label>
      </div>
      <div class="has-feedback textboxcategory" id="filter-category">
        <input type="text" class="form-control input-sm pull-right" value="KG Category 1">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioUnit" type="checkbox">
        <label for="radioUnit"> Unit </label>
      </div>
      <div class="has-feedback textboxunit" id="filter-unit">
        <input type="text" class="form-control input-sm pull-right" value="Branch Office - 1">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <!-- <div class="form-group col-sm-12">
      <div class="checkbox checkbox-primary">
        <input id="radioConsolidated" type="checkbox">
        <label for="radioConsolidated"> Consolidated </label>
      </div>
    </div> -->
    <div class="form-group col-sm-12">
      <button class="btn btn-primary" id="go">Go</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="/files/client/common/js/charts/html5.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts-3d.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/exporting.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/standalone-framework.js"></script>
<script src="/files/client/common/js/multiselect/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $('#country').multiselect();
    $('#domain').multiselect(); 
</script>

<script type="text/javascript">
 
    $(document).ready(function() {
      $("#year-para").hide();
      $(".textboxbusiness").hide();
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })
     
    })

        $(document).ready(function () {
            $(".textboxgroup").hide();
            $(".textboxlegalentity").hide();
            $(".textboxdivision").hide();
            $(".textboxcategory").hide();
            $(".textboxunit").hide();
            $(".textboxbusiness").hide();

            $("#radioGroup").click(function() {
                $(".textboxbusiness").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();

                $("#radioGroup").prop("checked", true);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadPieChart();
            });
            $("#radioBusinessGroup").click(function() {
                $(".textboxbusiness").show();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();

                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", true);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadPieChartBusinessGroup("KG Business Group");
            });
            $("#radioLegalEntity").click(function() {
                $(".textboxbusiness").hide();
                $(".textboxlegalentity").show();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();

                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", true);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadPieChartLegalEntity("KG & Sons");
            });
            $("#radioDivision").click(function() {
                $(".textboxbusiness").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").show();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();

                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", true);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadPieChartDivision('KG Manufacturing Division');
            });
            $("#radiocategorys").click(function() {
                $(".textboxbusiness").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").show();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();
                
                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", true);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadPieChartCategorys('KG Category');
            });
            $("#radioUnit").click(function() {
                $(".textboxgroup").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").show();
                $(".textboxbusiness").hide();

                $("#previousyear").show();
                $("#nextyear").show();
                
                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", true);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadPieChartUnit('Branch Office - 1');
            });
            $("#radioConsolidated").click(function() {
                $(".textboxgroup").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();
                $(".textboxbusiness").hide();

                $("#previousyear").hide();
                $("#nextyear").hide();

                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", true);

                loadPieChartDivision('KG');
            });

        });

$(document).ready(function() {
      loadPieChart();
      $("#viewaspie").hide();

      $("#previous").click(function() {
        loadPieChart();
       })

      $("#next").click(function() {
          loadPieChart();
       })

      $("#viewaspie").click(function() {
              loadPieChart();
       })

      $("#viewasbar").click(function() {
              loadPieChart();
       })

      $("#back").click(function() {
              $("#entity-para1").hide();
              $("#entity-para2").show();
              $("#division-para1").hide();
              $("#division-para2").show();
              $("#unit-para1").hide();
              $("#unit-para2").show();
              loadPieChart();
       })

      $("#go-le").click(function() {
              loadPieChart();
       })

      $("#go-d").click(function() {
              loadPieChart();
       })

      $("#go-u").click(function() {
              loadPieChart();
       })

      $('#domainradio').click(function() {
             if( $(".textboxdomain").is(":hidden") ) {
               $(".textboxdomain").show();
               $("#domainradio").prop('checked', true);
             }
             else
             {
               $(".textboxdomain").hide();
               $("#domainradio").prop('checked', false);
             }
             });
      $('#countryradio').click(function() {
          if( $(".textboxcountry").is(":hidden") ) {
            $(".textboxcountry").show();
            $("#countryradio").prop('checked', true);
          }
          else
          {
            $(".textboxcountry").hide();
            $("#countryradio").prop('checked', false);
          }
      });


      
      $(".compliance-tab").click(function() {
        $("#year-para").hide();
        $(".compliance-tab").addClass("active")
       // $(".actwise-tab").removeClass("active")
        $(".ageing-tab").removeClass("active")
        $(".esc-tab").removeClass("active")
        $(".trend-tab").removeClass("active")
        $(".usecom-tab").removeClass("active")
        $(".task-status-tab").removeClass("active")
        $(".graph-box").show();
        $(".grid-table-dash").hide();
        $(".grid-table-dash1").hide();
        $("#level-filter").fadeIn();
        $("#viewaspie").fadeIn();
        $("#unit-auto").show();
        $("#entity-auto").show();
        // $("#division-auto").show();
        // $("#legal-entity").hide();
        $("#division").hide();
        $("#unit").hide();
        loadPieChart();
      })
})

function loadPieChart(){

      $("#viewaspie").hide();
      $("#viewasbar").hide();
      $("#division-para2").show();
      $("#unit-para1").hide();
      $("#unit-para2").show();
      $("#back").hide();
      
        $(function () {
            var color = [6];
            var applied = 0;
            var not_opted = 0;
            var not_applicable = 0;
            var unassigned = 0;
            var drill1 = "";
            var drill2 = "";
            var drill3 = "";
            var drill4 = "";
            title="";
          
                applied = 815;
                not_opted = 20;
                not_applicable = 12
                unassigned = 80
                var dataSum = (815+20+12+80);
                drill1="unitapp";
                drill2="unitnotapp";
                drill3="unitnotopt";
                drill4="unitunassigned";
                title=" - RG Groups";
          
             $('#container').highcharts({
              colors: ['#66FF66','#FFDC52','#CE253C', '#E244FF'],
              chart: {
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 45,
                      beta: 0
                  }
              },
              title: {
                   text: 'Compliance Applicability Chart '+title
              },
              legend: {
                reversed: true,
                itemStyle: {
                    fontWeight:'normal',
                    fontSize:'11px'
                }
              },
              tooltip: {
                  headerFormat:'',
                  pointFormat: '{point.name}: <b>{point.y:.0f}</b> of '+dataSum
              },
             plotOptions: {
                          pie: {
                              allowPointSelect: true,
                              cursor: 'pointer',
                              depth: 35,
                              dataLabels: {
                                  enabled: true,
                                  format:'{point.percentage:.0f}%',
                                      formatter: function() {
                                      
                                      var pcnt = (this.y / dataSum) * 100;
                                      return Highcharts.numberFormat(pcnt,0) + '%';
                                      }
                              },
                              showInLegend: true,
                              point: {
                              events: {
                                  click: function() {
                                      var drilldown = this.drilldown;
                                      if (drilldown) {
                                       loadDrillDownData(drilldown); 
                                      }
                                  }
                                }
                              }
                          }
                      },
              series: [{
                      name: "Compliance",
                      colorByPoint: true,
                      data: [{
                          name: "Applicable",
                          y: applied,
                          drilldown:Applicable
                      }, {
                          name: "Not Applicable",
                          y: not_applicable,
                          drilldown:drill2
                      }, {
                          name: "Not opted",
                          y: not_opted,
                          drilldown:drill3
                      },
                      {
                          name: "Unassigned",
                          y: unassigned,
                          drilldown:drill4
                      }]
                  }]
          });
        });
    }

    function loadPieChartBusinessGroup(title){

      $("#viewaspie").hide();
      $("#viewasbar").hide();
      $("#division-para2").show();
      $("#unit-para1").hide();
      $("#unit-para2").show();
      $("#back").hide();
      
        $(function () {
            var color = [6];
            var applied = 0;
            var not_opted = 0;
            var not_applicable = 0;
            var unassigned = 0;
            var drill1 = "";
            var drill2 = "";
            var drill3 = "";
            var drill4 = "";
          
            applied = 32;
            not_opted = 434;
            not_applicable = 122
            unassigned = 80
            var dataSum = (815+20+12+80);
            drill1="unitapp";
            drill2="unitnotapp";
            drill3="unitnotopt";
            drill4="unitunassigned";
             $('#container').highcharts({
              colors: ['#66FF66','#FFDC52','#CE253C', '#E244FF'],
              chart: {
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 45,
                      beta: 0
                  }
              },
              title: {
                   text: 'Compliance Applicability Chart '+title
              },
              legend: {
                reversed: true,
                itemStyle: {
                    fontWeight:'normal',
                    fontSize:'11px'
                }
              },
              tooltip: {
                  headerFormat:'',
                  pointFormat: '{point.name}: <b>{point.y:.0f}</b> of '+dataSum
              },
             plotOptions: {
                          pie: {
                              allowPointSelect: true,
                              cursor: 'pointer',
                              depth: 35,
                              dataLabels: {
                                  enabled: true,
                                  format:'{point.percentage:.0f}%',
                                      formatter: function() {
                                      
                                      var pcnt = (this.y / dataSum) * 100;
                                      return Highcharts.numberFormat(pcnt,0) + '%';
                                      }
                              },
                              showInLegend: true,
                              point: {
                              events: {
                                  click: function() {
                                      var drilldown = this.drilldown;
                                      if (drilldown) {
                                       loadDrillDownData(drilldown); 
                                      }
                                  }
                                }
                              }
                          }
                      },
              series: [{
                      name: "Compliance",
                      colorByPoint: true,
                      data: [{
                          name: "Applicable",
                          y: applied,
                          drilldown:Applicable
                      }, {
                          name: "Not Applicable",
                          y: not_applicable,
                          drilldown:drill2
                      }, {
                          name: "Not opted",
                          y: not_opted,
                          drilldown:drill3
                      },
                      {
                          name: "Unassigned",
                          y: unassigned,
                          drilldown:drill4
                      }]
                  }]
          });
        });
    }



function loadPieChartLegalEntity(title){

      $("#viewaspie").hide();
      $("#viewasbar").hide();
      $("#division-para2").show();
      $("#unit-para1").hide();
      $("#unit-para2").show();
      $("#back").hide();
      
        $(function () {
            var color = [6];
            var applied = 0;
            var not_opted = 0;
            var not_applicable = 0;
            var unassigned = 0;
            var drill1 = "";
            var drill2 = "";
            var drill3 = "";
            var drill4 = "";
          
                applied = 56;
                not_opted = 23;
                not_applicable = 98
                unassigned = 17
                var dataSum = (815+20+12+80);
                drill1="unitapp";
                drill2="unitnotapp";
                drill3="unitnotopt";
                drill4="unitunassigned";
          
             $('#container').highcharts({
              colors: ['#66FF66','#FFDC52','#CE253C', '#E244FF'],
              chart: {
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 45,
                      beta: 0
                  }
              },
              title: {
                   text: 'Compliance Applicability Chart '+title
              },
              legend: {
                reversed: true,
                itemStyle: {
                    fontWeight:'normal',
                    fontSize:'11px'
                }
              },
              tooltip: {
                  headerFormat:'',
                  pointFormat: '{point.name}: <b>{point.y:.0f}</b> of '+dataSum
              },
             plotOptions: {
                          pie: {
                              allowPointSelect: true,
                              cursor: 'pointer',
                              depth: 35,
                              dataLabels: {
                                  enabled: true,
                                  format:'{point.percentage:.0f}%',
                                      formatter: function() {
                                      
                                      var pcnt = (this.y / dataSum) * 100;
                                      return Highcharts.numberFormat(pcnt,0) + '%';
                                      }
                              },
                              showInLegend: true,
                              point: {
                              events: {
                                  click: function() {
                                      var drilldown = this.drilldown;
                                      if (drilldown) {
                                       loadDrillDownData(drilldown); 
                                      }
                                  }
                                }
                              }
                          }
                      },
              series: [{
                      name: "Compliance",
                      colorByPoint: true,
                      data: [{
                          name: "Applicable",
                          y: applied,
                          drilldown:drill1
                      }, {
                          name: "Not Applicable",
                          y: not_applicable,
                          drilldown:drill2
                      }, {
                          name: "Not opted",
                          y: not_opted,
                          drilldown:drill3
                      },
                      {
                          name: "Unassigned",
                          y: unassigned,
                          drilldown:drill4
                      }]
                  }]
          });
        });
    }



  function loadPieChartDivision(title){

      $("#viewaspie").hide();
      $("#viewasbar").hide();
      $("#division-para2").show();
      $("#unit-para1").hide();
      $("#unit-para2").show();
      $("#back").hide();
      
        $(function () {
            var color = [6];
            var applied = 0;
            var not_opted = 0;
            var not_applicable = 0;
            var unassigned = 0;
            var drill1 = "";
            var drill2 = "";
            var drill3 = "";
            var drill4 = "";
          
                applied = 78;
                not_opted = 34;
                not_applicable = 12
                unassigned = 57
                var dataSum = (815+20+12+80);
                drill1="unitapp";
                drill2="unitnotapp";
                drill3="unitnotopt";
                drill4="unitunassigned";
          
             $('#container').highcharts({
              colors: ['#66FF66','#FFDC52','#CE253C', '#E244FF'],
              chart: {
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 45,
                      beta: 0
                  }
              },
              title: {
                   text: 'Compliance Applicability Chart '+title
              },
              legend: {
                reversed: true,
                itemStyle: {
                    fontWeight:'normal',
                    fontSize:'11px'
                }
              },
              tooltip: {
                  headerFormat:'',
                  pointFormat: '{point.name}: <b>{point.y:.0f}</b> of '+dataSum
              },
             plotOptions: {
                          pie: {
                              allowPointSelect: true,
                              cursor: 'pointer',
                              depth: 35,
                              dataLabels: {
                                  enabled: true,
                                  format:'{point.percentage:.0f}%',
                                      formatter: function() {
                                      
                                      var pcnt = (this.y / dataSum) * 100;
                                      return Highcharts.numberFormat(pcnt,0) + '%';
                                      }
                              },
                              showInLegend: true,
                              point: {
                              events: {
                                  click: function() {
                                      var drilldown = this.drilldown;
                                      if (drilldown) {
                                       loadDrillDownData(drilldown); 
                                      }
                                  }
                                }
                              }
                          }
                      },
              series: [{
                      name: "Compliance",
                      colorByPoint: true,
                      data: [{
                          name: "Applicable",
                          y: applied,
                          drilldown:drill1
                      }, {
                          name: "Not Applicable",
                          y: not_applicable,
                          drilldown:drill2
                      }, {
                          name: "Not opted",
                          y: not_opted,
                          drilldown:drill3
                      },
                      {
                          name: "Unassigned",
                          y: unassigned,
                          drilldown:drill4
                      }]
                  }]
          });
        });
    }


    function loadPieChartCategorys(title){

      $("#viewaspie").hide();
      $("#viewasbar").hide();
      $("#division-para2").show();
      $("#unit-para1").hide();
      $("#unit-para2").show();
      $("#back").hide();
      
        $(function () {
            var color = [6];
            var applied = 0;
            var not_opted = 0;
            var not_applicable = 0;
            var unassigned = 0;
            var drill1 = "";
            var drill2 = "";
            var drill3 = "";
            var drill4 = "";
          
                applied = 23;
                not_opted = 67;
                not_applicable = 12
                unassigned = 23
                var dataSum = (815+20+12+80);
                drill1="unitapp";
                drill2="unitnotapp";
                drill3="unitnotopt";
                drill4="unitunassigned";
          
             $('#container').highcharts({
              colors: ['#66FF66','#FFDC52','#CE253C', '#E244FF'],
              chart: {
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 45,
                      beta: 0
                  }
              },
              title: {
                   text: 'Compliance Applicability Chart '+title
              },
              legend: {
                reversed: true,
                itemStyle: {
                    fontWeight:'normal',
                    fontSize:'11px'
                }
              },
              tooltip: {
                  headerFormat:'',
                  pointFormat: '{point.name}: <b>{point.y:.0f}</b> of '+dataSum
              },
             plotOptions: {
                          pie: {
                              allowPointSelect: true,
                              cursor: 'pointer',
                              depth: 35,
                              dataLabels: {
                                  enabled: true,
                                  format:'{point.percentage:.0f}%',
                                      formatter: function() {
                                      
                                      var pcnt = (this.y / dataSum) * 100;
                                      return Highcharts.numberFormat(pcnt,0) + '%';
                                      }
                              },
                              showInLegend: true,
                              point: {
                              events: {
                                  click: function() {
                                      var drilldown = this.drilldown;
                                      if (drilldown) {
                                       loadDrillDownData(drilldown); 
                                      }
                                  }
                                }
                              }
                          }
                      },
              series: [{
                      name: "Compliance",
                      colorByPoint: true,
                      data: [{
                          name: "Applicable",
                          y: applied,
                          drilldown:drill1
                      }, {
                          name: "Not Applicable",
                          y: not_applicable,
                          drilldown:drill2
                      }, {
                          name: "Not opted",
                          y: not_opted,
                          drilldown:drill3
                      },
                      {
                          name: "Unassigned",
                          y: unassigned,
                          drilldown:drill4
                      }]
                  }]
          });
        });
    }

    function loadDrillDownData(name){
      $("#viewaspie").hide();
      $("#viewasbar").hide();
      $("#next").hide();
      $("#previous").hide();
      $("#back").hide();

      var img_name="";
      var margin_style="";
      if (name == "0-30 days") {
        // img_name = "/images/dash-list/task-entity-inprogress.png";
        location.href="/dashboard/compliance-applicability-drilldown";
        name = "Branch Office - 1";
        com_name = "0 - 30 days ";
      } else
      // img_name = "/images/dash-list/escalations.png";
      location.href="/dashboard/compliance-applicability-drilldown";
      name = $("#hidden").val();
    
      var htmlstr = '<div style="'+margin_style+'"><h2 style="margin-left:10px;font-size:20px">'+name+' for the year 2012</h2><br><img src='+img_name+' style="margin-left:3px;" ></div>';
       $(function () {
        $('#container').html(htmlstr);
    });
    }


    function loadPieChartUnit(title){

      $("#viewaspie").hide();
      $("#viewasbar").hide();
      $("#division-para2").show();
      $("#unit-para1").hide();
      $("#unit-para2").show();
      $("#back").hide();
      
        $(function () {
            var color = [6];
            var applied = 0;
            var not_opted = 0;
            var not_applicable = 0;
            var unassigned = 0;
            var drill1 = "";
            var drill2 = "";
            var drill3 = "";
            var drill4 = "";
          
                applied = 76;
                not_opted = 21;
                not_applicable = 90
                unassigned = 67
                var dataSum = (815+20+12+80);
                drill1="unitapp";
                drill2="unitnotapp";
                drill3="unitnotopt";
                drill4="unitunassigned";
          
             $('#container').highcharts({
              colors: ['#66FF66','#FFDC52','#CE253C', '#E244FF'],
              chart: {
                  type: 'pie',
                  options3d: {
                      enabled: true,
                      alpha: 45,
                      beta: 0
                  }
              },
              title: {
                   text: 'Compliance Applicability Chart '+title
              },
              legend: {
                reversed: true,
                itemStyle: {
                    fontWeight:'normal',
                    fontSize:'11px'
                }
              },
              tooltip: {
                  headerFormat:'',
                  pointFormat: '{point.name}: <b>{point.y:.0f}</b> of '+dataSum
              },
             plotOptions: {
                          pie: {
                              allowPointSelect: true,
                              cursor: 'pointer',
                              depth: 35,
                              dataLabels: {
                                  enabled: true,
                                  format:'{point.percentage:.0f}%',
                                      formatter: function() {
                                      
                                      var pcnt = (this.y / dataSum) * 100;
                                      return Highcharts.numberFormat(pcnt,0) + '%';
                                      }
                              },
                              showInLegend: true,
                              point: {
                              events: {
                                  click: function() {
                                      var drilldown = this.drilldown;
                                      if (drilldown) {
                                       loadDrillDownData(drilldown); 
                                      }
                                  }
                                }
                              }
                          }
                      },
              series: [{
                      name: "Compliance",
                      colorByPoint: true,
                      data: [{
                          name: "Applicable",
                          y: applied,
                          drilldown:drill1
                      }, {
                          name: "Not Applicable",
                          y: not_applicable,
                          drilldown:drill2
                      }, {
                          name: "Not opted",
                          y: not_opted,
                          drilldown:drill3
                      },
                      {
                          name: "Unassigned",
                          y: unassigned,
                          drilldown:drill4
                      }]
                  }]
          });
        });
    }

  </script>
{% endblock %}