{% extends "files/client/common/html/container.html" %}
{% block content %}
<link href="/files/client/common/css/dashboard.css" rel="stylesheet" type="text/css" />
<link href="/files/client/common/css/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  $(function() {
    $(".left-menu-button").show();
    $(".content-page").removeClass('m-l-0');
  });
</script>
<style type="text/css">
  tspan {
    text-decoration:none;
    text-shadow:none !important;
  }
  text {
    text-decoration:none;
    text-shadow:none !important;
  }
</style>

<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Chart List</li>
        <li class="has_sub compliance-status-tab active"> <a class="waves-effect"><i class="zmdi zmdi-info-outline"></i> <span> Compliance Status </span> </a> </li>
        <li class="has_sub escalations-tab"> <a class="waves-effect "><i class="zmdi zmdi-case"></i> <span> Escalation </span> </a> </li>
        <li class="has_sub not-complied-tab"> <a class="waves-effect"><i class="zmdi zmdi-block"></i> <span> Not Complied </span> </a> </li>
        <li class="has_sub compliance-report-tab"> <a class="waves-effect"><i class="zmdi zmdi-card-travel"></i> <span> Assignee Wise Compliance</span> </a> </li>
        <li class="has_sub trend-chart-tab"> <a class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Trend Chart </span> </a> </li>
        <li class="has_sub risk-chart-tab"> <a class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Risk Chart </span> </a> </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="content-page">
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 h4-title">
          <h4 class="page-title pull-left">Compliance Status </h4>
    		  <div class="pull-right">
    		    <span class="contract_timer">Contract Renewal : 20 Days Left</span>
            <a href="javascript:void(0);" class="btn btn-primary btn-trans" title="Export">
          <i class="fa fa-upload"></i> <small>Export</small>
               </a>
    			  <a href="javascript:void(0);" class="right-bar-toggle dropdown-toggle card-drop btn btn-info" title="Filter">
                <i class="zmdi zmdi-sort"></i> <small>Filter</small>
            </a>
    			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"> 
          <div id="level-filter" class="card-box">
            <input type="hidden" id="hidden"/>           
            <div class="graph-box">
              <input type="button" id="viewaspie" class="pull-right btn btn-info m-r-10"  value="View as pie chart"/>
              <input type="button" id="viewasbar"   class="pull-right btn btn-info m-r-10" value="View as bar chart"/>
              <input type="button" id="back"  class="pull-right btn btn-info m-r-10" onClick="loadGroup()"  value="Back"/>
              <p id="year-para"> <span >Select Year:</span>
                <select id="year" multiple="multiple" placeholder="Select Years"  class="testSelAll2 input-box sumo2"  >
                  <option value="2009" >2009</option>
                  <option value="2010" >2010</option>
                  <option value="2011" >2011</option>
                  <option value="2012" >2012</option>
                  <option value="2013" selected>2013</option>
                  <option value="2014" selected>2014</option>
                  <option value="2015" selected>2015</option>
                </select>
              </p>
              <style type="text/css">
                .text-middle {
                  vertical-align: middle;
                }
              </style>
              <div class="clearfix"></div>
              <div style="width: 100%">
                  <div class="text-center chart-arrow pull-left">
                    <a href="#" id="previousyear"><i class="fa fa-angle-left fa-3x m-t-150"></i></a>
                  </div>
                  <div class="pull-left" style="width: 93%;">
                    <div id="container" align="center" style="width: 100%; padding-right: 10px;"></div>
                  </div>
                  <div class="text-center chart-arrow pull-left">
                    <a href="#" id="nextyear" class="pull-right"><i class="fa fa-angle-right fa-3x m-t-150"></i></a>
                  </div>
                  <div class="clearfix"></div>
              </div>
              
              <div id="container"></div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="m-t-0 m-b-30">
                <input type="button" id="previousyear" class="pull-left btn btn-primary btn-trans "  value="<< Previous Year"/>
                <!--input type="button" class="btn btn-info m-l-10" value="<< Previous"/-->
                <input type="button" id="nextyear" class="pull-right btn btn-primary btn-trans " value="Next Year >>"/>
                <!--input type="button" id="next" class="pull-right btn btn-info" value="Next >>"/-->
                <!--input type="button" class="pull-right btn btn-info m-r-10" value="Next >>"/-->
                <input type="button" id="previous" class="pull-left btn btn-primary btn-trans " value="<< Previous"/>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
  </div>
</div>
<div class="side-bar right-bar"> <a href="javascript:void(0);" class="right-bar-toggle close-button"> <i class="zmdi zmdi-close-circle-o"></i> </a>
  <h4 class="filter-text">Filter By</h4>
  <div class="notification-list nicescroll">
    <div class="form-group col-sm-12">
      <label class="control-label">Country</label>
	  <div class="pull-right">
      <select class="form-control input-sm country-filter" id="country" multiple="multiple">
      </select>
	  </div>
    </div>
    <div class="form-group col-sm-12">
      <label class="control-label">Domain</label>
	  <div class="pull-right">
      <select class="form-control input-sm pull-right domain-filter" id="domain" multiple="multiple">
      </select>
	  </div>
    </div>
    <div class="form-group col-sm-12 textboxdate">
      <label class="control-label">Date</label>
      <div class="clear"></div>
      <div class="col-sm-5 no-padding">
        <input class="form-control input-sm" id="fromdate">
      </div>
      <div class="col-sm-2">to </div>
      <div class="col-sm-5 no-padding">
        <input class="form-control input-sm" id="todate">
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin group-selection">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioGroup" type="checkbox" checked="checked">
        <label for="radioGroup"> Group </label>
      </div>
    </div>

    <div class="form-group col-sm-12 no-margin business-group-selection">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioBusinessGroup" type="checkbox">
        <label for="radioBusinessGroup"> Business Group </label>
      </div>
      <select class="form-control input-sm hide-row textboxbusiness bg-filter" multiple id="filter-business-group">
      </select>
    </div>
    <div class="form-group col-sm-12 no-margin legal-entity-selection">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioLegalEntity" type="checkbox">
        <label for="radioLegalEntity"> Legal Entity </label>
      </div>
      <select class="form-control input-sm hide-row textboxlegalentity legal-entity-filter" multiple id="filter-legal-entity">
      </select>
    </div>
    <div class="form-group col-sm-12 no-margin division-selection">
      <div class="checkbox checkbox-primary no-bottom-margin  ">
        <input id="radioDivision" type="checkbox">
        <label for="radioDivision"> Division </label>
      </div>
      <select class="form-control input-sm hide-row textboxdivision division-filter" multiple id="filter-division"> 
      </select>
    </div>
    <div class="form-group col-sm-12 no-margin category-selection">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radiocategorys" type="checkbox">
        <label for="radiocategorys"> Category </label>
      </div>
      <select class="form-control input-sm hide-row textboxcategory category-filter" multiple id="filter-category">
      </select>
    </div>
    <div class="form-group col-sm-12 no-margin unit-selection">
      <div class="checkbox checkbox-primary no-bottom-margin">
        <input id="radioUnit" type="checkbox">
        <label for="radioUnit"> Unit </label>
      </div>
      <select class="form-control input-sm hide-row textboxunit unit-filter" multiple id="filter-unit">
      </select>
    </div>
    <div class="form-group col-sm-12 consolidated-selection">
      <div class="checkbox checkbox-primary">
        <input id="radioConsolidated" type="checkbox">
        <label for="radioConsolidated">Consolidated</label>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <button class="btn btn-primary" id="go">Go</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="/files/client/common/js/charts/html5.js"></script> 
<script type="text/javascript" src="/files/client/common/js/charts/highcharts.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts-3d.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/exporting.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/standalone-framework.js"></script>
<script src="/files/client/common/js/multiselect/bootstrap-multiselect.js"></script>

<script type="text/javascript" src="/files/client/dashboard/chart-home-chart.js"></script>
<script src="/files/client/dashboard/dashboard.js"></script>


<script type="text/javascript">
    $('#country').multiselect();
    $('#domain').multiselect();
</script>
{% endblock %}