{% extends "files/client/common/html/container.html" %}
{% block content %}
<link href="/files/client/common/css/dashboard.css" rel="stylesheet" type="text/css" />
<link href="/files/client/common/css/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  $(function(){
    $(".left-menu-button").show();
    $(".content-page").removeClass('m-l-0');
  });
</script>

<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Chart List</li>
        <li class="has_sub"> <a href="/dashboard" class="waves-effect"><i class="zmdi zmdi-info-outline"></i> <span> Compliance Status </span> </a> </li>
        <li class="has_sub active"> <a href="/dashboard/escalation" class="waves-effect"><i class="zmdi zmdi-case"></i> <span> Escalation </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/not-complied" class="waves-effect"><i class="zmdi zmdi-block"></i> <span> Not Complied </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/assignee-wise" class="waves-effect"><i class="zmdi zmdi-card-travel"></i> <span> Assignee Wise Compliance</span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/trend-chart" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Trend Chart </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/compliance-applicability" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Compliance Applicability </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/risk-chart" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Risk Chart </span> </a> </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>



<div class="content-page">
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 h4-title">
          <h4 class="page-title pull-left">Escalations of RG Groups for the year 2012</h4>
		  <div class="pull-right">
        <button type="button" class="btn btn-success waves-effect waves-light" onclick="location.href='/dashboard/escalation'" > <i class="fa fa-mail-reply"></i> Back</button>
			  <a href="javascript:void(0);" class="right-bar-toggle dropdown-toggle card-drop btn btn-info" title="Filter">
					<i class="zmdi zmdi-sort"></i> <small>Filter</small>
               </a>

			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"> 
          <div class="table-responsive details">
                    <div class="card-box">
                        <table id="datatable-responsive" class="table dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="02%">#</th>
                                    <th width="15%">Business Group</th>
                                    <th width="10%">Legal Entity</th>
                                    <th width="10%">Division</th>
                                    <th width="10%">Type</th>
                                    <th width="15%">Compliance</th>
                                    <th width="10%">Assigned To</th>
                                    <th width="10%">Delayed By</th>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm" />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group col-sm-12 no-padding">
                                      <input type="text" class="form-control input-sm"  />
                                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                    </div>
                                  </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-lightdark">
                                  <td colspan="100%">
                                    <div class="col-sm-12"><span class="pull-left">Delayed Compliance</span></div>
                                  </td>
                                </tr>
                                
                                <tr >
                                    <td colspan="100%">
                                      <!-- Start accordian -->
                                      <div class="panel-group col-lg-12 no-padding-left no-padding-right no-bottom-margin" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default bx-shadow-none">
                                                <div class="panel-heading p-0" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="p-5"> RG1018 - Madurai Unit </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body no-padding">
                                                      <div class="dataTable_wrapper top-lightborder">
                                                        <table  class="table table-striped dt-responsive nowrap no-bgheader no-border highlight" cellspacing="0" width="100%">
                                                          <tbody>
                                                            <tr>
                                                                <td colspan="100%" >
                                                                    <div class="col-sm-2 no-padding">
                                                                        <input type="text" class="form-control input-sm text-center" value="The Batteries Act, 2001" readonly="true" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                              <td width="02%">1</td>
                                                              <td width="15%">RG Business Group 01</td>
                                                              <td width="10%">RG Legal Entity</td>
                                                              <td width="10%">RG Division 01</td>
                                                              <td width="10%">Factory</td>
                                                              <td width="15%">FORM I - Submit half yearly returns</td>
                                                              <td width="10%">Sivaraman</td>
                                                              <td width="10%">5 Days</td>
                                                            </tr>
                                                            <tr>
                                                              <td>2</td>
                                                              <td>RG Business Group 01</td>
                                                              <td>RG Legal Entity</td>
                                                              <td>RG Division 01</td>
                                                              <td>Office</td>
                                                              <td>FORM II - Importers registration</td>
                                                              <td>Narayanan</td>
                                                              <td>3 Days</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default bx-shadow-none">
                                                <div class="panel-heading p-5" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseTwo"
                                                           aria-expanded="false" aria-controls="collapseTwo">
                                                            RG1020 - Namakkal Unit
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body no-padding">
                                                      <div class="dataTable_wrapper top-lightborder">
                                                        <table  class="table table-striped dt-responsive nowrap no-bgheader no-border highlight" cellspacing="0" width="100%">
                                                          <tbody>
                                                            <tr>
                                                                <td colspan="100%" >
                                                                    <div class="col-sm-2 no-padding">
                                                                        <input type="text" class="form-control input-sm text-center" value="The Batteries Act, 2001" readonly="true" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                              <td width="02%">1</td>
                                                              <td width="15%">RG Business Group 01</td>
                                                              <td width="10%">RG Legal Entity</td>
                                                              <td width="10%">RG Division 01</td>
                                                              <td width="10%">Factory</td>
                                                              <td width="15%">FORM I - Submit half yearly returns</td>
                                                              <td width="10%">Sivaraman</td>
                                                              <td width="10%">5 Days</td>
                                                            </tr>
                                                            <tr>
                                                              <td>2</td>
                                                              <td>RG Business Group 01</td>
                                                              <td>RG Legal Entity</td>
                                                              <td>RG Division 01</td>
                                                              <td>Office</td>
                                                              <td>FORM II - Importers registration</td>
                                                              <td>Narayanan</td>
                                                              <td>3 Days</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default bx-shadow-none">
                                              <div class="panel-heading p-5" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> RG1021 - Chennai Unit </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body no-padding">
                                                      <div class="dataTable_wrapper top-lightborder">
                                                        <table  class="table table-striped dt-responsive nowrap no-bgheader no-border highlight" cellspacing="0" width="100%">
                                                          <tbody>
                                                            <tr>
                                                                <td colspan="100%" >
                                                                    <div class="col-sm-2 no-padding">
                                                                        <input type="text" class="form-control input-sm text-center highlight" value="The Batteries Act, 2001" readonly="true" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                              <td width="02%">1</td>
                                                              <td width="15%">RG Business Group 01</td>
                                                              <td width="10%">RG Legal Entity</td>
                                                              <td width="10%">RG Division 01</td>
                                                              <td width="10%">Factory</td>
                                                              <td width="15%">FORM I - Submit half yearly returns</td>
                                                              <td width="10%">Sivaraman</td>
                                                              <td width="10%">5 Days</td>
                                                            </tr>
                                                            <tr>
                                                              <td>2</td>
                                                              <td>RG Business Group 01</td>
                                                              <td>RG Legal Entity</td>
                                                              <td>RG Division 01</td>
                                                              <td>Office</td>
                                                              <td>FORM II - Importers registration</td>
                                                              <td>Narayanan</td>
                                                              <td>3 Days</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <!-- End accordian -->
                                    </td>
                                </tr>
                                <tr class="bg-lightdark">
                                  <td colspan="100%">
                                    <div class="col-sm-12"><span class="pull-left">Not Complied</span></div>
                                  </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <!-- content -->
  </div>
</div>
<div class="side-bar right-bar"> <a href="javascript:void(0);" class="right-bar-toggle close-button"> <i class="zmdi zmdi-close-circle-o"></i> </a>
  <h4 class="filter-text">Filter By</h4>
  <div class="notification-list nicescroll">
    <div class="form-group col-sm-12">
      <label class="control-label">Country</label>
	  <div class="pull-right">
      <select class="form-control input-sm" id="country" multiple="multiple">
        <option selected="selected">India</option>
        <option selected="selected">US</option>
        <option selected="selected">Malaysia</option>
        <option selected="selected">Singapore</option>
        <option selected="selected">China</option>
      </select>
	  </div>
    </div>
    <div class="form-group col-sm-12">
      <label class="control-label">Domain</label>
	  <div class="pull-right">
      <select class="form-control input-sm pull-right" id="domain" multiple="multiple">
        <option selected="selected">Finance Law</option>
        <option selected="selected">Labour Law</option>
        <option selected="selected">Industrial Law</option>
      </select>
	  </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioGroup" type="checkbox" checked="checked">
        <label for="radioGroup"> Group </label>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin ">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioBusinessGroup" type="checkbox">
        <label for="radioBusinessGroup"> Business Group </label>
      </div>
      <div class="has-feedback textboxbusiness" id="filter-business-group">
        <input type="text" class="form-control input-sm pull-right" value="KG">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioLegalEntity" type="checkbox">
        <label for="radioLegalEntity"> Legal Entity </label>
      </div>
      <div class="has-feedback textboxlegalentity" id="filter-legal-entity">
        <input type="text" class="form-control input-sm pull-right" value="RG Legal Entity 1">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioDivision" type="checkbox">
        <label for="radioDivision"> Division </label>
      </div>
      <div class="has-feedback textboxdivision" id="filter-division">
        <input type="text" class="form-control input-sm pull-right" value="KG Manufacturing Division">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radiocategorys" type="checkbox">
        <label for="radiocategorys"> Category </label>
      </div>
      <div class="has-feedback textboxcategory" id="filter-category">
        <input type="text" class="form-control input-sm pull-right" value="KG Category 1">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioUnit" type="checkbox">
        <label for="radioUnit"> Unit </label>
      </div>
      <div class="has-feedback textboxunit" id="filter-unit">
        <input type="text" class="form-control input-sm pull-right" value="Branch Office - 1">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <!-- <div class="form-group col-sm-12">
      <div class="checkbox checkbox-primary">
        <input id="radioConsolidated" type="checkbox">
        <label for="radioConsolidated"> Consolidated </label>
      </div>
    </div> -->
    <div class="form-group col-sm-12">
      <button class="btn btn-primary" id="go">Go</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="/files/client/common/js/charts/html5.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts-3d.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/exporting.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/standalone-framework.js"></script>
<script src="/files/client/common/js/multiselect/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $('#country').multiselect();
    $('#domain').multiselect();	
</script>

<script type="text/javascript">
    $(document).ready(function() {
      $("#year-para").hide();
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })
//      window.testSelAll2 = $('.testSelAll2').SumoSelect({selectAll:false });
    })

        $(document).ready(function () {
            $(".textboxdomain").show();
            $(".textboxgroup").hide();
            $(".textboxlegalentity").hide();
            $(".textboxdivision").hide();
            $(".textboxcategory").hide();
            $(".textboxunit").hide();
            $(".textboxbusiness").hide();

            $("#radioGroup").click(function() {
                $(".textboxbusiness").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();

                $("#radioGroup").prop("checked", true);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadEscalations();
            });
            $("#radioBusinessGroup").click(function() {
                $(".textboxbusiness").show();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();

                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", true);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadEscalations();
            });
            $("#radioLegalEntity").click(function() {
                $(".textboxbusiness").hide();
                $(".textboxlegalentity").show();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();

                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", true);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadEscalations();
            });
            $("#radioDivision").click(function() {
                $(".textboxbusiness").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").show();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();

                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", true);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadEscalations();
            });
            $("#radiocategorys").click(function() {
                $(".textboxbusiness").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").show();
                $(".textboxunit").hide();

                $("#previousyear").show();
                $("#nextyear").show();
                
                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", true);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadEscalations();
            });
            $("#radioUnit").click(function() {
                $(".textboxgroup").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").show();
                $(".textboxbusiness").hide();

                $("#previousyear").show();
                $("#nextyear").show();
                
                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", true);
                $("#radioConsolidate").prop("checked", false);
                $("#radioConsolidated").prop("checked", false);

                loadEscalations();
            });
            $("#radioConsolidated").click(function() {
                $(".textboxgroup").hide();
                $(".textboxlegalentity").hide();
                $(".textboxdivision").hide();
                $(".textboxcategory").hide();
                $(".textboxunit").hide();
                $(".textboxbusiness").hide();

                $("#previousyear").hide();
                $("#nextyear").hide();

                $("#radioGroup").prop("checked", false);
                $("#radioBusinessGroup").prop("checked", false);
                $("#radioLegalEntity").prop("checked", false);
                $("#radioDivision").prop("checked", false);
                $("#radiocategorys").prop("checked", false);
                $("#radioUnit").prop("checked", false);
                $("#radioConsolidate").prop("checked", true);

                loadEscalations();
            });
        });

    $(document).ready(function() {
      loadEscalations();
      $("#viewaspie").hide();

      $("#previous").click(function() {
          
       })

      $("#next").click(function() {
          
       })

      $("#viewaspie").click(function() {
           		loadEscalations();
       })

      $("#viewasbar").click(function() {
           		loadEscalationsBar();
       })

      $("#back").click(function() {
           		loadEscalations();
       })

      $("#go-le").click(function() {
              loadEscalations();
       })

      $("#go-d").click(function() {
              loadEscalations();
       })

      $("#go-u").click(function() {
              loadEscalations();
       })

       $('#domainradio').click(function() {
             if( $(".textboxdomain").is(":hidden") ) {
               $(".textboxdomain").show();
               $("#domainradio").prop('checked', true);
             }
             else
             {
               $(".textboxdomain").hide();
               $("#domainradio").prop('checked', false);
             }
             });
      $('#countryradio').click(function() {
          if( $(".textboxcountry").is(":hidden") ) {
            $(".textboxcountry").show();
            $("#countryradio").prop('checked', true);
          }
          else
          {
            $(".textboxcountry").hide();
            $("#countryradio").prop('checked', false);
          }
      });


      $(".esc-tab").click(function() {
        $("#year-para").hide();        
        $(".esc-tab").addClass("active")
        //$(".actwise-tab").removeClass("active")
        $(".ageing-tab").removeClass("active")
        $(".compliance-tab").removeClass("active")
        $(".task-status-tab").removeClass("active");
        $(".trend-tab").removeClass("active")
    		$(".usecom-tab").removeClass("active")
    		$(".graph-box").show();
    		$(".grid-table-dash").hide();
    		$(".grid-table-dash1").hide();
        $("#level-filter").fadeIn();
        $("#viewaspie").hide();
        $("#unit-auto").show();
        $("#entity-auto").show();
        $("#division-auto").show();
        loadEscalations();
      })
    })

    // function loadDrillDownData(name){
    // 	$("#viewaspie").hide();
    // 	$("#viewasbar").hide();
    //   $("#next").hide();
    //   $("#previous").hide();
    // 	$("#back").show();

    // 	var img_name="";
    // 	var margin_style="";
    //   img_name = "/images/dash-list/escalations.png";
    //   name = $("#hidden").val();
    
    // 	var htmlstr = '<div style="'+margin_style+'"><h2 style="margin-left:10px;font-size:20px">'+name+' for the year 2012</h2><br><img src='+img_name+' style="margin-left:3px;" ></div>';
    //    $(function () {
    //     $('#container').html(htmlstr);
    // });
    // }

    function loadEscalations(){
    	$("#viewasbar").hide();
    	$("#viewaspie").hide();
    	$("#back").hide();
        $("#previous").hide();
    	$("#next").hide();
      
        $(function () {
        		var not_complied = 0;
        		var drill="";
        		var delayed= 0;
        		var title = "";
            var total=0;
            var data1=[5, 1, 3, 6, 7,];
            var data2=[0, 0, 1, 1, 2, ];
        		if($('#radioUnit').is(':checked')){
                colors:['#FF7700','#D10018'],
                not_complied = 3;
                drill = "unitesc";
                delayed = 10;
                title = "Branch Office - 1";
                total = 28;
                data1= [8, 8, 4, 1, 9,];
                data2=[0, 1, 0, 2, 1, ];
	            }else if($('#radioDivision').is(':checked')){
	                color= ['#FFA500','#FF0000' ,'#FFC0CB', '#00FF00','#008000' ];
	                not_complied = 4;
	                drill = "divisionesc";
	                delayed = 5;
                        total = 29;
	                title = "Manufacturing division";
                        data1= [9, 6, 9, 10, 2,];
                        data2= [0, 0, 1, 2, 1, ];
	            }else if($('#radioLegalEntity').is(':checked')){
	                color= ['#008000', '#FFA500', '#FF0000', '#FFC0CB', '#00FF00'];
	                not_complied = 6;
	                drill = "entityesc";
	                delayed = 10;
                        total = 50;
	                title = "KG";
                        data1= [3, 9, 5, 8, 8,];
                        data2= [0, 2, 1, 3, 1, ];
	            }else if($('#radioGroup').is(':checked')){
	               color= [Highcharts.getOptions().colors[2],Highcharts.getOptions().colors[5] ,'#FFC0CB', '#00FF00','#008000' ]; 
	               not_complied = 8;
	               drill = "groupesc";
	               delayed = 10;
                       total = 48;
	               title = "KG Groups";
                       data1=[9, 5, 9, 8, 4,];
                       data2=[0, 1, 2, 3, 1, ];
	            }
              else if($('#radio5').is(':checked')){
                
                 title = "KG";
                
              }
              // $('#container').highcharts({
                var chart = new Highcharts.Chart({
                  colors:['#fe6271','#F32D2B',],
                    chart: {
                      renderTo: 'container',
                        type: 'column',
                         options3d: { 
                    enabled: true,
                    alpha: 15,
                    beta: 10,
                    depth: 110
                }
                    },
                    title: {
                        text: 'Escalations of '+title
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: [
                            '2011',
                            '2012',
                            '2013',
                            '2014',
                            '2015',
                        ],
                        crosshair: true,
                        labels: {
                              useHTML: true,
                              formatter: function() {
                                  var name=this.value;
                                  if($('#radioGroup').is(':checked')){
                                  if(name == "2012"){
                                    $("#hidden").val("Escalations of "+title);
                                    var link = '<a href="#"  id="'+name+'" onclick=loadDrillDownData()>'+
                                        name +'</a>'
                                    return link;
                                  }else{
                                    var link = '<span  id="'+name+'" >'+
                                        name +'</span>'
                                    return link;
                                  }}else{
                                    var link = '<span  id="'+name+'" >'+
                                        name +'</span>'
                                    return link;
                                  }
                             }
                          },

                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Total Compliances'
                        },
                        allowDecimals: false
                    },
                    legend: {
                      reversed: true,
                      itemStyle: {
                          fontWeight:'normal',
                          fontSize:'11px'
                      }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0,
                            groupPadding: 0.3,
                            borderWidth: 0,
                            dataLabels: {
                            enabled: true,
                            textShadow:null,
                            // format:'{point.percentage:.0f}%'
                            format:'{point.y}'
                            },
                          point: {
                            events: {
                                click: function() {
                                    var drilldown = this.drilldown;
                                    if (drilldown) { 
                                            loadDrillDownData(drilldown);
                                    }
                                }
                              }
                            }
                        }
                    },
                    series: [{
                        name: 'Delayed Compliance',
                        data: data1,
                    }, {
                        name: 'Not Complied',
                        data: data2,
                    }]
                });
        // function showValues() {
        //     $('#alpha-value').html(chart.options.chart.options3d.alpha);
        //     $('#beta-value').html(chart.options.chart.options3d.beta);
        //     $('#depth-value').html(chart.options.chart.options3d.depth);
        // }

        // // Activate the sliders
        // $('#sliders input').on('input change', function () {
        //     chart.options.chart.options3d[this.id] = this.value;
        //     showValues();
        //     chart.redraw(false);
        // });

        // showValues();

          });
    }
  </script>
{% endblock %}