{% extends "files/client/common/html/container.html" %}
{% block content %}
<link href="/files/client/common/css/dashboard.css" rel="stylesheet" type="text/css" />
<link href="/files/client/common/css/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  $(function(){
    $(".left-menu-button").show();
    $(".content-page").removeClass('m-l-0');
  });
</script>


<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Chart List</li>
        <li class="has_sub"> <a href="/dashboard" class="waves-effect"><i class="zmdi zmdi-info-outline"></i> <span> Compliance Status </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/escalation" class="waves-effect"><i class="zmdi zmdi-case"></i> <span> Escalation </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/not-complied" class="waves-effect"><i class="zmdi zmdi-block"></i> <span> Not Complied </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/assignee-wise" class="waves-effect"><i class="zmdi zmdi-card-travel"></i> <span> Assignee Wise Compliance</span> </a> </li>
        <li class="has_sub active"> <a href="/dashboard/trend-chart" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Trend Chart </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/compliance-applicability" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Compliance Applicability </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/risk-chart" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Risk Chart </span> </a> </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>



<div class="content-page">
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 h4-title">
          <h4 class="page-title pull-left">Trend Chart</h4>
		  <div class="pull-right">
			  <a href="javascript:void(0);" class="right-bar-toggle dropdown-toggle card-drop btn btn-info" title="Filter">
					<i class="zmdi zmdi-sort"></i> <small>Filter</small>
               </a>
			</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12"> 
          <div id="level-filter" class="card-box">
            <input type="hidden" id="hidden"/>           
            <div class="graph-box">
        <input type="button" id="viewaspie" class="btn btn-primary pull-right" value="View as pie chart"/>
        <input type="button" id="viewasbar" class="btn btn-primary pull-right m-r-10" value="View as bar chart"/>
        <input type="button" id="back"  onClick="loadGroup()" class="btn btn-primary pull-right m-r-10" value="Back"/>
        <p id="year-para" >
          <span >Select Year:</span><select id="year" multiple="multiple" placeholder="Select Years" onchange="console.log($(this).children(':selected').length)" class="testSelAll2 input-box sumo2" >
            <option value="2009" >2009</option>
            <option value="2010" >2010</option>
            <option value="2011" >2011</option>
            <option value="2012" >2012</option>
            <option value="2013" selected>2013</option>
            <option value="2014" selected>2014</option>
            <option value="2015" selected>2015</option>
          </select>
        </p>
        <div class="clearfix"></div>
        <div id="container" ></div>
        <input type="button" id="previous" class="btn btn-primary" value="<< Previous"/>
        <input type="button" id="next" class="btn btn-primary pull-right" value="Next >>"/>
      </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
  </div>
</div>
<div class="side-bar right-bar"> <a href="javascript:void(0);" class="right-bar-toggle close-button"> <i class="zmdi zmdi-close-circle-o"></i> </a>
  <h4 class="filter-text">Filter By</h4>
  <div class="notification-list nicescroll">
    <div class="form-group col-sm-12">
      <label class="control-label">Country</label>
    <div class="pull-right">
      <select class="form-control input-sm" id="country" multiple="multiple">
        <option selected="selected">India</option>
        <option selected="selected">US</option>
        <option selected="selected">Malaysia</option>
        <option selected="selected">Singapore</option>
        <option selected="selected">China</option>
      </select>
    </div>
    </div>
    <div class="form-group col-sm-12">
      <label class="control-label">Domain</label>
    <div class="pull-right">
      <select class="form-control input-sm pull-right" id="domain" multiple="multiple">
        <option selected="selected">Finance Law</option>
        <option selected="selected">Labour Law</option>
        <option selected="selected">Industrial Law</option>
      </select>
    </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioGroup" type="checkbox" checked="checked">
        <label for="radioGroup"> Group </label>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin ">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioBusinessGroup" type="checkbox">
        <label for="radioBusinessGroup"> Business Group </label>
      </div>
      <div class="has-feedback textboxbusiness" id="filter-business-group">
        <input type="text" class="form-control input-sm pull-right" value="KG">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioLegalEntity" type="checkbox">
        <label for="radioLegalEntity"> Legal Entity </label>
      </div>
      <div class="has-feedback textboxlegalentity" id="filter-legal-entity">
        <input type="text" class="form-control input-sm pull-right" value="RG Legal Entity 1">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioDivision" type="checkbox">
        <label for="radioDivision"> Division </label>
      </div>
      <div class="has-feedback textboxdivision" id="filter-division">
        <input type="text" class="form-control input-sm pull-right" value="KG Manufacturing Division">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radiocategorys" type="checkbox">
        <label for="radiocategorys"> Category </label>
      </div>
      <div class="has-feedback textboxcategory" id="filter-category">
        <input type="text" class="form-control input-sm pull-right" value="KG Category 1">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12 no-margin">
      <div class="checkbox checkbox-primary no-bottom-margin ">
        <input id="radioUnit" type="checkbox">
        <label for="radioUnit"> Unit </label>
      </div>
      <div class="has-feedback textboxunit" id="filter-unit">
        <input type="text" class="form-control input-sm pull-right" value="Branch Office - 1">
        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <div class="checkbox checkbox-primary">
        <input id="radioConsolidated" type="checkbox">
        <label for="radioConsolidated"> Consolidated </label>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <button class="btn btn-primary" id="go">Go</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="/files/client/common/js/charts/html5.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts-3d.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/exporting.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/standalone-framework.js"></script>
<script src="/files/client/common/js/multiselect/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $('#country').multiselect();
    $('#domain').multiselect();	
</script>

<script type="text/javascript">
$(document).ready(function() {
  $("#year-para").hide();
})

$(document).ready(function () {

    $(".textboxdomain").show();
    $(".textboxgroup").hide();
    $(".textboxlegalentity").hide();
    $(".textboxdivision").hide();
    $(".textboxcategory").hide();
    $(".textboxunit").hide();
    $(".textboxbusiness").hide();

    $("#radioGroup").click(function() {
        $(".textboxbusiness").hide();
        $(".textboxlegalentity").hide();
        $(".textboxdivision").hide();
        $(".textboxcategory").hide();
        $(".textboxunit").hide();

        $("#previousyear").show();
        $("#nextyear").show();

        $("#radioGroup").prop("checked", true);
        $("#radioBusinessGroup").prop("checked", false);
        $("#radioLegalEntity").prop("checked", false);
        $("#radioDivision").prop("checked", false);
        $("#radiocategorys").prop("checked", false);
        $("#radioUnit").prop("checked", false);
        $("#radioConsolidate").prop("checked", false);
        $("#radioConsolidated").prop("checked", false);

        loadTrendChart("KG Groups");
    });
    $("#radioBusinessGroup").click(function() {
        $(".textboxbusiness").show();
        $(".textboxlegalentity").hide();
        $(".textboxdivision").hide();
        $(".textboxcategory").hide();
        $(".textboxunit").hide();

        $("#previousyear").show();
        $("#nextyear").show();

        $("#radioGroup").prop("checked", false);
        $("#radioBusinessGroup").prop("checked", true);
        $("#radioLegalEntity").prop("checked", false);
        $("#radioDivision").prop("checked", false);
        $("#radiocategorys").prop("checked", false);
        $("#radioUnit").prop("checked", false);
        $("#radioConsolidate").prop("checked", false);
        $("#radioConsolidated").prop("checked", false);

        loadTrendChartBusinessGroup("KG Groups");
    });
    $("#radioLegalEntity").click(function() {
        $(".textboxbusiness").hide();
        $(".textboxlegalentity").show();
        $(".textboxdivision").hide();
        $(".textboxcategory").hide();
        $(".textboxunit").hide();

        $("#previousyear").show();
        $("#nextyear").show();

        $("#radioGroup").prop("checked", false);
        $("#radioBusinessGroup").prop("checked", false);
        $("#radioLegalEntity").prop("checked", true);
        $("#radioDivision").prop("checked", false);
        $("#radiocategorys").prop("checked", false);
        $("#radioUnit").prop("checked", false);
        $("#radioConsolidate").prop("checked", false);
        $("#radioConsolidated").prop("checked", false);

        loadTrendChartEntity("KG Groups");
    });
    $("#radioDivision").click(function() {
        $(".textboxbusiness").hide();
        $(".textboxlegalentity").hide();
        $(".textboxdivision").show();
        $(".textboxcategory").hide();
        $(".textboxunit").hide();

        $("#previousyear").show();
        $("#nextyear").show();

        $("#radioGroup").prop("checked", false);
        $("#radioBusinessGroup").prop("checked", false);
        $("#radioLegalEntity").prop("checked", false);
        $("#radioDivision").prop("checked", true);
        $("#radiocategorys").prop("checked", false);
        $("#radioUnit").prop("checked", false);
        $("#radioConsolidate").prop("checked", false);
        $("#radioConsolidated").prop("checked", false);

        loadTrendChartDivision("KG Groups");
    });
    $("#radiocategorys").click(function() {
        $(".textboxbusiness").hide();
        $(".textboxlegalentity").hide();
        $(".textboxdivision").hide();
        $(".textboxcategory").show();
        $(".textboxunit").hide();

        $("#previousyear").show();
        $("#nextyear").show();
        
        $("#radioGroup").prop("checked", false);
        $("#radioBusinessGroup").prop("checked", false);
        $("#radioLegalEntity").prop("checked", false);
        $("#radioDivision").prop("checked", false);
        $("#radiocategorys").prop("checked", true);
        $("#radioUnit").prop("checked", false);
        $("#radioConsolidate").prop("checked", false);
        $("#radioConsolidated").prop("checked", false);

        loadTrendChartDivision("KG Groups");
    });
    $("#radioUnit").click(function() {
        $(".textboxgroup").hide();
        $(".textboxlegalentity").hide();
        $(".textboxdivision").hide();
        $(".textboxcategory").hide();
        $(".textboxunit").show();
        $(".textboxbusiness").hide();

        $("#previousyear").show();
        $("#nextyear").show();
        
        $("#radioGroup").prop("checked", false);
        $("#radioBusinessGroup").prop("checked", false);
        $("#radioLegalEntity").prop("checked", false);
        $("#radioDivision").prop("checked", false);
        $("#radiocategorys").prop("checked", false);
        $("#radioUnit").prop("checked", true);
        $("#radioConsolidate").prop("checked", false);
        $("#radioConsolidated").prop("checked", false);

        loadTrendChartUnit("KG Groups");
    });
    $("#radioConsolidated").click(function() {
        $(".textboxgroup").hide();
        $(".textboxlegalentity").hide();
        $(".textboxdivision").hide();
        $(".textboxcategory").hide();
        $(".textboxunit").hide();
        $(".textboxbusiness").hide();

        $("#previousyear").hide();
        $("#nextyear").hide();

        $("#radioGroup").prop("checked", false);
        $("#radioBusinessGroup").prop("checked", false);
        $("#radioLegalEntity").prop("checked", false);
        $("#radioDivision").prop("checked", false);
        $("#radiocategorys").prop("checked", false);
        $("#radioUnit").prop("checked", false);
        $("#radioConsolidate").prop("checked", true);

        loadTrendChartBusinessGroup("KG Groups");
    });
});

$(document).ready(function() {
      loadTrendChart("KG Groups");
      $("#viewaspie").hide();

      $("#previous").click(function() {
             if($("#radio3").is(':checked')){
                 loadTrendChartDivision();
             }else if($("#radio4").is(':checked')){
                 loadTrendChartUnit();
             }else if($("#radio2").is(':checked')){
                 loadTrendChartEntity();
             }
       })

      $("#next").click(function() {
          if($("#radio3").is(':checked')){
                 loadTrendChartDivision();
             }else if($("#radio4").is(':checked')){
                 loadTrendChartUnit();
             }else if($("#radio2").is(':checked')){
                 loadTrendChartEntity();
             }
       })
      $("#viewasbar").hide();
      $("#viewaspie").click(function() {
          
       })

      $("#viewasbar").click(function() {
           
       })

      $("#back").click(function() {
          
       })

      $("#go-le").click(function() {
              loadTrendChartEntity();
       })

      $("#go-d").click(function() {
              loadTrendChartDivision();
       })

      $("#go-u").click(function() {
              loadTrendChartUnit();
       })
      $("#go-bu").click(function() {
              loadTrendChartBusinessGroup();
       })

      /*$("#radio1").click(function() {
              loadTrendChart("KG Groups");
       })

      $("#radio2").click(function() {
              loadTrendChartEntity();
       })

      $("#radio3").click(function() {
              loadTrendChartDivision();
       })

      $("#radio4").click(function() {
              loadTrendChartUnit();
       })

      $("#radio5").click(function() {
              loadTrendChartBusinessGroup();
      })*/


      $('#domainradio').click(function() {
             if( $(".textboxdomain").is(":hidden") ) {
               $(".textboxdomain").show();
               $("#domainradio").prop('checked', true);
             }
             else
             {
               $(".textboxdomain").hide();
               $("#domainradio").prop('checked', false);
             }
             });
      $('#countryradio').click(function() {
          if( $(".textboxcountry").is(":hidden") ) {
            $(".textboxcountry").show();
            $("#countryradio").prop('checked', true);
          }
          else
          {
            $(".textboxcountry").hide();
            $("#countryradio").prop('checked', false);
          }
      });
    
     $(".trend-tab").click(function() {
        $(".trend-tab").addClass("active")
        $(".compliance-tab").removeClass("active")
        $(".ageing-tab").removeClass("active")
        $(".esc-tab").removeClass("active")
        $(".task-status-tab").removeClass("active")
        $(".usecom-tab").removeClass("active")
        $(".graph-box").show();
        $(".grid-table-dash").hide();
        $(".grid-table-dash1").hide();
        $("#level-filter").fadeIn();
        $("#viewaspie").hide();
        $("#viewasbar").hide();
        $("#back").hide(); 
        $("#unit-auto").show();
        // $("#entity-auto").show();
        $("#division-auto").show();
        $("#legal-entity").hide();
        $("#division").hide();
        $("#unit").hide();
        $("#year-para").show();
        loadTrendChart("KG Groups");
      })


      

    });

        function loadTrendChartEntity(title){
          $("#back").hide();
          $("#next").show();
          $("#previous").show();
        $(function () {
        $('#container').highcharts({
           
            title: {
                text: 'Complied (2009 to 2014)'
            },
            xAxis: {
                categories: ['2009', '2010', '2011', '2012', '2013', '2014'
                    ],
                    labels: {
                          useHTML: true,
                          formatter: function() {
                              var name=this.value;
                              if(name == "Jan"){
                                var link = '<a href="#"  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</a>'
                                return link;
                              }else{
                                var link = '<span  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</span>'
                                return link;
                              }
                          }
                      },
                 title: {
                    text: 'Year'
                },
            },
            yAxis: {
                title: {
                    text: 'Compliance (%)'
                },
                labels: {
                    formatter: function () {
                        return this.value + '%';
                    }
                },
                allowDecimals: false
            },
            legend: {
                      reversed: true,
                      itemStyle: {
                          fontWeight:'normal',
                          fontSize:'11px'
                      }
                    },
            tooltip: {
                crosshairs: true,
                shared: true,
                backgroundColor:"#FCFFC5",
               formatter: function() {
                        var s = '<b>'+ this.x +'</b>',
                            sum = 0;

                        $.each(this.points, function(i, point) {
                            total = point.y+240;
                            tasks = (point.y/100)*total;
                            color = point.color;
                            s += '<br/><span style="color:'+color+';"><b>'+ point.series.name +'</b></span>: '+
                                point.y +'% ('+Math.round(tasks)+' out of '+total+')';
                            sum += point.y;
                        });

                        return s;
                    },
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [
            {
                name: 'KG Autoparts',
                marker: {
                    symbol: 'diamond'
                },
                data: [80,81,82,82,84,86]
            },{
                name: 'KG Booking',
                marker: {
                    symbol: 'square'
                },
                data: [81,82,83,84,84,87]

            },{
                name: 'KG Electricals',
                marker: {
                    symbol: 'circle'
                },
                data: [82,82,84,85,86,88]

            },{
                name: 'KG Healthcare',
                marker: {
                    symbol: 'diamond'
                },
                data: [83,84,85,86,87,89]

            },{
                name: 'KG Hospitals',
                marker: {
                    symbol: 'triangle'
                },
                data: [84,85,86,87,88,90]

            },{
                name: 'KG Hotels',
                marker: {
                    symbol: 'circle'
                },
                data: [85, 86, 87, 88, 89, 91]

            },{
                name: 'KG Transports',
                marker: {
                    symbol: 'diamond'
                },
                data: [70, 65, 63, 62, 70, 69]

            },   ]
        });
    });      
    }


      function loadTrendChartUnit(){
          $("#back").hide();
          $("#next").show();
          $("#previous").show();
        $(function () {
        $('#container').highcharts({
        
            title: {
                text: 'Complied (2009 to 2014)'
            },
            xAxis: {
                categories: ['2009', '2010', '2011', '2012', '2013', '2014'],
                    labels: {
                          useHTML: true,
                          formatter: function() {
                              var name=this.value;
                              if(name == "Jan"){
                                var link = '<a href="#"  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</a>'
                                return link;
                              }else{
                                var link = '<span  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</span>'
                                return link;
                              }
                          }
                      },
                 title: {
                    text: 'Year'
                },
            },
            yAxis: {
                title: {
                    text: 'Compliance (%)'
                },
                labels: {
                    formatter: function () {
                        return this.value + '%';
                    }
                },
                allowDecimals: false
            },
            legend: {
                      reversed: true,
                      itemStyle: {
                          fontWeight:'normal',
                          fontSize:'11px'
                      }
                    },
            tooltip: {
                crosshairs: true,
                shared: true,
                backgroundColor:"#FCFFC5",
               formatter: function() {
                        var s = '<b>'+ this.x +'</b>',
                            sum = 0;

                        $.each(this.points, function(i, point) {
                            total = point.y+240;
                            tasks = (point.y/100)*total;
                            color = point.color;
                            s += '<br/><span style="color:'+color+';"><b>'+ point.series.name +'</b></span>: '+
                                point.y +'% ('+Math.round(tasks)+' out of '+total+')';
                            sum += point.y;
                        });

                        return s;
                    },
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [
            {
                name: 'Branch Office - 1',
                marker: {
                    symbol: 'diamond'
                },
                data: [59, 60, 61,62, 64,65]
            },{
                name: 'Branch Office - 2',
                marker: {
                    symbol: 'square'
                },
                data: [61, 61, 62,63, 65,66]

            },{
                name: 'Branch Office - 3',
                marker: {
                    symbol: 'circle'
                },
                data: [62, 64, 65,65, 66,68]

            },{
                name: 'Branch Office - 4',
                marker: {
                    symbol: 'diamond'
                },
                data: [63, 64, 66,67, 67,69]

            },{
                name: 'Branch Office - 5',
                marker: {
                    symbol: 'triangle'
                },
                data: [63, 65, 67, 68, 70, 71]

            },{
                name: 'Branch Office - 6',
                marker: {
                    symbol: 'circle'
                },
                data: [64, 66, 68, 69, 70, 72]

            }, {
                name: 'Branch Office - 7',
                marker: {
                    symbol: 'circle'
                },
                data: [65, 65, 66, 67, 71, 73 ]

            },   ]
        });
    });      
    }


      
     function loadTrendChartDivision(){
          $("#back").hide();
          $("#next").show();
          $("#previous").show();
        $(function () {
        $('#container').highcharts({
         
            title: {
                text: 'Complied (2009 to 2014)'
            },
            xAxis: {
                categories: ['2009', '2010', '2011', '2012', '2013', '2014'
                  ],
                    labels: {
                          useHTML: true,
                          formatter: function() {
                              var name=this.value;
                              if(name == "Jan"){
                                var link = '<a href="#"  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</a>'
                                return link;
                              }else{
                                var link = '<span  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</span>'
                                return link;
                              }
                          }
                      },
                 title: {
                    text: 'Year'
                },
            },
            yAxis: {
                title: {
                    text: 'Compliance (%)'
                },
                labels: {
                    formatter: function () {
                        return this.value + '%';
                    }
                },
                allowDecimals: false
            },
            legend: {
                      reversed: true,
                      itemStyle: {
                          fontWeight:'normal',
                          fontSize:'11px'
                      }
                    },
            tooltip: {
                crosshairs: true,
                shared: true,
                backgroundColor:"#FCFFC5",
                formatter: function() {
                        var s = '<b>'+ this.x +'</b>',
                            sum = 0;

                        $.each(this.points, function(i, point) {
                            total = point.y+240;
                            tasks = (point.y/100)*total;
                            color = point.color;
                            s += '<br/><span style="color:'+color+';"><b>'+ point.series.name +'</b></span>: '+
                                point.y +'% ('+Math.round(tasks)+' out of '+total+')';
                            sum += point.y;
                        });

                        return s;
                    },
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [
            {
                name: 'KG Administration',
                marker: {
                    symbol: 'diamond'
                },
                data: [59, 60, 61,62, 64,65]
            },{
                name: 'KG Development',
                marker: {
                    symbol: 'square'
                },
                data: [61, 61, 62,63, 65,66]

            },{
                name: 'KG HR Unit ',
                marker: {
                    symbol: 'circle'
                },
                data: [62, 64, 65,65, 66,68]

            },{
                name: 'KG Manufacturing',
                marker: {
                    symbol: 'diamond'
                },
                data: [63, 64, 66,67, 67,69]

            },{
                name: 'KG Quality Checking',
                marker: {
                    symbol: 'triangle'
                },
                data: [63, 65, 67, 68, 70, 71]

            },{
                name: 'KG Research',
                marker: {
                    symbol: 'circle'
                },
                data: [64, 66, 68, 69, 70, 72]

            }, {
                name: 'KG Sales',
                marker: {
                    symbol: 'circle'
                },
                data: [65, 65, 66, 67, 71, 73]

            },   ]
        });
    });      
    }


      
     
      
     
        function loadTrendChart(title){
          $("#back").hide();
          $("#next").hide();
          $("#previous").hide();
        $(function () {
        $('#container').highcharts({
            title: {
                text: 'Complied (2009 to 2014)'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['2009', '2010', '2011', '2012', '2013', '2014'
                    ],
                    labels: {
                          useHTML: true,
                          formatter: function() {
                              var name=this.value;
                              if(name == "Jan"){
                                var link = '<a href="#"  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</a>'
                                return link;
                              }else{
                                var link = '<span  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</span>'
                                return link;
                              }
                          }
                      },
                 title: {
                    text: 'Year'
                },
            },
            yAxis: {
                title: {
                    text: 'Compliance (%)'
                },
                labels: {
                    formatter: function () {
                        return this.value + '%';
                    }
                },
                allowDecimals: false
            },
            legend: {
                      reversed: true,
                      itemStyle: {
                          fontWeight:'normal',
                          fontSize:'11px'
                      }
                    },
            tooltip: {
                crosshairs: true,
                shared: true,
                backgroundColor:"#FCFFC5",
                formatter: function() {
                        var s = '<b>'+ this.x +'</b>',
                            sum = 0;

                        $.each(this.points, function(i, point) {
                            total = point.y+240;
                            tasks = (point.y/100)*total;
                            color = point.color;
                            s += '<br/><span style="color:'+color+';"><b>'+ point.series.name +'</b></span>: '+
                                point.y +'% ('+Math.round(tasks)+' out of '+total+')';
                            sum += point.y;
                        });

                        return s;
                    },
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [
            {
                name: 'India',
                marker: {
                    symbol: 'square'
                },
                data: [93, 94, 95,96, 97,98 ]
            },{
                name: 'US',
                marker: {
                    symbol: 'diamond'
                },
                data: [90, 91, 93,93, 95,96 ]
            },{
                name: 'Singapore',
                marker: {
                    symbol: 'square'
                },
                data: [91, 92, 93,94, 95,97]

            }, {
                name: 'Malaysia',
                marker: {
                    symbol: 'circle'
                },
                data: [90, 90, 92,93, 95,96]

            },]
        });
    });      
    }


    




function loadDrillDownData(name){
      $("#viewaspie").hide();
      $("#viewasbar").hide();
      $("#next").hide();
      $("#previous").hide();
      $("#back").show();

      var img_name="";
      var margin_style="";
      if(name == "EntityInprogress"){
        img_name = "/images/dash-list/task-entity-inprogress.png";
        name = "In progress compliances";
      }else if(name == "EntityComplied"){
          img_name = "/images/dash-list/task-entity-complied.png";
          name = "Complied tasks";
          margin_style = "margin-left:3px";
      }else if(name == "Inprogress"){
          img_name = "/images/dash-list/task-group-inprogress.png";
          name = "In progress tasks";
      }else if(name == "Delayed"){
          img_name = "/images/dash-list/task-group-delayed.png";
          name = "Delayed compliance";
      }else if(name == "NotComplied"){
        img_name = "/images/dash-list/task-group-notcomplied.png";
        name = "Not complied";
      }else if(name == "Complied"){
        img_name = "/images/dash-list/task-group-complied.png";
        name = "Complied tasks";
      }else if(name == "unitesc"){
        img_name = "/images/dash-list/escalations-unit-delayed.png";
        name = "Unit wise escalations";
        margin_style="margin-left:200px";
      }else if(name == "divisionesc"){
        img_name = "/images/dash-list/escalations-division-delayed.png";
        name = "Division wise escalations";
        margin_style="margin-left:100px";
      }else if(name == "entityesc"){
        img_name = "/images/dash-list/escalations-entity-delayed.png";
        name = "Legal entity wise escalations";
        margin_style="margin-left:55px";
      }else if(name == "groupesc"){
        img_name = "/images/dash-list/escalations-group-delayed.png";
        name = "Group wise escalations";
      }else if(name == "unitcomp"){
        img_name = "/images/dash-list/complienceopportunity-unit-not.png";
        name = "South gate, Madurai - Applicable compliances";
        margin_style="margin-left:200px";
      }else if(name == "divisioncomp"){
        img_name = "/images/dash-list/complienceopportunity-division-not.png";
        name = "Manufacturing division - Applicable compliances";
        margin_style="margin-left:150px";
      }else if(name == "entitycomp"){
        img_name = "/images/dash-list/complienceopportunity-entity-not.png";
        name = "KG Entity- Applicable compliances";
        margin_style="margin-left:40px";
      }else if(name == "groupcomp"){
        img_name = "/images/dash-list/complienceopportunity-group-not.png";
        name = "KG Groups - Applicable compliances";
      }else if(name == "Jan"){
        if($("#radio1").is(':checked')){
             img_name = "/images/dash-list/drill-group-completed.png";
        }else if($("#radio2").is(':checked')){
              img_name = "/images/dash-list/drill-entity-completed.png";
               margin_style="margin-left:30px";
            }else if($("#radio3").is(':checked')){
              img_name = "/images/dash-list/drill-division-completed.png";
               margin_style="margin-left:120px";
            }else if($("#radio4").is(':checked')){
              img_name = "/images/dash-list/drill-unit-completed.png";
               margin_style="margin-left:140px";
            }
        // img_name = "/images/Company-completed-drill.png";
        name = "";
      }
      var htmlstr = '<div style="'+margin_style+'"><h2 style="margin-left:10px;font-size:20px">'+name+'</h2><br><img src='+img_name+'></div>';
       $(function () {
        $('#container').html(htmlstr);
    });
    }


function loadTrendChartBusinessGroup(title) {
          $("#back").hide();
          $("#next").hide();
          $("#previous").hide();
        $(function () {
        $('#container').highcharts({
           
            title: {
                text: 'Complied (2009 to 2014)'
            },
            xAxis: {
                categories: ['2009', '2010', '2011', '2012', '2013', '2014'
                    ],
                    labels: {
                          useHTML: true,
                          formatter: function() {
                              var name=this.value;
                              if(name == "Jan"){
                                var link = '<a href="#"  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</a>'
                                return link;
                              }else{
                                var link = '<span  id="'+name+'" onclick=loadDrillDownData(this.id) >'+
                                    name +'</span>'
                                return link;
                              }
                          }
                      },
                 title: {
                    text: 'Year'
                },
            },
            yAxis: {
                title: {
                    text: 'Compliance (%)'
                },
                labels: {
                    formatter: function () {
                        return this.value + '%';
                    }
                },
                allowDecimals: false
            },
            legend: {
                      reversed: true,
                      itemStyle: {
                          fontWeight:'normal',
                          fontSize:'11px'
                      }
                    },
            tooltip: {
                crosshairs: true,
                shared: true,
                backgroundColor:"#FCFFC5",
               formatter: function() {
                        var s = '<b>'+ this.x +'</b>',
                            sum = 0;

                        $.each(this.points, function(i, point) {
                            total = point.y+240;
                            tasks = (point.y/100)*total;
                            color = point.color;
                            s += '<br/><span style="color:'+color+';"><b>'+ point.series.name +'</b></span>: '+
                                point.y +'% ('+Math.round(tasks)+' out of '+total+')';
                            sum += point.y;
                        });

                        return s;
                    },
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [
            {
                name: 'KG Business Group 1',
                marker: {
                    symbol: 'square'
                },
                data: [50, 56, 52,53, 61,62]
            },{
                name: 'KG Business Group 2',
                marker: {
                    symbol: 'diamond'
                },
                data: [60, 56, 54,58, 64,66]
            },{
                name: 'KG Business Group 3',
                marker: {
                    symbol: 'square'
                },
                data: [70, 57, 60, 65, 70, 74]

            }  ]
        });
    });      
    }

  </script> 
{% endblock %}