{% extends "files/client/common/html/container.html" %} {% block content %}
<link href="/files/client/common/css/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row" id="animationSandbox">
                <div class="col-sm-2"> </div>
                <div class="col-sm-8">
                    <div class="portlet">
                        <div class="portlet-heading bg-info">
                            <h3 class="portlet-title">User Privileges Master</h3>
                            <div class="portlet-widgets">
                                <a href="#" onclick="location.href='/client-user-privileges/list'">
                                    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="bg-primary1" class="panel-collapse collapse in">
                            <div class="portlet-body p-b-5">
                                <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label" for="example-input-small">User Group Name <span class="mandatory">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control input-sm" placeholder="User Group Name" value="User Group A">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label" for="example-input-small">Category Name <span class="mandatory">*</span></label>
                                            <div class="col-sm-6 controls">
                                                <select class="form-control input-sm" data-placeholder="Choose a Category" tabindex="1" id="category">
                                                    <option value="0"> Select</option>
                                                    <option value="1" selected="selected">View Only</option>
                                                    <option value="2">Legal Entity Admin</option>
                                                    <option value="3">Domain Admin</option>
                                                    <option value="4">Inhouse User</option>
                                                    <option value="5">Service Provider User</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group text-center m-b-0">
                                            <button class="btn btn-primary waves-effect waves-light" type="button"> Show </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="portlet-body p-t-0">
                            <div class="table-responsive">
                                <table id="datatable-responsive" class="table table-striped dt-responsive nowrap vo-view" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </th>
                                            <th>Form Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Dashboard</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Reports</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Legal Entity Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Domain Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Unit Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Service Provider Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>User Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Status Report - Consolidated</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Domain Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Work Flow Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Statutory Settings - Unit Wise</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>My Account</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Settings</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Legal Entity Admin -->
                                <table id="datatable-responsive" class="table table-striped dt-responsive nowrap lea-view" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </th>
                                            <th>Form Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Dashboard</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Masters</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Service Provider</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>User Privileges</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>User Management</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Unit Closure</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Transactions</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Statutory Settings</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Review Settings</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Assign Compliance</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Reassign Compliance</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Completed Task - Current Year</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Compliance Approval</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Reports</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Legal Entity Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Domain Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Unit Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Service Provider Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>User Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Status Report - Consolidated</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Domain Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Work Flow Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Statutory Settings - Unit Wise</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>My Account</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Settings</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Domain Admin -->
                                <table id="datatable-responsive" class="table table-striped dt-responsive nowrap da-view" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </th>
                                            <th>Form Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Dashboard</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Masters</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>User Management</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Transactions</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Statutory Settings</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Review Settings</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Assign Compliance</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Reassign Compliance</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Completed Task - Current Year</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Compliance Approval</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Reports</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Legal Entity Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Domain Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Unit Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Service Provider Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>User Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Status Report - Consolidated</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Domain Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Work Flow Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Statutory Settings - Unit Wise</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Inhouse User -->
                                <table id="datatable-responsive" class="table table-striped dt-responsive nowrap in-view" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </th>
                                            <th>Form Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Dashboard</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Transactions</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Compliance Task Details</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Compliance Approval</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>On Occurrence Compliances</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Reports</b></td>
                                        </tr>
                                        <td>
                                            <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                <input id="checkbox3" type="checkbox">
                                                <label for="checkbox3"></label>
                                            </div>
                                        </td>
                                        <td>User Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Status Report - Consolidated</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Domain Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Work Flow Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Unit List</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Statutory Notification List</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Service Provider -->
                                <table id="datatable-responsive" class="table table-striped dt-responsive nowrap sp-view" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="5%">
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </th>
                                            <th>Form Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Dashboard</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Transactions</b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Compliance Task Details</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Compliance Approval</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox" checked="checked">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>On Occurrence Compliances</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Reports</b></td>
                                        </tr>
                                        <td>
                                            <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                <input id="checkbox3" type="checkbox">
                                                <label for="checkbox3"></label>
                                            </div>
                                        </td>
                                        <td>User Wise Report</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Status Report - Consolidated</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Domain Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Work Flow Score Card</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Unit List</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-10 pull-right">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>Service Provider Details</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <center>
                                <div class="form-group p-t-7 m-b-0">
                                    <button class="btn btn-primary waves-effect waves-light" type="button" id="showtoast"> Submit </button>
                                    <!-- <button class="btn btn-info waves-effect m-l-5" type="reset" onclick="location.href='/client-user-privileges/list'"> Cancel </button> -->
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
</div>
<script>
var resizefunc = [];

$(function() {
    $('.vo-view').show();
    $('.lea-view').hide();
    $('.da-view').hide();
    $('.in-view').hide();
    $('.sp-view').hide();
    $('#category').on('change', function(e) {
        if ($(this).val() == '1') {
            $('.vo-view').show();
            $('.lea-view').hide();
            $('.da-view').hide();
            $('.in-view').hide();
            $('.sp-view').hide();
        } else if ($(this).val() == '2') {
            $('.vo-view').hide();
            $('.lea-view').show();
            $('.da-view').hide();
            $('.in-view').hide();
            $('.sp-view').hide();
        } else if ($(this).val() == '3') {
            $('.vo-view').hide();
            $('.lea-view').hide();
            $('.da-view').show();
            $('.in-view').hide();
            $('.sp-view').hide();
        } else if ($(this).val() == '4') {
            $('.vo-view').hide();
            $('.lea-view').hide();
            $('.da-view').hide();
            $('.in-view').show();
            $('.sp-view').hide();
        } else if ($(this).val() == '5') {
            $('.vo-view').hide();
            $('.lea-view').hide();
            $('.da-view').hide();
            $('.in-view').hide();
            $('.sp-view').show();
        }
    });
});
</script>
<!-- Toastr js -->
<script src="/js/toastr/toastr.js"></script>
<script type="text/javascript">
$(function() {
    $('#showtoast').click(function() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        Command: toastr["error"]("Please select atleast one form.")
    })
});
</script>
{% endblock %}
