*.pyc
*.sublime-workspace
*~
*.txt
*.csv
/Src-server/server/knowledgeformat
/Src-server/server/knowledgeformat
/clientdocuments
/Src-server/server/clientlogo
/exported_reports
/Src-server/processes/daily_process.log