*.pyc
*.sublime-workspace
*~
*.txt
*.csv
*.log
*.xlsx
*.zip
*.pdf
/Know-src-server/logs/
/Know-src-server/processes/*.log
/Know-src-server/server/knowledgeformat/
/Know-src-server/bulkupload/bulkconstants.py
/Know-src-server/server/constants.py
/Know-src-server/server/clientdocuments/
/Know-src-server/server/clientlogo/
/exported_reports/
/Know-src-server/processes/expired/
/knowledgeformat/
/clientdocuments/
/Client-src-server/logs/
*.bat
*.ods
*.2*
*.xml
*.iml
*.gitignore