*.pyc
*.sublime-workspace
*~
*.txt
*.csv
*.log
/Src-server/logs
/Src-server/server/knowledgeformat
/Src-server/server/knowledgeformat
/clientdocuments
/Src-server/server/clientlogo
/exported_reports

