.cal-table {
  width: 100%;
  position: relative;
  margin: 0px !important;
  border-collapse: separate;
  border-radius: 0 0 3px 3px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.cal-caption {
  width: 100%;
  font-weight: normal;
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-radius: 3px 3px 0 0;
  font-size: 13px;
  line-height: 10px;
}
.cal-caption a {
  line-height: 15px;
  padding: 0 5px;
  font-size: 10px;
  font-weight: normal;
  height: 100%;
}
.cal-caption .prev {
  float: left;
}
.cal-caption .next {
  float: right;
}
.cal-body td {
  width: 9%;
  height: 38px;
  font-size: 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: center;
  /*background: #F5F5F5;*/
  vertical-align: top;
}
.cal-body th {
  height: 30px;
  font-size: 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: middle;
  font-weight: bold !important;
  padding: 0 2px;
  text-align: center;
  color: #fff;
}
.cal-body a {
  display: block;
  position: relative;
  line-height: 28px;
  color: #555;
  text-align: center;
  background: white;
  height: 100%;
}
.cal-off {
  background: #fff !important;
}
.count-round {
    border-radius: 25px;
    float: left;
    margin-left: 2px;
    text-align: center;
    vertical-align: middle;
    height: 12px;
    width: 12px;
    background: #F5F5F5;
}
.date {
    color: #555;
    padding: 2px 4px 2px 0px;
    text-align:right !important;
    /*background-color: #F5F5F5;*/
    margin-bottom: 3px;
}
.upcomming-tab {
    background-color: #3498DB;
}
.upcomming {
	background: #87ceeb;
    color: #666;
    cursor: pointer;
}
.due-date {
    background-color: #c69ee2;
    color: #666;
    cursor: pointer;
}
.inprogress {
    background-color: #FFE34E;
    color: #666;
    cursor: pointer;
}
.over-due {
    background-color: #ff4644;
    color: #666;
    cursor: pointer;
}
.empty-space {
	color: #fff;
	border:none;
}