.c-pointer {
    cursor: pointer;
}

.icon-3x i {
    font-size: 17px;
}

.text-blue {
    color: #4a99ff !important;
}

.text-orange {
    color: #e66400 !important;
}

.no-padding {
    padding: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.v-align-top {
    vertical-align: top !important;
}

.v-align-middle {
    vertical-align: middle !important;
}

.p-7-px {
    padding: 7px !important;
}

.p-5-px {
    padding: 5px !important;
}

.p-b-12 {
    padding-bottom: 12px !important;
}

.width-20 {
    width: 20% !important;
}

.width-30 {
    width: 30% !important;
}

.width-31 {
    width: 31% !important;
}

.width-32 {
    width: 32% !important;
}

.width-33 {
    width: 33% !important;
}

.width-34 {
    width: 34% !important;
}

.width-40 {
    width: 40% !important;
}

.width-50 {
    width: 50% !important;
}

.width-60 {
    width: 60% !important;
}

.width-80 {
    width: 80% !important;
}

.width-90px {
    width: 90px !important;
    text-align: center !important;
}

.multiselect-parent .dropdown-toggle {
    width: 400px;
}

.multiselect-parent .dropdown-menu {
    width: 300px;
}

.no-margin {
    margin: 0px !important;
}

.auto-margin {
    margin: auto !important;
}

.no-top-margin {
    margin-top: 0px !important;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

.no-border td {
    border: 0px !important;
}

.in-line {
    display: inline;
}

.no-bottom-border {
    border-bottom: 0px !important;
}

.top-border {
    border-top: 1px solid #e0e0e0 !important;
}

.border-0 {
    border: 0px !important;
}

.border-1 {
    border: 1px solid #e0e0e0 !important;
}

.height-250 {
    max-height: 300px;
    overflow-y: auto;
}

.height-400 {
    height: 400px !important;
    overflow-y: auto;
}

.table-list>tbody>tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.table-list>tbody>tr:nth-of-type(odd):hover {
    background-color: #fff !important;
}

.table-list>tbody>tr:nth-of-type(even) {
    background-color: #fff !important;
}

.table-list>tbody>tr:nth-of-type(even):hover {
    background-color: #fff !important;
}

.table-list tr td {
    border: 1px solid #EDEDED;
}

.table-list tr th {
    border: 1px solid #EDEDED;
}

.table-list tr td ul {
    /*height: 10em !important;*/
    overflow-y: auto;
}

.table-list tr td ul.h10 {
    height: 10em !important;
    overflow-y: auto;
}

.table-list tr td ul li {
    padding: 2px 1px;
}

.table-list tr td ul li:hover {
    -moz-transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    cursor: pointer;
}

.table-list tr td ul li i {
    padding: 2px 1px;
}

.table-list tr td ul li.active {
    background-color: #f1e9f6 !important;
    border-bottom: 1px solid #cccccc !important;
}

.table-list tr td ul li.active:hover {
    -moz-transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    cursor: pointer;
}

.mandatory {
    color: #E64C3D !important;
}

.clear {
    clear: both;
}

.tree,
.tree ul {
    padding: 0;
    list-style: none;
    position: relative;
}

.tree:before,
.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
}

.tree li:last-child::before {
    background: none repeat scroll 0 0;
    bottom: 0;
    height: auto;
    top: 1em;
}

.tree li {
    margin: 0;
    padding: 0 0.7em;
    /* indentation + .5em */
    line-height: 2em;
    /* default list item's `line-height` */
    position: relative;
}

.tree li:before {
    content: "";
    display: block;
    width: 10px;
    /* same with indentation */
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    /* border top width */
    position: absolute;
    top: 1em;
    /* (line-height/2) */
    left: 0;
}

.tree li:last-child:before {
    background: white;
    /* same with body background */
    height: auto;
}

.table_bg_01 {
    background-color: #cccccc !important;
}

.table_bg_01 td {
    color: #000;
}

.smallfont {
    border-bottom: 1px solid #fff !important;
}

.smallfont td {
    background: #f9f9f9;
    font-weight: normal !important;
}

.smallfont td:first-child {
    padding-left: 10px;
}

.tree-new {
    list-style: none;
    padding: 0px;
}

.smallfont-new {
    border-bottom: 1px solid #fff !important;
}

.smallfont-new td {
    background: #f9f9f9;
    font-weight: normal !important;
    height: 30px;
}

.smallfont-new td:first-child {
    padding-left: 15px !important;
    width: 20px !important;
    background: url("/images/tree_icon.png") no-repeat 0.2% center;
}

.rpt-count {
    font-size: 13px;
    padding-top: 10px;
    padding-left: 5px;
    border-top: 1px dashed #ccc;
}

.new_row {
    color: #4556c1 !important;
}

.new_row input {
    color: #4556c1 !important;
}

.new_row .CaptionCont {
    color: #4556c1 !important;
}

.new_row .ms-choice {
    color: #4556c1 !important;
}

.new_row textarea {
    color: #4556c1 !important;
}

.new_row td {
    color: #4556c1 !important;
}

.new_row span {
    color: #4556c1 !important;
}

.rejected_row {
    color: #e96154 !important;
}

.rejected_row input {
    color: #e96154 !important;
}

.rejected_row .CaptionCont {
    color: #e96154 !important;
}

.rejected_row .ms-choice {
    color: #e96154 !important;
}

.rejected_row textarea {
    color: #e96154 !important;
}

.rejected_row td {
    color: #e96154 !important;
}

.rejected_row span {
    color: #e96154 !important;
}

.box-height-250 {
    height: 250px;
}

- .box-height-350 {
    height: 350px;
}

.box-height-150 {
    height: 150px;
}

.box-height-170 {
    height: 170px;
}

.box-height-190 {
    height: 190px;
}

.box-height-100 {
    height: 100px;
}

.box-height-80 {
    height: 80px;
}

.box-height-50 {
    height: 50px;
}

.list-unstyled {
    padding-top: 8px;
}

.nav-mapping>.active>a {
    background: #ddd !important;
}

.nav-mapping>.active>a:hover {
    background: #dedede !important;
}

.scroll_box {
    overflow: auto;
    width: 100%;
}

.sub_title_td>th {
    padding: 4px !important;
    font-size: 12px !important;
}

.page_font_size_13 {
    font-size: 13px !important;
}

.dashboard-home h4 {
    margin-top: 150px;
}

.hide-row {
    display: none;
}

.h4-title span {
    font-weight: normal;
    font-size: 14px;
}

.p-t-7 {
    padding-top: 7px;
}


/* Top header bar */

.toplogobar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1010;
    background-color: #fff;
    font-size: 12px;
    height: 42px;
    line-height: 42px;
    margin-bottom: 1px;
}

.toplogobar-logo {
    width: 152px;
    padding-left: 20px;
}

.toplogobar-actions {
    float: right;
}


/*theme setting */

#theme-setting {
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
    height: 42px;
    z-index: 1000;
    background: #333;
}

#theme-setting>a {
    background: #ccc none repeat scroll 0 0;
    color: #999;
    display: inline-block;
    padding: 0px 10px;
    vertical-align: top;
}

#theme-setting>a>i {
    vertical-align: middle;
}

#theme-setting>a:hover {
    color: #555;
    text-decoration: none;
}

#theme-setting ul {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

#theme-setting>ul {
    display: none;
    margin-left: -3px;
    padding: 10px;
}

#theme-setting>ul>li {
    overflow: hidden;
    padding: 4px 0;
    width: 208px;
    line-height: 20px;
}

#theme-setting>ul>li>span {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    width: 70px;
}

#theme-setting>ul>li>a {
    color: #000;
    display: inline-block;
    font-size: 15px;
    margin-top: 5px;
}

#theme-setting>ul>li>a.hidden-inline-xs {
    margin-left: 15px;
}

#theme-setting>ul>li>a:hover {
    text-decoration: none;
}

#theme-setting ul.colors>li {
    display: inline-block;
    padding: 0 2px;
}

#theme-setting ul.colors a {
    border-radius: 100%;
    display: inline-block;
    height: 20px;
    opacity: 1;
    width: 20px;
}

#theme-setting ul.colors li.active a,
#theme-setting ul.colors li.active a:hover,
#theme-setting ul.colors a:hover {
    opacity: 1;
}

#theme-setting ul.colors a.blue {
    background-color: #58b1fc;
}

#theme-setting ul.colors a.red {
    background-color: #ff6f6f;
}

#theme-setting ul.colors a.green {
    background-color: #47cf74;
}

#theme-setting ul.colors a.orange {
    background-color: #ffaf51;
}

#theme-setting ul.colors a.yellow {
    background-color: #f3d240;
}

#theme-setting ul.colors a.pink {
    background-color: #f359a8;
}

#theme-setting ul.colors a.magenta {
    background-color: #c48aff;
}

#theme-setting ul.colors a.gray {
    background-color: #ababab;
}

#theme-setting ul.colors a.black {
    background-color: #373b41;
}

.closewidget {
    color: #fff;
    float: right;
    font-size: 20px;
    line-height: 15px;
    margin-right: 5px;
    padding-top: 5px;
    margin-left: 5px;
}

.maxmin {
    color: #fff;
    float: right;
    font-size: 20px;
    line-height: 15px;
    margin-right: 10px;
    padding-top: 10px;
}

.dragdrophandles {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.dragdrophandles li div h2 {
    cursor: move;
}

li.highlight {
    background: #FEE25F;
}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}

.rpt-logo {
    width: 100px;
    height: auto;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    white-space: nowrap;
    width: 100%;
}

.dropdown-submenu>li>a {
    white-space: nowrap;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.f-l {
    float: left;
}

.simple-tabs>li {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.calendar-tab.active-tab {
    background-color: #EEEEEE !important;
}

.expand_nprogress {
    cursor: pointer;
}

.borderless td,
.borderless th {
    border: none !important;
}

.expand_inprogress {
    cursor: pointer;
}

.inprogress_bg {
    background-color: #D9EDF7;
}

.notify-list table tr {
    cursor: pointer;
}

.min-table {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
}

.min-table tr {
    margin: 0px;
    height: 10%;
}

.min-table tr th {
    font-size: 11px;
    /*text-transform: uppercase;*/
    height: 30px;
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    padding-left: 2px;
    background-color: #7CB5EC;
    color: #fff;
}

.min-table tr td {
    font-size: 11px;
    font-weight: normal;
    color: #5C5C5C;
    height: 30px;
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    padding-left: 3px;
    /*background-color: #FAFAFA;*/
}

.min-table tr td.font-bold {
    font-size: 10px;
    font-weight: bold;
    color: #212121;
}

.highcharts-data-labels text {
    font-weight: normal !important;
}

.chart-arrow {
    width: 3%;
}

.chart-arrow a {
    color: #ccc !important;
}

.chart-arrow a:hover {
    color: #999 !important;
}

.btn-primary {
    min-width: 70px;
}

.btn-info {
    min-width: 70px;
}

.btn-success {
    min-width: 70px;
}

.no-border {
    border: none !important;
    border: 0 !important;
}

.form-group .fa {
    color: #797979;
}

.top-lightborder {
    border-top: 1px solid #dcdcdc;
}

.table .zmdi {
    color: #797979 !important;
}

.table .fa {
    color: #797979;
}

.text-bold {
    font-weight: 600 !important;
}

.tab-checkbox {
    float: left;
    width: 25px;
}

.sort {
    margin-top: 3px;
    cursor: pointer;
    width: 15px;
    text-align: center;
    color: #BFBFBF !important;
    font-size: 14px;
}

.sort.active {
    color: #F0F0F0 !important;
}

.box-width-100 {
    width: 100px;
}

.box-width-400 {
    width: 400px;
}

.box-width-600 {
    width: 600px;
}

.box-width-700 {
    width: 700px;
}

.wizard .disabled {
    display: none;
}

.panel-resizable {
    resize: vertical;
    overflow: auto
}

.themes-settings {
    margin: 0px auto;
    padding-left: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.themes-settings:hover {
    background-color: #FFFFCC;
    border: 1px solid #555555;
}

.theme-active {
    background-color: #FFFFCC !important;
    border: 1px solid #99996B !important;
    cursor: default;
}

.active_widgets {
    /*color: #ccc !important;*/
    opacity: 0.6;
}

.custombox-modal-contentscale {
    margin: 0 auto !important;
    width: 100%;
}


/*.noti-dot {
    position: absolute;
    top: 7px;
    left: 14px;
    color: #000;
    background: #fff;
    padding: 0px 6px;
    border-radius: 1em;
    font-size: 11px;
    line-height: 19px;
    z-index: 0;
}

.pulse-single {
    background-color: #e96154;
    border: 3px solid #e96154;
    border-radius: 30px;
    height: 2px;
    position: absolute;
    right: 3px;
    width: 2px;
    z-index: 10;
    left: -1px;
    top: 0px;
}

.dot-single {
    animation: 3s ease-out 0s normal none infinite running pulse;
    border: 4px solid #F23927;
    border-radius: 15px;
    height: 30px;
    position: absolute;
    top: -12px;
    left: -13px;
    width: 30px;
    z-index: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

@keyframes pulse {
    from {
        transform: scale(.3);
        border-radius: 100%;
        border: 3px solid #F23927;
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
        border: 1px solid transparent;
    }
    to {
        border: 1px solid transparent;
    }
}*/


/*notification dot*/

.notify-icon-container {
    position: absolute;
    left: 13px;
    top: 0px;
}

@keyframes pulse-long {
    100% {
        box-shadow: inset 0 0 0 2px red;
        -moz-box-shadow: inset 0 0 0 2px red;
        -webkit-box-shadow: inset 0 0 0 2px red;
        height: 30px;
        width: 30px;
        left: -10px;
        opacity: 0;
        /*border: 1px solid transparent;*/
        border: 0px none;
    }
}

.btnPulse.inactive.throb::before {
    animation: 2000ms ease 0s normal none infinite pulse-long;
    box-shadow: 0 0 0 0 red inset;
    display: block;
    height: 100%;
    left: 3px;
    margin: 0 auto;
    right: 0;
    top: 50%;
    transform: translate3d(-3px, -50%, 0px);
    width: 100%;
}

.dropdown-menu {
    margin: -1px !important;
    border: 0 none !important;
}

.btnPulse.inactive::before {
    border-radius: 100%;
    bottom: -5px;
    box-shadow: 0 0 0 1px red inset;
    content: "";
    display: block;
    height: 30px;
    left: -10px;
    margin: 0 auto;
    position: absolute;
    right: -5px;
    top: -5px;
    transition: all 300ms ease-in-out 0s;
    width: 30px;
}

.btnPulse.inactive.throb::after {
    animation: 2500ms ease 300ms normal none infinite pulse-short;
    /*border-radius: 100%;*/
    bottom: -5px;
    box-shadow: 0 0 0 0 red inset;
    content: "";
    display: block;
    height: 30px;
    left: -9px;
    margin: 0 auto;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate3d(-2px, -50%, 0px);
    transition: all 300ms ease-in-out 0s;
    width: 30px;
}

.btnPulse.inactive {
    background: red none repeat scroll 0 0;
    border: medium none;
    border-radius: 100%;
    height: 5px;
    outline: medium none;
    padding: 0;
    position: relative;
    width: 5px;
    overflow: visible;
}

.btnPulse {
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    padding: 0;
    transition: all 300ms ease-in-out 0s;
    width: 15px;
}

.not-btn {
    -moz-user-select: none;
    background-image: none;
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 0px none;
}

.pins {
    color: #fff;
    float: right;
    font-size: 14px;
    line-height: 15px;
    padding-top: 10px;
}

.btn-group .dropdown-toggle {
    text-align: left;
}

.input-group-btn .btn-primary {
    min-width: 30px;
}

.input-group-btn .btn-info {
    min-width: 30px;
}

.btn-success i {
    vertical-align: top;
}

button.btn-success {
    text-align: center !important;
}

.tab-sub-heaer {
    padding: 8px;
    background-color: #73C4E9;
    color: #fff;
}


/*.table-striped td {
    vertical-align: middle !important;
}
*/

.box-width-800 {
    width: 800px !important;
}

.legal-panel .panel-heading {
    padding: 5px 10px;
}

.legal-table {
    border: none;
}

.legal-table tr td {
    font-weight: bold;
}

.legal-table tr td:hover {
    -moz-transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    cursor: pointer;
    background: #2EAFDB;
    color: #fff;
}

.legal-table tr td {
    color: #797979;
    padding: 10px 10px !important;
}

.legal-table tr td {
    border-left: none !important;
    border-right: none !important;
}

.legal-table tr td:last-child {
    border-bottom: none !important;
}

.fa-legal-filter {
    color: #BBBBBB !important;
}

#template {
    display: none;
}

#templates {
    display: none;
}

.custombox-modal {
    width: 100%;
}

.default-display-none {
    display: none;
}

.ac-textbox li {
    list-style-type: none;
    line-height: 25px;
}

.ac-textbox ul {
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #DDDDDD;
    line-height: 30px;
    list-style: outside none none;
    max-height: 200px;
    overflow-y: scroll;
    padding-left: 0px;
    position: absolute;
    width: 94%;
    z-index: 999;
}

.ac-textbox ul li {
    /*font-size: 0.8em;*/
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: center;
    cursor: pointer;
}

.ac-textbox ul li:hover {
    background: #EAE8E8;
}


/* Autocomplete selectbox Style */

.applicable-count {
    cursor: pointer;
}

.table-review-settings td {
    vertical-align: top !important;
}

.text-middle {
    vertical-align: middle;
}

.tr-level1 .heading {
    background-color: #ffffff !important;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-shadow: none;
    color: #435966;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
    line-height: 27px;
}

.div-compliance-list .panel-title {
    color: #797979;
    background-color: #eeeeee;
    border: medium none !important;
    border-bottom: medium none;
    font-weight: 700;
    font-size: 14px;
}

.panel-title td {
    background-color: #eeeeee
}

.escalation-status-text {
    background: #ccc;
    color: #343434;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 14px;
}

.table>thead>tr>th {
    /*background-color: #47a1ef;*/
    border-bottom: 2px solid #e0e0e0;
    /*    color: #f7f9fa !important;
*/
    vertical-align: middle;
}

.compliance_count_assignee {
    clear: both;
}

h2.chart-title: hover {
    text-decoration: underline;
}

.l-h-30 {
    line-height: 30px;
}

.total-usc-assignee,
.total-usc-concur,
.total-usc-approve,
.total-role,
.dsc-total-assigned,
.dsc-total-unassigned,
.dsc-total-notopted,
.dsc-grandtotal,
.dsc-total-text,
.total-usc-role {
    font-weight: bold !important;
}

.cal-label-div {
    display: inline-block;
    margin-right: 10px;
}

.cal-label-duedate {
    background: #c69ee2;
    height: 12px;
    width: 12px;
    border-radius: 25px;
    float: left;
    margin-right: 5px
}

.cal-label-inprogress {
    background: #f0f468;
    height: 12px;
    width: 12px;
    border-radius: 25px;
    float: left;
    margin-right: 5px
}

.cal-label-overdue {
    background: #f32d2b;
    height: 12px;
    width: 12px;
    border-radius: 25px;
    float: left;
    margin-right: 5px
}

.cal-label-upcoming {
    background: #87ceeb;
    height: 12px;
    width: 12px;
    border-radius: 25px;
    float: left;
    margin-right: 5px
}

.f-s-10 {
    font-size: 10px;
}

.auto-selected {
    background: #EAE8E8;
}

.asc {
    color: #F0F0F0 !important;
}

.desc {
    color: #F0F0F0 !important;
}

.task-current-year-tab {
    border: medium none;
    padding: 0 !important;
}

.btn-back i,
.btn-bar-chart i,
.btn-pie-chart i {
    vertical-align: middle;
    !important;
}

.btn-back,
.btn-bar-chart,
.btn-pie-chart {
    padding-top: 6px !important;
    padding-bottom: 7px !important;
}

.table-not-complied-status {
    border: 1px solid #ededed;
}

.table-compliance-status {
    border: 1px solid #ededed;
}

@media only screen and (max-width:991px) {
    .mob-p-r-0 {
        padding-right: 0
    }
    .mob-p-b-15 {
        padding-bottom: 15px
    }
    .dropdown-menu {
        right: 0;
        left: auto;
        height: 115px;
        overflow-y: auto
    }
    .navbar-right .dropdown-menu {
        height: auto;
        overflow: visible
    }
    .card-box {
        padding-bottom: 8em
    }
}

.table-compliance-status {
    border: 1px solid #ededed;
}

#ui-datepicker-div {
    z-index: 100 !important;
}

.accordian-past-records {
    margin-top: 15px;
}

.uploaded-filename .removeicon {
    padding-left: 10px;
    cursor: pointer;
}

.uploaded-filename span {
    display: inline-table;
    line-height: 25px;
    margin-bottom: 3px !important;
    text-indent: 5px;
    /*width: 85%;*/
}

.active1 {
    background: #D9EDF7 none repeat scroll 0 0 !important;
}

.full-width-list {
    vertical-align: top;
}

.btn-group ul li {
    cursor: pointer;
}

.bg-grey {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.pw-hint span {
    z-index: 10;
    font-size: 12px;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 300px;
    line-height: 16px;
    border-radius: 4px;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
    float: left
}

.pw-hint input {
    float: left
}

.pw-callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px
}

.resetpwd-page .cardbox {
    max-width: 600px !important;
}

.satcheck input[type="checkbox"] {
    margin-left: -24px !important;
    height: 17px;
    width: 25px;
}

.assigncheck input[type="checkbox"] {
    margin-left: -27px !important;
    height: 17px;
    width: 25px;
}

.table>thead>tr>th {
    vertical-align: top !important;
}

.reviewcheck input[type="checkbox"] {
    margin-left: -21px !important;
    width: 18px;
    height: 16px;
}

.multi-um label.checkbox {
    padding-left: 40px !important;
}

.loading-indicator-spin {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 100%;
    background-color: #36404a;
    opacity: .8;
    transition-duration: .5s;
    z-index: 10001
}

.loading-indicator-spin span {
    width: 100%;
    position: fixed;
    top: 40%;
    left: 0;
    text-align: center
}

.loading-indicator-spin i {
    width: auto;
    opacity: 100%
}

.cur-none {
    cursor: default !important;
}

.remove-file i {
    cursor: pointer;
}

.not-complied-count span {
    color: red;
}


/*.completedtask input[type="checkbox"] {
    margin-left: -43px !important;
}*/

.btn-default i {
    font-family: 'FontAwesome';
}

.new_assigne_center {
    margin: 0 auto;
    width: 50%;
}

.new_assigne_1 {
    width: 100%;
    padding: 1em;
}

.new_assigne_2 {
    width: 100%;
}

.new_assigne_scroll {
    max-height: 140px;
}

.reassign3 input[type="checkbox"] {
    height: 18px;
    margin-left: -24px;
    width: 18px;
}

.ctcy-chkbox input[type="checkbox"] {
    height: 16px;
    width: 16px;
    margin-top: 0px !important;
}


/*.ui-corner-all .ui-widget-shadow .ui-widget .ui-widget-content*/

.ui-tooltip {
    display: none !important;
}

.multiselect-search {
    height: 28px !important;
}

.multiselect-filter .btn {
    padding: 4px 12px !important;
}

.remark-black,
.remark-black > textarea {
    color: #333 !important;
}

.ui-resizable {
    min-width: 300px;
    min-height: 250px;
}

.report-total-row {
    color: #000;
}

.text-center {
    text-align: center !important;
}

.table-fixed thead {
    background: #fff
}


@media only screen and (max-width:800px){
    .nav > li > a{
        padding: 0 8px !important;
    }
}

.multiselect-container > li > a > label > input[type="checkbox"]{
    margin-top: 2px;
}

.dropdown-submenu > ul.dropdown-menu {
    border-radius: 10px 0 10px 10px;
    left: -198px;
    width: 200px !important;
}

#search-status{
    font-family: "Arimo",sans-serif;
}

.fa.fa-check.text-success{
    font-family: fontawesome !important;
}

.fa.fa-times.text-danger {
    font-family: fontawesome !important;
}

.tooltip-inner{
    max-width: 500px !important;
    word-wrap: break-all;
    white-space: normal;
    text-align: left;
}

/*table {
    table-layout: fixed;
}*/

table td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
}


.compliance-description-name abbr[data-original-title], abbr[title] {
    border: none !important;    
    border-bottom: none !important;    
   text-decoration: none !important;
   cursor: default !important;
}