{% extends "files/desktop/knowledge/home/container.html" %}
{% block content %}
    <div class="content-container width80" id="user-view">
      <div class="content-area">
        <h1>Users</h1>
        <div class="filters-and-search">
          <div class="btn-add btn-user-add">Add</div>
        </div>
        <div class="clearfix"></div>
        <div class="grid-table">

          <table>
            <tr>
              <th width="3%">#</th>
              <th align="left" width="15%">Employee</th>
              <th align="left" width="15%">User ID</th>
              <th align="left" width="15%">Email ID</th>
              <th align="left" width="15%">Category Name</th>
              <th align="center" width="6%">Registration Email</th>
              <th align="center" width="5%">Edit</th>
              <th align="center" width="8%">Status</th>
              <th align="center" width="6%">Disable</th>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
                <input type="text"  id="search-employee-name" class="filter-text-box">
              </td>
              <td>
                <input type="text"  id="search-user-id" class="filter-text-box">
              </td>
              <td>
                <input type="text"  id="search-email-id" class="filter-text-box">
              </td>
              <td>
                <input type="text"  id="search-category-name" class="filter-text-box">
              </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <select class="msdropdown" style="width:85px;">
                  <option value="All">All</option>
                  <option value="Active" data-image="/knowledge/images/icon-active.png">Active</option>
                  <option value="Deactive" data-image="/knowledge/images/icon-inactive.png" name="cd">Inactive</option>
                </select>
              </td>
              <td>&nbsp;</td>
            </tr>
            <tbody class="tbody-user-list">
            </tbody>
          </table>
        </div>
      </div>
    </div>
<div id="templates">
<table class="table-user-master">
  <tr class="table-row">
    <td class="sno" align="center"></td>
    <td class="employee-name"></td>
    <td class="username"></td>
    <td class="email-id"></td>
    <td class="cat-name"></td>
    <td class="registration-email"></td>
    <td align="center">
      <span class="edit-icon" style="width: 16px; height: 16px; display:block"> </span>
    </td>
    <td align="center">
      <span class="status" style="width: 16px; height: 16px; display:block"> </span>
    </td>
    <td align="center">
      <span class="disable" style="width: 16px; height: 16px; display:block"> </span>
    </td>
  </tr>
</table>
</div>
    <div class="content-container width85 default-display-none" id="user-add">
      <div class="content-area">
        <div class="add-container">
          <div class="add-container-heading">Users<span class="error-message"></span></div>
          <div class="input-row-left">
            <div class="input-row">
              <div class="field-label">Category Name:<span class="mandatory">*</span></div>
              <div class="field-input">
              <select class="input-box" id="usercatval">
                <option>Select</option>
              </select>
                <input type="hidden" id="cateid" value="">
              </div>
            </div>
            <div class="input-row">
              <div class="field-label">Employee Name:<span class="mandatory">*</span></div>
              <div class="field-input">
                <input type="text" maxlength="50" id="employeename" class="input-box fieldvalue" tabindex="1" autofocus="autofocus">
                <input type="hidden" id="userid" value="">
              </div>
            </div>
            <div class="input-row">
              <div class="field-label">Employee ID:<span class="mandatory">*</span></div>
              <div class="field-input"><input type="text" maxlength="50" id="employeeid" class="input-box fieldvalue" tabindex="2"></div>
            </div>
            <div class="input-row">
              <div class="field-label">Address:</div>
              <div class="field-input"><textarea class="input-box fieldvalue" id="address" style="height:70px;" tabindex="3" maxlength="250"></textarea></div>
            </div>

          </div>
          <div class="input-row-right">

            <div class="input-row" style="padding-bottom:0px;">
              <div class="field-label">Email ID:<span class="mandatory">*</span></div>
              <div class="field-input"><input type="text" maxlength="100" id="emailid" class="input-box fieldvalue" placeholder="Email ID" tabindex="4">

              <span id="view_emailid" style="default-display-none"> </span>
            </div>
          </div>
          <div class="input-row" style="padding-bottom:0px;">
            <div class="field-label">&nbsp;</div>
            <div class="field-input">
              <span style="font-size:10px;">[&#9658;We will use this email ID to contact you about your account.]</span>
            </div>
          </div>
          <div class="input-row" style="padding-bottom:0px;">
            <div class="field-label">Contact No.:</div>
            <div class="field-input">
            <input id="countrycode" type="text" maxlength="3"  class="input-box countrycode fieldvalue" value="+91" tabindex="5" >
            <input id="areacode" type="text" maxlength="5"  class="input-box areacode fieldvalue" tabindex="6" >
            <input id="contactno" type="text" maxlength="10"  class="input-box mobile fieldvalue" tabindex="7">
            </div>
          </div>

          <div class="input-row" style="padding-bottom:0px;">
            <div class="field-label">&nbsp;</div>
            <div class="field-input">
              <span style="font-size:10px;">[+91 452 1234567]</span>
            </div>
          </div>
          <div class="input-row">
            <div class="field-label">Mobile No.:<span class="mandatory">*</span></div>
            <div class="field-input">
            <input id="mcountrycode" type="text" class="input-box countrycode fieldvalue" value="+91" >
            <input id="mobileno" type="text" class="input-box mobile fieldvalue" value="9876543210"
            maxlength="10"
            style="width: 63% !important"></div>
          </div>
          <div class="input-row">
            <div class="field-label">User Group:<span class="mandatory">*</span></div>
            <div class="field-input">
              <input type="text" class="input-box icon-autocomplete fieldvalue" id="usergroupval" tabindex="8">
              <input id="usergroup" type="hidden" >
              <div id="ac-usergroup" class="ac-textbox default-display-none">
              <ul style="width:85%;"></ul>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Designation:</div>
          <div class="field-input"><input type="text" maxlength="50" id="designation" class="input-box fieldvalue" tabindex="9"></div>
        </div>

      </div>
      <h2>Settings</h2>
      <div class="input-row-left">
        <div class="input-row" >
          <div class="field-label">Countries:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete fieldvalue" id="countryselected" readonly="readonly" tabindex="10">
            <div id="selectboxview-country" class="ac-selectbox" style="display:none;">
            <ul id="ulist-country" class="hideselect" style="width:85%;"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="input-row-right">

      <div class="input-row" >
        <div class="field-label">Domain:<span class="mandatory">*</span></div>
        <div class="field-input">
          <input type="text" class="input-box icon-autocomplete fieldvalue" id="domainselected" readonly="readonly" tabindex="11">
          <div id="selectboxview" class="ac-selectbox" style="display:none;">
          <ul id="ulist" class="hideselect" style="width:85%;"></ul>
        </div>
      </div>
    </div>
  </div>

  <div class="submit-button-container" style="text-align:left;">
  </div>
  <div class="submit-button-container">
    <input type="reset" name="cancel" value="Cancel" class="btn-cancel btn-user-cancel">&nbsp;&nbsp;
    <input type="submit" name="submit" value="Submit" class="btn-submit" id="submit" tabindex="12">
  </div>
</div>
</div>

</div>
<script type="text/javascript" src="/script/user-master/usermaster.js"></script>
{% endblock %}

