{% extends "files/client/common/html/container.html" %} {% block content %}
<link href="/files/client/common/css/dashboard.css" rel="stylesheet" type="text/css" />
<link href="/files/client/common/css/calender-min.css" rel="stylesheet" type="text/css" />
<!-- <link href="/files/client/common/css/resize/jquery-ui.css" rel="stylesheet" type="text/css"> -->
<script type="text/javascript">
$(function() {
    $(".left-menu-button").show();
    $(".content-page").removeClass('m-l-0');
});
</script>
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Widgets List</li>
               <!--  <li class="has_sub active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item1"><i class="zmdi zmdi-chart"></i> <span> Compliance Status </span> </a> </li>
                <li class="has_sub active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item2"><i class="zmdi zmdi-chart"></i> <span> Escalation </span> </a> </li>
                <li class="has_sub active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item3"><i class="zmdi zmdi-chart"></i> <span> Not Complied </span> </a> </li>
                <li class="has_sub active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item4"><i class="zmdi zmdi-chart"></i> <span> Trend Chart </span> </a> </li>
                <li class="has_sub active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item5"><i class="zmdi zmdi-chart"></i> <span> Compliance Applicability </span> </a> </li>
                <li class="has_sub active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item6"><i class="zmdi zmdi-chart"></i> <span> Risk Chart </span> </a> </li>
                <li class="has_sub active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item7"><i class="zmdi zmdi-layers"></i> <span> User Scorecard</span> </a> </li>
                <li class="has_sub active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item8"><i class="zmdi zmdi-layers"></i> <span>Domain Scorecard</span> </a> </li>
                {% if user != "viewOnlyAdmin" %}
                <li class="has_sub active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item9"><i class="zmdi zmdi-calendar"></i> <span> Calendar view </span> </a> </li>
                {% endif %} -->
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="content-page">
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Widgets</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="dragdrophandles">
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
</div>
</div>

<div id="templates">
    <div class="ul-sidebarmenu">
        <ul>
        <li class="has_sub menu_widgets active_widgets"> <a href="#" class="waves-effect toggleWidget" data-target="#item1"><i class="zmdi"></i> <span>  </span> </a> </li>
        </ul>
    </div>
    <div class="chart-card-box">
        <li class="column col-xs-12 col-sm-6 col-lg-4 resizable">
            <div class="dragbox" id="item1">
                <h2>
                    <a class="chart-title">Compliance Status Graph</a> 
                    <a href="#" class="closewidget"><i class="zmdi zmdi-close"></i></a> 
                    <a href="#" class="pins"><i class="ti-pin2" title="pin"></i></a> 
                    <a href="#" class="maxmin"><i class="zmdi zmdi-window-minimize"></i></a> 
                </h2>
                <div class="dragbox-content">
                    <div id="" style="width:100%; height:100%; margin: 0 auto"></div>
                </div>
            </div>
        </li>
    </div>
    <div class="user-score-card-templates">
        <table class="table min-table highlight" cellspacing="0">
            <thead>
                <tr>
                    <th width="40%">Role</th>
                    <th class="text-center" width="20%">Assignee</th>
                    <th class="text-center" width="20%">Concur</th>
                    <th class="text-center" width="20%">Approve</th>
                </tr>
            </thead>
            <tbody class="tbody-usc">
            </tbody>
        </table>
        <tr class="usc-tr"> 
            <td class="usc-role"></td>
            <td class="text-center usc-assignee"></td>
            <td class="text-center usc-concur"></td>
            <td class="text-center usc-approve"></td>
        </tr>            
    </div>
    <div class="domain-score-card-templates">
        <select class="form-control input-sm m-b-5" style="">
        </select>
         <table class="table min-table highlight" cellspacing="0">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th class="text-center">Assigned</th>
                    <th class="text-center">Unassigned</th>
                    <th class="text-center">Not&nbsp;Opted</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody class="tbody-dsc">
            </tbody>
        </table>
        <tr class="dsc-tr">
            <td class="dsc-domain"></td>
            <td class="text-center dsc-assigned"></td>
            <td class="text-center dsc-unassigned"></td>
            <td class="text-center dsc-notopted"></td>
            <td class="text-center font-bold dsc-subtotal"></td>
        </tr>
         <tr class="dsc-total">
            <td ></td>
            <td class="text-center dsc-total-assigned"></td>
            <td class="text-center dsc-total-unassigned"></td>
            <td class="text-center dsc-total-notopted"></td>
            <td class="text-center font-bold dsc-grandtotal"></td>
        </tr>

    </div>
</div>
<script type="text/javascript" src="/files/client/common/js/charts/html5.js"></script> 
<script type="text/javascript" src="/files/client/common/js/charts/highcharts.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts-3d.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/exporting.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/standalone-framework.js"></script>
<script src="/files/client/common/js/multiselect/bootstrap-multiselect.js"></script>
<script src="/files/client/common/js/sortable/jquery.sortable.js"></script>
<!-- <script src="/files/client/common/js/resize/jquery-ui.js"></script> -->
<script type="text/javascript" src="/files/client/widgets/widgets.js"></script>

<style type="text/css">
.highcharts-legend-item text {
    width: 200px !important!;
    color: red !important!;
}
</style>
<script type="text/javascript">
$('#country').multiselect();
$('#domain').multiselect();

$(function() {
    $('.resizable').resizable({
        autoHide: true,
        resize: function() {
            chartCompliance.setSize(
                this.offsetWidth - 40,
                this.offsetHeight - 50,
                false
            );
        }

    });
    $('.resizableesc').resizable({
        autoHide: true,
        resize: function() {
            chartEscalation.setSize(
                this.offsetWidth - 40,
                this.offsetHeight - 50,
                false
            );
        }
    });
    $('.resizablenotcomp').resizable({
        autoHide: true,
        resize: function() {
            chartNotComplied.setSize(
                this.offsetWidth - 40,
                this.offsetHeight - 50,
                false
            );
        }
    });
    $('.resizablecompappli').resizable({
        autoHide: true,
        resize: function() {
            chartComplianceApplicability.setSize(
                this.offsetWidth - 40,
                this.offsetHeight - 50,
                false
            );
        }
    });
    $('.resizabletrendchart').resizable({
        autoHide: true,
        resize: function() {
            chartTrendChart.setSize(
                this.offsetWidth - 40,
                this.offsetHeight - 50,
                false
            );
        }
    });
    $('.resizablerisk').resizable({
        autoHide: true,
        resize: function() {
            chartRiskchart.setSize(
                this.offsetWidth - 40,
                this.offsetHeight - 50,
                false
            );
        }
    });


});
$('.toggleWidget').click(function(e) {
    e.preventDefault();
    console.log($(this).data('target'));
    $($(this).data('target')).css({
        "display": "block"
    });
    if ($(this).parent().hasClass("active_widgets") == false)
        $(this).parent().addClass('active_widgets');
});
$('.closewidget').click(function(e) {
    e.preventDefault();
    var item = $(this).parent().parent();
    var list = "#" + item.attr('id');
    item.css({
        "display": "none"
    });

    $(".has_sub").each(function(index) {
        if ($(this).find('a').attr('data-target') === list) {
            if ($(this).hasClass("active_widgets") == true)
                $(this).removeClass('active_widgets');
        }
    });
});
$(function() {
    $('a.maxmin').click(function() {
        $(this).parent().siblings('.dragbox-content').toggle();
    });

    $('a.delete').click(
        function() {
            var sel = confirm('do you want to delete the widget?');
            if (sel) {
                //del code here
            }
        }
    );

});
$('.dragdrophandles').sortable({
    handle: 'h2'
});
</script>
{% endblock %}
