{% extends "files/client/common/html/container.html" %}
{% block content %}
<link href="/css/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/jquery-ui.css">
<div class="content-page">
<div class="content">
<div class="container">
    <div class="row" id="animationSandbox">
        <div class="col-sm-12">
            <div class="portlet">
                <div class="portlet-heading bg-info">
                    <h3 class="portlet-title">Service Provider Details</h3>
                    <div class="portlet-widgets">
                        <!-- <a href="#" onclick="location.href='/service-provider/list'">
                            <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                        </a> -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- <h4 class="page-title">Service Provider Details</h4> -->
               <!--  <hr class="no-top-margin"> -->
               <div id="bg-primary1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Service Provider: </label>
                            <div class="col-sm-6 has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Enter Service Provider"
                                id="service-provider" tabindex="1">
                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                <input type="hidden" id="service-provider-id" value="" tabindex="1">
                                <div id="ac-service-provider" class="ac-textbox default-display-none">
                                    <ul class="hidemenu"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">User: </label>
                            <div class="col-sm-6 has-feedback">
                                <input type="text" class="form-control input-sm" id="user" placeholder="Enter User" tabindex="2">
                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                 <input type="hidden" id="user-id" value="">
                                 <div id="ac-user" class="ac-textbox default-display-none">
                                    <ul class="hidemenu"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status:</label>
                            <div class="col-sm-6">
                                <select class="form-control input-sm" id="sp-status" tabindex="3">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <center>
                            <div class="form-group m-b-0">
                                <button class="btn btn-primary waves-effect waves-light" type="button" id="show-button" tabindex="4"> Show </button>

                            </div>
                        </center>
                    </div>
                    <div class="clear"></div>
                </form>
                </div>
                </div>
                </div>

                <div id="compliance_animation">
                <div id="report-view" style="display: none;">
                <div class="card-box">
                <div class="table-responsive">
                    <div class="col-sm-12">
                        <div class="col-sm-12 text-center"><img class="rpt-logo m-t-0 client-logo"></div>
                        <div class="col-sm-12 text-center"><h4>Service Provider Details</h4></div>
                    </div>
                    <div class="clear"></div>
                     <div class="table-responsive">
                    <table id="datatable-responsive" class="table dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="01%">#</th>
                                <th width="15%">Service Provider</th>
                                <th width="08%">No. of Units</th>
                                <th width="10%">Contact Number</th>
                                <th width="13%">Email ID</th>
                                <th width="15%">Address</th>
                                <th width="10%">Contract Period</th>
                                <th width="08%">Status</th>
                                <th width="08%">Date</th>
                            </tr>
                        </thead>
                        <tbody id="report-table-tbody">

                        </tbody>
                    </table>
                    </div>

                    <table class="pagination-view default-display-none">
                      <tr>
                        <td>
                          <span class="compliance_count"> </span>
                          <span class="divider-view"> | </span>
                          <span class="items-per-page">
                          Show
                          <select id="items_per_page">
                          </select>
                          entries
                          </span>
                        </td>
                        <td style="width:600px;"></td>
                        <td style="text-align:right;padding-right:10px;">
                          <ul id="pagination-rpt"></ul>
                        </td>
                      </tr>
                    </table>
                </div>
            </div>
            </div>
            </div>
        </div>
        <!-- end col -->
    </div>
</div>
</div>
</div>
<div id="template">
    <table id="report-table">
        <tr class="row-three">
            <td class="sno"></td>
            <td class="sp-name"></td>
            <td class="unit-count"></td>
            <td class="contact-no"></td>
            <td class="email-id"></td>
            <td class="address"></td>
            <td class="contract-period"></td>
            <td class="status"></a></td>
            <td class="action-date"></td>
        </tr>
        <tr class="row-four" style="display: none;">
            <td>&nbsp;</td>
            <td colspan="100%">
                <ul class="tree">
                    <li>
                        <table width="100%">
                            <tbody>
                                <tr class="smallfont">
                                    <td width="13%" class="user-name-new"></td>
                                    <td width="13%"></td>
                                    <td width="14%" class="contact-no-new"></td>
                                    <td width="16%" class="email-id-new"></td>
                                    <td width="16%"></td>
                                    <td width="12%" class="addr-new"></td>
                                    <td width="8%" class="status-new"></td>
                                    <td width="10%" class="action-date-new">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
<div id="no-record-templates" class="default-display-none">
    <table class="table-no-content">
        <tr align="left" class="table-row-no-content">
            <td  align="center" colspan="10" class="no_records" style="padding:40px; font-size:1.2em; font-weight:bold">

            </td>
        </tr>
    </table>
</div>
{% endblock %}
{% block contentscript %}
    <script src="/script/service-provider-details/service_provider_details.js"></script>
{% endblock %}