<!DOCTYPE html>
<html>
<head>
  <title>Compfie</title>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  {% include "/files/desktop/knowledge/home/jsfiles.html" %}
  {% include "/files/desktop/knowledge/home/header.html" %}

</head>
<body>
  <div id="wrapper">
    <div class="main-content-area">
        {% include "/files/desktop/knowledge/home/nav-bar.html" %}
      <div class="content-container">
        <div class="content-area">
          <!-- <div class="welcome-msg"></div> -->
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="push"></div>
  </div>
  {% include "/files/desktop/knowledge/home/footer.html" %}
</body>

</html>