<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  {% include "/files/desktop/knowledge/home/header.html" %}
  <link rel="stylesheet" type="text/css" href="/files/desktop/common/css/home.css">
  <script type="text/javascript" src="/files/desktop/common/js/home.js"></script>
</head>
<body>
  <div id="wrapper">
    {% include "/files/desktop/knowledge/home/nav-bar.html" %}
    <div class="main-content-area">
      <div class="content-container">
        <div class="content-area">
          <!-- <div class="welcome-msg"></div> -->
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% include "/files/desktop/knowledge/home/footer.html" %}
</body>
</html>