{% extends "files/client/common/html/container.html" %} {% block content %}
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row" id="animationSandbox">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="portlet">
                        <div class="portlet-heading bg-info">
                            <h3 class="portlet-title">Work Flow Score Card</h3>
                            <div class="portlet-widgets"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="bg-primary1" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Country: <span class="mandatory">*</span></label>
                                            <p class="form-control-static filter-country-name default-display-none col-sm-6"></p>
                                            <div class="col-sm-6 has-feedback default-display-none">
                                                <input type="text" class="form-control input-sm" id="country" placeholder="Enter Country" tabindex="1">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="country-id" value="">
                                                <div id="ac-country" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Legal Entity: <span class="mandatory">*</span></label>
                                            <p class="form-control-static filter-legal-entity-name default-display-none col-sm-6"></p>
                                            <div class="col-sm-6 has-feedback default-display-none">
                                                <input type="text" class="form-control input-sm" id="legal-entity" placeholder="Enter Legal Entity"  tabindex="2">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="legal-entity-id" value="">
                                                <div id="ac-legal-entity" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Domain: <span class="mandatory">*</span></label>
                                            <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="domain" placeholder="Enter Domain"  tabindex="3">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="domain-id" value="">
                                                <div id="ac-domain" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <center>
                                            <div class="form-group m-b-0">
                                                <button class="btn btn-primary waves-effect waves-light" id="show-button" type="button"  tabindex="4"> Show </button>
                                            </div>
                                        </center>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="compliance_animation">
                        <div id="report-view" style="display: none;">
                            <div class="card-box">
                                <div class="table-responsive">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12 text-center"><img class="rpt-logo" id="client-logo"></div>
                                        <div class="col-sm-12 text-center">
                                            <h4>Work Flow Score Card</h4></div>
                                        <div class="col-sm-4 text-center">
                                            <h6>Legal Entity : <span id="legal-entity-name"></span></h6></div>
                                        <div class="col-sm-4 text-center">
                                            <h6>Country : <span id="country-name" ></span></h6></div>
                                        <div class="col-sm-4 text-center">
                                            <h6>Domain : <span id="domain-name" ></span></h6></div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="table-responsive">
                                    <table id="datatable-responsive" class="table dt-responsive nowrap m-b-0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="01%">#</th>
                                                <th width="10%">Task Status</th>
                                                <th width="10%" class="text-center">Assignee</th>
                                                <th width="10%" class="text-center">Concur</th>
                                                <th width="10%" class="text-center">Approver</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a class="c-pointer completed-unit-view">Completed</a></td>
                                                <td class="text-center completed-assignee-count"></td>
                                                <td class="text-center completed-concur-count"></td>
                                                <td class="text-center completed-approver-count"></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><a class="c-pointer inprogress-unit-view">In progress within due date</a></td>
                                                <td class="text-center inprogress-assignee-count"></td>
                                                <td class="text-center inprogress-concur-count"></td>
                                                <td class="text-center inprogress-approver-count"></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td><a class="c-pointer overdue-unit-view">In progress over due</a></td>
                                                <td class="text-center overdue-assignee-count"></td>
                                                <td class="text-center overdue-concur-count"></td>
                                                <td class="text-center overdue-approver-count"></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td class="font-bold">Total</td>
                                                <td class="text-center total-assignee-count"></td>
                                                <td class="text-center total-concur-count"></td>
                                                <td class="text-center total-approver-count"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>

                                    <div id="task-details" style="display: none;">
                                        <div class="clear"></div>
                                        <br>
                                        <div class="col-sm-12">
                                            <h6 class="task-name"></h6>
                                        </div>
                                        <table id="datatable-responsive" class="table table-list dt-responsive nowrap m-b-0" cellspacing="0" width="100%">
                                            <thead>
                                                <tr class="bg-lightdark">
                                                    <th width="15%">Unit</th>
                                                    <th width="10%" class="text-center title-submit">You Submitted</th>
                                                    <th width="10%" class="text-center title-concur">You Concurred</th>
                                                    <th width="10%" class="text-center title-approve">You Approved</th>
                                                </tr>
                                            </thead>
                                            <tbody id="report-table-tbody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="template">
    <table id="report-table">
        <tr class="report-row">
            <td class="task-row-title"></td>
            <td class="text-center submit"></td>
            <td class="text-center concur"></td>
            <td class="text-center approve"></td>
        </tr>
        <tr class="report-total-row">
            <td class="font-bold">Total</td>
            <td class="text-center font-bold submit-total"></td>
            <td class="text-center font-bold concur-total"></td>
            <td class="text-center font-bold approve-total"></td>
        </tr>
    </table>
</div>
{% endblock %} 
{% block contentscript %}
<script src="/script/work-flow-score-card/work_flow_score_card.js"></script>
{% endblock %}