{% extends "files/knowledge/common/html/container.html" %} {% block content %}
  <style type="text/css">
    .progress {
  height: 35px !important;

}
.progress .skill {
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  }
  .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
  .invaliddata{
    display: none;
  }
  .download-file{
      border-radius: 2px;
      padding: 5px 12px;
    }
    .download-file:hover{
      border: 1px solid rgba(70, 103, 204, 0.1) !important;
      background-color: rgba(70, 103, 204, 0.15) !important;
      color: #4667cc !important;
      border-radius: 2px;
      padding: 5px 12px;
    }


@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  </style>

    
   <div class="content-page">
<div class="content">


<!-- Multiselect -->
<link href="/files/knowledge/common/css/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

<!-- Notification css (Toastr) -->
<link href="/files/knowledge/common/css/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<div class="container">
  <div class="row">
<div class="container">
  <div class="row" id="animationSandbox">
    <div class="col-sm-3"> </div>
    <div class="col-sm-6">
      <div class="portlet">
          <div class="portlet-heading bg-info">
            <h3 class="portlet-title">
                Statutory Mapping Bulk Upload
            </h3>
            <div class="portlet-widgets">
                <a href="#" onclick="location.href='/StatutoryMapping-BulkUpload_List'" >
                    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="bg-primary1" class="panel-collapse collapse in">
        <div class="portlet-body">
        <form class="form-horizontal group-border-dashed" action="#" novalidate="">
        <div style="border:1px solid #F5F5F5" class="col-sm-12">
              <div class="form-group bg-muted">
                  <div class="col-sm-12">
                      <h4 class="header-title">Upload Bulk Statutory Mapping</h4>
                  </div>
              </div>
              <div class="form-group m-b-0">
                <label class="col-sm-4 control-label">Country:</label>
                <div class="col-sm-6 has-feedback ">
                <p class="form-control-static">India</p>
                </div>
              </div>
              <div class="form-group m-b-0">
                 <label class="col-sm-4 control-label">Domain:</label>
                <div class="col-sm-6 has-feedback ">
                  <p class="form-control-static">Labour Law</p>
                </div>
              </div>
              
              <div class="form-group has-feedback ">
                  <label class="col-sm-4 control-label">Uploaded CSV: </label>
                   <div class="col-sm-6">
                      <table class="tablenopadd" width="100%">
                        <tbody>
                          <tr class="bg-lightdark border-1">
                              <td width="60%" class="p-5-px">Ind-LL-Maternity Act1990.csv </td>
                              <td width="10%" class="p-5-px">
                                  <i class="fa fa-search fa-1-2x c-pointer" data-toggle="tooltip" title="View Document"></i>
                              </td>
                              <td width="10%" class="p-5-px">
                                  <i class="fa fa-download fa-1-2x c-pointer" data-toggle="tooltip" title="Download Document"></i>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div> 
                <div class="form-group has-feedback">
                  <label class="col-sm-4 control-label">Select Documents: </label>
                   <div class="col-sm-6">
                      <input class="form-control input-sm" type="file">
                      <ul class="p-l-20 p-t-5">
                        <li>Total No. Of Documents: <b>100</b> </li>
                        <li class="view-summary">Uploaded Documents: <b> 90 </b> </li>
                        <li class="text-danger view-summary">Remaining Documents: <b> 10</b></li>
                      </ul>
                  </div>
                </div>


                <!--  <div class="col-sm-4 invaliddata no-padding">
                  <button class="btn btn-info waves-effect waves-light " type="button">Download Invalid Data
                  </button>
                  <button class="btn btn-info" data-toggle="confirmation-custom" data-title="Download item ?" data-original-title="" title="">Download Invalid Data</button>
                </div> -->
              
                <div class="form-group col-sm-12 ">
                <!-- <label class="col-sm-4 control-label">Download Invalid Data:</label> -->
                <div class="col-sm-12 text-center">
                <button class="btn btn-primary waves-effect waves-light btn_upload animateprogress1" type="button" data-toggle="modal" data-target="#myModal1"> Upload</button>
                <!-- <button class="btn btn-primary waves-effect waves-light animateprogress" type="button" id="showtoast"> Submit</button> -->
                </div>
              </div>
              <div class="clear"></div>
                   <!-- <div class="view-summary" style="display: none;">
                    <div class="col-sm-12 no-padding">
                      <div class="form-group bg-muted">
                       <h5 class="col-sm-12 header-title">Uploaded Documents Summary</h5>
                     </div>
                     <ul class="p-l-20">
                      <li>Total No. Of Documents: <b>100</b> </li>
                      <li>Uploaded Documents: <b> 90 </b> </li>
                      <li class="text-danger">Remaining Documents: <b> 10</b></li>
                    </ul>
                    
                  </div>
                  <div class="col-sm-6 text-danger no-padding">
                    <div class="form-group bg-muted">
                     <h5 class="col-sm-12 text-danger header-title">Invalid Data Summary</h5>
                   </div>
                   <ul class="p-l-20">
                    <li>Mandatory field validation: <b>10</b> </li>
                    <li>Duplicate Compliance validation: <b>20</b> </li>
                    <li>Status validation: <b>30</b> </li>
                    <li>Frequency Section validation: <b>30</b> </li>
                    <li>Max. length validation: <b>10</b> </li>
                  </ul>
                </div>
              </div> -->
              <!-- <div class="form-group col-sm-12 text-right p-t-0">
                <a href="/files/knowledge/format/Statutory_Mapping.csv" class="text-primary c-pointer download-file" title="Click here to download"><i class="fa fa-download text-primary"></i> Format File</a>
              </div> -->
            </div>

          <div class="clear"></div>
      </form>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>

<script src="/files/knowledge/common/js/multiselect/bootstrap-multiselect.js"></script>
<!-- <script type="text/javascript">
    $('#countries').multiselect();
    $('#domains').multiselect();  
</script> -->
<script type="text/javascript">
    $(document).ready(function() {
        $('.example-multiple-optgroups').multiselect({
            buttonWidth: '100%',
            enableClickableOptGroups: true /*,
            enableCollapsibleOptGroups: true*/
        });
        $('.example-multiple').multiselect({
            buttonWidth: '100%'
        });
    });
</script>


<!-- Toastr js -->
<script src="/files/knowledge/common/js/toastr/toastr.min.js"></script>
  
<script type="text/javascript">
    $(function () {
        $('#showtoast').click(function () {
            
        Command: toastr["error"]("Please upload remaining documents and submit.")

        toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-top-center",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
    })
    $('#showtoast_success').click(function () {
        
        Command: toastr["success"]("Record was saved successfully!", "Success")

        toastr.options = {
          "closeButton": false,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-top-center",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
    })
});
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Upload</h4>
        </div>
        <div class="modal-body">
           <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Uploading <i class="val">100%</i></span>
                </div>
            </div>
        </div>
      <!--   <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>
<!-- Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Upload</h4>
        </div>
        <div class="modal-body">
           <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Uploading <i class="val">100%</i></span>
                </div>
            </div>
        </div>
      <!--   <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>

<script src="/files/knowledge/common/js/custombox/custombox.min.js"></script>
<!-- Toastr js -->
<script src="/files/knowledge/common/js/toastr/toastr.min.js"></script>
  


  
<script type="text/javascript">

    var theme_name = "";
    if(window.localStorage['theme_name'])
        theme_name = window.localStorage['theme_name'];
    else
        theme_name = "one";
    
    if(theme_name == "two") {
        $('#themes_value').attr('href','css/theme_two.css');
    } else if(theme_name == "three") {
        $('#themes_value').attr('href','css/theme_three.css');
    } else if(theme_name == "four") {
        $('#themes_value').attr('href','css/theme_four.css');
    } else if(theme_name == "five") {
        $('#themes_value').attr('href','css/theme_five.css');
    } else if(theme_name == "six") {
        $('#themes_value').attr('href','css/theme_six.css');
    } else {
        $('#themes_value').attr('href','css/theme_one.css');
    }

    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }

    $('.thememodalbox').click(function() {
        Custombox.open({
            target: '#theme-modal',
            /*overlayClose: false,
            escKey:false,*/
            effect:'slit',
            overlaySpeed:100,
            overlayColor:'#36404a'
        });
        e.preventDefault();
    });
    $('.legal-table tr').click(function() {
        //location.href='/home';
        location.reload();
    });


</script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.view-summary').show();
    $(".animateprogress").click(function() {
    //   $('.invaliddata').hide();
    //   $('.view-summary').hide();
    //   $('.btn_upload').show();
    //   setTimeout(function(){
    // $('#myModal').modal('hide');
      $('.invaliddata').show();
      $('.view-summary').show();
      $('.btn_upload').hide();
      // }, 2000);
    });
    $(".animateprogress1").click(function() {
      $('.invaliddata').hide();
      $('.view-summary').show();
      $('.btn_upload').show();
      setTimeout(function(){
    $('#myModal1').modal('hide');
      $('.invaliddata').hide();
      $('.view-summary').show();
      $('.btn_upload').show();
      location.href='/StatutoryMapping-BulkUpload_List';
      }, 2000);
    });
    $(".upload-btn").click(function() {
      $('.field_input').hide();
      $('.field_label').show();
      $('.upload-btn').hide();
      $('.select_docs').show();
      $('.btn_upload').show();
      $('.animateprogress').show();
    });
  });
  </script>
  



  
<script src="/files/knowledge/common/js/jquery.core.js"></script>
<script src="/files/knowledge/common/js/jquery.app.js"></script>
  </div>
  </div>
  </div>
{% endblock %}