{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<style type="text/css">
  .input-row, .single-column-input-row {
    float: left;
    padding-bottom: 0.58em;
    width: 100%;
  }
  #navbar {
    width:auto;
  } 

  #navbar #holder {
    height:auto;
    border-bottom:0px solid #000;
    width:auto;  
    font-size:12px;
    padding-left:5px; 
  } 

  #navbar #holder ul { 
    list-style:none;
    margin:0;
    padding:0; 
    font-size:12px;
  } 

  #navbar #holder ul li a { 
    text-decoration:none;
    float:left;
    color:#5E5E5E;
    font-size:12px;
    border:0px solid #000;
    border-bottom:none;
    padding:10px;
    width:auto;
    text-align:center;
    display:block;
    background:#CCCCCC;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px; 
  } 

  #navbar #holder ul li a:hover {
    background:#A0A2A3;
    color:#000;
    font-size:12px;
  } 

  #navbar #holder ul li a.onlink {
    background:#A0A2A3;
    color:#000;
    font-size:12px;
  } 

  #navbar #holder ul li a.onlink:hover {
    background:#A0A2A3;
    color:#000;
    font-size:12px;
  }
  .tasks{
    height:auto;
    overflow: auto;
  }

  .onlink{
    background:#A0A2A3;
    color:#000;
    font-size:12px;
  }

  .paddingleft20{
    padding-left:40px;
  }

  .clearfix:after {
    clear: both;
    content: "";
    display: table;
  }
  .wizard > .content
  {
   min-height: 508px;
 }
 .wizard > .steps > ul > li {
  width: 33.33% !important;
}
.form-container-grid-table-sm table tr td ul {
  height: 465px;
  overflow-y: scroll;
  width: 100%;
}
.form-container-grid-table  table tr td ul {
  height: 405px;
  overflow-y: scroll;
  width: 100%;
}
.modal td
{
  font-size: 0.813em;
  border: 1px solid #ddd;
  padding: 5px;
}
.input-box 
{
  margin-bottom: 2px;
}
</style>
<script type="text/javascript">
  $(document).ready(function(){
   $('.closetrigger').hide();
 })
  $(function() {
   $('.edittrigger').click(function(){    
    $('.edittriggertextbox').show();
    $('.edittrigger').hide();
    $('.closetrigger').show();
  });
   $('.closetrigger').click(function(){    
    $('.edittriggertextbox').hide();
    $('.edittrigger').show();
    $('.closetrigger').hide();
  });
 });
</script>

<script src="/files/desktop/common/js/wizard/jquery.steps.js"></script>
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/wizard/jquery.steps.css">
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/tooltip/tipso.css">
<script src="/files/desktop/common/js/tooltip/tipso.js"></script>
<div class="content-container width75">
  <div class="content-area">
    <h1>Past Records - Year 2015</h1>
    <div class="add-container">
      <div class="form-container-outer">
        <div id="example-basic">
          <h3>Select Unit</h3>
          <section>
            <div class="form-container-grid-table-sm">
              <table style="border:1px solid #ccc; margin-bottom:5px;">

                <tr align="left">
                  <th width="16%">Country<span class="mandatory">*</span></th>
                  <th width="21%">Business Group<span class="mandatory">*</span> </th>
                  <th width="21%">Legal Entity<span class="mandatory">*</span> </th>
                  <th width="21%">Division<span class="mandatory">*</span></th>
                  <th width="21%">Unit<span class="mandatory">*</span></th>
                </tr>
                <tr>
                  <td><ul>
                    <li>
                      <input type="text" class="filter-text-box">
                    </li>
                    <li>Australia</li>
                    <li>Bangladesh</li>
                    <li class="active">India</li>
                    <li>Malaysia</li>
                    <li>Sri Lanka</li>
                    <li>Singapore</li>
                  </ul></td>

                  <td><ul>
                    <li>
                      <input type="text" class="filter-text-box">
                    </li>
                    <li>VRM Motors Group 1</li>
                    <li class="active">VRM Motorparts Group 2</li>
                    <li>VRM  Construction</li>
                  </a>
                </ul></td>
                <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li>VRM & Co.,</li>
                  <li>VRM & Brothers</li>
                  <li class="active">VRM & Sons</li>
                </ul></td>

                <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li class="active">VRM Auto Parts - Manufacturing</li>
                  <li>VRM Auto Pvt Ltd</li>
                  <li>VRM Pvt Ltd</li>
                  <li>VRM Fastners</li>
                  <li>VRM Automobile Solutions Limited</li>
                </ul></td>
                <td><ul>
                  <li>
                    <input type="text" class="filter-text-box">
                  </li>
                  <li style="background-color:gray;padding:2px;font-size:13px;color:white;">Factory</li>
                  <li><abbr class="page-load tipso_style" title="871, South street, Delhi, 110012 "><img src="/images/icon-info.png" style="margin-right:10px">VRM1001 - Corporate Office</li>
                  <li><abbr class="page-load tipso_style" title="18, Main road, Simla, 171007"><img src="/images/icon-info.png" style="margin-right:10px">VRM1002 - Regional Office - North</li>
                  <li><abbr class="page-load tipso_style" title="16, North Street, Mambalam, Chennai, 600005"><img src="/images/icon-info.png" style="margin-right:10px">VRM1003 - Regional Office - South</li>
                  <li><abbr class="page-load tipso_style" title="85, First Floor, Hani Complex, Bangalore, 560001"><img src="/images/icon-info.png" style="margin-right:10px">VRM1004 - Branch Office - Bangalore</li>
                  <li class="active"><abbr class="page-load tipso_style" title="KK nagar, Chennai, 600006"><img src="/images/icon-info.png" style="margin-right:10px">VRM1005 - Branch Office - Madurai</li>
                  <li ><abbr class="page-load tipso_style" title="28,Ramnagar, Delhi, 110052"><img src="/images/icon-info.png" style="margin-right:10px">VRM1006 - Branch Office - Delhi</li>
                  <li style="background-color:gray;padding:2px;font-size:13px;color:white;">Office</li>
                  <li><abbr class="page-load tipso_style" title="28 West Street, Hydrabad, 500009"><img src="/images/icon-info.png" style="margin-right:10px">VRM1007 - Branch Office - Hydrabad</li>
                  <li><abbr class="page-load tipso_style" title="12 RJ Complex, Main road, T.Nagar, Chennai, 600002"><img src="/images/icon-info.png" style="margin-right:10px">VRM1008 - Branch Office - Chennai</li>
                </ul></td>
                
              </tr>
            </table>
          </div>
        </section>
        <!-- -->
        <h3>Select Domain</h3>
        <section>  <div class="form-container-grid-table-sm">
          <table style="border:1px solid #ccc; margin-bottom:5px;">

            <tr align="left">
              <th width="33%">Domain<span class="mandatory">*</span></th>              
              <th width="33%">Act</th>
              <th width="33%">Frequency</th>
            </tr>
            <tr>
              <td><ul>
                <li>
                  <input type="text" class="filter-text-box">
                </li>
                <li>Finance Law</li>

                <li class="active">Industrial Law</li>
                <li>Labour Law</li>

              </ul></td>

            
            <td><ul>
              <li>
                <input type="text" class="filter-text-box">
              </li>
              <li>Gratuity Act, 1972</li>
              <li>Batteries Act</li>
              <li>Industrial Disputes (Central) Rules, 1957</li>
              <li>Indian Partnership Act, 1932</li>

            </ul></td>           
            <td><ul>
              <li>
                <input type="text" class="filter-text-box">
              </li>
              <li>One Time</li>
              <li>Periodical</li>
              <li>Review</li>
              <li>On Occurence</li>
            </ul></td>             
          </tr>
        </table>
      </div>
    </section>
    <h3>Compliances</h3>
    <section>
      <div class="grid-table">
        <table cellpadding="0" cellspacing="0" width="100%" class="managetask" style="font-size: 0.813em;">
          <tr align="left">
            <td width="18%"  ><span style="font-weight:bold;">Compliance Tasks</span><span class="mandatory">*</span></td>
            <td width="8%" ><span style="font-weight:bold;">Compliance Frequency</span></td>
            <td width="15%"colspan="4" ><span style="font-weight:bold;" >Statutory Date</span></td>
            <td width="12%" ><span style="font-weight:bold;">Assignee</span><span class="mandatory">*</span></td>
            <td width="12%" ><span style="font-weight:bold;">Due Date</span><span class="mandatory">*</span></td>
            <td width="13%" ><span style="font-weight:bold;">Completion Date</span><span class="mandatory">*</span></td>
            <td width="12%"  ><span style="font-weight:bold;">Validity Date</span><span class="mandatory">*</span></td>
            <td width="12%" ><span style="font-weight:bold;">Document Upload</span></td>                  </tr>
            <tr><td colspan="11" style="padding:0em;"><span class="heading" style="margin-bottom:0px;">Batteries Act</span></tr>
            <tr >
              <td ><abbr class="page-load" title="Whether half yearly returns submitted by manufacturer,  importer, bulk consumer, assembler and reconditioned"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM I - Half yearly returns Submission</td>
              <td>Periodical</td>
              <td colspan="4">Every Year 1st January</td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="file" class="input-box" value=""/></td>
            </tr>
            <tr>
              <td><abbr class="page-load" title="Whether registration for importers obtained for importing lead acid battery or primary Lead"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM II - Registration</td>
              <td>One Time</td>   
              <td colspan="4"> 10th March</td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="text" class="input-box"/></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td><abbr class="page-load" title="Whether undertaking submitted by importer to authority."><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM III - Undertaking submission </td>
              <td>One Time</td>
              <td colspan="4"> 10th January</td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="text" class="input-box" /></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td><abbr class="page-load" title="Whether registration obtained for dealers"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM IV - Dealer Registration</td>
              <td>One Time</td>
              <td colspan="4">10th January</td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="text" class="input-box" /></td>
              <td><input type="text" class="input-box" /></td>
              <td></td>      
              <td></td>
            </tr>
            <tr>
              <td><abbr class="page-load" title="Whether half yearly returns submitted by dealer to manufacturer"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM V - Dealer Half yearly returns</td>
              <td>Periodical</td>
              <td colspan="4" >Every 31st March, 30th June, 20th September</td>
              
              <td><input type="text" class="input-box" /><input type="text" class="input-box" /><input type="text" class="input-box" /></td>
              <td>
               <input type="text" class="input-box" />
                <input type="text" class="input-box" />
                <input type="text" class="input-box" />
                
              </td>
              <td><input type="text" class="input-box" />
                <input type="text" class="input-box" />
                <input type="text" class="input-box" /></td>
                <td><input type="text"  class="input-box"/><input type="text" class="input-box" /><input type="text" class="input-box" /></td>
                <td><input type="file" class="input-box" value=""/>
                 <input type="file" class="input-box" value=""/>
                 <input type="file" class="input-box" value=""/></td>
               </tr>
               <tr>

                <td><abbr class="page-load" title="Whether registration and renewal obtained by recycler"><img src="/images/icon-info.png" style="margin-right:10px"> </abbr>FORM VI - Recycler Registration and Review</td>

                <td>Periodical</td>
                <td colspan="4">Every 1st January</td>
<td><input type="text" class="input-box" /></td>
                <td><input type="text" class="input-box" /></td>
                <td><input type="text" class="input-box" /></td>
                <td><input type="text" value="" class="input-box"/></td>
                <td><input type="file" class="input-box" value=""/></td>
              </tr>
                <tr>

                  <td><abbr class="page-load" title="Whether half yearly returns submitted by recyclers"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM VII - Recycler Half yearly returns</td>
                  
                  <td>Periodical</td>
                  <td colspan="4">Every 30th June </td>

                  <td>
                    <input type="text" class="input-box" /></td>
                    <td><input type="text" class="input-box"/></td>
                    <td><input type="text" class="input-box" /></td>
                    <td>
                      <input type="text" class="input-box" value=""/></td>
                      <td><input type="file" class="input-box" value=""/></td>
                    </tr>
                    <tr >

                      <td><abbr class="page-load" title="Whether half yearly returns submitted by bulk consumer"><img src="/images/icon-info.png" style="margin-right:10px"></abbr>FORM VIII - Bulk consumer half yearly returns</td>

                      <td>Periodical</td>
                      <td colspan="4">Every 24th April</td><td><input type="text" class="input-box" /></td>

                      <td><input type="text" class="input-box" /></td>
                      <td><input type="text" class="input-box" /></td>
                      <td><input type="text" class="input-box"/></td>
                      <td><input type="file" class="input-box" value=""/></td>
                    </tr>
                  </table>

                </div>

              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>


    <script type="text/javascript">
      $(document).ready(function() {
        $("#section-flip-1").show();
        $("#section-flip-4").hide();
      });
      $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
      });
      jQuery(window).load(function(){
        jQuery('.page-load').tipso({
          tooltipHover: true
        });
      });

    </script> 
    {% endblock %}
