{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row">
  <div  id="animationSandbox">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="portlet">
        <!-- <h4 class="header-title m-t-0 m-b-30">Assigned Legal Entity</h4> -->
        <div class="portlet-heading bg-info">
            <h3 class="portlet-title">
                Assigned Legal Entity
            </h3>
            <div class="portlet-widgets">
                <a href="#" onclick="location.href='/assign-legal-entity/list'" >
                    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
         <div id="bg-primary1" class="panel-collapse collapse in">
            <div class="portlet-body">
             <div class="form-horizontal">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group  techno-user" >
                  <label class="col-sm-4 control-label">Group:</label>
                  <div class="col-md-6">
                    <p class="form-control-static">RG Group</p>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6">
                <div class="form-group filter-business">
                  <label class="col-sm-4 control-label">Country:</label>
                  <div class="col-md-6">
                     <p class="form-control-static">India, Singapore</p>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <div class="legalentity-view">
              <table id="datatable-responsive" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th width="15%">Country</th>
                    <th width="15%">Business Group</th>
                    <th width="12%">Legal Entity</th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <td colspan="3">
                    <div class="col-sm-2 no-padding">
                          <input type="text" class="form-control input-sm text-center" placeholder="" value="EMP001 - Hariharan" readonly="true"  />
                      </div>
                    </td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>India</td>
                    <td>RG Business Group</td>
                    <td>RG Legal Entity 06</td>
                  </tr>
                  <tr >
                    <td>Singapore</td>
                    <td>RG Business Group 01</td>
                    <td>RG Legal Entity 07</td>
                  </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <td colspan="3">
                      <div class="col-sm-2 no-padding">
                            <input type="text" class="form-control input-sm text-center" placeholder="" value="EMP002 - Subramanian" readonly="true"  />
                        </div>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                  <tr >
                    <td>India</td>
                    <td>RG Business Group</td>
                    <td>RG Legal Entity 08</td>
                  </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <td colspan="3">
                      <div class="col-sm-2 no-padding">
                            <input type="text" class="form-control input-sm text-center" placeholder="" value="EMP003 - Ramakrishnan" readonly="true"  />
                        </div>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                  <tr >
                    <td>India</td>
                    <td>RG Business Group</td>
                    <td>RG Legal Entity 09</td>
                  </tr>
                  <tr >
                    <td>India</td>
                    <td>RG Business Group</td>
                    <td>RG Legal Entity 10</td>
                  </tr>
                </tbody>
              </table>
            </div>
             </div>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</div>
</div>
{% endblock %}