{% extends "files/client/common/html/container.html" %}
{% block content %}
<div class="content-page">
<div class="content">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <div class="btn-group pull-right m-t-5 m-b-20">
    <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" aria-expanded="false" onclick="parent.location='/client-user-management/create'"> <span class="m-l-5"><i class="fa fa-plus-circle"></i></span> Add </button>
        </div>
        <h3 class="page-title">User Management</h3>
        <div class="portlet">

          
          <div id="bg-primary1" class="panel-collapse collapse in">
              <div class="portlet-body">
                  <div class="col-lg-12">
                      <div class="row">
                          <form class="form-horizontal" role="form">
                            <div class="col-lg-4">
                              <div class="form-group has-feedback">
                                <label class="col-md-4 control-label">Country</label>
                                <div class="col-md-7">
                                  <input type="text" class="form-control input-sm" value="" placeholder="Enter Country Name">
                                  <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                </div>
                              </div>
                              
                            </div>
                            <!-- end col -->
                            <div class="col-lg-4">
                              <div class="form-group has-feedback">
                                <label class="col-sm-4 control-label">Business Group</label>
                                <div class="col-md-7">
                                  <input type="text" class="form-control input-sm" value="" placeholder="Enter Business Group">
                                  <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                </div>
                              </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-4">
                              <div class="form-group has-feedback">
                                <label class="col-md-4 control-label">Legal Entity</label>
                                <div class="col-md-7">
                                  <input type="text" class="form-control input-sm" value="" placeholder="Enter Legal Entity">
                                  <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                </div>
                              </div>
                            </div>
                            <!-- end col -->
                          </form>
                      </div>
                      <center>
                        <div class="form-group m-b-0 m-t-0">
                          <button class="btn btn-primary text-center waves-effect waves-light" type="submit"> Show </button>
                        </div>
                      </center>
                  </div>
              </div>
          </div>
          <div class="clear"></div><br>
      </div>
    <!--div class="btn-group pull-right m-t-5 m-b-20">
        <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" aria-expanded="false" onclick="parent.location='/client-user-management/create'"> <span class="m-l-5"><i class="fa fa-plus-circle"></i></span> Add </button>
        </div>
        <h3 class="page-title">User Management</h3>
      <div class="card-box">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
                <form class="form-horizontal" role="form">
                  <div class="col-lg-4">
                    <div class="form-group has-feedback">
                      <label class="col-md-4 control-label">Country</label>
                      <div class="col-md-7">
                        <input type="text" class="form-control input-sm" value="" placeholder="Enter Country Name">
                        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group has-feedback">
                      <label class="col-sm-4 control-label">Business Group</label>
                      <div class="col-md-7">
                        <input type="text" class="form-control input-sm" value="" placeholder="Enter Business Group">
                        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group has-feedback">
                      <label class="col-md-4 control-label">Legal Entity</label>
                      <div class="col-md-7">
                        <input type="text" class="form-control input-sm" value="" placeholder="Enter Legal Entity">
                        <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
            <center>
              <div class="form-group m-b-0 m-t-0">
                <button class="btn btn-primary text-center waves-effect waves-light" type="submit"> Show </button>
              </div>
            </center>
          </div>
        </div>
      </div-->
      <div class="card-box p-t-5">
            <div class="row">
             <form class="form-horizontal" role="form">
              <div class="col-lg-2 no-padding"></div>
              <div class="col-lg-2 no-padding">
                  <div class="form-group m-b-0">
                    <label class="col-md-5 control-label">Country:</label>
                    <div class="col-md-7">
                      <p class="form-control-static">India</p>
                    </div>
                  </div>
              </div>
              <!-- end col -->
              <div class="col-lg-3 no-padding">
                <div class="form-group m-b-0">
                  <label class="col-sm-5 control-label">Business Group:</label>
                  <div class="col-md-7 no-padding">
                    <p class="form-control-static"> &nbsp; RG Business Group</p>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-3">
                <div class="form-group m-b-0">
                  <label class="col-sm-5 control-label">Legal Entity:</label>
                  <div class="col-md-7">
                    <p class="form-control-static">RG Legal Entity 01</p>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="clear"></div>
              <hr class="m-b-5 m-t-5">

              <div class="col-lg-3"></div>
              <div class="col-lg-3 no-padding">
                  <div class="form-group m-b-0">
                    <label class="col-md-5 control-label">Contract From:</label>
                    <div class="col-md-7">
                      <p class="form-control-static">01-Jan-2016</p>
                    </div>
                  </div>
              </div>
              <!-- end col -->
              <div class="col-lg-3">
                <div class="form-group m-b-0">
                    <label class="col-md-5 control-label">Contract To:</label>
                    <div class="col-md-7">
                      <p class="form-control-static">31-Dec-2016</p>
                    </div>
                  </div>
              </div>

              <div class="clear p-t-5"></div>
              </form>
            </div>
            <div class="row bg-lightdark">
              <form class="form-horizontal" role="form">
                <div class="col-lg-4 m-b-5">
                  <div class="form-group m-b-0 pull-left">
                    <label class="col-md-12 control-label">Total Licence(s): 20 - Used: 5 | Remaining: 15</label>
                  </div>
                </div>
                <!-- end col -->
                <div class="col-lg-8">
                  <div class="form-group m-b-0 pull-right">
                    <label class="col-sm-12 control-label"><i class="fa fa-square text-muted"></i> View Only &nbsp; &nbsp; <i class="fa fa-square text-warning"></i> Legal Entity Admin &nbsp; &nbsp; <i class="fa fa-square text-info"></i> Domain Admin &nbsp; &nbsp; <i class="fa fa-square text-danger"></i> Inhouse User &nbsp; &nbsp; <i class="fa fa-square"></i> Service Provider User</label>
                  </div>
                </div>
                <!-- end col -->
              </form>
            </div>
            <div class="row">
            <table id="datatable-responsive" class="table table-striped dt-responsive nowrap no-padding highlight"  cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th width="1%">#</th>
                  <th width="05%" class="text-center">Category</th>
                  <th width="10%">Users</th>
                  <th width="10%">User ID</th>
                  <th width="10%">Email ID</th>
                  <th width="10%">Mobile Number</th>
                  <th width="10%" class="text-center">Registration Email  </th>
                  <th width="06%" class="text-center">Edit</th>
                  <th width="06%" class="text-center">Disable</th>
                </tr>
                <tr>
                  <td></td>
                  <td align="center" >
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="true"> 
                                All
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">All</a></li>
                                <li><a href="#"><i class="fa fa-square text-muted"></i> View Only</a></li>
                                <li><a href="#"><i class="fa fa-square text-warning"></i> Legal Entity Admin</a></li>
                                <li><a href="#"><i class="fa fa-square text-info"></i> Domain Admin</a></li>
                                <li><a href="#"><i class="fa fa-square text-danger"></i> Inhouse User</a></li>
                                <li><a href="#"><i class="fa fa-square"></i> Service Provider User</a></li>
                            </ul>
                        </div>
                    </td>
                  <td>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" placeholder="Users" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                  </td>
                  <td>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" placeholder="User ID" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                  </td>
                  <td>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" placeholder="Email ID" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                  </td>
                  <td>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" placeholder="Mobile Number" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td class="text-center"><i class="fa fa-square text-muted"></i></td>
                  <td>EMP0012 - Sivaraman</td>
                  <td>&nbsp;</td>
                  <td>sivaraman@domain.com</td>
                  <td>8520147963</td>
                  <td class="text-center"><a href="#">Resend</a></td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-ban text-muted c-pointer" data-toggle="tooltip" title="Click here to Disable"></i>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td class="text-center"><i class="fa fa-square text-warning"></i></td>
                  <td>EMP0005 - Rajkumar</td>
                  <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Seating Unit: VBM1003 - Branch Office, 12 RJ Complex, Main road, T.Nagar, Chennai, 600022"></i> raj123</td>
                  <td>admin@domain.com</td>
                  <td>9876543210</td>
                  <td class="text-center">&nbsp;</td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-ban text-muted c-pointer" data-toggle="tooltip" title="Click here to Disable"></i>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td class="text-center"><i class="fa fa-square text-info"></i></td>
                  <td>EMP0010 - Hariharan</td>
                  <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Seating Unit: VBM1003 - Branch Office, 12 RJ Complex, Main road, T.Nagar, Chennai, 600022"></i> hari</td>
                  <td>hariharn@domain.com</td>
                  <td>9632587410</td>
                  <td class="text-center">&nbsp;</td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-ban text-muted c-pointer" data-toggle="tooltip" title="Click here to Disable"></i>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td class="text-center"><i class="fa fa-square text-danger"></i></td>
                  <td>EMP0015 - Srinivasan</td>
                  <td>&nbsp;</td>
                  <td>srinivasan@domain.com</td>
                  <td>9876543210</td>
                  <td class="text-center"><a href="#">Resend</a></td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-ban text-muted c-pointer" data-toggle="tooltip" title="Click here to Disable"></i>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td class="text-center"><i class="fa fa-square"></i></td>
                  <td>ARM Solutions</td>
                  <td>arm5242</td>
                  <td>armsolutions@domain.com</td>
                  <td>9345678912</td>
                  <td class="text-center">&nbsp;</td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-ban text-danger c-pointer" data-toggle="tooltip" title="Days Left 30 Day(s)."></i>
                  </td>
                </tr>
                </tbody>
            </table>
            </div>
          </div>
          <div class="card-box p-t-5">
            <div class="row">
             <form class="form-horizontal" role="form">
              <div class="col-lg-2 no-padding"></div>
              <div class="col-lg-2 no-padding">
                  <div class="form-group m-b-0">
                    <label class="col-md-5 control-label">Country:</label>
                    <div class="col-md-7">
                      <p class="form-control-static">India</p>
                    </div>
                  </div>
              </div>
              <!-- end col -->
              <div class="col-lg-3 no-padding">
                <div class="form-group m-b-0">
                  <label class="col-sm-5 control-label">Business Group:</label>
                  <div class="col-md-7 no-padding">
                    <p class="form-control-static"> &nbsp; VRM Business Group</p>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-3">
                <div class="form-group m-b-0">
                  <label class="col-sm-5 control-label">Legal Entity:</label>
                  <div class="col-md-7">
                    <p class="form-control-static">VRM Legal Entity 01</p>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="clear"></div>
              <hr class="m-b-5 m-t-5">

              <div class="col-lg-3"></div>
              <div class="col-lg-3 no-padding">
                  <div class="form-group m-b-0">
                    <label class="col-md-5 control-label">Contract From:</label>
                    <div class="col-md-7">
                      <p class="form-control-static">01-Jan-2016</p>
                    </div>
                  </div>
              </div>
              <!-- end col -->
              <div class="col-lg-3">
                <div class="form-group m-b-0">
                    <label class="col-md-5 control-label">Contract To:</label>
                    <div class="col-md-7">
                      <p class="form-control-static">31-Dec-2016</p>
                    </div>
                  </div>
              </div>

              <div class="clear p-t-5"></div>
              </form>
            </div>
            <div class="row bg-lightdark">
              <form class="form-horizontal" role="form">
                <div class="col-lg-4 m-b-5">
                  <div class="form-group m-b-0 pull-left">
                    <label class="col-md-12 control-label">Total Licence(s): 15 - Used: 3 | Remaining: 12</label>
                  </div>
                </div>
                <!-- end col -->
                <div class="col-lg-8">
                  <div class="form-group m-b-0 pull-right">
                    <label class="col-sm-12 control-label"><i class="fa fa-square text-muted"></i> View Only &nbsp; &nbsp; <i class="fa fa-square text-warning"></i> Legal Entity Admin &nbsp; &nbsp; <i class="fa fa-square text-info"></i> Domain Admin &nbsp; &nbsp; <i class="fa fa-square text-danger"></i> Inhouse User &nbsp; &nbsp; <i class="fa fa-square"></i> Service Provider User</label>
                  </div>
                </div>
                <!-- end col -->
              </form>
            </div>
            <div class="row">
            <table id="datatable-responsive" class="table table-striped dt-responsive nowrap highlight" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th width="1%">#</th>
                  <th width="05%" class="text-center">Category</th>
                  <th width="10%">Users</th>
                  <th width="10%">User ID</th>
                  <th width="10%">Email ID</th>
                  <th width="10%">Mobile Number</th>
                  <th width="10%" class="text-center">Registration Email  </th>
                  <th width="06%" class="text-center">Edit</th>
                  <th width="06%" class="text-center">Disable</th>
                </tr>
                <tr>
                  <td></td>
                  <td align="center" >
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="true"> 
                                All
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">All</a></li>
                                <li><a href="#"><i class="fa fa-square text-muted"></i> View Only</a></li>
                                <li><a href="#"><i class="fa fa-square text-warning"></i> Legal Entity Admin</a></li>
                                <li><a href="#"><i class="fa fa-square text-info"></i> Domain Admin</a></li>
                                <li><a href="#"><i class="fa fa-square text-danger"></i> Inhouse User</a></li>
                                <li><a href="#"><i class="fa fa-square"></i> Service Provider User</a></li>
                            </ul>
                        </div>
                    </td>
                  <td>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" placeholder="Users" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                  </td>
                  <td>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" placeholder="User ID" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                  </td>
                  <td>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" placeholder="Email ID" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                  </td>
                  <td>
                    <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" placeholder="Mobile Number" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td class="text-center"><i class="fa fa-square text-warning"></i></td>
                  <td>Legal Entity Admin</td>
                  <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Seating Unit: VBM1003 - Branch Office, 12 RJ Complex, Main road, T.Nagar, Chennai, 600022"></i> admin123</td>
                  <td>admin@domain.com</td>
                  <td>9876543210</td>
                  <td class="text-center">&nbsp;</td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-ban text-muted c-pointer" data-toggle="tooltip" title="Click here to Disable"></i>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td class="text-center"><i class="fa fa-square text-info"></i></td>
                  <td>EMP0010 - Hariharan</td>
                  <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Seating Unit: VBM1003 - Branch Office, 12 RJ Complex, Main road, T.Nagar, Chennai, 600022"></i> hari</td>
                  <td>hariharn@domain.com</td>
                  <td>9632587410</td>
                  <td class="text-center">&nbsp;</td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-ban text-muted c-pointer" data-toggle="tooltip" title="Click here to Disable"></i>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td class="text-center"><i class="fa fa-square text-danger"></i></td>
                  <td>EMP0015 - Srinivasan</td>
                  <td>&nbsp;</td>
                  <td>srinivasan@domain.com</td>
                  <td>9876543210</td>
                  <td class="text-center"><a href="#">Resend</a></td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-ban text-muted c-pointer" data-toggle="tooltip" title="Click here to Disable"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <!-- end col -->
  </div>
</div>
</div>
</div>
<script type="text/javascript">
var resizefunc = [];
</script>
{% endblock %}