{% extends "files/desktop/knowledge/home/container.html" %}
{% block content %}
<div class="content-container width80">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Geography Level Master<span class="error-message"></span></div>
       <div class="form-container-outer">
            <div class="single-column-input-row">
              <br>
              <div class="input-row">
                <div class="single-column-field-label">Country:<span class="mandatory">*</span></div>
                <div class="single-column-field-input">
                   <input type="text" class="input-box icon-autocomplete" id="countryval" value="">
                <input type="hidden" id="country">
                <div id="autocompleteview" class="ac-textbox default-display-none">
                <ul id="ulist_text" class="hidemenu" style="width:195px;"></ul>
            </div>
                </div>
              </div>
            </div>
            <div class="input-row default-display-none" id="view-insert-level">
              <br>
              <div class="input-row-left">
                <div class="field-label">Level</div>
                <div class="field-input">
                  <select class="input-box" id="insertlevel">
                    <!-- <option value="1">Level 1</option> -->
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>
                    <option value="5">Level 5</option>
                    <option value="6">Level 6</option>
                    <option value="7">Level 7</option>
                    <option value="8">Level 8</option>
                    <option value="9">Level 9</option>
                    <option value="10">Level 10</option>
                  </select>
                </div>
              </div>
              <div class="input-row-right">
                <div class="field-label">Title</div>
                <div class="field-input">
                  <input type="text" id="insertvalue" class="input-box" value="" maxlength="30" />
                </div>
              </div>
              <div class="submit-button-container" style="margin-top:10px">
                <input type="reset" name="cancel" value="Cancel" class="btn-cancel insert-level-cancel">&nbsp;&nbsp;
                <input type="submit" name="submit" value="Insert" id="insert-record" class="btn-submit">
              </div>
            </div>
            <div id="add" class="filters-and-search">
              <div class="btn-add add-insert-level" style="width:110px">Insert Level</div>
            </div>
            <div class="grid-table">
              <table>
                <tr>
                  <th align="left">Level</th>
                  <th align="left">Title</th>
                  <th align="left">Level</th>
                  <th align="left">Title</th>
                </tr>
                <tr>
                  <td style="height:50px">
                    1
                  </td>
                  <td>
                  <input type="text" id="level1" class="input-box fieldvalue" maxlength="30" tabindex="1"/>
                  <input type="hidden" id="levelid1" class="input-box hiddenvalue"/>
                  </td>
                  <td>
                   6
                  </td>
                  <td><input type="text" id="level6" class="input-box fieldvalue" maxlength="30" tabindex="6"/>
                <input type="hidden" id="levelid6" class="input-box hiddenvalue"/>
                  </td>
                </tr>
                 <tr>
                  <td style="height:50px">
                    2
                  </td>
                  <td><input type="text" id="level2" class="input-box fieldvalue" maxlength="30" tabindex="2"/>
                  <input type="hidden" id="levelid2" class="input-box hiddenvalue"/>

                  </td>
                  <td>
                   7
                  </td>
                  <td><input type="text" id="level7" class="input-box fieldvalue" maxlength="30" tabindex="7"/>
                  <input type="hidden" id="levelid7" class="input-box hiddenvalue" value=""/>

                  </td>
                </tr>
                <tr>
                  <td style="height:50px">
                    3
                  </td>
                  <td><input type="text" id="level3" class="input-box fieldvalue" maxlength="30" tabindex="3"/>
                  <input type="hidden" id="levelid3" class="input-box hiddenvalue" />
                  </td>
                  <td>
                   8
                  </td>
                  <td><input type="text" id="level8" class="input-box fieldvalue" maxlength="30" tabindex="8"/>
                  <input type="hidden" id="levelid8" class="input-box hiddenvalue" /></td>

                </tr>
                <tr>
                  <td style="height:50px">
                    4
                  </td>
                  <td><input type="text" id="level4" class="input-box fieldvalue" maxlength="30" tabindex="4"/>
                  <input type="hidden" id="levelid4" class="input-box hiddenvalue" />
                  </td>
                  <td>
                   9
                  </td>
                  <td><input type="text" id="level9" class="input-box fieldvalue" maxlength="30" tabindex="9"/>
                  <input type="hidden" id="levelid9" class="input-box hiddenvalue" /></td>

                </tr>
                <tr>
                  <td style="height:50px">
                    5
                  </td>
                  <td><input type="text" id="level5" class="input-box fieldvalue" maxlength="30" tabindex="5"/>
                  <input type="hidden" id="levelid5" class="input-box hiddenvalue" />
                  </td>
                  <td>
                   10
                  </td>
                  <td><input type="text" id="level10" class="input-box fieldvalue" maxlength="30" tabindex="10"/>
                  <input type="hidden" id="levelid10" class="input-box hiddenvalue" />
                  </td>
                </tr>
              </table>
            </div>
            <div class="submit-button-container">
              <input type="reset" name="cancel" value="Reset" class="btn-cancel btn-geographylevel-cancel">&nbsp;&nbsp;
              <input type="submit" name="submit" value="Submit" class="btn-submit" id="submit">
            </div>
        </div>
    <div class="clearfix"></div>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/files/desktop/knowledge/geography-level-master/geographylevelmaster.js"></script>
{% endblock %}



