{% extends "files/desktop/Header/Header.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="css/dashboard.css">

 <div class="content-container">
        <div class="content-area">
          <div class="add-container">
          <div class="grid-table">
            <table>
              <tr>
                <th width="3%" align="center">#</th>
                <th width="13%" align="left">Business Group<span><img src="/images/dropdown-arrow.png"/></span></th>
                <th width="13%" align="left">Legal Entity <span><img src="/images/dropdown-arrow.png"/></span></th>
                <th width="15%" align="left">Division <span><img src="/images/dropdown-arrow.png"/></span></th>
                <th width="5%" align="left">Type <span><img src="/images/dropdown-arrow.png"/></span></th>
                <th width="20%" align="left">Compliance <span><img src="/images/dropdown-arrow.png"/></span></th>
                <th width="11%" align="left">Assigned To <span><img src="/images/dropdown-arrow.png"/></span></th>
              </tr>
              <tr>
                <td align="center"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
              </tr>
              <tr style="padding:10px;text-align:left">
                <th colspan="6" style="background-color:#DBDBDB; color:#000000; font-size: 0.813em;font-weight: bold;">KG1018- Madurai Unit </th><th style="background-color:#DBDBDB; color:#000000; font-size: 0.813em;font-weight: bold;padding-right:5px" align="right"><img src="/images/chevron_black_down.png"/></th>
              </tr>
              <tr align="left" class="rightside" >
                  <th  colspan="4" style="background-color:#fff; padding-left:0px; ">
                    <span style="background-color:#eee; color:#000000; font-size: 0.813em; float:left; padding:5px 5px; margin-left:0px; box-shadow: 
                      inset 0 0 0 1px rgba(53,86,129, 0.4), 
                      inset 0 0 5px rgba(53,86,129, 0.5),
                      inset -285px 0 35px white;
                    border-radius: 0 5px 0 5px;"  width="250px">
                      The Batteries Act, 2001
                    </span>
                  </th>
                  <th colspan="3" style="background-color:#fff;"></th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td>Business Group 1</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Factory</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">FORM I - Submit Half yearly returns</td>
                <td>Sivaraman</td>
              </tr>
              <tr>
                <td align="center">2</td>
                <td>Business Group 1</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Office</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">FORM II - Importers registration</td>
                <td>Dhinesh</td>
              </tr> 
              <tr>
                <td align="center">3</td>
                <td>Business Group 1</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Factory</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">FORM III - Undertaking submission</td>
                <td>Sivaraman</td>
              </tr> 
              <tr align="left" class="rightside" >
                  <th  colspan="6" style="background-color:#fff; padding-left:0px; ">
                    <span style="background-color:#eee; color:#000000; font-size: 0.813em; float:left; padding:5px 5px; margin-left:0px; box-shadow: 
                      inset 0 0 0 1px rgba(53,86,129, 0.4), 
                      inset 0 0 5px rgba(53,86,129, 0.5),
                      inset -285px 0 35px white;
                    border-radius: 0 5px 0 5px;"  width="250px">
                      The Tamilnadu Shops and Commercial Establishments Act - 1947
                    </span>
                  </th>
                  <th colspan="1" style="background-color:#fff;"></th>
              </tr>
              <tr>
                <td align="center">4</td>
                <td>Business Group 1</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Factory</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Form P - Register of fines,deduction for damages or loss and advance</td>
                <td>Velmurugan</td>
              </tr>     
              <tr>
                <td align="center">5</td>
                <td>Business Group 1</td>
                <td>KG Autoparts</td>
                <td>KG Sales</td>
                <td>Office</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Form S - Notice</td>
                <td>Nagendren</td>
              </tr>
		                 <tr style="padding:10px;text-align:left">
                <th colspan="6" style="background-color:#DBDBDB; color:#000000; font-size: 0.813em;font-weight: bold;">KG1019- Namakkal Unit </th><th style="background-color:#DBDBDB; color:#000000; font-size: 0.813em;font-weight: bold;padding-right:5px" align="right"><img src="/images/chevron_black_right.png"/></</th>
              </tr>

            </table>
          </div>
        </div>
      </div>
      </div>


    <div class="content-container">
        <div class="content-area">
          <div class="add-container">
          <div class="grid-table">
            <table>
              <tr>
                <th width="3%" align="center">#</th>
                <th width="13%" align="left">Legal Entity <span><img src="/images/dropdown-arrow.png"/></span></th>
                <th width="15%" align="left">Division <span><img src="/images/dropdown-arrow.png"/></span></th>
                <th width="5%" align="left">Type <span><img src="/images/dropdown-arrow.png"/></span></th>
                <th width="20%" align="left">Compliance <span><img src="/images/dropdown-arrow.png"/></span></th>
                <th width="11%" align="left">Assigned To <span><img src="/images/dropdown-arrow.png"/></span></th>
              </tr>
              <tr>
                <td align="center"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
                <td><input type="text"  class="filter-text-box" placeholder="Search"></td>
              </tr>
              <tr style="padding:10px;text-align:left">
                <th colspan="5" style="background-color:#DBDBDB; color:#000000; font-size: 0.813em;font-weight: bold;">KG1018- Madurai Unit </th><th style="background-color:#DBDBDB; color:#000000; font-size: 0.813em;font-weight: bold;padding-right:5px" align="right"><img src="/images/chevron_black_down.png"/></</th>
              </tr>
              <tr align="left" class="rightside" >
                  <th  colspan="3" style="background-color:#fff; padding-left:0px; ">
                    <span style="background-color:#eee; color:#000000; font-size: 0.813em; float:left; padding:5px 5px; margin-left:0px; box-shadow: 
                      inset 0 0 0 1px rgba(53,86,129, 0.4), 
                      inset 0 0 5px rgba(53,86,129, 0.5),
                      inset -285px 0 35px white;
                    border-radius: 0 5px 0 5px;"  width="250px">
                      The Batteries Act, 2001
                    </span>
                  </th>
                  <th colspan="3" style="background-color:#fff;"></th>
              </tr>
              <tr>
                <td align="center">1</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Factory</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">FORM I - Submit Half yearly returns</td>
                <td>Sivaraman</td>
              </tr>
              <tr>
                <td align="center">2</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Office</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">FORM II - Importers registration</td>
                <td>Dhinesh</td>
              </tr> 
              <tr>
                <td align="center">3</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Factory</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">FORM III - Undertaking submission</td>
                <td>Sivaraman</td>
              </tr> 
              <tr align="left" class="rightside" >
                  <th  colspan="5" style="background-color:#fff; padding-left:0px; ">
                    <span style="background-color:#eee; color:#000000; font-size: 0.813em; float:left; padding:5px 5px; margin-left:0px; box-shadow: 
                      inset 0 0 0 1px rgba(53,86,129, 0.4), 
                      inset 0 0 5px rgba(53,86,129, 0.5),
                      inset -285px 0 35px white;
                    border-radius: 0 5px 0 5px;"  width="250px">
                      The Tamilnadu Shops and Commercial Establishments Act - 1947
                    </span>
                  </th>
                  <th colspan="1" style="background-color:#fff;"></th>
              </tr>
              <tr>
                <td align="center">4</td>
                <td>KG Transports</td>
                <td>KG Manufacturing</td>
                <td>Factory</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Form P - Register of fines,deduction for damages or loss and advance</td>
                <td>Velmurugan</td>
              </tr>     
              <tr>
                <td align="center">5</td>
                <td>KG Autoparts</td>
                <td>KG Sales</td>
                <td>Office</td>
                <td><img src="/images/icon-info.png" style="padding-right:3px;">Form S - Notice</td>
                <td>Nagendren</td>
              </tr>
                     <tr style="padding:10px;text-align:left">
                <th colspan="5" style="background-color:#DBDBDB; color:#000000; font-size: 0.813em;font-weight: bold;">KG1019- Namakkal Unit </th><th style="background-color:#DBDBDB; color:#000000; font-size: 0.813em;font-weight: bold;padding-right:5px" align="right"><img src="/images/chevron_black_right.png"/></</th>
              </tr>

            </table>
          </div>
        </div>
      </div>
      </div>
{% endblock %}