{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/dashboard.css">
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-box-container").click(function() {
        $(".filter-dropdown-container").slideToggle();
      })
  </script>

<div class="notification-container">
  <ul>
    <li>
      <p class="notification-text">Assign Statutory >> VRM1004 - Branch Office - 2  has been Approved  </p>
      <p class="time">Sat, 25 July, 2015, 9.43AM</p>
      
    </li>
    <li>
    <p class="notification-text">Assign Statutory >> VRM1004 - Branch Office - 3 has been Rejected  </p>
      <p class="time">Fri, 24 July, 2015, 10.10AM</p>
      
    </li>
    <li>
     <p class="notification-text">Assign Statutory >> VRM1004 - Branch Office - 4  has been Approved  </p>
      <p class="time">Thu, 23 July, 2015, 12.26AM</p>
      
    </li>
    <li>
       <p class="notification-text">Assign Statutory >> VRM1004 - Branch Office - 1  has been Approved  </p>
      <p class="time">Wed, 22 July, 2015, 12.26AM</p>
      
    </li>
      <li>
       <p class="notification-text">Assign Statutory >> VRM1004 - Corporate Office has been Approved  </p>
      <p class="time">Wed, 22 July, 2015, 12.26AM</p>
      
    </li>
  
  </ul>
</div>
<div class="content-container">
<div class="dashboard-content-contaner">
  <h1 style="color:white;font-size:20px;margin-top:200px;margin-left:300px">Welcome Rajaram!!!</h1>
</div>
</div>
{% endblock %} 