{% extends "files/client/common/html/container.html" %} {% block content %}
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">On Occurrence Compliances</h4>
                </div>
            </div>
            <div class="row">
                <div id="animationSandbox">
                    <div class="col-lg-12">
                        <div class="panel panel-default panel-info">
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="col-sm-offset-1 col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Legal Entity: <span class="mandatory">*</span></label>
                                            <div class="col-sm-6 controls">
                                                <p class="form-control-static legal-entity-name default-display-none"></p>
                                                <div class="legal-entity-name-ac default-display-none">
                                                    <input class="form-control input-sm" type="text" id="legal_entity_name" tabindex="1">
                                                    <i class="form-control-feedback fa fa-search"></i>
                                                    <input type="hidden" id="legal_entity_id" value="">
                                                    <div id="ac-entity" class="ac-textbox default-display-none">
                                                        <ul class="width85Percent"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Unit:</label>
                                            <div class="col-sm-6 has-feedback">
                                                <input class="form-control input-sm" type="text" id="unit_name" tabindex="5">
                                                <i class="form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="unit_id">
                                                <div id="ac-unit" class="ac-textbox default-display-none">
                                                    <ul class="width85Percent"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group m-b-0 text-center">
                                            <button class="btn btn-primary waves-effect waves-light btn-show" type="button"> Show </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped dt-responsive nowrap m-b-0 js-filtertable" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th align="center" width="1%">#</th>
                                                <th width="15%">Statutory</th>
                                                <th width="15%">Compliance Task</th>
                                                <th width="15%">Description</th>
                                                <th width="10%">To complete within</th>
                                                <th width="10%">Start Date</th>
                                                <th width="10%">Remarks</th>
                                                <th width="10%" class="text-center">Start</th>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td align="center"></td>
                                                <td>
                                                    <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                        <input type="text" class="form-control input-sm js-filter" placeholder="Enter Statutory">
                                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                        <input type="text" class="form-control input-sm js-filter" placeholder="Enter Compliance Task">
                                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                        <input type="text" class="form-control input-sm js-filter" placeholder="Enter Description">
                                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                    </div>
                                                </td>
                                                <td align="center"></td>
                                                <td align="center"></td>
                                                <td align="center"></td>
                                                <td align="center"></td>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody-compliances-list">

                                        </tbody>
                                    </table>
                                    <center>
                                        <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light default-display-none btn-showmore">Show More</button>
                                    </center>

                                    <div class="total_count_view default-display-none">
                                        <br> <span class="total_count"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="custom-modal" class="modal-demo box-width-800">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();"> 
      <i class="zmdi zmdi-close zmdi-hc-2x"></i>
    </span>
    <h4 class="custom-modal-title p-t-10 p-b-10">Compliance History</h4>
    <div class="custom-modal-text">
        <form class="form-horizontal group-border-dashed" action="#" novalidate="">
            <div class="form-group">
                <label class="col-sm-offset-1 col-sm-2 control-label">Statutory: </label>
                <div class="col-sm-9 occurrence-left">
                    <label class="popup-statutory occurrence-left"></label>
                </div>
            </div>
            <div class="form-group">
                <label class=" col-sm-offset-1 col-sm-2 control-label">Unit:</label>
                <div class="col-sm-9 occurrence-left">
                    <label class="popup-unit occurrence-left"></label>
                </div>
            </div>
            <div class="form-group">
                <label class=" col-sm-offset-1 col-sm-2 control-label">Compliance Task:</label>
                <div class="col-sm-9 occurrence-left">
                    <label class="popup-task occurrence-left"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Compliance Description:</label>
                <div class="col-sm-9 occurrence-left">
                    <label class="popup-description"></label>
                </div>
            </div>
        </form>
        <div class="clear"></div>
        <div class="table-responsive">
            <table id="datatable-responsive" class="table dt-responsive nowrap  text-left" width="100%">
                <tr class="table_bg_01">
                    <td class="header-bg1">Start Date</td>
                    <td class="header-bg1">Assignee</td>
                    <td class="header-bg1">Completed On</td>
                    <td class="header-bg1">Concurr</td>
                    <td class="header-bg1">Concurred On</td>
                    <td class="header-bg1">Approver</td>
                    <td class="header-bg1">Approved On</td>
                    <td class="header-bg1">Status</td>
                </tr>
                <tbody class="tbody-popup-list">

                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="templates">

    <table class="tbl_heading">
        <tr class="table-row">
            <td colspan="100%">
                <div class="col-sm-2 no-padding">
                    <mark class="p-l-10 p-r-10 heading-unit"></mark>
                </div>
            </td>
        </tr>
    </table>

    <table class="table-compliances">
        <tr class="table-row">
            <td class="sno" align="center"></td>
            <td class="statutory"></td>
            <td class="compliance-task">
                <a class="c-pointer"></a>
            </td>
            <td class="description"></td>
            <td class="duration"></td>
            <td>
                <input type="text" placeholder="DD-MMM-YYYY" class="form-control input-sm startdate" readonly="readonly">
            </td>
            <td>
                <input type="text" class="form-control input-sm remarks" placeholder="Remarks" maxlength="500">
            </td>
            <td class="action" align="center">
                <button class="btn btn-primary waves-effect m-l-5 width-90px btn-sm btn-submit" type="button" data-animation="contentscale" data-plugin="custommodal" data-overlaycolor="#36404a"> Start</button>
            </td>
        </tr>
    </table>

    <table class="table-no-record">
        <tr>
            <td colspan="8" align="center"> No Records Found</td>
        </tr>
    </table>

    <table class="table-pop-up">
        <tr class="table-row">
            <td class="pop-start-date"></td>
            <td class="pop-assignee"></td>
            <td class="pop-completed-on"></td>
            <td class="pop-concur"></td>
            <td class="pop-concur-on"></td>
            <td class="pop-approver"></td>
            <td class="pop-approver-on"></td>
            <td class="pop-compliance-status"></td>
        </tr>
    </table>
</div>

<!-- Modal -->
<div id="custom-modal-start" class="modal-demo box-width-400">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();">
        <i class="zmdi zmdi-close zmdi-hc-2x"></i>
        </span>
    <h4 class="custom-modal-title p-t-10 p-b-10">Enter Password</h4>
    <div class="custom-modal-text p-t-0">
        <div role="form">
            <div class="form-group">
                <label for="current-password" class="pull-left">Password <span class="mandatory">*</span></label>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <input type="password" class="form-control input-sm" id="current-password" placeholder="Password" maxlength="20">
            </div>
            <button type=" button " class="btn btn-primary waves-effect waves-light " id="btnPasswordSubmit">Submit</button>
        </div>
    </div>
</div>


{% endblock %} {% block contentscript %}
<script type="text/javascript" src="/script/on-occurrence-compliances/on_occurrence_compliances.js"></script>
{% endblock %}