{% extends "files/knowledge/common/html/container.html" %} {% block content %}
<!-- Multiselect -->
<link href="/css/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<div class="container" id="user-view">
    <div class="row">
        <div class="col-sm-10 col-xs-10">
            <h4 class="page-title">User Management</h4>
        </div>
        <div class="col-sm-2 col-xs-2 m-t-5 m-b-25">
            <button type="submit" class="btn btn-success waves-effect waves-light m-l-10 btn-md pull-right" id="btn-user-add"> <i class="fa fa-plus-circle"></i> Add</button>
        </div>
    </div>
    <div class="row" id="animationSandbox">
        <div class="col-lg-12">
            <div class="panel panel-default panel-info">
                <!-- /.panel-heading -->
                <!--<div class="panel-body">-->
                <div class="card-box table-responsive m-b-0">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped dt-responsive nowrap m-b-0 table-fixed" id="tbl_user_manage_list" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="3%">#</th>
                                    <th width="14%">Employee</th>
                                    <th width="11%">User ID</th>
                                    <th width="14%">Email ID</th>
                                    <th width="14%">Category Name</th>
                                    <th class="text-center" width="13%">Registration Email</th>
                                    <th class="text-center" width="7%">Edit</th>
                                    <th class="text-center" width="7%">Status</th>
                                    <th class="text-center" width="7%">Disable</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group col-sm-12 no-padding m-b-0">
                                            <input type="text" class="form-control input-sm filter-text-box" placeholder="Employee Name" id="search-employee-name" />
                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-sm-12 no-padding m-b-0">
                                            <input type="text" class="form-control input-sm filter-text-box" placeholder="User ID" id="search-user-id" />
                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-sm-12 no-padding m-b-0">
                                            <input type="text" class="form-control input-sm filter-text-box" placeholder="Email ID" id="search-email-id" />
                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-sm-12 no-padding m-b-0">
                                            <input type="text" class="form-control input-sm filter-text-box" placeholder="Category Name" id="search-category-name" />
                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                        </div>
                                    </td>
                                    <td align="center"></td>
                                    <td class="icon-3x text-center"> </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="true">
                                                <i id="search-status" class="fa">All</i>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu search-status-list">
                                                <li value="all" class="search-status-li active"><a href="#" onclick="return false;">All</a></li>
                                                <li value="1" class="search-status-li"><a href="#" onclick="return false;"><i class="fa fa-check text-success"></i> Active</a></li>
                                                <li value="0" class="search-status-li"><a href="#" onclick="return false;"><i class="fa fa-times text-danger"></i> Inactive</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="true">
                                                <i id="search-disable" class="fa">All</i>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu search-disable-list">
                                                <li value="all" class="search-disable-li active"><a href="#" onclick="return false;">All</a></li>
                                                <li value="0" class="search-disable-li"><a href="#" onclick="return false;"><i class="fa fa-ban text-muted"></i> Enable</a></li>
                                                <li value="1" class="search-disable-li"><a href="#" onclick="return false;"><i class="fa fa-ban text-danger"></i> Disable</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody class="tbody-user-list">
                            </tbody>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--</div>-->
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<div id="templates">
    <table class="table-user-master">
        <tr class="table-row">
            <td class="sno"></td>
            <td class="employee-name"></td>
            <td class="username"></td>
            <td class="email-id"></td>
            <td class="cat-name"></td>
            <td class="registration-email" align="center">
                <a class='popup-link new-link c-pointer' style="display:none">Resend</a>
            </td>
            <td class="icon-3x text-center">
                <i class="fa c-pointer edit"></i>
            </td>
            <td class="icon-3x text-center">
                <i class="fa c-pointer status"></i>
            </td>
            <td class="icon-3x text-center">
                <i class="fa c-pointer disable"></i>
            </td>
        </tr>
        <tr class="table-row-no-content" align="left">
            <td colspan="10" class="no_records" style="padding:40px; font-size:1.2em; font-weight:bold" align="center">No Records Found</td>
        </tr>
    </table>
</div>
<div class="container default-display-none" id="user-add">
    <div class="row" id="animationSandbox">
        <div class="col-sm-1"> </div>
        <div class="col-sm-10">
            <div class="portlet">
                <div class="portlet-heading bg-info">
                    <h3 class="portlet-title">
                        User Management
                    </h3>
                    <div class="portlet-widgets">
                        <a id="btn-user-cancel">
                            <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="bg-primary1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Category Name:<span class="mandatory">*</span></label>
                                        <div class="col-md-8">
                                            <select class="form-control input-sm" tabindex="1" id="usercatval">
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Employee Name:<span class="mandatory">*</span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" id="employeename" value="" maxlength="50" tabindex="2" placeholder="Employee Name">
                                            <input type="hidden" id="userid" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Employee ID:<span class="mandatory">*</span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" maxlength="20" id="employeeid" tabindex="3" value="" placeholder="Employee Id">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Address:</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" rows="3" id="address" tabindex="4" maxlength="250" placeholder="Address"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email ID:<span class="mandatory">*</span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" value="" maxlength="100" id="emailid" placeholder="Email ID" tabindex="5">
                                            <span id="view_emailid" style="default-display-none"> </span>
                                            <span class="help-block"><small><small>[ <i class="fa fa-info-circle"></i> We will use this email ID to contact you about your account ]</small></small></span> </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Contact No.:</label>
                                        <div class="col-md-8">
                                            <div class="col-md-3 no-padding-left mob-p-r-0 mob-p-b-15">
                                                <input type="text" class="form-control input-sm col-md-3 countrycode" id="countrycode" maxlength="3" tabindex="6" value="" placeholder="+00">
                                            </div>
                                            <div class="col-md-3 no-padding-left mob-p-r-0 mob-p-b-15">
                                                <input type="text" class="form-control input-sm col-md-3 areacode" id="areacode" maxlength="4" tabindex="7" value="" placeholder="">
                                            </div>
                                            <div class="col-md-6 no-padding-left p-r-0">
                                                <input type="text" class="form-control input-sm col-md-6 mobile" id="contactno" maxlength="7" tabindex="8" value="" placeholder="Contact No">
                                            </div>
                                            <span class="help-block"><small><small>[+91 452 1234567]</small></small></span> </div>`
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mobile No.:<span class="mandatory">*</span></label>
                                        <div class="col-md-8">
                                            <div class="col-md-3 no-padding-left mob-p-r-0 mob-p-b-15">
                                                <input type="text" class="form-control input-sm col-md-3 countrycode" id="mcountrycode" value="" tabindex="9" maxlength="3" placeholder="+00">
                                            </div>
                                            <div class="col-md-9 no-padding-left p-r-0">
                                                <input type="text" class="form-control input-sm col-md-9 mobile" value="" id="mobileno" tabindex="10" placeholder="Mobile No" maxlength="10">
                                            </div>
                                            <span class="help-block"><small><small>[+91 9876541230]</small></small></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-4 control-label">User Group:<span class="mandatory">*</span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" value="" id="usergroupval" tabindex="11" placeholder="User Group">
                                            <i class="fa-1-5x form-control-feedback fa fa-search"></i>
                                            <input id="usergroup" type="hidden">
                                            <div id="ac-usergroup" class="ac-textbox default-display-none">
                                                <ul style="width:94%"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Designation:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input-sm" value="" maxlength="50" id="designation" tabindex="12" placeholder="Designation">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <hr class="m-t-5 m-b-10">
                        <h4 class="header-title p-l-10">Settings</h4>
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Countries:<span class="mandatory">*</span></label>
                                        <div class="col-md-8 controls">
                                            <select class="form-control input-sm example-multiple" tabindex="13" id="countries" multiple="multiple">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Domains:<span class="mandatory">*</span></label>
                                        <div class="col-md-8">
                                            <select class="form-control input-sm example-multiple" tabindex="14" id="domains" multiple="multiple">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="form-group text-center m-b-0 m-t-5">
                            <button class="btn btn-primary waves-effect waves-light" type="submit" tabindex="15" id="btn-submit"> Submit </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="clear"></div>
        <br>
        <br>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div id="custom-modal" class="modal-demo box-width-400">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();">
      <i class="zmdi zmdi-close zmdi-hc-2x"></i>
    </span>
    <h4 class="custom-modal-title p-t-10 p-b-10">Enter Password</h4>
    <div class="custom-modal-text">
        <div role="form">
            <div class="form-group">
                <label for="current-password" class="pull-left">Password <span class="mandatory">*</span></label>
                <input type="password" class="form-control input-sm" id="current-password" placeholder="Password" maxlength="20">
            </div>
            <div class="form-group default-display-none remark-view">
                <label for="remark" class="pull-left">Remarks <span class="mandatory">*</span></label>
                <textarea class="form-control input-sm" id="remark" rows="2" placeholder="Enter Reason" maxlength="500"></textarea>
            </div>
            <button type="button" class="btn btn-primary waves-effect waves-light" id="password-submit">Submit</button>
        </div>
    </div>
</div>

{% endblock %} {% block contentscript %}
<script type="text/javascript" src="/js/fixedheader.js"></script>
<script type="text/javascript" src="/script/user-management/user-management.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.example-multiple-optgroups').multiselect({
            buttonWidth: '100%',
            enableClickableOptGroups: true
                /*,enableCollapsibleOptGroups: true*/
        });
        $('.example-multiple').multiselect({
            buttonWidth: '100%'
        });
    });
</script>
{% endblock %}