{% extends "files/knowledge/common/html/container.html" %} {% block content %}
<style type="text/css">
.wrap-td-text {
    table-layout: fixed;
}

.wrap-td-text td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h4 class="page-title">Statutory Notifications</h4>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div id="animationSandbox">
            <div class="col-sm-1"> </div>
            <div class="col-sm-10">
                <div class="card-box table-responsive notify-list">
                    <div class="col-sm-12 no-padding">
                        <table id="datatable-responsive" class="table table-striped dt-responsive nowrap m-b-0 wrap-td-text" cellspacing="0" width="100%">
                            <tbody class="tbody-message-list">
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="templates">
    <table class="table-message">
        <tr class="table-row">
            <td width="2%"><i class="fa fa-hand-o-right"></i></td>
            <td width="80%">
                <div class="col-sm-12 message-content"></div>
                <div class="col-sm-6">
                    <span class="pull-left message-time"></span>
                </div>
                <div class="col-sm-6">
                    <span class="pull-right message-user"></span>
                </div>
            </td>
        </tr>
    </table>
    <table class="table-no-record">
        <tr>
            <td colspan="2" align="center"> No Records Found</td>
        </tr>
    </table>
</div>
<div id="custom-modal" class="modal-demo box-width-600">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();">
    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
  </span>
    <h4 class="custom-modal-title p-t-10 p-b-10">Compliance Details</h4>
    <div class="custom-modal-text">
        <div role="form">
            <div class="table-responsive box-width-560">
                <table id="datatable-responsive" class="table dt-responsive nowrap wrap-td-text" width="100%">
                    <tbody>
                        <tr class="text-left">
                            <td width="40%">Statutory Provision</td>
                            <td width="60%" class="popup-statutory"></td>
                        </tr>
                        <tr class="text-left">
                            <td>Compliance Task</td>
                            <td class="popup-compliancetask"></td>
                        </tr>
                        <tr class="text-left">
                            <td>Compliance Description</td>
                            <td class="popup-description"></td>
                        </tr>
                        <tr class="text-left">
                            <td>Penal Consequences</td>
                            <td class="popup-penalconse"></td>
                        </tr>
                        <tr class="text-left">
                            <td>Compliance Frequency</td>
                            <td class="popup-frequency"></td>
                        </tr>
                        <tr class="text-left">
                            <td>Compliance Occurrence</td>
                            <td class="popup-occurance"></td>
                        </tr>
                        <tr class="text-left">
                            <td>Applicable Location</td>
                            <td class="popup-applicablelocation"></td>
                        </tr>
                        <tr class="text-left">
                            <td>Reference Link</td>
                            <td class="popup-referencelink">
                                <a target="new"> <span> </span> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block contentscript %}
    <script type="text/javascript" src="/script/statutorynotifications/statutorynotifications.js"></script>
{% endblock %}