{% extends "files/client/common/html/container.html" %}
{% block content %}
<div class="content-page">
<div class="content">
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="portlet">
          <div class="portlet-heading bg-info">
              <h3 class="portlet-title">Themes</h3>
              <div class="clearfix"></div>
          </div>
          <div id="bg-primary1" class="panel-collapse collapse in">
              <div class="portlet-body">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-2">
                    <div class="themes-settings theme-active">
                      <h5>Theme One</h5>
                      <img src="/files/client/common/images/theme_one.jpg">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="themes-settings">
                      <h5>Theme Two</h5>
                      <img src="/files/client/common/images/theme_one.jpg">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="themes-settings">
                      <h5>Theme Three</h5>
                      <img src="/files/client/common/images/theme_one.jpg">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="themes-settings">
                      <h5>Theme Four</h5>
                      <img src="/files/client/common/images/theme_one.jpg">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="themes-settings">
                      <h5>Theme Five</h5>
                      <img src="/files/client/common/images/theme_one.jpg">
                    </div>
                  </div>
                  <div class="clearfix"></div><br>
                  <center>
                    <button class="btn btn-primary waves-effect waves-light" type="submit"> Submit </button>
                  </center>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
</div>
</div>
{% endblock %}