{% extends "files/desktop/knowledge/home/container.html" %}
{% block content %}
<div class='loading-indicator-spin'>
  <span><img src='/images/loading-img.gif' alt=""></span>
</div>
<link href="/css/jquery-ui/jquery-ui.css" rel="stylesheet">
  <div class="content-container width50" id="clientgroup-view">
    <div class="content-area">
      <h1>Clients</h1>
      <div class="filters-and-search">
        <div class="btn-add btn-clientgroup-add" formtarget="_self">Add</div>
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table class="js-filtertable">
          <thead>
          <tr align="left">
            <th align="center" style="width: 8%">#</th>
            <th>Group</th>
            <th align="center" style="width: 15%" >Edit</th>
            <th align="center" style="width: 15%">Status</th>
          </tr>
          <tr>
            <td align="center"></td>
            <td><input type="text" class="filter-text-box js-filter" id="search-clientgroup-name"></td>
            <td align="center"></td>
            <td align="center"></td>
          </tr>
          </thead>
          <tbody class="tbody-clientgroup-list">
          </tbody>
        </table>
      </div>
    </div>
    <div id="templates">
      <table class="table-clientgroup-list">
        <tr class="table-row">
          <td align="center" class="sno"></td>
          <td class="clientgroup-name"></td>
          <td align="center">
            <span class="edit-icon" style="width: 16px; height: 16px; display:block"> </span> 
          </td>
          <td align="center">
            <span class="status" style="width: 16px; height: 16px; display:block"> </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Add Client Group-->
  <div class="content-container default-display-none" id="clientgroup-add" >
    <div class="content-area">
      <div class="add-container">
        <div class="add-container-heading">Client<span class="error-message"></span></div>
        <div class="input-row">
          <div class="input-row-left">
            <div class="input-row">
              <div class="single-column-field-label">Group:<span class="mandatory">*</span></div>
              <div class="field-input">
                <input id="clientgroup-id" type="hidden" value="">
                <input id="clientgroup-name" type="text" class="input-box"  autofocus="autofocus" tabindex="1" value="" maxlength="50" >
              </div>
            </div>
            <div class="input-row">
              <div class="single-column-field-label">Country:<span class="mandatory">*</span></div>
              <div class="field-input">
                <input type="hidden" id="country">
                <input type="hidden" id="countryNames">
                <input type="text" class="input-box icon-autocomplete" id="countryselected" value="" tabindex="2" readonly="readonly" onclick="loadautocountry()">
                <div id="selectboxview-country" class="ac-selectbox" style="display:none;">
                <ul id="ulist-country" onmouseleave="hidemenu();" style="width:85%;" ></ul>
              </div>
            </div>
          </div>
          <div class="input-row">
            <div class="single-column-field-label">Domain:<span class="mandatory">*</span></div>
            <div class="field-input">
              <input type="hidden" id="domain">
              <input type="hidden" id="domainNames">
              <input type="text" class="input-box icon-autocomplete" id="domainselected" value="" tabindex="3" readonly="readonly" onclick="loadauto()">
              <div id="selectboxview" class="ac-selectbox" style="display:none;">
              <ul id="ulist" onmouseleave="hidemenu();" style="width:85%;"></ul>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="single-column-field-label">Contract From:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box"  id="contract-from" readonly="readonly"  value="" tabindex="4">
          </div>
        </div>
        <div class="input-row">
          <div class="single-column-field-label">Contract  To:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box" id="contract-to" readonly="readonly" value="" tabindex="5">
          </div>
        </div>
        <div class="input-row">
          <div class="single-column-field-label">Username:<span class="mandatory">*</span></div>
          <div class="field-input">
            <span id="labelusername"></span>
            <input type="text" class="input-box" placeholder="user@domain.com" id="username" value="" maxlength="100" tabindex="5"><br>
            <span style="font-size:10px;">[&#9658;This will be used as the username for user acc.<br>&#9658;
            Password will be auto-generated]</span>
          </div>
        </div>
      </div>
      <div class="input-row-right">
        <div class="input-row">
          <div class="single-column-field-label">Upload Logo:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="file" class="input-box" id="upload-logo" value="" accept="image/*"  tabindex="6">
            <img  id="upload-logo-img" width="32">
          </div>
        </div>
        <div class="input-row">
          <div class="single-column-field-label">Number of user licence:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box"  id="no-of-user-licence" value="" maxlength="3" tabindex="7">
          </div>
        </div>
        <div class="input-row">
          <div class="single-column-field-label">File Space:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box"  id="file-space" style="width:50px;float:left" value="" tabindex="8" maxlength="3">
            <span style="font-size:0.813em; padding-left:10px; line-height:2em;">GB</span>
          </div>
        </div>
        <div class="input-row">
          <div class="single-column-field-label"><p>Subscribe for SMS Notification:</p></div>
          <div class="field-input" style="margin-top:5px;">
            <input type="checkbox" id="subscribe-sms" tabindex="9">
          </div>
        </div>
        <div class="input-row">
          <div class="single-column-field-label">Incharge Person:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="hidden" id="users">
            <input type="text" class="input-box icon-autocomplete" id="usersSelected" value="" tabindex="9" readonly="readonly" onclick="loadAutoUsers()">
            <div id="selectboxview-users" class="ac-selectbox" style="display:none;">
            <ul id="ulist-user" onmouseleave="hidemenu();" style="width:85%;"></ul>
          </div>
        </div>
      </div>
      <div class="input-row">
        <div class="single-column-field-label">Short Name:<span class="mandatory">*</span></div>
        <div class="field-input">
          <input id="short-name" type="text" class="input-box" tabindex="10"  value="" maxlength="20">
           <span style="font-size:10px;">[http://domain.com/login/<abbr class="shorturl"></abbr>]</span>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div style="background-color:#ddd; padding:5px; padding-left:10px;border-radius:3px;">Date Configuration</div>
    <div class="grid-table date-configuration">
      <table style="padding:20px;width:100%;">
        <tr align="left">
          <th width="25%" style="background-color:#D4B7EB; color:#000;padding-left:10px;">Domain</th>
          <th colspan="2" width="75%" align="center" style="background-color:#D4B7EB; color:#000;">Timeline</th>
        </tr>
        <tr>
          <td></td>
          <td align="center"><span style="font-style:bold">From</span></td>
          <td align="center">To</td>
        </tr>
        <tbody class="tbody-dateconfiguration-list">
        </tbody>
      </table>
    </div>
    <div class="clearfix"></div>
    <div class="submit-button-container">
      <input type="submit" name="cancel" value="Cancel" class="btn-cancel" id="btn-clientgroup-cancel">
      &nbsp;&nbsp;
      <input type="submit" name="submit" value="Submit" class="btn-submit" id="btn-clientgroup-submit">
    </div>
  </div>
</div>
</div>
</div>
</div>
<div id="templates">
  <table class="table-dconfig-list">
    <tr class="table-dconfig-countries-row">
      <td colspan="3"  width="100%"><span class="dconfig-country-name"></span>
      <input type="hidden" class="inputCountry" value="">
      </td>
    </tr>
    <tr class="table-dconfig-domain-row" >
      <td style="padding-left:10px;" width="30%"><span class="dconfig-domain-name" ></span>
        <input type="hidden" class="inputDomain" value="">
      </td>
      <td align="center" width="35%">
        <select class="input-box tl-from" style="width:100px">
        <!-- <option value="">Select</option> -->
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
        </select>
      </td>
      <td align="center" width="35%">
        <select class="input-box tl-to" style="width:100px">
        <!-- <option value="">Select</option> -->
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12" selected="selected">December</option>
        </select>
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript" src="/script/client-master/clientmaster.js"></script>

<script type="text/javascript">
$(function() {
  $( "#contract-from" ).datepicker({
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 1,
    dateFormat: "dd-M-yy",
    monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    onClose: function( selectedDate ) {
    $( "#contract-to" ).datepicker( "option", "minDate", selectedDate );
  }
});
$( "#contract-to" ).datepicker({
  changeMonth: true,
  changeYear: true,
  numberOfMonths: 1,
  dateFormat: "dd-M-yy",
  monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
  onClose: function( selectedDate ) {
    $( "#contract-from" ).datepicker( "option", "maxDate", selectedDate );
    }
  });
});
</script>
{% endblock %}