* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	font-family: "Arial", sans-serif;
	font-size: 100%;
	height: 100%;
}
img, object {
	max-width: 100%;
	height: auto;
}
#wrapper {
	height: auto;
	margin: 0 auto -60px;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	background: url(/files/desktop/common/images/inner-page-bg.gif) no-repeat center bottom;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#wrapper:after {
  height: 60px;
}
.footer {
	width: 100%;
	float: left;
	background: #000;
	color: #989898;
	text-align: center;
	line-height: 60px;
	font-size: 0.9em;
	position: relative;
	z-index: 2;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.temporarily-hidden {
	display: none;
}
.success-msg {
	font-size: 1em;
	color: #00ff00;
	text-align: center;
	width: 85%;
	padding-bottom: 1em;
}
.error-msg {
	font-size: 1em;
	color: #ff0000;
	text-align: center;
	width: 85%;
	padding-bottom: 1em;
}
#loading-indicator {
	font-family: "Lato", sans-serif;
	position: fixed;
	top: 8.625em;
	left: 50%;
	width: 100px;
	height: 1.875em;
	margin-left: -50px;
	z-index: 1;
	background-color: #363233;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.875em;
	text-align: center;
}
.loading-indicator-spin {
	background: url("/files/desktop/common/images/transparent-bg-light.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 4;
}
.loading-indicator-spin span {
	width: 100%;
	position: absolute;
	top: 40%;
	left: 0;
	text-align: center;
}
.loading-indicator-spin img {
	width: 4em;
	opacity: 100%;
}
.processing-button {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	cursor: default !important;
}
.required-mark {
	color: #ff0000;
	font-weight: 100;
}