{% extends "files/desktop/knowledge/home/container.html" %}
{% block content %}
<style>
    .width655em {
        width: 65.5em;
    }
    .width100Percent {
        width: 100%;
    }
    .width50Percent {
        width: 50%;
    }
    .width85Percent {
        width: 85%;
    }
    .tab-border{
        border:1px solid white;
    }
</style>
<div class="content-container width655em">
    <div class="content-area">
        <h1>User Mapping</h1>
        <div class="add-container">
            <div class="archive-container">
                <div class="archive-header">
                    <span class="know-mgr-exec-tab active">
                        Knowledge Manager - Knowledge Executive
                    </span>
                    <span class="tech-mgr-exec-tab">
                        Techno Manager - Techno Executive
                    </span>
                    <span class="tech-mgr-mgr-tab">
                        Techno Manager - Domain Manager
                    </span>
                    <span class="domain-mgr-exec-tab">
                        Domain Manager - Domain Executive
                    </span>
                </div>
                <div>
                    <span class="error-message"></span>
                </div>
                <div class="know-mgr-exec-tab-content" class="tab-border">
                    <div class="input-row-left">
                        <div class="input-row">
                            <div class="single-column-field-label">
                                Country:<span class="mandatory">*</span>
                            </div>
                            <div class="single-column-field-input">
                                <input type="hidden" id="country" value="">
                                <input type="text" class="input-box icon-autocomplete" id="countryval" value="" placeholder="Enter Country">
                                <div id="ac-country" class="ac-textbox default-display-none">
                                  <ul class="width85Percent"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-row-right">
                        <div class="input-row">
                            <div class="single-column-field-label">
                                Domain:<span class="mandatory">*</span>
                            </div>
                            <div class="single-column-field-input">
                                <input type="hidden" id="domain" value="">
                                <input type="text" class="input-box icon-autocomplete" id="domainval" value="" placeholder="Enter Domain">
                                <div id="ac-domain" class="ac-textbox default-display-none">
                                  <ul class="width85Percent"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="submit-button-container">
                        <input type="submit" name="submit" value="Show" id="show" class="btn-submit">
                    </div>
                    <div class="form-container-outer">
                        <div id="grid-panchayat" class="form-container-grid-table" >
                            <table class="width100Percent">
                                <tr align="left">
                                    <th class="width50Percent parent-user">Knowledge Manager</th>
                                    <th class="width50Percent child-user">Knowledge Executive</th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul class="parent-user-list">
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="child-user-list">
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                            <br>  
                            <div class="submit-button-container">
                                <input type="submit" name="submit" value="Submit" class="btn-submit" id="save">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="templates">
    <div class="drop-down-option">
        <ul>
            <li></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="/script/user-mapping/usermapping.js"></script>
{% endblock %}