{% extends "files/knowledge/common/html/container.html" %} 
{% block content %}
  

<div class="container">
<div class="row">
<div class="container">
  <div class="row" id="animationSandbox">
    <div class="col-sm-3"> </div>
    <div class="col-sm-6">
      <div class="portlet">
          <div class="portlet-heading bg-info">
            <h3 class="portlet-title">
                Assign Statutory - Bulk Upload
            </h3>
            <div class="clearfix"></div>
        </div>
        <div id="bg-primary1" class="panel-collapse collapse in">
            <div class="portlet-body">
        <form class="form-horizontal group-border-dashed" action="#" novalidate="">
        <div style="border:1px solid #F5F5F5" class="col-sm-12">
          <div class="form-group bg-muted">
              <div class="col-sm-12">
                  <h4 class="header-title">Download File</h4>
              </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-4 control-label">Client Group:<span class="mandatory">*</span></label>
            <div class="col-sm-6 has-feedback">
              <input class="form-control input-sm" type="text" value="" id="group_name" tabindex="1">
              <i class="form-control-feedback fa fa-search"></i>
              <input type="hidden" id="group_id" value="">
              <div id="ac-group" class="ac-textbox default-display-none">
                  <ul class="width85Percent"></ul>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-4 control-label">Legal Entity:<span class="mandatory">*</span></label>
            <div class="col-sm-6 has-feedback">

            <input class="form-control input-sm" type="text" value="" id="legal_entity_name" tabindex="2">
            <i class="form-control-feedback fa fa-search"></i>
            <input type="hidden" id="legal_entity_id" value="">
            <div id="ac-entity" class="ac-textbox default-display-none">
                <ul class="width85Percent"></ul>
            </div> 
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-4 control-label">Domain:<span class="mandatory">*</span></label>
            <div class="col-sm-6">
                  <select  id="domains" class="form-control input-sm" multiple="multiple" tabindex="3"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Unit:</label>
           <div class="col-sm-6">
               <select  id="units" class="form-control input-sm" multiple="multiple" tabindex="4"></select>
            </div>
          </div>
          <div class="form-group">
              <center>
               <button class="btn btn-primary waves-effect waves-light btn-download-file" type="button"> Download File </button>
               </center>
          </div>



<!--      <div class="form-group bg-muted">
              <div class="col-sm-12">
                  <h4 class="header-title">Upload Bulk Assign Statutory</h4>
              </div>
          </div>
          
         
          <div class="form-group has-feedback">
              <label class="col-sm-4 control-label">Select File: <span class="mandatory">*</span></label>
               <div class="col-sm-6">
                  <input class="form-control input-sm" type="file">
              </div>
          </div>

                       
          <div class="form-group col-sm-12 text-center">
              <div class="col-sm-12 col-sm-offset-1">
                 <button class="btn btn-primary waves-effect waves-light animateprogress" type="button" data-toggle="modal" data-target="#myModal"> Upload </button>
                 <a class="btn btn-primary btn-trans invaliddata dropbtn" onclick="myFunction()"><i class="fa fa-download text-primary"></i> Invalid Data</a>
                    <div id="myDropdown" class="dropdown-content">
                    <a href="#">Download Excel</a>
                    <a href="#">Download CSV</a>
                    <a href="#">Download ODS</a>
                    <a href="#">Download Text</a>
                    </div>
                 </div>
          </div>
           
          <div class="clear"></div>


          <div class="view-summary" style="display: none;">
                  <div class="col-sm-6 no-padding">
                    <div class="form-group bg-muted">
                     <h5 class="col-sm-12 header-title">Uploaded Data Summary</h5>
                   </div>
                   <ul class="p-l-20">
                    <li>Total No. Of Records: <b>1000</b> </li>
                    <li>Valid Records: <b> 950 </b> </li>
                    <li>Invalid Records: <b> 50</b></li>
                  </ul>
                </div>
                <div class="col-sm-6 text-danger no-padding">
                  <div class="form-group bg-muted">
                   <h5 class="col-sm-12 text-danger header-title">Invalid Data Summary</h5>
                 </div>
                 <ul class="p-l-20">
                  <li>Status validation: <b>50</b> </li>
                </ul>
              </div>
            </div>    -->           
            
          </div>
          <div class="clear"></div> 
      </form>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
{% block contentscript %}
    <script type="text/javascript" src="/script/bulk-upload/assign-statutory-bulk-upload/assign-statutory-bulk-upload.js"></script>
{% endblock %}