{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row">
  <div  id="animationSandbox">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="portlet">
        <!-- <h4 class="header-title m-t-0 m-b-30">Assign Client Unit</h4> -->
        <div class="portlet-heading bg-info">
            <h3 class="portlet-title">
                Assign Client Unit
            </h3>
            <div class="portlet-widgets">
                <a href="#" onclick="location.href='/assign-client-unit/list'" >
                    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
         <div id="bg-primary1" class="panel-collapse collapse in">
            <div class="portlet-body">
             <div class="form-horizontal">
            <div class="row">
              <div class="col-lg-1"> </div>
              <div class="col-lg-5">
                <div class="form-group  techno-user" >
                  <label class="col-sm-4 control-label">Group:</label>
                  <div class="col-md-8">
                    <p class="form-control-static">RG Group</p>
                  </div>
                </div>
                <div class="form-group has-feedback techno-user" >
                  <label class="col-sm-4 control-label">Business Group:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control input-sm" placeholder="Business Group">
                    <i class="fa-1-5x form-control-feedback fa fa-search"></i>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-5">
                <div class="form-group filter-business">
                  <label class="col-sm-4 control-label">Domain:</label>
                  <div class="col-md-8">
                     <p class="form-control-static">Labour Law</p>
                  </div>
                </div>
                <div class="form-group has-feedback techno-user" >
                  <label class="col-sm-4 control-label">Legal Entity:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control input-sm" placeholder="Legal Entity" value="RG Legal Entity 01">
                    <i class="fa-1-5x form-control-feedback fa fa-search"></i>
                  </div>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-1"> </div>
              <div class="clear"></div>
              <div class="form-group text-center">
              <button class="btn btn-primary text-center waves-effect waves-light" type="submit"> Show </button>
            </div>
            </div>
            <div class="legalentity-view">
              <table id="datatable-responsive" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th width="1%"></th>
                    <th width="06%">Unit Code</th>
                    <th width="14%">Unit Name</th>
                    <th width="06%">Organization Type</th>
                    <th width="10%">Unit Location</th>
                  </tr>
                  <tr>
                    <td align="center"></td>
                    <td>
                      <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                    </td>
                    <td>
                      <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                    </td>
                    <td>
                      <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                    </td>
                    <td>
                      <div class="form-group col-sm-12 no-padding">
                        <input type="text" class="form-control input-sm" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                    </td>
                  </tr>
                  
                </thead>
                <tbody>
                  <tr class="success font-bold">
                    <td width="2%">
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" >
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td colspan="100%" class="v-align-middle">
                      <div class="col-sm-4">Legal Entity: RG Legal Entity 01</div>
                      <div class="col-sm-4">Division: -</div>
                      <div class="col-sm-4">Category: -</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" >
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10001</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Corporate Office</td>
                    <td><strong>Labour Law</strong><br/> Contractor<br/> S & E</td>
                    <td>New Delhi</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" checked="">
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10002</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Regional Office - North</td>
                    <td><strong>Labour Law</strong><br/> Contractor<br/> S & E</td>
                    <td>South Delhi Municipal Corporation</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" checked="">
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10003</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Regional Office - South</td>
                    <td><strong>Labour Law</strong><br/> Contractor<br/> S & E</td>
                    <td>Chennai</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" checked="">
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10009</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Regional Office - South</td>
                    <td><strong>Labour Law</strong><br/> Contractor<br/> S & E</td>
                    <td>Madurai</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" checked="">
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10010</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Regional Office - South</td>
                    <td><strong>Labour Law</strong><br/> Factory<br/> Office <br/>Plantation</td>
                    <td>Selam</td>
                  </tr>
                <tr class="success font-bold">
                    <td width="2%">
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" >
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td colspan="100%" class="v-align-middle">
                      <div class="col-sm-4">Legal Entity: RG Legal Entity 01</div>
                      <div class="col-sm-4">Division: RG Division 01</div>
                      <div class="col-sm-4">Category: -</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" >
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10005</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Branch Office</td>
                    <td><strong>Labour Law</strong><br/> Contractor<br/> S & E</td>
                    <td>Madurai</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" checked="">
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10006</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Branch Office - North</td>
                    <td><strong>Labour Law</strong><br/> Contractor<br/> S & E</td>
                    <td>Madurai Corporation</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" >
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10007</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Branch Office - South</td>
                    <td><strong>Labour Law</strong><br/> Contractor<br/> S & E</td>
                    <td>Chennai Corporation</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" checked="">
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10008</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Branch Office - South</td>
                    <td><strong>Labour Law</strong><br/> Contractor<br/> S & E</td>
                    <td>Madurai</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox checkbox-primary m-b-0 m-t-0">
                          <input id="checkbox1" type="checkbox" checked="">
                          <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td>RG10011</td>
                    <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="15/9, New Delhi, 110001"></i> Branch Office - South</td>
                    <td><strong>Labour Law</strong><br/> Factory<br/> Office <br/>Plantation</td>
                    <td>Selam</td>
                  </tr>
                </tbody>
              </table>
              <p class="rpt-count">Selected Unit : 7 record(s)</p>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <form class="form-horizontal" role="form">
                  <div class="form-group has-feedback reassign-du" >
                    <label class="col-md-5 control-label">Assign To Domain Manager:</label>
                    <div class="col-md-3">
                      <input  class="form-control input-sm" value="EMP0002 - Hariharan">
                      <i class="fa-1-5x form-control-feedback fa fa-search"></i>
                    </div>
                  </div>
                </form>
              </div>
              <!-- end col -->
            </div>
             </div>
            <div class="form-group text-center">
              <button class="btn btn-primary text-center waves-effect waves-light" type="submit"> Submit </button>
              <!-- <button class="btn btn-info waves-effect m-l-5" type="reset" onclick="location.href='/assign-client-unit/list'"> Cancel </button> -->
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
</div>
</div>
{% endblock %}