{% extends "files/client/common/html/container.html" %}
{% block content %}
<div class="content-page">
<div class="content">
<div class="container">
    <div class="row">
        <div id="animationSandbox">
            <div class="col-sm-12">
            <h4 class="page-title">Statutory Settings </h4>
                <div class="card-box">
                    
                   <!--  <hr class="no-top-margin"> -->
                    <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                        <div class="col-lg-6">
                       
                            <div class="form-group has-feedback">
                                <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Businees Group </label>
                                <div class="col-sm-6 controls">
                                    <input type="text" class="form-control input-sm" placeholder="Enter Businees Group">
                                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Division</label>
                                <div class="col-sm-6 controls">
                                    <input type="text" class="form-control input-sm" placeholder="Enter Division">
                                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-lg-6">
                        <div class="form-group has-feedback">
                            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Legal Entity</label>
                            <div class="col-sm-6 controls">
                                <input type="text" class="form-control input-sm" placeholder="Enter Legal Entity">
                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Category</label>
                            <div class="col-sm-6 controls">
                                <input type="text" class="form-control input-sm" placeholder="Enter Category">
                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                     <center>
                        <div class="form-group">
                            <button class="btn btn-primary waves-effect waves-light" type="submit"> Show </button>
                        </div>
                    </center>
                    </form>
                    <div class="clearfix"></div>
                   
                    <table id="datatable-responsive" class="table table-striped dt-responsive nowrap highlight" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="2%">
                                    <div class="checkbox checkbox-primary checkbox-white m-b-0 m-t-0" >
                                        <input id="checkbox3" type="checkbox" >
                                        <label for="checkbox3"></label>
                                    </div>
                                </th>
                                <th width="20%">Unit</th>
                                <th width="20%">Location</th>
                                <th width="10%">Domain</th>
                                <th width="15%" class="text-center">No. of compliances</th>
                                <th width="15%">Updated By</th>
                                <th width="8%">Updated On</th>
                                <th width="8%" class="text-center">Lock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                        <input id="checkbox1" type="checkbox" class="unit_name">
                                        <label for="checkbox1"></label>
                                    </div>
                                </td>
                                <td><i class="fa fa-info-circle text-primary c-pointer" data-toggle="tooltip" title="12 RJ Complex, Main road, T.Nagar, Chennai, 600001"></i> VRM1003 - Regional Office</td>
                                <td>South</td>
                                <td>Industrial Law</td>
                                <td class="text-center">35</td>
                                <td>Ram Kumar</td>
                                <td>05-Sep-2016</td>
                                <td class="icon-3x text-center">
                                    <span data-toggle="modal" data-target=".bs-example-modal-sm">
                                    <i class="fa fa-unlock c-pointer text-primary" data-toggle="tooltip" data-placement="top" title="Click here to Lock"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                        <input id="checkbox2" type="checkbox" checked="" class="unit_name">
                                        <label for="checkbox2"></label>
                                    </div>
                                </td>
                                <td><i class="fa fa-info-circle text-primary c-pointer" data-toggle="tooltip" title="12 South car street, Bangalore, 560001"></i> VRM1004 - Branch Office</td>
                                <td>Chennai, Tamil Nadu</td>
                                <td>Industrial Law</td>
                                <td class="text-center">39</td>
                                <td>Ram Kumar</td>
                                <td>08-Sep-2016</td>
                                <td class="icon-3x text-center">
                                    <span data-toggle="modal" data-target=".bs-example-modal-sm">
                                    <i class="fa fa-unlock c-pointer text-primary" data-toggle="tooltip" data-placement="top" title="Click here to Lock"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                        <input id="checkbox3" type="checkbox" class="unit_name" disabled="disabled">
                                        <label for="checkbox3"></label>
                                    </div>
                                </td>
                                <td><i class="fa fa-info-circle text-primary c-pointer" data-toggle="tooltip" title="12 South car street, Bangalore, 560001"></i> VRM1006 - Regional Office</td>
                                <td>New Delhi, North</td>
                                <td>Industrial Law</td>
                                <td class="text-center">39</td>
                                <td>Ram Kumar</td>
                                <td>08-Sep-2016</td>
                                <td class="icon-3x text-center">
                                    <span data-toggle="modal" data-target=".bs-example-modal-sm">
                                    <i class="fa fa-lock c-pointer text-primary" data-toggle="tooltip" data-placement="top" title="Click here to Unlock"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr class="text-info">
                                <td>
                                    <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                        <input id="checkbox4" type="checkbox" class="unit_name">
                                        <label for="checkbox4"></label>
                                    </div>
                                </td>
                                <td><i class="fa fa-info-circle text-primary c-pointer" data-toggle="tooltip" title="12 South car street, Bangalore, 560001"></i> VRM1005 - Regional Office</td>
                                <td>North</td>
                                <td>Industrial Law</td>
                                <td class="text-center">50</td>
                                <td>Ram Kumar</td>
                                <td>10-Sep-2016</td>
                                <td class="icon-3x text-center">
                                    <span data-toggle="modal" data-target=".bs-example-modal-sm">
                                    <i class="fa fa-unlock c-pointer text-primary" data-toggle="tooltip" data-placement="top" title="Click here to Lock"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Selected Unit: 1</p>
                    <p><button class="btn btn-primary waves-effect waves-light singleunit" type="submit" onclick="location.href='/statutory-settings/single'"> Edit </button>
                    <button class="btn btn-primary waves-effect waves-light multipleunit" type="submit" onclick="location.href='/statutory-settings/list'" style="display:none;"> Edit </button></p>
                    <p>*  Statutes assigned to those units are marked in Black color</p>
                    <p class="text-info">*  Units to be assigned are marked in Blue color</p>
                    <!-- end col -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times text-primary c-pointer"></i></button>
                <h4 class="modal-title" id="mySmallModalLabel"> Enter Password</h4>
            </div>
            <div class="modal-body p-b-0">
              <div class="form-group">
                <input class="form-control input-sm" placeholder="Password" type="text">
              </div>
              <div class="form-group">
                <button class="btn btn-primary waves-effect waves-light" type="submit"> Submit </button>
              </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function() {
        $('.unit_name').click(function() {
          var che = $('.unit_name:checked');
          $('.selected_checkbox_count').html(che.length);
          if(che.length > 1) {
              $('.singleunit').hide();
              $('.multipleunit').show();
          } else {
              $('.singleunit').show();
              $('.multipleunit').hide();
          }
        });
    });
</script>
{% endblock %}