{% extends "files/client/common/html/container.html" %}
{% block content %}
<div class="content-page">
<div class="content">
<div class="container" id="statutorysettings-view">
    <div class="row">
        <div id="animationSandbox">
            <div class="col-sm-12">

                <div class="portlet">
                    <div class="portlet-heading bg-info">
                        <h3 class="portlet-title">Statutory Settings</h3>
                        <div class="portlet-widgets">

                        </div>
                        <div class="clearfix"></div>
                    </div>
                <div id="bg-primary1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                    <div class="form-horizontal group-border-dashed" action="#" novalidate="">
                        <div class="col-lg-6">

                            <div class="form-group has-feedback">
                                <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Business Group: </label>
                                <div class="col-sm-6 controls">
                                    <p class="form-control-static business-group-name default-display-none"></p>

                                    <div class="business-group-name-ac default-display-none">
                                        <input class="form-control input-sm" type="text" id="business_group_name" tabindex="1">
                                        <i class="form-control-feedback fa fa-search"></i>
                                        <input type="hidden" id="business_group_id">
                                        <div id="ac-business-group" class="ac-textbox default-display-none">
                                            <ul class="width85Percent"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Division:</label>
                                <div class="col-sm-6 controls">
                                    <input class="form-control input-sm" type="text" value="" id="division_name" tabindex="3">
                                    <i class="form-control-feedback fa fa-search"></i>
                                    <input type="hidden" id="division_id">
                                    <div id="ac-division" class="ac-textbox default-display-none">
                                        <ul class="width85Percent"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="form-group has-feedback">
                            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Legal Entity:<span class="mandatory">*</span></label>
                            <div class="col-sm-6 controls">
                                <p class="form-control-static legal-entity-name default-display-none"></p>
                                <div class="legal-entity-name-ac default-display-none">
                                    <input class="form-control input-sm" type="text" id="legal_entity_name" tabindex="2">
                                    <i class="form-control-feedback fa fa-search"></i>
                                    <input type="hidden" id="legal_entity_id" value="">
                                    <div id="ac-entity" class="ac-textbox default-display-none">
                                        <ul class="width85Percent"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Category:</label>
                            <div class="col-sm-6 controls">
                                <input class="form-control input-sm" type="text" value="" id="category_name" tabindex="4">
                                <i class="form-control-feedback fa fa-search"></i>
                                <input type="hidden" id="category_id">
                                <div id="ac-category" class="ac-textbox default-display-none">
                                    <ul class="width85Percent"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                     <center>
                        <div class="form-group">
                            <button class="btn btn-primary waves-effect waves-light btn-show" type="button"> Show </button>
                        </div>
                    </center>
                    </div>
                    <div class="clearfix"></div>
                   <div class="table-responsive">
                    <table id="datatable-responsive" class="table table-striped dt-responsive nowrap js-filtertable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="2%">
                                    <div class="checkbox satcheck checkbox-primary checkbox-white m-b-0 m-t-0" >
                                        <input id="unit-checkbox-main" type="checkbox" >
                                        <label for="unit-checkbox-main"></label>
                                    </div>
                                </th>
                                <th width="20%">Unit</th>
                                <th width="20%">Location</th>
                                <th width="10%">Domain</th>
                                <th width="15%" class="text-center">No. of compliance</th>
                                <th width="15%">Updated By</th>
                                <th width="8%">Updated On</th>
                                <th width="8%" class="text-center">Lock</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="form-group col-sm-12 no-padding m-t-10 m-b-10">
                                        <input type="text" class="form-control input-sm js-filter" id="l-filter-unit" placeholder="Unit" />
                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                      </div>
                                </td>
                                <td>
                                    <div class="form-group col-sm-12 no-padding m-t-10 m-b-10">
                                        <input type="text" class="form-control input-sm js-filter" id="l-filter-location" placeholder="Location" />
                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                      </div>
                                </td>
                                <td>
                                    <div class="form-group col-sm-12 no-padding m-t-10 m-b-10">
                                        <input type="text" class="form-control input-sm js-filter" id="l-filter-domain" placeholder="Domain" />
                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                      </div>
                                </td>
                                <td>
                                    <div class="form-group col-sm-12 no-padding m-t-10 m-b-10">
                                        <input type="text" class="form-control input-sm js-filter" id="l-filter-noofcompliance" placeholder="No. of compliance" />
                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                      </div>
                                </td>
                                <td>
                                    <div class="form-group col-sm-12 no-padding m-t-10 m-b-10">
                                        <input type="text" class="form-control input-sm js-filter" id="l-filter-updatedby" placeholder="Updated By" />
                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                      </div>
                                </td>
                                <td>
                                    <div class="form-group col-sm-12 no-padding m-t-10 m-b-10">
                                        <input type="text" class="form-control input-sm js-filter" id="l-filter-updatedon" placeholder="Updated On" />
                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                      </div>
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody class="tbody-statutorysettings-list">
                        </tbody>
                            
                    </table>
                    </div>

                    <div class="selected_checkbox">
                        <p>Selected Unit: <span class="selected_checkbox_count">0</span>
                    </div>

                    <p><button class="btn btn-primary waves-effect waves-light btn-edit default-display-none" type="button"> Edit </button>
                    <p>*  Statutes assigned to those units are marked in Black color</p>
                    <p class="new_row m-b-0">*  Units to be assigned are marked in Blue color</p>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container default-display-none" id="statutorysettings-add">
    <div class="row">
        <div id="animationSandbox">
            <div class="col-sm-12">
                <div class="portlet">
                    <div class="portlet-heading bg-info">
                        <h3 class="portlet-title">Statutory Settings</h3>
                        <div class="portlet-widgets">
                            <a id="btn-cancel">
                              <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                          </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-primary1" class="panel-collapse collapse in">
                        <div class="portlet-body">
                            <div class="panel-group col-lg-12 no-padding tbody-single-assignstatutory" id="accordion" role="tablist" aria-multiselectable="true">

                            </div>

                            <table class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                                <tbody class="tbody-assignstatutory">

                                </tbody>
                            </table>
                            
                            <center>
                                <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light default-display-none btn-showmore" >Show More</button>
                            </center>

                            <div class="total_count_view default-display-none">
                                <br> <span class="total_count"></span>
                            </div>

                            <div class="form-group text-center m-b-0">
                                <button id="btn-save" class="btn btn-info waves-effect waves-light" type="button"> Save </button>
                                <button id="btn-submit" class="btn btn-primary waves-effect waves-light" type="button"> Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="clear"></div>
                <br>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- Modal -->
<div id="custom-modal" class="modal-demo box-width-400">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();">
      <i class="zmdi zmdi-close zmdi-hc-2x"></i>
    </span>
    <h4 class="custom-modal-title p-t-10 p-b-10">Enter Password</h4>
    <div class="custom-modal-text">
        <div role="form">
            <div class="form-group">
                <label for="current-password" class="pull-left">Password <span class="mandatory">*</span></label>
                <input type="password" class="form-control input-sm" id="current-password" placeholder="Password" maxlength="20">
            </div>
            <button type="button" class="btn btn-primary waves-effect waves-light" id="password-submit">Submit</button>
        </div>
    </div>
</div>

<div id="templates">
  <table class="table-statutorysettings">
      <tr class="table-row">
            <td class="text-center">
                <div class="checkbox satcheck checkbox-primary m-b-0 m-t-0 ck-view">
                    <input type="checkbox" class="unit-checkbox">
                    <label></label>
                </div>
            </td>
            <td>
                <i class="fa fa-info-circle text-primary c-pointer tbl_address" data-toggle="tooltip"></i>
                <span class="tbl_unit"> </span>
            </td>
            <td class="tbl_location"></td>
            <td class="tbl_domain"></td>
            <td class="tbl_no_of_compliance"></td>
            <td class="tbl_updated_by"></td>
            <td class="tbl_updated_on"></td>
            <td class="icon-3x text-center">
                <span href="#custom-modal" data-animation="contentscale" data-plugin="custommodal" data-overlayColor="#36404a">
                <i class="tbl_lock fa c-pointer text-primary" data-toggle="tooltip" data-placement="top"></i>
                </span>
            </td>
      </tr>
  </table>

  <div id="act-templates" class="default-display-none">
      <div class="panel panel-default bx-shadow-none p-head">
        <div class="panel-heading p-10 acc-title" role="tab">
            <h4 class="m-b-0 m-t-0">
              <div class="gt" style="float:left; width:3%;">
                <label class="change_status" for="1">
                <img src="/images/tick1bold.png">
                </label>
              </div>
              <div class="panel-title">
                <a role="button" data-toggle="collapse"
                    data-parent="#accordion"
                    aria-expanded="true" >
                    <span></span>
                <div class="controls pull-right m-t-m-5 r-view" style="display:none;">
                      <label class="col-sm-3 control-label p-t-5" style="margin-right: 10px;">Remarks:</label>
                      <div class="col-sm-8 no-padding">
                      <input type="text" class="form-control input-sm remarks" placeholder="Enter Remarks" maxlength="500" />
                      </div>
                </div>

                </a>
              </div>

            </h4>
        </div>
        <div class="panel-collapse collapse in coll-title" role="tabpanel">
            <div class="panel-body no-padding">
                <div class="dataTable_wrapper">
                    <table  class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th align="center" width="2%">#</th>
                                <th width="20%">Statutory Provision</th>
                                <th width="15%">Compliance Task</th>
                                <th width="15%">Compliance Frequency</th>
                                <th width="25%">Compliance Description</th>
                                <th width="04%" class="text-center" title="Applicable"><i class="fa fa-edit fa-1-3x text-white"></i></th>
                                <th width="04%" class="text-center" title="Opted"><i class="fa fa-user-plus fa-1-3x text-white"></i></th>
                                <th width="10%">Remarks</th>
                                <th width="5%">Viewed</th>
                            </tr>
                        </thead>
                        <tbody class="tbody-compliance-list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
  </div>
  <div id="statutory-value">
    <table class="table-statutory-values">
      <tr class="sub-title-row">
        <td colspan="100%">
            <div class="col-sm-2 no-padding">
                <mark class="p-l-10 p-r-10 sub-title"></mark>
            </div>
        </td>
      </tr>
      <tr class="compliance-details">
          <input type="hidden" class="combineid-class" />
          <td><span class="sno"> </span></td>
          <td class="statutoryprovision"></td>
          <td class="compliancetask"></td>
          <td class="compliancefrequency"> </td>
          <td class="compliancedescription"> </td>
          <td align="center" class="applicable"></td>
          <td align="center">
               <label class="opted" for="1">
                <img src="/images/tick1bold.png">
               </label>
          </td>
          <td class="c-remark">
            <div class="c-remark-view">
                <i class="fa fa-info-circle c-pointer" data-toggle="tooltip"></i>
                <span> </span>
            </div>
            <div class="default-display-none c-remark-add remark-black">
                <textarea class="form-control input-sm c-remark-input" placeholder="Enter Remarks" rows="1" maxlength="500"></textarea>
                <small>(max 500 characters)</small>
            </div>
          </td>

          <td align="center">
              <i class="fa c-pointer text-warning saved"></i>
          </td>
      </tr>
    </table>
  </div>

  <div id="multi-statutory-value">
    <table class="table-statutory-values">
      <tr class="sub-title-row">
        <td colspan="100%">
            <div class="col-sm-2 no-padding">
                <mark class="p-l-10 p-r-10 sub-title"></mark>
            </div>
        </td>
      </tr>
      <tbody class="mul-act-heading">
        <tr>
          <td colspan="9" style="color: #797979;background-color: #f5f5f5;" class="p-0">
            <div class="panel-heading" role="tab">
              <h4 class="m-b-0 m-t-0" style="width: 99%; float: left; ">
                <div class="gt" style="float:left; width:3%;">
                  <label class="change_status" for="1">
                  <img src="/images/tick1bold.png">
                  </label>
                </div>
                <div class="panel-title">
                  <span> </span>
                  <div class="controls pull-right m-t-m-5 r-view" style="display:none;">
                    <label class="col-sm-3 control-label p-t-5" style="margin-right: 10px;">Remarks:</label>
                    <div class="col-sm-8 no-padding">
                      <input type="text" class="form-control input-sm remarks" placeholder="Enter Remarks" maxlength="500" />
                    </div>
                  </div>
                </div>
              </h4>
              <span class="toggle-act c-pointer" onclick="showhide(this)" >
                <i class="fa fa-minus-circle"></i>
              </span>
            </div>
          </td>
        </tr>
      </tbody>

      <tbody class="mul-compliance-heading">
        <th align="center" width="2%">#</th>
        <th width="14%">Statutory Provision</th>
        <th width="15%">Compliance Task</th>
        <th width="14%">Compliance Frequency</th>
        <th width="25%">Compliance Description</th>
        <th width="25%" colspan="3" class="text-center">Applicable Units</th>
        <th width="2%" class="text-center">Viewed</th>
      </tbody>

      <tbody class="mul-compliance-details">
        <tr>
            <td><span class="sno"> </span></td>
            <td class="statutoryprovision"></td>
            <td class="compliancetask"></td>
            <td class="compliancefrequency"> </td>
            <td class="compliancedescription"> </td>
            <td colspan="3" align="center" class="applicablelocation"> </td>
            <td align="center">
               <!--  <i class="fa c-pointer text-warning saved"></i> -->
            </td>
        </tr>
      </tbody>
      <tbody class="mul-unit-head">
        <tr>
          <th align="center" width="2%"></th>
          <th width="15%">Location</th>
          <th width="25%" colspan="3">Unit Name</th>
          <th width="06%" class="text-center" title="Applicable">
              <i class="fa fa-edit fa-1-3x text-inverse"></i>
          </th>
          <th width="06%" class="text-center" title="Opted">
              <i class="fa fa-user-plus fa-1-3x text-inverse">
          </th>
          <th width="20%">
              Remarks
          </th>
          <th width="1%"></th>
        </tr>
      </tbody>

      <tbody class="mul-unit-row">
        <tr >
          <td align="center" width="2%">
            <input type="hidden" class="combineid-class" />
          </td>
          <td class="unit-locatiion"></td>
          <td colspan="3" class="unit-name"></td>
          <td align="center" class="applicable">

          </td>

          <td align="center">
               <label class="opted" for="1">
                <img src="/images/tick1bold.png">
               </label>
          </td>

          <td class="c-remark">
            <div class="c-remark-view">
                <i class="fa fa-info-circle c-pointer" data-toggle="tooltip"></i>
                <span> </span>
            </div>
            <div class="default-display-none c-remark-add remark-black">
                <textarea class="form-control input-sm c-remark-input" placeholder="Enter Remarks" rows="1" maxlength="500"></textarea>
                <small>(max 500 characters)</small>
            </div>
          </td>
          <td width="1%" align="center">
                <i class="fa c-pointer text-warning saved"></i>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

    <table class="table-no-record">
        <tr>
        <td colspan="8" align="center"> No Records Found</td>
        </tr>
    </table>

</div>


{% endblock %}
{% block contentscript %}
<script type="text/javascript" src="/script/statutory-settings/statutory_settings.js"></script>
{% endblock %}
