{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="btn-group pull-right m-t-5 m-b-20">
        <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" aria-expanded="false" onclick="parent.location='/statutory-nature/create'"> <span class="m-l-5"><i class="fa fa-plus-circle"></i></span> Add</button>
      </div>
      <h4 class="page-title">Statutory Nature</h4>
    </div>
    <div class="col-sm-3"></div>
  </div>
 <div class="row" id="animationSandbox">
  <div class="col-sm-3"> </div>
  <div class="col-sm-6">
    <div class="card-box table-responsive">
        
          <div class="col-sm-12">
            <table id="datatable-responsive" class="table table-striped dt-responsive nowrap highlight" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Country</th>
                  <th>Statutory Nature</th>
                  <th class="text-center">Edit</th>
                  <th class="text-center">Status</th>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <div class="form-group col-sm-12 no-padding m-b-0">
                      <input type="text" class="form-control input-sm" placeholder="Country Name" />
                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group col-sm-12 no-padding m-b-0">
                      <input type="text" class="form-control input-sm" placeholder="Statutory Nature" />
                      <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td></td>
                  <td align="center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="true"> 
                                All
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">All</a></li>
                                <li><a href="#"><i class="fa fa-check text-success"></i> Active</a></li>
                                <li><a href="#"><i class="fa fa-times text-danger"></i> Inactive</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>India</td>
                  <td>Central</td>
                  <td class="icon-3x text-center"><i class="fa fa-pencil text-primary c-pointer " data-toggle="tooltip" title="Click here to Edit"></i></td>
                  <td class="icon-3x text-center"><i class="fa fa-check text-success c-pointer" data-toggle="tooltip" title="Click here to Deactivate"></i></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>India</td>
                  <td>State</td>
                  <td class="icon-3x text-center"><i class="fa fa-pencil text-primary c-pointer " data-toggle="tooltip" title="Click here to Edit"></i></td>
                  <td class="icon-3x text-center"><i class="fa fa-check text-success c-pointer" data-toggle="tooltip" title="Click here to Deactivate"></i></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Singapore</td>
                  <td>Concurrent</td>
                  <td class="icon-3x text-center"><i class="fa fa-pencil text-primary c-pointer " data-toggle="tooltip" title="Click here to Edit"></i></td>
                  <td class="icon-3x text-center"><i class="fa fa-times text-danger c-pointer" data-toggle="tooltip" title="Click here to Activate"></i></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Srilanka</td>
                  <td>Central</td>
                 <td class="icon-3x text-center"><i class="fa fa-pencil text-primary c-pointer " data-toggle="tooltip" title="Click here to Edit"></i></td>
                  <td class="icon-3x text-center"><i class="fa fa-check text-success c-pointer" data-toggle="tooltip" title="Click here to Deactivate"></i></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Srilanka</td>
                  <td>State</td>
                  <td class="icon-3x text-center"><i class="fa fa-pencil text-primary c-pointer " data-toggle="tooltip" title="Click here to Edit"></i></td>
                  <td class="icon-3x text-center"><i class="fa fa-check text-success c-pointer" data-toggle="tooltip" title="Click here to Deactivate"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
     
  </div>
  <!-- end col -->
</div>
{% endblock %}