{% extends "files/client/common/html/container.html" %}
{% block content %}
<div class="content-page">
<div class="content">
<div class="container">
    <div class="row">
        <div id="animationSandbox">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
            
                <div class="portlet">
                <div class="portlet-heading bg-info">
                    <h3 class="portlet-title">Reassign Compliance</h3>
                    <div class="portlet-widgets">
                        <!--a href="#" onclick="location.href='/service-provider/list'">
                            <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                        </a-->
                    </div>
                    <div class="clearfix"></div>
                </div>
					<!-- <h4 class="page-title">Reassign Compliance </h4> -->
                    <!-- <hr class="no-top-margin"> -->
                    <div id="bg-primary1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                    <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                    <div class="col-sm-4">
                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label" for="example-input-small">User <span class="mandatory">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control input-sm" value="EMP1008 - Vishnu" type="text">
                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label" for="example-input-small">Unit</label>
                            <div class="col-sm-8">
                                <input class="form-control input-sm" placeholder="Enter Unit Name" type="text">
                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="example-input-small">User Type</label>
                            <div class="col-sm-8 controls">
                                <select class="form-control input-sm">
                                  <option selected="selected">All</option>
                                  <option>Assignee</option>
                                  <option>Concurrence</option>
                                  <option>Approver</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <center>
                        <div class="form-group">
                            <button class="btn btn-primary waves-effect waves-light" type="button"> Show </button>
                        </div>
                    </center>
                    </form>
                    <div class="table-responsive">
                    <table id="datatable-responsive" class="table dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="50%">Unit</th>
                                <th width="20%" class="text-center">No. of Compliance Tasks</th>
                                <th width="12%" class="text-center">Reassign</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3"><mark class="p-l-10 p-r-10">Assignee</mark></td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="f-l">
                                    <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                        <input id="checkbox3" type="checkbox" checked="">
                                        <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                    <i class="fa fa-info-circle c-pointer" data-toggle="tooltip" title="18, Anna Nagar, Madurai, 625015"></i> VRM1003 - Branch Office - Madurai
                                </td>
                                <td class="text-center">4</td>
                                <td rowspan="2" class="v-align-middle text-center"><button class="btn btn-primary waves-effect waves-light" type="button" onclick="parent.location='/reassigntask/edit'" > Reassign </button></td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="f-l">
                                    <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                        <input id="checkbox3" type="checkbox" checked="">
                                        <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                    <i class="fa fa-info-circle c-pointer" data-toggle="tooltip" title="18, Anna Nagar, Madurai, 625015"></i> VRM1003 - VRM1004 - Branch Office - Chennai
                                </td>
                                <td class="text-center">5</td>
                                <!-- <td><button class="btn btn-primary waves-effect waves-light" type="button" onclick="parent.location='/reassigntask/edit'" > Reassign </button></td> -->
                            </tr>
                            <tr>
                                <td colspan="3"><mark class="p-l-10 p-r-10">Concurrence</mark></td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="f-l">
                                    <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                    <i class="fa fa-info-circle c-pointer" data-toggle="tooltip" title="18, Anna Nagar, Madurai, 625015"></i> VRM1003 - VRM1002 - Branch Office - Kovai
                                </td>
                                <td class="text-center">4</td>
                                <td rowspan="2" class="v-align-middle text-center"><button class="btn btn-primary waves-effect waves-light" type="button"> Reassign </button></td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="f-l">
                                    <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                    <i class="fa fa-info-circle c-pointer" data-toggle="tooltip" title="18, Anna Nagar, Madurai, 625015"></i> VRM1003 - VRM1004 - Branch Office - Chennai
                                </td>
                                <td class="text-center">3</td>
                                <!-- <td><button class="btn btn-primary waves-effect waves-light" type="button" onclick="parent.location='/reassigntask/edit'" > Reassign </button></td> -->
                            </tr>
                            <tr>
                                <td colspan="3"><mark class="p-l-10 p-r-10">Approver</mark></td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="f-l">
                                    <div class="checkbox checkbox-primary m-b-0 m-t-0">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                    <i class="fa fa-info-circle c-pointer" data-toggle="tooltip" title="18, Anna Nagar, Madurai, 625015"></i> VRM1003 - VRM1001 - Branch Office - Salem
                                </td>
                                <td class="text-center">4</td>
                                <td class="text-center"><button class="btn btn-primary waves-effect waves-light" type="button" onclick="parent.location='/reassigntask/edit'"> Reassign </button></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="m-b-0">Showing units: 4</p>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}