{% extends "files/desktop/knowledge/home/container.html" %}
{% block content %}
<div class="content-container">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Client Profile<span class="error-message"></span></div>
      <div class="form-container-outer">
        <div class="single-column-input-row">
          <br>
          <div class="input-row">
            <div class="single-column-field-label">Client:<span class="mandatory">*</span></div>
            <div class="single-column-field-input">
                <input type="text" class="input-box icon-autocomplete" id="groupsval" value="" style="width:200px;"  onkeyup="loadauto_text(this.value)">
                <input type="hidden" id="group-id">
                <div id="autocompleteview" class="ac-textbox" style="display:none;"  onclick="hidelist();">
                  <ul style="width:195px;"></ul>
                </div>
            </div>
          </div>
        </div>
        <div class="list-container" style="display:none;">
        <div class="grid-table" width="100%" style="margin-top:20px; ">
          <table style="float:left;width:45%;margin-left:40px">
            <tr>
              <th colspan="2" style="background:#ccc;color:black;font-weight:bold">
                Contract Period
              </th>
            </tr>
            <tr>
              <td>
                Contract Start Date :
              </td>
              <td class="contract-start">
              </td>
            </tr>
            <tr style="background:none repeat scroll 0 0 #f1e9f6;">
              <td>
                Contract Expires on :
              </td>
              <td class="contract-expires">
              </td>
            </tr>
          </table>
          <table style="float:left;width:45%;margin-left:40px">
            <tr>
              <th  style="background:#ccc;color:black;font-weight:bold">
                File Space
              </th>
            </tr>
            <tr>
              <td style="background:#fff" align="center">
                <div id="container-space" style="padding-right:10px">
                  <table width="100%" style="border-width:2px;border-color:black;color:white">
                    <tr width="100%" height="40px" style="padding:10px">
                      <td align="center" class="usedspace" style="width:48%;background-color:#662D91;color:white;font-weight:bold;vertical-align: middle; "></td>
                      <td align="center" class="totalspace" style="width:52%;background-color:#aaa;color:white; vertical-align: middle; "></td>
                    </tr>
                    <tr>
                      <td align="center" colspan="2" style="font-weight:bold" class="space-summary">

                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
      </div>
      <div class="grid-table">
          <table class="js-filtertable">
          <thead>
            <tr>
              <th align="left" colspan="4" style="background:#ccc;color:black;font-weight:bold">
              Licence Holders list
              </th>
              <th align="right" colspan="4" style="background:#ccc;color:black;font-weight:bold;padding-right:10px;">
              Remaining Licence : <span class="remaining-licence"></span>
              </th>
            </tr>
          <tr >
          <th style="background:#A381BD;color:black;font-weight:bold" width="4%">#</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="15%">Employee</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="10%">Email</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="10%">Mobile Number</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="20%">Seating Unit</th>
          <th align="center" style="background:#A381BD;color:black;font-weight:bold" width="7%">Status</th>
         <th align="center" style="background:#A381BD;color:black;font-weight:bold" width="9%">Promote Admin</th>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
          <td><input type="text" class="filter-text-box js-filter" ></td>
          <td><input type="text" class="filter-text-box js-filter" ></td>
          <td><input type="text" class="filter-text-box js-filter" ></td>
          <td><input type="text" class="filter-text-box js-filter" ></td>
          <td align="center">&nbsp;</td>
          <td align="center">&nbsp;</td>
        </tr>
        </thead>
        <tbody class="tbody-clientprofile-list">
        </tbody>
        </table>
        </div>
      </div>

        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="templates">
  <table class="table-clientprofile-list">
    <tr class="table-row">
      <td align="center" style="height:40px" class="sno">5</td>
      <td class="employee"></td>
      <td class="email"></td>
      <td class="mobile-number"></td>
      <td class="seating-unit"><abbr title=""><img style="margin-right:5px" src="/images/icon-info.png"></abbr><span></span></td>
      <td align="center" class="is-active"></td>
      <td align="center" class="promote-admin"> </td>
    </tr>
  </table>
</div>
<script type="text/javascript" src="/files/desktop/knowledge/client-profile/clientprofile.js"></script>
{% endblock %}

