{% extends "files/knowledge/common/html/container.html" %} {% block content %}
<!-- Client Master View Start -->
<div class="container" id="clientgroup-view">
    <div class="row">
        <div class="col-sm-1"> </div>
        <div class="col-sm-10">
            <div class="btn-group pull-right m-t-5 m-b-20">
                <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light btn-clientgroup-add"> <i class="fa fa-plus-circle"></i> Add</button>
            </div>
            <h4 class="page-title">Clients</h4>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" id="animationSandbox">
        <div class="col-lg-1"> </div>
        <div class="col-lg-10">
            <div class="panel panel-default panel-info">
                <div class="panel-body">
                    <div class="panel-group col-lg-12 no-padding tbody-clientgroup-list m-b-0" id="accordion" role="tablist" aria-multiselectable="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="templates">
    <div id="act-templates" class="default-display-none">
        <div class="panel panel-default bx-shadow-none p-head">
            <div class="panel-heading p-5 acc-title" role="tab">
                <h4 class="panel-title">
              <div class="act-status" style="float:left; width:3%;">
                 
              </div>
              <div class="panel-title">
                <a role="button" data-toggle="collapse"
                    data-parent="#accordion" 
                    aria-expanded="false" 
                    class="collapsed">
                    <span></span>
                <div class="controls pull-right m-r-10">
                  <div class="col-sm-12 no-padding">
                  <i class="fa fa-pencil text-primary c-pointer edit-icon" data-toggle="tooltip" title=""></i>  
                  </div>
                </div>
                </a>
              </div>
            </h4>
            </div>
            <div class="panel-collapse collapse coll-title" role="tabpanel">
                <div class="panel-body no-padding">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped dt-responsive nowrap js-filtertable" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th align="center" width="2%">#</th>
                                    <th width="30%">Country</th>
                                    <th width="30%">Legal Entity Name</th>
                                    <th width="15%" class="text-center">Status</th>
                                    <th width="20%">Approval Status</th>
                                </tr>
                                <tr>
                                    <td align="center"></td>
                                    <td>
                                        <div class="form-group has-feedback col-sm-12 no-padding m-t-10 m-b-10">
                                            <input class="form-control input-sm filter-text-box js-filter" placeholder="Country" type="text" id="search-country">
                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group has-feedback col-sm-12 no-padding m-t-10 m-b-10">
                                            <input class="form-control input-sm filter-text-box js-filter" placeholder="Legal Entity Name" type="text" id="search-legalentity">
                                            <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                        </div>
                                    </td>
                                    <td class="text-center"></td>
                                    <td>
                                        <div class="form-group has-feedback col-sm-12 no-padding m-t-10 m-b-10 ">
                                            <select class="form-control input-sm js-filter width-100px">
                                                <option value="">All</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Approved">Approved</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody class="tbody-le-list">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="le-value">
        <table class="table-le-values">
            <tr class="le-details">
                <td><span class="sno"> </span></td>
                <td class="countryname"></td>
                <td class="legalentityname"></td>
                <td align="center" class="status"></td>
                <td class="approvalstatus"></td>
            </tr>
        </table>
    </div>
</div>
<!-- Client Master Add Start -->
<div class="container default-display-none" id="clientgroup-add">
    <div class="row" id="animationSandbox">
        <div class="col-sm-12">
            <div class="portlet">
                <div class="portlet-heading bg-info">
                    <h3 class="portlet-title">Add Client</h3>
                    <div class="portlet-widgets">
                        <a class="c-pointer cancel">
                            <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="bg-primary1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                            <div class="cm-header col-sm-6">
                                <div class="form-group">
                                    <label class=" col-sm-5 control-label">Group: <span class="mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="group-text" class="form-control input-sm" maxlength="50" placeholder="Group Name" tabindex="">
                                    </div>
                                </div>
                            </div>
                            <div class="cm-header col-sm-6">
                                <div class="form-group">
                                    <label class=" col-sm-4 control-label">Short Name: <span class="mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" id="shortname" maxlength="20" placeholder="Short Name">
                                    </div>
                                </div>
                            </div>
                            <div class="cm-header col-sm-6 action-div">
                                <div class="form-group ">
                                    <label class="col-sm-5 control-label">Action: <span class="mandatory">*</span></label>
                                    <div class="col-sm-6 actions">
                                        <select class="form-control input-sm">
                                            <option value="1">Edit</option>
                                            <option value="2">Renewal</option>
                                            <option value="3">Amendment</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="cm-header col-sm-6">
                                <div class="form-group">
                                    <label class=" col-sm-5 control-label">View Only Licence(s): <span class="mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="view-licence-text" class="form-control input-sm numeric" maxlength="3" placeholder="Enter View Only Licence(s)" tabindex="">
                                    </div>
                                </div>
                            </div>
                            <div class="cm-header col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email ID: <span class="mandatory">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" maxlength="100" id="username" placeholder="user@domain.com">
                                        <abbr class="help-block"><small><small>[ <i class="fa fa-info-circle"></i> We will use this email ID to contact you about your account ]</small></small>
                                        </abbr>
                                    </div>
                                    <div class="icon-3x col-sm-2 p-t-7 email-edit-icon default-display-none">
                                        <i class="fa fa-pencil text-primary c-pointer"></i>
                                    </div>
                                    <input type="hidden" class="is_email_update" value="0" >
                                </div>
                            </div>
                            <div class=" cm-header col-sm-6 remarks-div">
                                <div class="form-group remarks_text ">
                                    <label class="col-sm-5 control-label">Remarks: <span class="mandatory">*</span></label>
                                    <label class="col-sm-6 p-l-10">
                                        <input placeholder="Remarks text here..." class="form-control input-sm" id="remarks-text" maxlength="500" type="text">
                                    </label>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="col-sm-12">
                                <div class="form-group pull-right p-t-7">
                                    <a class="waves-effect waves-light c-pointer add-le img-link" type="button"> <i class="fa fa-plus-circle text-primary v-align-middle"></i> <span class="v-align-middle">Add Legal Entity</span> </a>
                                </div>
                                <h4 class="page-title">Legal Entity Configuration</h4>
                            </div>
                            <div class="clear"></div>
                            <div class="le-body">
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group pull-right m-b-0 p-t-7 edit-date-config default-display-none" src="/images/icon-edit.png">
                                    <a class="waves-effect waves-light c-pointer icon-3x" type="button"><i class="fa fa-pencil text-primary"></i></a>
                                </div>
                                <h4 class="page-title">Date Configuration</h4>
                                <input type="hidden" class="is_date_config_update" value="0">
                            </div>
                            <div class="clear"></div>
                            <div class="table-responsive">
                                <table id="datatable-responsive" class="table table-striped dt-responsive nowrap" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th width="35%">Domain</th>
                                            <th width="65%" colspan="2" class="text-center">Timeline</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody-dateconfiguration-list">
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group text-center m-b-0 p-t-7">
                                <button class="btn btn-primary waves-effect waves-light save" type="button"> Submit </button>
                            </div>
                            <div class="clear"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="custom-modal" class="modal-demo box-width-600">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();"> 
      <i class="zmdi zmdi-close zmdi-hc-2x"></i>
    </span>
    <input type="hidden" id="le-cnt" />
    <input type="hidden" id="d-cnt" />
    <input type="hidden" id="o-cnt" />
    <h4 class="custom-modal-title p-t-10 p-b-10">Add Organization</h4>
    <div class="custom-modal-text p-t-0 p-b-10">
        <form role="form">
            <h4 class="dialog-sub-heading-bg"></h4>
            <table id="datatable-responsive" class="table table-striped dt-responsive nowrap m-b-10" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="60%">Organization</th>
                        <th width="30%">No. of Unit(s)</th>
                        <th width="10%" class="text-center">Remove</th>
                    </tr>
                </thead>
                <tbody class="organization-list">
                </tbody>
            </table>
            <div class="form-group pull-right m-b-0" tabindex="13">
                <a class="waves-effect waves-light c-pointer add-organization" title="Click to add new Organization" type="button"> <i class="fa fa-plus-circle text-primary v-align-middle"></i> <span class="v-align-middle">Add New</span> </a>
            </div>
            <button type="button" class="btn btn-primary waves-effect waves-light org-submit">Save</button>
        </form>
    </div>
</div>
<div class="organization-template default-display-none">
    <table>
        <tr class="org-row">
            <td>
                <div class="form-group has-feedback col-sm-12 no-padding m-b-0">
                    <input class="form-control input-sm orgselected" type="text" placeholder="Enter organization" autofocus>
                    <input type="hidden" id="industry">
                    <div id="ac-industry" class="ac-textbox default-display-none" width="10%">
                        <ul></ul>
                    </div>
                    <i class="form-control-feedback fa fa-search"></i>
                </div>
            </td>
            <td>
                <div class="form-group col-sm-6 m-b-0">
                    <input class="form-control input-sm no-of-units" maxlength="3" placeholder="No. of Units" type="text">
                </div>
            </td>
            <td class="icon-3x text-center">
                <i class="fa fa-trash text-primary c-pointer remove-organisation"></i>
            </td>
        </tr>
    </table>
</div>
<div class="legal-entity-config-template default-display-none">
    <div class="grid-table">
        <input type="hidden" class="le-no">
        <input type="hidden" class="le-id">        
        <div class="card-box p-10 letable">
            <input type="hidden" class="edited" value="0">
            <input type="hidden" class="is_add_update" value="0">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class=" col-sm-4 p-t-5">Country<span class="mandatory">*</span></label>
                    <div class="col-sm-6 no-padding-right">
                        <select placeholder="Select Country" class="form-control country input-sm" tabindex="">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 p-t-5">Business Group</label>
                    <div class="select_business_group">
                        <div class="col-sm-6 no-padding-right">
                            <select class="form-control input-sm business-group" tabindex=""></select>
                        </div>
                        <div class="col-sm-2 p-t-7">
                            <a class="waves-effect waves-light c-pointer add-business-group" type="button" onclick="addOrSelectBusinessGroup('add', this, 0)"> <i class="fa fa-plus-circle text-primary addbg"></i> </a>
                        </div>
                    </div>
                    <div class="input_business_group default-display-none">
                        <div class="col-sm-6 no-padding-right">
                            <input class="form-control input-sm business-group-text" placeholder="Enter Business Group" maxlength="50" type="text">
                            <input type="hidden" class="business-group-id">
                        </div>
                        <div class="col-sm-2 p-t-7">
                            <a class="waves-effect waves-light c-pointer icon-3x cancel-add-business-group" type="button" onclick="addOrSelectBusinessGroup('cancel', this, 0)"> <i class="fa fa-times text-primary"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 p-t-5">Legal Entity<span class="mandatory">*</span></label>
                    <div class="col-sm-6 no-padding-right">
                        <input class="form-control input-sm legal-entity-text legal_entity_text" placeholder="Enter Legal Entity" maxlength="50" tabindex="" type="text">
                    </div>
                    <label class="col-sm-1 icon-3x no-padding-right edit-right-icon pull-right">
                        <i class="fa fa-pencil text-primary c-pointer pull-right"></i>
                    </label>
                </div>
            </div>
            <div class="col-sm-4  clear renewal-div default-display-none">
                <div class="form-group">
                    <label class=" col-sm-4 p-t-5">Old Contract From</label>
                    <div class="col-sm-6 no-padding-right ">
                        <span class="old-contract-from l-h-30"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 renewal-div default-display-none">
                <div class="form-group">
                    <label class=" col-sm-4 p-t-5">Old Contract To</label>
                    <div class="col-sm-6 no-padding-right">
                        <span class="old-contract-to l-h-30"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 renewal-div default-display-none">
            </div>
            <div class="col-sm-4  clear">
                <div class="form-group">
                    <label class=" col-sm-4 p-t-5">Contract From<span class="mandatory">*</span></label>
                    <div class="col-sm-6 no-padding-right">
                        <input class="form-control input-sm contract-from" readonly="readonly" placeholder="Select Contract From" tabindex="" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class=" col-sm-4 p-t-5">Contract To<span class="mandatory">*</span></label>
                    <div class="col-sm-6 no-padding-right">
                        <input class="form-control input-sm contract-to" type="text" readonly="readonly" placeholder="Select Contract To" tabindex="">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 p-t-5">Total Licence(s)<span class="mandatory">*</span></label>
                    <div class="col-sm-6 no-padding-right">
                        <input class="form-control input-sm numeric no-of-user-licence" value="" type="text" maxlength="3" tabindex="" placeholder="Enter No. of Licence">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 clear">
                <div class="form-group">
                    <label class=" col-sm-4 p-t-5">Upload Logo</label>
                    <div class="col-sm-6 no-padding-right">
                        <input class="form-control input-sm upload-logo" type="file">
                        <span>
                        <img  id="upload-logo-img"  width="25">
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class=" col-sm-4 p-t-5">File Space<span class="mandatory">*</span></label>
                    <div class="col-sm-3 no-padding-right">
                        <input class="form-control input-sm pull-left file-space file-space-div" maxlength="3" type="text" tabindex="">
                        <abbr class="l-h-30"> &nbsp;GB</abbr>
                    </div>
                    <div class="col-sm-4 pull-left"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="table-responsive">
                <table id="datatable-responsive" class="table table-striped dt-responsive nowrap domain-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="30%">Domain <span class="mandatory">*</span></th>
                            <th width="30%">Activation Date <span class="mandatory">*</span></th>
                            <th width="30%">Organization <span class="mandatory">*</span></th>
                            <th width="10%" class="text-center">
                                <abbr class="remove-domain-heading">Remove</abbr>
                            </th>
                        </tr>
                    </thead>
                    <input type="hidden" class="domain-count" value='0' />
                    <tbody class="domain-list">
                    </tbody>
                </table>
            </div>
            <!-- <button type="button" class="btn btn-info btn-sm waves-effect waves-light pull-right m-t-5">
            <span><i class="fa fa-plus"></i></span> 
          </button> -->
            <div class="col-sm-12">
                <div class="form-group pull-right m-b-0" tabindex="13">
                    <a class="waves-effect waves-light c-pointer add-domain" type="button"> <i class="fa fa-plus-circle text-primary v-align-middle"></i> <span class="v-align-middle">Add Domain</span> </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="domain_row_template default-display-none">
    <table>
        <tr class="domain_row">
            <td>
                <div class="form-group col-sm-6 m-b-0">
                    <select class="form-control input-sm domain">
                    </select>
                </div>
            </td>
            <td>
                <div class="form-group col-sm-6 m-b-0">
                    <input class="form-control input-sm activationdate" placeholder="Select Activation Date" readonly="readonly" type="text" value="">
                </div>
            </td>
            <td>
                <a class="c-pointer addOrganizationType">
                    <!--  href="#custom-modal" data-animation="contentscale" data-plugin="custommodal" data-overlayColor="#36404a" -->
                    <i class="fa fa-info-circle text-primary c-pointer" data-toggle="tooltip" title=""></i> Add Organization
                </a>
</div>
</td>
<td class="icon-3x text-center">
    <i class="fa fa-trash text-primary c-pointer remove-domain"></i>
</td>
</tr>
</table>
</div>
<div class="dconfig-templates default-display-none">
    <table class="table-dconfig-list">
        <tr class="table-dconfig-countries-row">
            <td>
                <mark class="dconfig-country-name"></mark>
                <input type="hidden" class="inputCountry" value="">
            </td>
            <td align="center">From</td>
            <td align="center">To</td>
        </tr>
        <tr class="table-dconfig-domain-row">
            <td class="dconfig-domain-name">
                <input type="hidden" class="inputDomain" value="">
            </td>
            <td align="center">
                <div class="col-sm-offset-3 col-sm-6">
                    <select class="form-control input-sm tl-from">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </td>
            <td align="center">
                <div class="col-sm-offset-3 col-sm-6">
                    <select class="form-control input-sm tl-to">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12" selected="selected">December</option>
                    </select>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="user-list-drop-down default-display-none">
    <li></li>
</div>
<div class="text default-display-none">
    <span class="l-h-30"></span>
</div>
<div class="logo-img default-display-none">
    <span>
        <img  id="upload-logo-img"  width="25" >
    </span>
</div>
<div class="tooltip-templates default-display-none">
    <div class="text-with-tooltip">
        <abbr title="" ></abbr>
    </div>
</div>
<div class="select-option default-display-none">
    <select>
        <option></option>
    </select>
</div>
<div id="custom-modal1" class="modal-demo box-width-400">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();">
    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
    </span>
    <h4 class="custom-modal-title p-t-10 p-b-10">Enter Password</h4>
    <div class="custom-modal-text p-t-0">
        <div role="form">
            <div class="form-group">
                <label for="current-password" class="pull-left">Password <span class="mandatory">*</span></label>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <input type="password" class="form-control input-sm" id="current-password" placeholder="Password" maxlength="20">
            </div>
            <button type="button" class="btn btn-primary waves-effect waves-light" id="password-submit">Submit</button>
        </div>
    </div>
</div>
{% endblock %} {% block contentscript %}
<script type="text/javascript" src="/script/client-master/client-master.js"></script>
{% endblock %}
