{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row" id="animationSandbox">
    <div class="col-sm-3"> </div>
    <div class="col-sm-6">
      <div class="portlet">
          <!-- <h4 class="page-title">Validity Date Settings</h4>
          <hr class="no-top-margin"> -->
          <div class="portlet-heading bg-info">
            <h3 class="portlet-title">
                Validity Date Settings
            </h3>
            <!-- <div class="portlet-widgets">
                <a href="#" onclick="location.href='/statutory-nature/list'" >
                    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                </a>
            </div> -->
            <div class="clearfix"></div>
        </div>
        <div id="bg-primary1" class="panel-collapse collapse in">
            <div class="portlet-body">
          <form class="form-horizontal group-border-dashed" action="#" novalidate="">
          <div class="form-group bg-muted">
            <div class="col-sm-5">
                <h4 class="header-title ">India</h4>
            </div>
            <div class="col-sm-6">
                <h4 class="header-title">Validity Before / After</h4>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">Finance Law</label>
            <div class="col-sm-6 controls">
            <div class="input-group width-40">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="00" value="40"><span class="input-group-addon bg-info">Days</span>
            </div>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">Labour Law</label>
            <div class="col-sm-6">
            <div class="input-group width-40">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="00" value="30"><span class="input-group-addon bg-info">Days</span>
            </div>
            </div>
          </div>
          <div class="form-group bg-muted">
            <div class="col-sm-5">
                <h4 class="header-title ">Singapore</h4>
            </div>
            <div class="col-sm-6">
                <h4 class="header-title">Validity Before / After</h4>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">Economic Law</label>
            <div class="col-sm-6">
            <div class="input-group width-40">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="00" value="20"><span class="input-group-addon bg-info">Days</span>
            </div>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">Employee Law</label>
            <div class="col-sm-6">
            <div class="input-group width-40">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="00" value="15"><span class="input-group-addon bg-info">Days</span>
            </div>
            </div>
          </div>
      <div class="form-group text-center">
          <button class="btn btn-primary waves-effect waves-light" type="submit"> Submit </button>
      </div>
      </form>
      </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  </div>
{% endblock %}

