{% extends "files/client/common/html/container.html" %} {% block content %}
<link href="/css/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/jquery-ui.css">
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row" id="animationSandbox">
                <div class="col-sm-12">
                    <div class="portlet">
                        <div class="portlet-heading bg-info">
                            <h3 class="portlet-title">Statutory Notification List</h3>
                            <div class="portlet-widgets">
                                <!-- <a href="#" onclick="location.href='/service-provider/list'">
                            <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                        </a> -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- <h4 class="page-title">Statutory Notification List</h4> -->
                        <!-- <hr class="no-top-margin"> -->
                        <div id="bg-primary1" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            <label class=" col-sm-offset-1 col-sm-3 control-label">Country: <span class="mandatory">*</span></label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static country-name default-display-none"></p>
                                                <div class="country-name-ac default-display-none">
                                                    <input type="text" class="form-control input-sm" id="country" placeholder="Enter Country" tabindex="1">
                                                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                    <input type="hidden" id="country-id" value="">
                                                    <div id="ac-country" class="ac-textbox default-display-none">
                                                        <ul class="hidemenu"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-sm-4 control-label">Legal Entity: <span class="mandatory">*</span></label>
                                            <div class="col-sm-6 has-feedback">
                                                <p class="form-control-static legal-entity-name default-display-none"></p>
                                                <div class="legal-entity-name-ac default-display-none">
                                                    <input type="text" class="form-control input-sm" id="legal-entity" placeholder="Enter Legal Entity" tabindex="2">
                                                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                    <input type="hidden" id="legal-entity-id" value="">
                                                    <div id="ac-legal-entity" class="ac-textbox default-display-none">
                                                        <ul class="hidemenu"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-sm-4 control-label">Domain: <span class="mandatory">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control input-sm" placeholder="Enter Domain Name" id="domain" tabindex="3">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="domain-id" value="">
                                                <div id="ac-domain" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback">
                                            <label class="col-sm-4 control-label">Act:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="act" class="form-control input-sm" placeholder="Enter Act" tabindex="4">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="act-id" value="">
                                                <div id="ac-act" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-sm-4 control-label">From Date: </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control input-sm from-date" id="from_date" placeholder="DD-MM-YYYY" tabindex="5" readonly="readonly">
                                                <i class="form-control-feedback fa fa-calendar-check-o"></i>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-sm-4 control-label">To Date: </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control input-sm to-date" id="to_date" placeholder="DD-MM-YYYY" tabindex="6" readonly="readonly">
                                                <i class="form-control-feedback fa fa-calendar-check-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <center>
                                            <div class="form-group m-b-0">
                                                <button class="btn btn-primary waves-effect waves-light" type="button" id="show-button" tabindex="7"> Show </button>
                                                <!-- <button class="btn btn-info waves-effect waves-light" type="button"> Export </button> -->
                                            </div>
                                        </center>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="compliance_animation">
                        <div id="report-view" style="display: none;">
                            <div class="card-box">
                                <div class="table-responsive ">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12 text-center">
                                            <h4>Statutory Notification List</h4></div>
                                        <div class="col-sm-4 text-center">
                                            <h6>Country : <span class="ctry-header"></span></h6></div>
                                        <div class="col-sm-4 text-center">
                                            <h6>Legal Entity : <span class="le-header"></span></h6></div>
                                        <div class="col-sm-4 text-center">
                                            <h6>Domain : <span class="dom-header"></span></h6></div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="table-responsive ">
                                        <table id="datatable-responsive" class="table dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th width="01%">#</th>
                                                    <th width="15%">Act</th>
                                                    <th width="20%">Compliance Task</th>
                                                    <th width="10%">Date</th>
                                                    <th width="20%">Notification Content</th>
                                                </tr>
                                            </thead>
                                            <tbody id="report-table-tbody">
                                            </tbody>
                                        </table>
                                    </div>
                                    <table class="pagination-view default-display-none">
                                        <tr>
                                            <td>
                                                <span class="compliance_count"> </span>
                                                <span class="divider-view"> | </span>
                                                <span class="items-per-page">
                                                  Show
                                                  <select id="items_per_page">
                                                  </select>
                                                  entries
                                                  </span>
                                            </td>
                                            <td style="width:600px;"></td>
                                            <td style="text-align:right;padding-right:10px;">
                                                <ul id="pagination-rpt"></ul>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
        <div id="template">
            <table id="report-table">
                <tr class="row-three">
                    <td class="sno"></td>
                    <td class="act-name"></td>
                    <td><span class="compliance-task"></span></td>
                    <td class="due-date"></td>
                    <td class="notifications-content"></td>
                </tr>
            </table>
        </div>
        <div id="no-record-templates" class="default-display-none">
            <table class="table-no-content">
                <tr align="left" class="table-row-no-content">
                    <td align="center" colspan="10" class="no_records" style="padding:40px; font-size:1.2em; font-weight:bold"></td>
                </tr>
            </table>
        </div>
        {% endblock %}
        {% block contentscript %}
            <script src="/script/statutory-notifications-list/statutory_notifications_list.js"></script>
        {% endblock %}
