{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<script src="/files/desktop/common/js/wizard/jquery.steps.js"></script>
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/wizard/jquery.steps.css">
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/tooltip/tipso.css">
<script src="/files/desktop/common/js/tooltip/tipso.js"></script>
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/popup/popup.css">
<script type="text/javascript" src="/files/desktop/common/js/popup/modernizr.js"></script>
<style>
  .modaltable th
  {
    padding: 5px;
  }
  .modaltable td
  {
    padding: 10px 0px;
    font-size: 0.813em;
  }
   #inactiveid{
    cursor:pointer;
  }
  
</style>
<div class="content-container">
  <div class="content-area">
    <h1>Users</h1>
    <div class="filters-and-search">
      <div class="btn-add" onclick="location.href='/userclient/create'" formtarget="_self">Add</div>
    </div>
    <div class="clearfix"></div>
    <div class="grid-table">
      <table>
        <tr>
          <th width="4%">#</th>
          <th align="left" width="15%">Employee</th>
          <th align="left" width="10%">User Group</th>
          <th align="left" width="10%">User Level</th>
          <th align="left" width="20%">Seating Unit</th>
          <th align="center" width="7%">Edit</th>
          <th align="center" width="7%">Status</th>
          <th align="center" width="9%">Promote Admin</th>
          
        </tr> 
        <tr>
          <td align="center">&nbsp;</td>
          <td><input type="text" name="location-name" class="filter-text-box"></td>
          <td><input type="text" name="district-name" class="filter-text-box"></td>
          <td><input type="text" name="region-name" class="filter-text-box"></td>
          <td><input type="text" name="region-name" class="filter-text-box"></td>
          <td align="center">&nbsp;</td>
          <td align="center">&nbsp;</td>
          <td align="center">&nbsp;</td>
        
        </tr>
        <tr>
          <td align="center">1</td>
          <td>EMP0010 - Hariharan</td>
          <td>Group 3</td>
          <td>Level 4</td>
          <td>
            <abbr class="page-load tipso_style" title="26, West Steet, New Delhi">
            <img src="/images/icon-info.png" style="margin-right:10px"/>VBM1001 - Corporate Office
          </td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-inactive.png" title="Click here to activate" id="inactiveid"/></td>
          <td align="center"><a="#"><img src="/images/promote-active.png"title="Click here to inactivate" id="inactiveid" class="inactive"  /></a="#"></td>
        </tr>
        <tr>
          <td align="center">2</td>
          <td>EMP0012 - Sivaraman</td>
          <td>Manager</td>
          <td>Level 3</td>
          <td>
            <abbr class="page-load tipso_style" title="12 South car street, Bangalore">
            <img src="/images/icon-info.png" style="margin-right:10px"/>VBM1002 - Regional Office - South
          </td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid"  onClick="$('.modal').toggleClass('active');" /></td>
          <td align="center"><a="#"><img src="/images/promote-inactive.png" title="Click here to inactivate" id="inactiveid" class="inactive"/></a="#"></td>
        </tr>
        <tr>
          <td align="center">3</td>
          <td>EMP0015 - Srinivasan</td>
          <td>Group 2</td>
          <td>Level 2</td>
          <td><abbr class="page-load tipso_style" title="12 RJ Complex, Main road, T.Nagar, Chennai"><img src="/images/icon-info.png" style="margin-right:10px"/>VBM103 - Branch Office - Chennai</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" onClick="$('.modal').toggleClass('active');"/></td>
          <td align="center"><a="#"><img src="/images/promote-active.png" title="Click here to inactivate" id="inactiveid" class="inactive"  /></a="#"></td>
          
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="modal" style="width:20%; margin-left: -12.5%;">
  <header>
     <div class="close toggleModal" onClick="$('.modal').toggleClass('active');"></div>
  </header>  
  <section>
  <p style="font-size:0.8em; padding-top:10px;">

      <table width="100%">
        <tr style="height:30px">
          <td>
            User has assigned tasks. Reassign the tasks to deactivate.
          </td>
        </tr>
        <tr style="height:30px;padding-top:20px">
          <td style="height:30px;padding-top:20px" align="center">
            <input type="submit" name="cancel" value="Cancel" class="btn-submit" onClick="$('.modal').toggleClass('active');">
            <input type="submit" name="cancel" value="Reassign" class="btn-submit" onclick="location.href='/reassigntask/edit'" formtarget="_self" >
          </td>
        </tr>
      </table>
    </p>
  </section>
</div>
<script type="text/javascript">
$(document).ready(function() {
});

jQuery(window).load(function(){
  jQuery('.page-load').tipso({
    tooltipHover: true
  });
});
$('.toggleModal').on('click', function (e) {
  $('.modal').toggleClass('active');
});

</script> 
{% endblock %} 