{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<script type="text/javascript" src="/files/desktop/StatutoryMapping/statutorymapping.js"></script>
<script type="text/javascript" src="/files/desktop/common/js/mirror.js"></script>

<div id="listview" style="display:block">
  <div class="content-container width75" >
  <div class="content-area">
      <h1>Statutory Mapping List</h1>
      <div class="filters-and-search">
      <div class="btn-add" onclick="displayAdd();">Add</div>
    </div>
      <div class="clearfix"></div>
      <div class="grid-table">
      <table>
          <tr align="left">
          <th align="center">#</th>
          <th width="10%">Country</th>
          <th width="10%">Domain</th>
          <th width="10%">Industry</th>
          <th width="10%">Statutory Nature</th>
          <th width="35%">Statutory</th>
         <th width="30%">Compliance Task</th>
          <th width="5%" align="center">Edit</th>
          <th width="5%" align="center" style="padding-right:3px">Status</th>
          <th width="5%" align="center" style="padding-right:3px">Approval Status</th>
        </tr>
        <tr>
          <td align="center"></td>
          <td><input type="text" class="filter-text-box" onkeyup="filter(this, 1)"></td>
          <td><input type="text" class="filter-text-box" onkeyup="filter(this, 2)"></td>
          <td><input type="text" class="filter-text-box" onkeyup="filter(this, 3)"></td>
          <td><input type="text" class="filter-text-box" onkeyup="filter(this, 4)"></td>
          <td><input type="text" class="filter-text-box" onkeyup="filter(this, 5)"></td>
          <td><input type="text" class="filter-text-box" onkeyup="filter(this, 6)"></td>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center"></td>
        </tr>

        <tbody class="tbody-statutorymapping-list" id="filter_statutorymapping">        
        </tbody>
<!--           <tr>
          <td align="center">1</td>
          <td>India</td>
          <td>Industrial Law</td>
          <td>Factory</td>
          <td>Central</td>
          <td>Batteries Act <img src="/images/right_arrow.png"> Rule 4<br>
            Batteries Act <img src="/images/right_arrow.png"> Rule 7 <img src="/images/right_arrow.png">Section VII</td>
          <td>FORM IV - Dealer Registration </td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
          <td>Approved</td>
        </tr>
      <tr>
          <td align="center">2</td>
          <td>India</td>
          <td>Industrial Law</td>
          <td>Factory</td>
          <td>Central</td>
          <td>Batteries Act <img src="/images/right_arrow.png"> Rule 8(I) <br>
          Batteries Act <img src="/images/right_arrow.png"> Rule 9(I) <br>
          Batteries Act <img src="/images/right_arrow.png"> Rule 9(V) <br></td>
          <td>FORM VI - Recycler Registration and Review </td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
          <td>Rejected</td>
        </tr>
        <tr>
          <td align="center">3</td>
          <td>India</td>
          <td>Industrial Law</td>
          <td>Factory</td>
          <td>Central</td>
          <td>Batteries Act <img src="/images/right_arrow.png"> Rule 8(III) 
          <td>FORM VII - Half yearly returns by recyclers</td>
          <td align="center"><img src="/images/icon-edit.png" id="editid" /></td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" /></td>
          <td>Pending</td>
        </tr> -->
        </table>
    </div>
      
    </div>
</div>
</div>

<div id="templates">
<table class="table-statutorymapping">
  <tr class="table-row">
    <td class="sno" align="center"></td>
    <td class="country"></td>
    <td class="domain"></td>
    <td class="industry"></td>
    <td class="statutorynature"></td>
    <td class="statutory"></td>
    <td class="compliancetask"></td>
    <td class="edit" align="center"></td>
    <td class="status" align="center"></td>
    <td class="approvalstatus"></td>
  </tr>
</table>
</div>

<div id="addview" style="display:block">
</div>
{% endblock %} 