{% extends "files/client/common/html/container.html" %} {% block content %}
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row" id="animationSandbox">
                <div class="col-sm-12">
                    <div class="portlet">
                        <div class="portlet-heading bg-info">
                            <h3 class="portlet-title">Reassigned History Report</h3>
                            <div class="portlet-widgets"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="bg-primary1" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <form class="form-horizontal group-border-dashed">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Country: <span class="mandatory">*</span></label>
                                            <p class="form-control-static filter-country-name default-display-none col-sm-6"></p>
                                            <div class="col-sm-6 has-feedback default-display-none">
                                                <input type="text" class="form-control input-sm" id="country" placeholder="Enter Country" tabindex="1">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="country-id" value="">
                                                <div id="ac-country" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Legal Entity: <span class="mandatory">*</span></label>
                                            <p class="form-control-static filter-legal-entity-name default-display-none col-sm-6"></p>
                                            <div class="col-sm-6 has-feedback default-display-none">
                                                <input type="text" class="form-control input-sm" id="legal-entity" placeholder="Enter Legal Entity" tabindex="2">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="legal-entity-id" value="">
                                                <div id="ac-legal-entity" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Domain: <span class="mandatory">*</span></label>
                                            <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="domain" placeholder="Enter Domain Name" tabindex="3">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="domain-id" value="">
                                                <div id="ac-domain" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Unit: <span class="mandatory">*</span></label>
                                            <div class="col-sm-6 has-feedback">
                                                <input type="text" id="unit" class="form-control input-sm" placeholder="Enter Unit" tabindex="4">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="unit-id" value="">
                                                <div id="ac-unit" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Act: </label>
                                            <div class="col-sm-6 has-feedback">
                                                <input type="text" id="act" class="form-control input-sm" placeholder="Enter Act" tabindex="5">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="act-id" value="">
                                                <div id="ac-act" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Compliance Task: </label>
                                            <div class="col-sm-6 has-feedback">
                                                <input type="text" id="compliance-task" class="form-control input-sm" placeholder="Enter Compliance Task" tabindex="6">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="compliance-task-id" value="">
                                                <div id="ac-compliance-task" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">User: </label>
                                            <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="user" placeholder="Enter User" tabindex="7">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="user-id" value="">
                                                <div id="ac-user" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-sm-4 control-label">From Date: <span class="mandatory">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control input-sm from-date" readonly="readonly" id="from-date" placeholder="DD-MM-YYYY" tabindex="8">
                                                <i class="form-control-feedback fa fa-calendar-check-o"></i>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="col-sm-4 control-label ">To Date: <span class="mandatory">*</span></label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control input-sm to-date" readonly="readonly" id="to-date" placeholder="DD-MM-YYYY" tabindex="9">
                                                <i class="form-control-feedback fa fa-calendar-check-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <center>
                                            <div class="form-group m-b-0">
                                                <button class="btn btn-primary waves-effect waves-light" id="show-button" type="button" tabindex="10"> Show </button>
                                            </div>
                                        </center>
                                    </div>
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="compliance_animation">
                        <div id="report-view" style="display: none;">
                            <div class="card-box">
                                <div class="table-responsive">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12 text-center"><img class="rpt-logo" id="client-logo"></div>
                                        <div class="col-sm-12 text-center">
                                            <h4>Reassigned History Report</h4></div>
                                        <div class="col-sm-4 text-center">
                                            <h6>Legal Entity : <span id="legal-entity-name"></span></h6></div>
                                        <div class="col-sm-4 text-center">
                                            <h6>Country : <span id="country-name" ></span></h6></div>
                                        <div class="col-sm-4 text-center">
                                            <h6>Domain : <span id="domain-name" ></span></h6></div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="table-responsive">
                                        <table id="datatable-responsive" class="table dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th width="01%">#</th>
                                                    <th width="15%">Compliance Task</th>
                                                    <th width="08%">Due Date</th>
                                                    <th width="08%">Assigned Date</th>
                                                    <th width="27%">Assigned</th>
                                                    <th width="10%">Reason</th>
                                                </tr>
                                            </thead>
                                            <tbody id="report-table-tbody">
                                            </tbody>
                                        </table>
                                    </div>
                                    <table class="pagination-view">
                                        <tr>
                                            <td>
                                                <span class="compliance_count"> </span>
                                                <span class="divider-view"> | </span>
                                                <span class="items-per-page">
                                                    Show
                                                    <select id="items_per_page"> </select>
                                                    entries
                                                </span>
                                            </td>
                                            <td style="width:650px;"></td>
                                            <td style="text-align:right; padding-right:10px;">
                                                <ul id="pagination-rpt"></ul>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="template">
    <table id="report-table">
        <tr class="bg-lightdark row-one">
            <td colspan="100%">
                <div class="col-sm-12">Unit: <span class="unit-name"></span></div>
            </td>
        </tr>
        <tr class="row-two">
            <td colspan="100%">
                <div class="col-sm-2 no-padding">
                    <mark class="p-l-10 p-r-10 act-name">Test Act</mark>
                </div>
            </td>
        </tr>
        <tr class="row-three">
            <td class="sno"></td>
            <td class="compliance-task">FORM I - Half yearly returns Submission</td>
            <td class="due-date"></td>
            <td class="assigned-date"></td>
            <td class="assigned"></td>
            <td class="reason"></td>
        </tr>
        <tr class="row-four" style="display: none;">
            <td colspan="3">&nbsp;</td>
            <td colspan="100%">
                <ul class="tree">
                    <li>
                        <table width="100%">
                            <tbody class="tree-body">
                                <tr class="smallfont row-five">
                                    <td width="10%" class="assigned-date-new"></td>
                                    <td width="37%" class="assigned-new"></td>
                                    <td width="12%" class="reason-new"></td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>
{% endblock %} 
{% block contentscript %}
<script src="/script/reassigned-history/reassign_history.js"></script>
{% endblock %}
