{% extends "files/desktop/home/container.html" %}
{% block content %}

<link href="/files/desktop/common/css/datepicker/jquery-ui.css" rel="stylesheet">
<div class="content-container width60" id="service-provider-view">
  <div class="content-area">
    <h1>Service Providers</h1>
    <div class="filters-and-search">
      <div class="btn-add" id="btn-service-provider-add" formtarget="_self">Add</div>
    </div>
    <div class="clearfix"></div>
    <div class="grid-table">
      <table>
        <tr>
          <th width="3%" align="center">#</th>
          <th align="left">Service Provider</th>
          <th align="left">Contact Person</th>
          <th align="left">Contact No.</th>
          <th width="3%" align="center">Edit</th>
          <th width="5%" align="center">Status</th>
        </tr>
        <tr>
          <td align="center"></td>
          <td><input type="text"  class="filter-text-box" id="search-service-provider"></td>
          <td><input type="text"  class="filter-text-box" id="search-contact-person"></td>
          <td><input type="text"  class="filter-text-box" id="search-contact-no"></td>
          <td align="center"></a></td>
          <td align="center"></td>
        </tr>
        <tbody class="tbody-service-provider-list">
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="templates">
<table class="table-service-provider-list">
  <tr class="table-row">
    <td align="center" class="sno"></td>
    <td align="left" class="service-provider-name"></td>
    <td align="left" class="contact-person"></td>
    <td align="left" class="contact-number"></td>
    <td align="center" class="edit"></a></td>
    <td align="center" class="is-active"></td>
  </tr>     
</table>
</div>
<div class="content-container width70 default-display-none" id="service-provider-add">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Service Provider <span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">Service Provider:<span class="mandatory">*</span></div>
          <div class="field-input"><input type="hidden" id="service-provider-id" value="">
          <input type="text" class="input-box" value="" id="service-provider-name"></div>
        </div>
         <div class="input-row">
          <div class="field-label">Contact Person:<span class="mandatory">*</span></div>
          <div class="field-input"><input type="text" class="input-box" id="contact-person"></div>
        </div>
           <div class="input-row" style="padding-bottom:0px;">
          <div class="field-label">Contact No.:<span class="mandatory">*</span></div>
          <div class="field-input"><input type="text" class="input-box countrycode" id="country-code" value=""> <input type="text" class="input-box areacode" id="area-code" value="" > <input type="text" class="input-box mobile" id="mobile-number"></div>
        </div>
        <div class="input-row">
          <div class="field-label">&nbsp;</div>
          <div class="field-input">
          <span style="font-size:10px;">[+91 452 1234567]</span>
          </div>
        </div>       
       
      </div>
      <div class="input-row-right">
        <div class="input-row">
          <div class="field-label">Address:</div>
          <div class="field-input"><textarea class="input-box" style="height:50px;" id="address"></textarea></div>
        </div>      
         <div class="input-row" >
          <div class="field-label">Contract From:<span class="mandatory">*</span></div>
          <div class="field-input"><input type="text" class="input-box" id="contract-from"></div>
        </div>             
        <div class="input-row" >
          <div class="field-label">Contract To:<span class="mandatory">*</span></div>
          <div class="field-input"><input type="text" class="input-box" id="contract-to">
          </div>
        </div>
      </div>      
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Cancel" id="btn-service-provider-cancel" class="btn-cancel">&nbsp;&nbsp;
        <input type="submit" name="submit" value="Submit" id="submit" class="btn-submit">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/files/desktop/service-provider/serviceprovider.js"></script>
<script src="/files/desktop/common/js/datepicker/jquery-ui.js"></script>  
<script type="text/javascript">
$(function() {
    $( "#contract-from" ).datepicker({
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 1,
      dateFormat: "d-M-yy",
      monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", 
                 "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      onClose: function( selectedDate ) {
        $( "#contract-to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#contract-to" ).datepicker({
      changeMonth: true,
      changeYear: true,
      numberOfMonths: 1,
      dateFormat: "d-M-yy",
      monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", 
                 "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      onClose: function( selectedDate ) {
        $( "#contract-from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
</script>
{% endblock %}