{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row">
  <div id="animationSandbox">
    <div class="col-sm-12">
      <div class="portlet">
          <!-- <h4 class="page-title">Approve Statutory Mapping</h4>
          <hr class="no-top-margin"> -->
          <div class="portlet-heading bg-info">
              <h3 class="portlet-title">Approve Statutory Mapping</h3>
              <div class="portlet-widgets">
                  <!-- <a href="#" onclick="location.href='/service-provider/list'">
                      <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                  </a> -->
              </div>
              <div class="clearfix"></div>
          </div>
          <div id="bg-primary1" class="panel-collapse collapse in">
            <div class="portlet-body">
        
        <form class="form-horizontal group-border-dashed" action="#" novalidate="">
        <div class="col-lg-6">
          <div class="form-group has-feedback">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">Country Name <span class="mandatory">*</span></label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Enter Country" value="India">
              <i class="fa-1-3x form-control-feedback fa fa-search"></i>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">Organisation</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Enter Organisation" value="Factory">
              <i class="fa-1-3x form-control-feedback fa fa-search"></i>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">User</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Enter User" value="">
              <i class="fa-1-3x form-control-feedback fa fa-search"></i>
            </div>
          </div>
          </div>
          <div class="col-lg-6">
          <div class="form-group has-feedback">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">Domain Name</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Enter Domain" value="Labour Law">
              <i class="fa-1-3x form-control-feedback fa fa-search"></i>
            </div>
          </div>
          <div class="form-group has-feedback">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">Statutory Nature</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Enter Statutory Nature" value="Central">
              <i class="fa-1-3x form-control-feedback fa fa-search"></i>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">&nbsp;</label>
            <div class="col-sm-6 controls">
              &nbsp;
            </div>
          </div>
        </div>
        </form>
        <div class="clear"></div>
        <center>
          <div class="form-group" id="add">
            <button class="btn btn-primary waves-effect waves-light" type="submit" onclick="loadForm()" > Show</button>
          </div>
        </center>
      </div>
      </div>
      </div>
      <div class="card-box">
      <div class="table-responsive no-padding">
        <form class="form-horizontal group-border-dashed km-view" action="#" novalidate="">
              <table id="datatable-responsive" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th width="1%">#</th>
                    <th width="15%">Organization</th>
                    <th width="10%">Statutory Nature</th>
                    <th width="20%" colspan="2">Statutory Provision</th>
                    <th width="10%">Action</th>
                    <th width="10%">Reason</th>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      <div class="form-group col-sm-12 no-padding m-b-0">
                        <input type="text" class="form-control input-sm" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                    </td>
                    <td>
                      <div class="form-group col-sm-12 no-padding m-b-0">
                        <input type="text" class="form-control input-sm" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                    </td>
                    <td colspan="2">
                      <div class="form-group col-sm-12 no-padding m-b-0">
                        <input type="text" class="form-control input-sm" />
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                      </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="success">
                    <td>1</td>
                    <td>Factory</td>
                    <td>Central</td>
                    <td colspan="2">Batteries Act >> Rule 4 >> FORM I</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0" selected="selected"> Select</option>
                          <option value="1">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="table-sub-head">
                    <th>&nbsp;</th>
                    <th>Compliance</th>
                    <th>Status</th>
                    <th>Created by</th>
                    <th>Last updated by</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a href="#">FORM I - Halfyearly returns Submission</a></td>
                    <td>Active</td>
                    <td>Ram Kumar</td>
                    <td>Ravichandren</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1" selected="selected">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a href="#">FORM IV - Quarterly returns Submission</a></td>
                    <td>Inactive</td>
                    <td>Hariharan</td>
                    <td>Ravichandren</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0" selected="selected"> Select</option>
                          <option value="1">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a href="#">FORM V - Form Submission</a></td>
                    <td>Active</td>
                    <td>Ram Kumar</td>
                    <td>Ravichandren</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3" selected="selected">Approve & Notify</option>
                        </select>
                    </td>
                    <td><textarea class="form-control" rows="2" placeholder="Enter Reason"></textarea></td>
                  </tr>
                </tbody>
                <tbody>
                  <tr class="success">
                    <td>2</td>
                    <td>Factory</td>
                    <td>Central</td>
                    <td colspan="2">Batteries Act >> Rule 4 >> FORM II</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1">Approve</option>
                          <option value="2" selected="selected">Reject</option>
                          <option value="3">Approve & Notify</option>
                        </select>
                    </td>
                    <td><textarea class="form-control" rows="1" placeholder="Enter Reason"></textarea></td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="table-sub-head">
                    <th>&nbsp;</th>
                    <th>Compliance</th>
                    <th>Status</th>
                    <th>Created by</th>
                    <th>Last updated by</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a href="#">FORM II - Registration</a></td>
                    <td>Active</td>
                    <td>Ram Kumar</td>
                    <td>Ravichandren</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1">Approve</option>
                          <option value="2" selected="selected">Reject</option>
                          <option value="3">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a href="#">FORM VI - Registration</a></td>
                    <td>Active</td>
                    <td>Ram Kumar</td>
                    <td>Nil</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1">Approve</option>
                          <option value="2" selected="selected">Reject</option>
                          <option value="3">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr class="success">
                    <td>3</td>
                    <td>Factory</td>
                    <td>Central</td>
                    <td colspan="2">Batteries Act >> Rule 4 >> FORM III</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1" selected="selected">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="table-sub-head">
                    <th>&nbsp;</th>
                    <th>Compliance</th>
                    <th>Status</th>
                    <th>Created by</th>
                    <th>Last updated by</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a href="#">FORM III - Undertaking submission</a></td>
                    <td>Active</td>
                    <td>Ram Kumar</td>
                    <td>Ravichandren</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1" selected="selected">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a href="#">FORM VI - Registration</a></td>
                    <td>Active</td>
                    <td>Ram Kumar</td>
                    <td>Nil</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1" selected="selected">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr class="success">
                    <td>4</td>
                    <td>Factory</td>
                    <td>Central</td>
                    <td colspan="2">Batteries Act >> Rule 4 >> FORM IV</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3" selected="selected">Approve & Notify</option>
                        </select>
                    </td>
                    <td><textarea class="form-control" rows="1" placeholder="Enter Reason"></textarea></td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="table-sub-head">
                    <th>&nbsp;</th>
                    <th>Compliance</th>
                    <th>Status</th>
                    <th>Created by</th>
                    <th>Last updated by</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a href="#">FORM IV - Undertaking submission</a></td>
                    <td>Active</td>
                    <td>Suresh</td>
                    <td>Ram Krishnan</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3" selected="selected">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><a href="#">FORM VI - Registration</a></td>
                    <td>Active</td>
                    <td>Ram Kumar</td>
                    <td>Nil</td>
                    <td>
                        <select class="form-control chosen" data-placeholder="Choose a Action" tabindex="1">
                          <option value="0"> Select</option>
                          <option value="1">Approve</option>
                          <option value="2">Reject</option>
                          <option value="3" selected="selected">Approve & Notify</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              </form>
      </div>
      <div class="form-group text-center">
          <button class="btn btn-primary waves-effect waves-light" type="submit"> Submit </button>
      </div>
    
    <!-- end col -->
  </div>
</div>

</div>
{% endblock %}