{% extends "files/client/common/html/container.html" %}
{% block content %}
<link href="/css/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/jquery-ui.css">
<div class="content-page">
<div class="content">
<div class="container">
    <div class="row" id="animationSandbox">
        <div class="col-sm-12">
            <div class="portlet">
                <div class="portlet-heading bg-info">
                    <h3 class="portlet-title">Statutory Notification List</h3>
                    <div class="portlet-widgets">
                        <!-- <a href="#" onclick="location.href='/service-provider/list'">
                            <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                        </a> -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- <h4 class="page-title">Statutory Notification List</h4> -->
                <!-- <hr class="no-top-margin"> -->
                <div id="bg-primary1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Country: <span class="mandatory">*</span> </label>
                               <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="country" placeholder="Enter Country" tabindex="1">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="country-id" value="">
                                                <div id="ac-country" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Domain: <span class="mandatory">*</span></label>
                           
                            <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="domain" placeholder="Enter Domain" tabindex="2">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="domain-id" value="">
                                                <div id="ac-domain" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Act:</label>

                            <div class="col-sm-6 has-feedback">
                               <input type="text" id="act" class="form-control input-sm" placeholder="Enter Act" tabindex="3">
                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                <input type="hidden" id="act-id" value="">
                                                <div id="ac-act" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                            </div>
                            </div>
                        </div>



                    </div>

                    <div class="col-sm-6">
                         <div class="form-group has-feedback">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">From Date: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm from-date" placeholder="DD-MM-YYYY" id="from-date" tabindex="4">
                                <i class="form-control-feedback fa fa-calendar-check-o"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">To Date:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control input-sm to-date" placeholder="DD-MM-YYYY" tabindex="5" id="to-date">
                                <i class="form-control-feedback fa fa-calendar-check-o"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <center>
                            <div class="form-group m-b-0">
                                <button class="btn btn-primary waves-effect waves-light" type="button" onclick="show_div()"> Show </button>
                                <!-- <button class="btn btn-info waves-effect waves-light" type="button"> Export </button> -->
                            </div>
                        </center>
                    </div>
                    <div class="clear"></div>
                </form>
                </div>
                </div>
                <script type="text/javascript">
                    function show_div() {
                        $('.details').show();
                        $('#compliance_animation')
                          .removeClass().addClass('bounceInLeft animated')
                          .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                          $(this).removeClass();
                        });
                    }
                </script>
                </div>
                <div id="compliance_animation">
                <div class="card-box details" style="display: none;">
                <div class="table-responsive">
                  <div class="col-sm-12">
                    <div class="col-sm-12 text-center"><h4 class="m-t-0">Statutory Notification List</h4></div>
                    <div class="col-sm-6 text-center"><h6>Country: India</h6></div>
                    <div class="col-sm-6 text-center"><h6>Domain: Labour Law</h6></div>
                  </div>
                    <table id="datatable-responsive" class="table dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="01%">#</th>
                                <th width="15%">Act</th>
                                <th width="20%">Compliance Task</th>
                                <th width="10%">Date</th>
                                <th width="20%">Notification Content</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>POG Act</td>
                                <td><i class="zmdi zmdi-info c-pointer" data-toggle="tooltip" title="FORM VII -has been added to Batteries act under Rule 8 (Whether half yearly returns submitted by recyclers)" ></i> Form A - Notice of Opening</td>
                                <td>26-Aug-2016</td>
                                <td>**Content - as given by CAS Team **</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>EPF Act</td>
                                <td><i class="zmdi zmdi-info c-pointer" data-toggle="tooltip" title="Compliance Form IX - Half yearly returns for auctioneer has added to Rule 11 (II)" ></i> Form 1 - Registration</td>
                                <td>20-Aug-2016</td>
                                <td>**Content - as given by CAS Team **</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>S & E Act</td>
                                <td><i class="zmdi zmdi-info c-pointer" data-toggle="tooltip" title="Compliance Form III - undertaking submission will be inactive" ></i> Opening & Closing Hours</td>
                                <td>18-Aug-2016</td>
                                <td>**Content - as given by CAS Team **</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="rpt-count m-b-0">Total : 3 record(s)</p>
                </div>
            </div>
            </div>
        </div>
        <!-- end col -->
    </div>
</div>
<script src="/js/toastr/toastr.min.js"></script>
<script src="/script/statutory-notification-list/statutory_notification_list.js"></script>
<script src="js/jquery-ui.js"></script>
{% endblock %}