{% extends "files/desktop/Header/Header.html" %}
{% block content %}

<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/solid-gauge.src.js"></script>
<script type="text/javascript">
function loadChart(){
    $(function () {

    var gaugeOptions = {

        chart: {
            type: 'solidgauge',
            width:300,
            height:200
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 400,
            tickWidth: 0,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The speed gauge
    $('#container-space').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Space'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver">GB</span></div>'
            },
            tooltip: {
                valueSuffix: 'GB'
            }
        }]

    }));

    // Bring life to the dials
    setInterval(function () {
        // Speed
        var chart = $('#container-space').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
            point = chart.series[0].points[0];
            inc = 0;
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            // point.update(newVal);
        }

        
    }, 2000);


});
}

  $(document).ready(function () {
      // window.testSelAll2 = $('.testSelAll2').SumoSelect({selectAll:false });
      // loadChart();
  });


    
</script>
<div class="content-container">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Company Profile<span class="error-message"></span></div>
      <div class="grid-table" width="100%" style="margin-top:20px">
          <table style="float:left;width:45%;margin-left:40px">
            <tr>
              <th colspan="2" style="background:#ccc;color:black;font-weight:bold">
                  Contract Period
              </th>
            </tr>
            <tr>
              <td>
                Contract Start Date : 
              </td>
              <td>
                  01-06-2013
              </td>
            </tr>
            <tr>
              <td>
                Contract Expires on : 
              </td>
              <td>
                  01-06-2013
              </td>
            </tr>
          </table>
          <table style="float:left;width:45%;margin-left:40px">
            <tr>
              <th  style="background:#ccc;color:black;font-weight:bold">
                File Space
              </th>
            </tr>
            <tr>
              <td style="background:#fff" align="center">
                <div id="container-space" style="padding-right:10px">
                  <table width="100%" style="border-width:2px;border-color:black;color:white">
                    <tr width="100%" height="40px" style="padding:10px">
                        <td align="center" style="width:10%;background-color:#662D91;color:white;font-weight:bold">10%</td>
                        <td align="center" style="width:90%;background-color:#aaa;color:white">90%</td>
                    </tr>
                    <tr>
                      <td align="center" colspan="2" style="font-weight:bold">
                        1.5 GB (10%) of 15 GB used
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
      </div>

      <div class="grid-table">
          <table>
            <tr>
              <th align="left" colspan="8" style="background:#ccc;color:black;font-weight:bold">
              Licence Holders list
              </th>
            </tr>
          <tr >
          <th style="background:#A381BD;color:black;font-weight:bold" width="4%">#</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="15%">Employee</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="10%">User Group</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="10%">User Level</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="20%">Seating Unit</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="center" width="7%">Status</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="center" width="9%">Promote Admin</th>
          
        </tr> 
        <tr>
          <td align="center">&nbsp;</td>
          <td><input type="text" name="location-name" class="filter-text-box"></td>
          <td><input type="text" name="district-name" class="filter-text-box"></td>
          <td><input type="text" name="region-name" class="filter-text-box"></td>
          <td><input type="text" name="region-name" class="filter-text-box"></td>
          <td align="center">&nbsp;</td>
          <td align="center">&nbsp;</td>
        
        </tr>
        <tr>
          <td align="center">1</td>
          <td>EMP0010 - Hariharan</td>
          <td>Group 3</td>
          <td>Level 4</td>
          <td>
            <abbr class="page-load tipso_style" title="26, West Steet, New Delhi">
            <img src="/images/icon-info.png" style="margin-right:10px"/>VBM1001 - Corporate Office
          </td>
          <td align="center"><img src="/images/icon-inactive.png" title="Click here to activate" id="inactiveid"/></td>
          <td align="center"><a="#"><img src="/images/promote-active.png"title="Click here to inactivate" id="inactiveid" class="inactive"  /></a="#"></td>
        </tr>
        <tr>
          <td align="center">2</td>
          <td>EMP0012 - Sivaraman</td>
          <td>Manager</td>
          <td>Level 3</td>
          <td>
            <abbr class="page-load tipso_style" title="12 South car street, Bangalore">
            <img src="/images/icon-info.png" style="margin-right:10px"/>VBM1002 - Regional Office - South
          </td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid"  onClick="$('.modal').toggleClass('active');" /></td>
          <td align="center"><a="#"><img src="/images/promote-inactive.png" title="Click here to inactivate" id="inactiveid" class="inactive"/></a="#"></td>
        </tr>
        <tr>
          <td align="center">3</td>
          <td>EMP0015 - Srinivasan</td>
          <td>Group 2</td>
          <td>Level 2</td>
          <td><abbr class="page-load tipso_style" title="12 RJ Complex, Main road, T.Nagar, Chennai"><img src="/images/icon-info.png" style="margin-right:10px"/>VBM103 - Branch Office - Chennai</td>
          <td align="center"><img src="/images/icon-active.png" title="Click here to deactivate" id="activeid" onClick="$('.modal').toggleClass('active');"/></td>
          <td align="center"><a="#"><img src="/images/promote-active.png" title="Click here to inactivate" id="inactiveid" class="inactive"  /></a="#"></td>
          
        </tr>
          </table>
        </div> 
        <!-- <div class="submit-button-container">
          <input type="submit" name="cancel" value="Cancel" onclick="location.href='/client/list'" class="btn-cancel">
          &nbsp;&nbsp;
          <input type="submit" name="cancel" value="Submit" class="btn-submit">
        </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}