{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<div class="content-container width70">
        <div class="content-area">
          <div class="add-container">
            <div class="add-container-heading">Service Provider <span class="error-message"></span></div>
            <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">Service Provider:<span class="mandatory">*</span></div>
                <div class="field-input"><input type="text" class="input-box" value="ART Solutions"></div>
              </div>
               <div class="input-row">
                <div class="field-label">Contact Person:<span class="mandatory">*</span></div>
                <div class="field-input"><input type="text" class="input-box" value="Ram Kumar"></div>
              </div>
                 <div class="input-row" style="padding-bottom:0px;">
                <div class="field-label">Contact No.:<span class="mandatory">*</span></div>
                <div class="field-input"><input type="text" class="input-box countrycode" value="+91"> <input type="text" class="input-box areacode" value="" > <input type="text" class="input-box mobile" value="9876543210"></div>
              </div>
              <div class="input-row">
                <div class="field-label">&nbsp;</div>
                <div class="field-input">
                <span style="font-size:10px;">[+91 452 1234567]</span>
                </div>
              </div>
                  
             
            </div>
            <div class="input-row-right">
             
                <div class="input-row">
                <div class="field-label">Address:</div>
                <div class="field-input"><textarea class="input-box" style="height:50px;">152, South Cross Street</textarea></div>
              </div>      
               <div class="input-row" >
                <div class="field-label">Contract From:<span class="mandatory">*</span></div>
                <div class="field-input"><input type="text" class="input-box" value="12-Jul-2015"></div>
              </div>             
              <div class="input-row" >
                <div class="field-label">Contract To:<span class="mandatory">*</span></div>
                <div class="field-input"><input type="text" class="input-box" value="12-Jul-2016">
                </div>
              </div>
            </div>
           
            
            <div class="submit-button-container">
              <input type="submit" name="cancel" value="Cancel" onclick="location.href='/report/service_provider'" class="btn-cancel">&nbsp;&nbsp;
              <input type="submit" name="cancel" value="Submit" class="btn-submit">
            </div>
          </div>
        </div>
      </div>
{% endblock %}