{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/tooltip/tipso.css">
<script src="/files/desktop/common/js/tooltip/tipso.js"></script>
<div class="content-container width50">
        <div class="content-area">
          <div class="add-container">
            <div class="add-container-heading">Reassign Compliance<span class="error-message"></span></div>
            <div class="input-row-left">
              <div class="input-row">
                <div class="field-label">User Type:<span class="mandatory">*</span></div>
                <div class="field-input">
                  <select class="input-box">
                    <option>Inhouse</option>
                    <option>Service Provider</option>
                  </select>
                </div>
              </div>
              <div class="input-row">
                <div class="field-label">Unit:</div>
                <div class="field-input">
                  <input type="text" class="input-box icon-autocomplete" value="" placeholder="Type Unit Name" />
                </div>
              </div>
            </div>
           <div class="input-row-right">
              <div class="input-row">
                <div class="field-label">Compliance:</div>
                <div class="field-input"><input type="text" class="input-box icon-autocomplete" id="taskname" autofocus placeholder="Type Compliance Name">
                </div>
              </div>
              <div class="input-row">
                <div class="field-label">Assignee:</div>
                <div class="field-input">
                  <input type="text" class="input-box icon-autocomplete" value="" placeholder="Type Assignee Name" />
                </div>
              </div>
            </div>
            
            <div class="submit-button-container">
              <input type="submit" name="cancel" value="Show" class="btn-submit">
            </div>
        <div class="clearfix"></div>
          <div class="grid-table">
            <table>
             <tr align="left">
              <th width="1%">#</th>
              <th width="5%">Assignee</th>
              <th width="10%">Unit</th>
              <th width="5%">Number of Compliance</th>
              <!--<th width="10%">Task Name</th>
              <th width="16%">Statutory</th>
              <th width="6%">Concurrence</th>
              <th width="6%">Approval</th> -->
              <th width="2%">Reassign</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Krishna - L3 </td>
            <td>Branch Office - Madurai</td>
            <td align="center"><a href="#">5</a></td>
            <!-- <td><abbr class="page-load" title="Whether half yearly returns submitted by manufacturer,  importer, bulk consumer, assembler and reconditioned"><img src="/images/icon-info.png" style="padding-right:5px;">FORM I Submission</abbr></td>
            <td style="line-height:17px;">The Batteries (Management & Handling) Rules, 2001 >> Rule 4 (iii)</td>
            <td>Abishek - L2 </td>
            <td>Arjun - L2 </td> -->
            <td style="padding-top:0.3em; padding-bottom:0.3em;"><input type="submit" value="Reassign" class="btn-save" style="width:auto;" onclick="location.href='/reassigntask/edit'"/></td>
          </tr>
          <tr>
            <td>2</td>
            <td>vishnu - L5</td>
            <td>Branch Office - Madurai</td>
            <td align="center"><a href="#">3</a></td>
            <!-- <td><abbr class="page-load" title="Whether registration for importers obtained for importing lead acid battery or primary Lead
"><img src="/images/icon-info.png" style="padding-right:5px;">FORM II Submission</abbr></td>
            <td style="line-height:17px;">The Batteries (Management & Handling) Rules, 2001 >> Rule 5 and Rule 6 (ii)</td>
            <td>Rajaram - L4</td>
            <td>Arun - L5 </td> -->
            <td style="padding-top:0.3em; padding-bottom:0.3em;"><input type="submit" value="Reassign" class="btn-save" style="width:auto;" onclick="location.href='/reassigntask/edit'"/></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Divagar - L5</td>
            <td>Regional Office - South</td>
            <td align="center"><a href="#">4</a></td>
            <!-- <td><abbr class="page-load" title="Whether undertaking submitted by importer to authority."><img src="/images/icon-info.png" style="padding-right:5px;">FORM III Submission</abbr></td>
            <td style="line-height:17px;">The Batteries (Management & Handling) Rules, 2001 >> Rule 6(iii)</td>
            <td>Arun - L3</td>
            <td>Shameer - L2</td> -->
            <td style="padding-top:0.3em; padding-bottom:0.3em;"><input type="submit" value="Reassign" class="btn-save" style="width:auto;" onclick="location.href='/reassigntask/edit'"/></td>
          </tr>
            </table>
          </div>
          </div>
        </div>
      </div>
<script>
$(function(){
  $('#taskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Registration', 'Amendments', 'Prepare Wage Register', 'Process for Quantum', 'Remittance', 'Returns'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   $('#serviceprovidername').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Ramesh', 'Muthu'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
   $('#subtaskname').autoComplete({
      minChars: 1,
      source: function(term, suggest){
          term = term.toLowerCase();
          var choices = ['Process for Quantum', 'Prepare wage register', 'Sub Task 1', 'New'];
          var suggestions = [];
          for (i=0;i<choices.length;i++)
              if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
          suggest(suggestions);
      }
  });
});

jQuery(window).load(function(){
	jQuery('.page-load').tipso({
		tooltipHover: true
	});
});
</script>
{% endblock %}