{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/files/desktop/common/css/popup/popup.css">
<script type="text/javascript" src="/files/desktop/common/js/popup/modernizr.js"></script>
<style>
  .modaltable th
  {
    padding: 5px;
  }
  .modaltable td
  {
    padding: 10px 0px;
    font-size: 0.813em;
  }
</style>
<div class="content-container">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">Approve Statutory Mapping<span class="error-message"></span></div>
      <div class="input-row-left">
        <div class="input-row">
          <div class="field-label">Country:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="statutorymapping" autofocus value="India">
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Industry:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="domainmapping" autofocus value="Factory" placeholder="Enter Type Name">
          </div>
        </div>
      </div>
      <div class="input-row-right">
        <div class="input-row">
          <div class="field-label">Domain:<span class="mandatory">*</span></div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="domainmapping" autofocus value="Labour Law" placeholder="Enter Domain Name">
          </div>
        </div>
        <div class="input-row">
          <div class="field-label">Statutory Nature:</div>
          <div class="field-input">
            <input type="text" class="input-box icon-autocomplete" id="statutory_nature" autofocus value="Central">
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <input type="submit" name="cancel" value="Show" class="btn-submit">
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table>
          <tr align="left">
            <th width="8%">Industry</th>
            <th width="8%">Statutory Nature</th>
            <th width="25%">Statutory Provision</th>
            <th width="15%">Compliance Task</th>
            <th width="17%">Applicable Location</th>
            <th width="15%">Action</th>
            <th width="25%">Reason</th>
          </tr>
          <tr>
            <td>Factory</td>
            <td>Central</td>
            <td>Batteries Act >> Rule 4 >> FORM I</td>
            <td><a href="#" class="toggleModal">FORM I - Halfyearly returns Submission</a></td>
            <td>South >> Tamil Nadu >> Chennai</td>
            <td>
              <select class="input-box">
                <option  selected="selected">Select</option>
                <option >Approve</option>
                <option>Reject</option><option>Approve & Notify</option></select></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Factory</td>
                <td>Central</td>
                <td>Batteries Act >> Rule 4 >> FORM II</td>
                <td><a href="#">FORM II - Registration</a></td>
                <td>South >> Tamil Nadu >> Madurai</td>
                <td><select class="input-box"><option >Select</option><option>Approve</option><option selected="selected">Reject</option><option>Approve & Notify</option></select></td>
                <td><input type="text" class="input-box" placeholder="Enter reason" /></td>
              </tr>
              <tr>
                <td>Factory</td>
                <td>Central</td>
                <td>Batteries Act >> Rule 4 >> FORM III</td>
                <td><a href="#">FORM III - Undertaking submission</a></td>
                <td>South >> Tamil Nadu >> Madurai >> Aviyur</td>
                <td><select class="input-box"><option >Select</option><option selected="selected">Approve</option><option>Reject</option><option>Approve & Notify</option></select></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td style="vertical-align:top;">Factory</td>
                <td style="vertical-align:top;">Central</td>
                <td style="vertical-align:top;">Batteries Act >> Rule 4 >> FORM IV</td>
                <td style="vertical-align:top;"><a href="#">FORM IV - Undertaking submission</a></td>
                <td style="vertical-align:top;">South >> Tamil Nadu >> Chennai</td>
                <td style="vertical-align:top;"><select class="input-box"><option >Select</option><option >Approve</option><option>Reject</option><option selected="selected">Approve & Notify</option></select></td>
                <td><textarea class="input-box" placeholder="Enter notification text" style="height:50px;"></textarea><br><span style="font-size:0.75em;">(max 500 characters)</span></td>
              </tr>
            </table>
          </div>
          <div class="submit-button-container">
            <input type="submit" name="cancel" value="Save" class="btn-submit">
          </div>
        </div>
      </div>
    </div>

    <div class="modal" style="width:50%; margin-left:-25%;">
      <header>
       <div class="close toggleModal"></div>
     </header>  
     <section>
      <p style="font-size:0.8em; padding-top:10px;">
       <table class="modaltable" width="100%">
        <tr align="left">
          <td width="40%" >Statutory</td>
          <td>Section 2 <img src="/images/right_arrow.png"> Rule 3(i)</td>
        </tr>
        <tr align="left">
          <td width="40%" >Statutory Nature</td>
          <td>State</td>
        </tr>
        <tr>
          <td width="40%" >Compliance Task</td>          
          <td>FORM I - Halfyearly returns submission</td>
        </tr>
        <tr align="left">
          <td width="40%" >Compliance Description</td>

          <td>Within 30 days of opening a branch</td>



        </tr>
        <tr align="left">

          <td >Penal Consequences</td>
          <td>Imprisonment With Fine</td>
        </tr>   <tr>

        <td >Compliance Frequency</td>
        <td>Periodical</td>
      </tr>   <tr>
      <td >Compliance Occurence</td>
      <td>Every Year 10th March and 10th September <br>(Trigger: 15 days and 10 days)</td>
    </tr>   <tr>
    <td >Applicable Location</td>
    <td colspan="4">India >> South >> Tamilnadu</td>


  </tr>







</table>

</p>
</section>
</div>
<script type="text/javascript">
  $('.toggleModal').on('click', function (e) {
    $('.modal').toggleClass('active');
    $('.modal1').toggleClass('active');
  });
</script>
<script>
  $(function(){
    $('#domainmapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
        term = term.toLowerCase();
        var choices = ['FL-Insolvency', 'FL-Tax', 'FL-Trusts', 'LLC-Administration', 'LLC-Payroll', 'LLC-Wage Regulations'];
        var suggestions = [];
        for (i=0;i<choices.length;i++)
          if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
        suggest(suggestions);
      }
    });
    $('#statutorymapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
        term = term.toLowerCase();
        var choices = ['ITACT1961-191', 'ITACT1961-192', 'ICA1872-15'];
        var suggestions = [];
        for (i=0;i<choices.length;i++)
          if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
        suggest(suggestions);
      }
    });
    $('#servicemapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
        term = term.toLowerCase();
        var choices = ['Payroll-TDS', 'Payroll-PF', 'Payroll-ESI'];
        var suggestions = [];
        for (i=0;i<choices.length;i++)
          if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
        suggest(suggestions);
      }
    });
    $('#applicability').autoComplete({
      minChars: 1,
      source: function(term, suggest){
        term = term.toLowerCase();
        var choices = ['Central', 'Concurrent', 'State'];
        var suggestions = [];
        for (i=0;i<choices.length;i++)
          if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
        suggest(suggestions);
      }
    });
    $('#industrymapping').autoComplete({
      minChars: 1,
      source: function(term, suggest){
        term = term.toLowerCase();
        var choices = ['Manufacturing - Autoparts', 'Production - Mixing', 'IT - Hardware'];
        var suggestions = [];
        for (i=0;i<choices.length;i++)
          if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
        suggest(suggestions);
      }
    });
  });
</script> 
{% endblock %}