{% extends "files/client/common/html/container.html" %}
{% block content %}
<link href="/css/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/jquery-ui.css">
<div class="content-page">
<div class="content">
<div class="container">
    <div class="row" id="animationSandbox">
        <div class="col-sm-12">
            <div class="portlet">
                <div class="portlet-heading bg-info">
                    <h3 class="portlet-title">Unit List</h3>
                    <div class="portlet-widgets">
                        <!-- <a href="#" onclick="location.href='/service-provider/list'">
                            <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                        </a> -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- <h4 class="page-title">Unit List</h4> -->
                <!-- <hr class="no-top-margin"> -->
                <div id="bg-primary1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Country: </label>
                           
                            <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="country" placeholder="Enter Country" tabindex="1">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="country-id" value="">
                                                <div id="ac-country" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>

                        </div>
                        <div class="form-group">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Business Group: </label>

                           

                                <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="business-group" placeholder="Enter Business Group" tabindex="2">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="business-group-id" value="">
                                                <div id="ac-business-group" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>


                        </div>
                       <div class="form-group">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Legal Entity: </label>

                                <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="legal-entity" placeholder="Enter Legal Entity" tabindex="3">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="legal-entity-id" value="">
                                                <div id="ac-legal-entity" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>

                        </div>

                            <div class="form-group">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Division: </label>



                            
                             <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="division" placeholder="Enter Division" tabindex="4">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="division-id" value="">
                                                <div id="ac-division" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>



                        </div>
                        <div class="form-group">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Category: </label>

                            
                            <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="category" placeholder="Enter Category" tabindex="5">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="category-id" value="">
                                                <div id="ac-category" class="ac-textbox default-display-none">
                                                <ul class="hidemenu"></ul>
                                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-sm-6"> 
                        
                        <div class="form-group">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Unit: </label>
                             <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="unit" placeholder="Enter Unit" tabindex="6">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="category-id" value="">
                                                <div id="ac-unit" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>

                        </div>
                        <div class="form-group">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Domain: </label>
                            <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="domain" placeholder="Enter Domain" tabindex="7">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="domain-id" value="">
                                                <div id="ac-domain" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Organization Type: </label>                        
                             <div class="col-sm-6 has-feedback">
                                                <input type="text" class="form-control input-sm" id="domain" placeholder="Enter Organization Type" tabindex="8">
                                                <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                <input type="hidden" id="organization-type-id" value="">
                                                <div id="ac-organization-type" class="ac-textbox default-display-none">
                                                    <ul class="hidemenu"></ul>
                                                </div>
                                            </div>

                        </div>
                        <div class="form-group">
                            <label class=" col-sm-offset-1 col-sm-3 control-label">Status:</label>
                            <div class="col-sm-6">
                                <select class="form-control input-sm">
                                  <option>All</option>
                                  <option>Active</option>
                                  <option>Closed</option>
                                </select>

                                <!--  <select class="form-control input-sm" id="status" tabindex="9">
                             </select> -->

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <center>
                            <div class="form-group m-b-0">
                                <button class="btn btn-primary waves-effect waves-light" type="button" id="show-button" tabindex="10" onclick="show_div()"> Show </button>
                                <button class="btn btn-info waves-effect waves-light" type="button" id="export-button" tabindex="11"> Export </button>
                            </div>
                        </center>
                    </div>
                    <div class="clear"></div>
                </form>
                </div>
                </div>
                <script type="text/javascript">
                    function show_div() {
                        $('.details').show();
                        $('#compliance_animation')
                          .removeClass().addClass('bounceInLeft animated')
                          .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                          $(this).removeClass();
                        });
                    }
                </script>
                </div>
                <div id="compliance_animation">
                <!-- <div class="card-box details" style="display: none;"> -->
                <div id="report-view">
                <div class="table-responsive">
                    <div class="col-sm-12">
                        <div class="col-sm-12 text-center"><img src="/files/client/common/images/yourlogo.png" class="rpt-logo"></div>
                        <div class="col-sm-12 text-center"><h4>Unit List</h4></div>
                        <div class="col-sm-4 text-center"><h6>Legal Entity : RG Legal Entity</h6></div>
                        <div class="col-sm-4 text-center"><h6>Country : India</h6></div>
                        <div class="col-sm-4 text-center"><h6>Domain : Labour Law</h6></div>
                    </div>
                    <table id="datatable-responsive" class="table dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="01%">#</th>
                                <th width="08%">Unit Code</th>
                                <th width="13%">Unit Name</th>
                                <th width="20%">Domain - Organization Type</th>
                                <th width="10%">Location</th>
                                <th width="20%">Address</th>
                                <th width="08%">Status</th>
                                <th width="08%">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>RG-0001</td>
                                <td>Corporate Office</td>
                                <td>Labour Law - Commercial Establishment, Finance Law - Company</td>
                                <td>New Delhi</td>
                                <td>33, New Friends Colony, Tamoor Nagar, New Delhi - 110066</td>
                                <td>Active</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>RG-0002</td>
                                <td>Regional Office</td>
                                <td>Labour Law - Factory, ILS - Factory</td>
                                <td>Chennai</td>
                                <td>152, Anna Nagar, Chennai - 600025</td>
                                <td>Closed</td>
                                <td>15-Aug-2016</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>RG-0004</td>
                                <td>Branch Office - 2</td>
                                <td>Labour Law - Mines</td>
                                <td>Madurai</td>
                                <td>24, Aviyur, Madurai - 625017</td>
                                <td>Active</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>RG-0005</td>
                                <td>Branch Office - 3</td>
                                <td>Labour Law - Mines</td>
                                <td>Chennai</td>
                                <td>33, New Friends Colony, KK Nagar, Chennai - 600015</td>
                                <td>Active</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td colspan="100%" >
                                    <div class="col-sm-2 no-padding">
                                        <!-- <input type="text" class="form-control input-sm text-center" value="Division: RG Division 01" readonly="true" /> -->
                                        <mark class="p-l-10 p-r-10">Division: RG Division 01</mark>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>RG-0003</td>
                                <td>Branch Office - 1</td>
                                <td>Labour Law - Mines, ILS - Mines</td>
                                <td>Karnataka</td>
                                <td>124, 80 Feed Road, Bangalore - 400012</td>
                                <td>Closed</td>
                                <td>31-Jul-2016</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="rpt-count m-b-0">Total : 5 record(s)</p>
                </div>
            </div>
            </div>
        </div>
        <!-- end col -->
    </div>
</div>
</div>
</div>
<script src="/js/toastr/toastr.min.js"></script>
<script src="/script/unit-list/unit_list.js"></script>
<script src="js/jquery-ui.js"></script>
{% endblock %}