{% extends "files/desktop/client/home/container.html" %}
{% block content %}
<div class="content-container">
  <div class="content-area">
    <div class="add-container settings-container">

      <div class="add-container-heading">Settings<span class="error-message"></span></div>
          <div class="single-column-input-row" style="margin-top:10px">
            <div class="single-column-input-row">
              <div class="single-column-field-label" style="font-size:0.8em">Enable 2 levels of approval :</div>
              <div class="single-column-field-input">
                  <input type="radio"  name="2levels" id="2levels" value="yes" /> <label  style="font-size:0.8em">Yes</label>
                  <input type="radio" name="2levels" id="2levels" value="no" /> <label  style="font-size:0.8em">No</label>
              </div>
            </div><h2 style="font-weight:bold;">Reminders Settings</h2>

             <div class="single-column-input-row">
              <div class="single-column-field-label" style="font-size:0.8em;">Reminder to Assignee : </div>
              <div class="single-column-field-input">
                 <span style="margin-left:10px;margin-bottom:10px; font-size:0.8em;">
                        For Every <input type="text" class="input-box" style="width:50px" maxlength="2" id= "assigneeval" />
                        <span style="padding-top:10px;"> days</span>
                      </span>
              </div>
            </div>
             <div class="single-column-input-row">
              <div class="single-column-field-label" style="font-size:0.8em">Escalation Reminders to Concurrence & Approval Person : </div>
              <div class="single-column-field-input">
                 <span style="margin-left:10px;margin-bottom:10px;font-size:0.8em;">
                       <input type="text" class="input-box" style="width:50px" maxlength="2" id= "concurrenceapprovalval"/>
                        <span style="padding-top:10px;"> days before due date</span>
                      </span>
              </div>
            </div>
             <div class="single-column-input-row">
              <div class="single-column-field-label" style="font-size:0.8em">Escalation Reminders to Assignee, Concurrence & Approval person : </div>
              <div class="single-column-field-input">
                 <span style="margin-left:10px;margin-bottom:10px;font-size:0.8em;">
                        For Every <input type="text" class="input-box" style="width:50px" maxlength="2" id="allval" />
                        <span style="padding-top:10px;"> days after due date</span>
                      </span>
              </div>
            </div>

          </div>


        <div class="submit-button-container">
        <input type="submit"  value="Save" class="btn-submit" id="submit">
      </div>

      <div class="form-container-outer">
        <div class="single-column-input-row">
          <br>
          <h2 style="font-weight:bold;">Client Profile</h2>
        </div>
        <div class="list-container">
        <div class="grid-table" width="100%" style="margin-top:20px; ">
          <table style="float:left;width:45%;margin-left:40px">
            <tr>
              <th colspan="2" style="background:#ccc;color:black;font-weight:bold">
                Contract Period
              </th>
            </tr>
            <tr>
              <td>
                Contract Start Date :
              </td>
              <td class="contract-start">
              </td>
            </tr>
            <tr style="background:none repeat scroll 0 0 #f1e9f6;">
              <td>
                Contract Expires on :
              </td>
              <td class="contract-expires">
              </td>
            </tr>
          </table>
          <table style="float:left;width:45%;margin-left:40px">
            <tr>
              <th  style="background:#ccc;color:black;font-weight:bold">
                File Space
              </th>
            </tr>
            <tr>
              <td style="background:#fff" align="center">
                <div id="container-space" style="padding-right:10px">
                  <table width="100%" style="border-width:2px;border-color:black;color:white">
                    <tr width="100%" height="40px" style="padding:10px">
                      <td align="center" class="usedspace" style="width:48%;background-color:#662D91;color:white;font-weight:bold;vertical-align: middle; "></td>
                      <td align="center" class="totalspace" style="width:52%;background-color:#aaa;color:white; vertical-align: middle; "></td>
                    </tr>
                    <tr>
                      <td align="center" colspan="2" style="font-weight:bold" class="space-summary">

                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
      </div>
      <div class="grid-table">
          <table>
            <tr>
              <th align="left" colspan="4" style="background:#ccc;color:black;font-weight:bold">
              Licence Holders list
              </th>
              <th align="right" colspan="4" style="background:#ccc;color:black;font-weight:bold;padding-right:10px;">
              Remaining Licence : <span class="remaining-licence"></span>
              </th>
            </tr>
          <tr >
          <th style="background:#A381BD;color:black;font-weight:bold" width="4%">#</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="15%">Employee</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="10%">Email</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="10%">Mobile Number</th>
          <th style="background:#A381BD;color:black;font-weight:bold" align="left" width="20%">Seating Unit</th>

        </tr>
        <tr>
          <td align="center">&nbsp;</td>
          <td><input type="text" class="filter-text-box" id="search-employee"></td>
          <td><input type="text" class="filter-text-box" id="search-email"></td>
          <td><input type="text" class="filter-text-box" id="search-mobile-number"></td>
          <td><input type="text" class="filter-text-box" id="search-seating-unit"></td>
        </tr>
        <tbody class="tbody-clientprofile-list">
        </tbody>
        </table>
        </div>
      </div>

        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="templates">
  <table class="table-clientprofile-list">
    <tr class="table-row">
      <td align="center" style="height:40px" class="sno">5</td>
      <td class="employee"></td>
      <td class="email"></td>
      <td class="mobile-number"></td>
      <td class="seating-unit"><abbr title=""><img style="margin-right:5px" src="/images/icon-info.png"/></abbr><span></span></td>
    </tr>
  </table>
</div>
<script type="text/javascript" src="/files/desktop/client/settings/settings.js"></script>
{% endblock %}

