{% extends "files/knowledge/common/html/container.html" %} {% block content %}
<!-- <link href="/css/multifreezer.css" rel="stylesheet" type="text/css" /> -->

<div class="content">
    <div class="container" id="sm_approve_list">
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet">
                    <div class="portlet-heading bg-info">
                        <h3 class="portlet-title">Approve / Reject Statutory Mapping - Bulk Upload</h3>
                        <div class="portlet-widgets"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-collapse collapse in">
                        <div class="portlet-body p-t-10">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <form class="form-horizontal" role="form">
                                            <div class="col-lg-4">
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-4 control-label">Country <span class="mandatory">*</span></label>
                                                    <div class="col-md-6 controls">
                                                        <input type="text" id="countryname" name="example-input-small" class="form-control input-sm" placeholder="Enter Country Name" value="" tabindex="1">
                                                        <i class="fa-1-5x form-control-feedback fa fa-search"></i>
                                                        <input id="countryid" type="hidden">
                                                        <div id="ac_country" class="ac-textbox auto-text-box default-display-none">
                                                            <ul></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group has-feedback">
                                                    <label class="col-sm-4 control-label">Domain <span class="mandatory">*</span></label>
                                                    <div class="col-md-6">
                                                        <input type="text" id="domainname" name="example-input-small" class="form-control input-sm" placeholder="Enter Domain Name" value="" tabindex="2">
                                                        <i class="fa-1-5x form-control-feedback fa fa-search"></i>
                                                        <input id="domainid" type="hidden">
                                                        <div id="ac_domain" class="ac-textbox auto-text-box default-display-none">
                                                            <ul></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group has-feedback">
                                                    <label class="col-sm-4 control-label">User </label>
                                                    <div class="col-md-6">
                                                        <input type="text" id="username" name="example-input-small" class="form-control input-sm" placeholder="Enter User Name" value="" tabindex="3">
                                                        <i class="fa-1-5x form-control-feedback fa fa-search"></i>
                                                        <input id="userid" type="hidden">
                                                        <div id="ac_user" class="ac-textbox auto-text-box default-display-none">
                                                            <ul></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                            <div class="col-sm-12">
                                                <div class="form-group text-center">
                                                    <button class="btn btn-primary text-center waves-effect waves-light" type="button" tabindex="4" id="btn_list_show"> Show </button>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </form>
                                    </div>
                                    <table id="datatable_responsive" class="table table-fixed table-striped dt-responsive nowrap m-b-0" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Uploaded File Name</th>
                                                <th>Uploaded On</th>
                                                <th>Uploaded By</th>
                                                <th class="text-center">No. of records</th>
                                                <th class="text-center">Approved / Rejected</th>
                                                <th class="text-center">Download</th>
                                                <th class="text-center">Task Wise Action</th>
                                                <th class="text-center">Approve</th>
                                                <th class="text-center">Reject</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                        <input type="text" class="form-control input-sm search-file-name" placeholder="Uploaded File Name">
                                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                        <input type="text" class="form-control input-sm search-upload-on" placeholder="Uploaded On">
                                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                        <input type="text" class="form-control input-sm search-upload-by" placeholder="Uploaded By">
                                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                        <input type="text" class="form-control input-sm search-tot-records" placeholder="No. of records">
                                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody-sm-approve-list1"></tbody>
                                    </table>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="container default-display-none" id="sm_approve_view">
        <div class="row">
            <div class="col-sm-12">
                <div class="portlet">
                    <div class="portlet-heading bg-info">
                        <h3 class="portlet-title">Approve / Reject Statutory Mapping - Bulk Upload</h3>
                        <div class="portlet-widgets">
                            <a id="btn_sm_view_cancel">
              <i class="zmdi zmdi-close zmdi-hc-2x"></i>
              </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-collapse collapse in">
                        <div class="portlet-body p-t-10">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="form-horizontal" role="form">
                                            <div class="col-lg-4">
                                                <div class="form-group has-feedback m-b-0">
                                                    <label class="col-md-5 control-label">Country</label>
                                                    <div class="col-md-6">
                                                        <p class="form-control-static view-country-name"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group has-feedback m-b-0">
                                                    <label class="col-sm-4 control-label">Domain</label>
                                                    <div class="col-md-6">
                                                        <p class="form-control-static view-domain-name"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                            <div class="col-lg-4">
                                                <div class="form-group has-feedback m-b-0">
                                                    <label class="col-sm-4 control-label">Uploaded On</label>
                                                    <div class="col-md-6">
                                                        <p class="form-control-static view-uploaded-on"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-lg-4">
                                                <div class="form-group has-feedback m-b-0">
                                                    <label class="col-md-5 control-label">Uploaded File Name</label>
                                                    <div class="col-md-6">
                                                        <p class="form-control-static view-csv-name break-word"></p>
                                                        <input id="view_csv_id" type="hidden">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group has-feedback m-b-0">
                                                    <label class="col-sm-4 control-label">Uploaded By</label>
                                                    <div class="col-md-6">
                                                        <p class="form-control-static view-uploaded-by"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="btn-group pull-right m-t-5  m-r-5 m-b-15">
                                                    <a href="javascript:void(0);" class="right-bar-toggle dropdown-toggle card-drop btn btn-info" title="Filter">
                        <i class="zmdi zmdi-sort"></i> <small>Filter</small>
                        </a>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 p-0">
                                        <span class="pull-left p-r-5">Filtered By - </span>
                                        <span class="pull-left p-r-5 filtered-data"></span>
                                        <span class="pull-left p-r-5 clear-filtered default-display-none"> &nbsp;
                    <i class="fa fa-times fa-1-3x text-primary text-muted c-pointer" data-toggle="tooltip" title="" data-original-title="Click here to clear filter"></i>
                </span>
                                    </div> 
                                    <div class="clearfix"></div>
                                    <div id="multi_col_freezer">
                                        <div class="table-responsive vertical-scroll">
                                            <table id="datatable_responsive" class="table table-striped dt-responsive nowrap table-freeze-multi js-filtertable-action-sm datatable-inline" cellspacing="0">
                                                <thead>
                                                    <tr class="thead-tr-1-tr">
                                                        <th width="1%" rowspan="2" >#</th>
                                                        <th width="3%" class="text-left b-b-0 p-l-10" colspan="3">Action</th>
                                                        <th width="5%" class="divider-column" rowspan="2">Statutory</th>
                                                        <th width="1%" rowspan="2"></th>
                                                        <th width="4%" rowspan="2">Organization</th>
                                                        <th width="3%" rowspan="2">Statutory Nature</th>
                                                        <th width="4%" rowspan="2">Statutory Provision</th>
                                                        <th width="3%" rowspan="2">Compliance Task</th>
                                                        <th width="3%" rowspan="2">Compliance Document</th>
                                                        <th width="3%" rowspan="2">Task ID</th>
                                                        <th width="7%" rowspan="2">Compliance Description</th>
                                                        <th width="4%" rowspan="2">Penal consequences</th>
                                                        <th width="4%" rowspan="2">Task Type</th>
                                                        <th width="10%" rowspan="2">Reference Link</th>
                                                        <th width="4%" rowspan="2">Compliance Frequency</th>
                                                        <th width="3%" rowspan="2">Statutory Month</th>
                                                        <th width="3%" rowspan="2">Statutory Date</th>
                                                        <th width="3%" rowspan="2">Trigger Before Days</th>
                                                        <th width="3%" rowspan="2">Repeats Every</th>
                                                        <th width="3%" rowspan="2">Repeats Type</th>
                                                        <th width="3%" rowspan="2">Duration</th>
                                                        <th width="3%" rowspan="2">Duration Type</th>
                                                        <th width="3%" rowspan="2">Is Multiple Date</th>
                                                        <th width="4%" rowspan="2">Format File</th>
                                                        <th width="5%" rowspan="2">Geography Location</th>
                                                    </tr>
                                                    <tr class="thead-tr-2-tr">
                                                        <th class="b-t-0 p-t-0 p-b-0">
                                                            <div class="icon-3x">
                                                                <i class="fa fa-check-square-o text-primary c-pointer" title="Approve"></i>
                                                            </div>
                                                        </th>
                                                        <th class="b-t-0 p-t-0 p-b-0">
                                                            <div class="icon-3x">
                                                                <i class="fa fa-check-square-o text-danger c-pointer" title="Reject"></i>
                                                            </div>
                                                        </th>
                                                        <th class="b-t-0 p-t-0 p-b-0"></th>
                                                    </tr>
                                                    <tr class="thead-tr-3-tr">
                                                        <th class=" columnfixed" width="2%"></th>
                                                        <th class="text-center columnfixed">
                                                            <div class="checkbox checkbox-primary checkbox-single pull-right m-b-0">
                                                                <!-- id="singleCheckbox2" -->
                                                                <input class="approve-all" value="option2" type="checkbox">
                                                                <label></label>
                                                            </div>
                                                        </th>
                                                        <th class="text-center columnfixed">
                                                            <div class="checkbox checkbox-danger checkbox-single pull-right m-b-0">
                                                                <!-- id="singleCheckbox2" -->
                                                                <input class="reject-all" value="option2" type="checkbox">
                                                                <label></label>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed" ></th>
                                                        <th class="columnfixed divider-column">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_statutory" placeholder="Statutory">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed" width="1%"></th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_organization" placeholder="Organization">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_nature" placeholder="Statutory Nature">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_provision" placeholder="Statutory Provision">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_c_task" placeholder="Compliance Task">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_c_doc" placeholder="Compliance Document">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_task_id" placeholder="Task ID">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_c_desc" placeholder="Compliance Description">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_p_cons" placeholder="Penal Consequences">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_task_type" placeholder="Task Type">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_refer_link" placeholder="Reference Link">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_frequency" placeholder="Frequency">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed"></th>
                                                        <th class="columnfixed"></th>
                                                        <th class="columnfixed"></th>
                                                        <th class="columnfixed"></th>
                                                        <th class="columnfixed"></th>
                                                        <th class="columnfixed"></th>
                                                        <th class="columnfixed"></th>
                                                        <th class="columnfixed"></th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_format" placeholder="Format File">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                        <th class="columnfixed">
                                                            <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                                <input type="text" class="form-control input-sm js-filter-sm sfilter-sticky-header" id="search_geo" placeholder="Geography Location">
                                                                <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="tbody-sm-approve-view">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <table class="pagination-view default-display-none pagination-inline">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="compliance-count">Showing 1 to 25 of 525 entries </span>
                                                    <span class="divider-view"> | </span>
                                                    <span class="items-per-page">
                          Show
                          <select id="items_per_page" autocomplete="off">
                            <option value="250">250</option>
                            <option value="500">500</option>
                            <option value="750">750</option>
                            <option value="1000">1000</option>
                          </select>
                          entries
                        </span>
                                                </td>
                                                <td class="td-inline-one"></td>
                                                <td class="td-inline-two" class="pull-right">
                                                    <ul id="pagination_rpt" class="pagination-rpt">
                                                        <li class="first disabled"><a href="#">First</a></li>
                                                        <li class="prev disabled"><a href="#">Previous</a></li>
                                                        <li class="page active"><a href="#">1</a></li>
                                                        <li class="page"><a href="#">2</a></li>
                                                        <li class="next disabled"><a href="#">Next</a></li>
                                                        <li class="last disabled"><a href="#">Last</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12 m-t-10">
                                    <div class="form-group text-center">
                                        <button class="btn btn-primary text-center waves-effect waves-light" id="btn_final_submit" type="button"> Submit </button>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
    <div id="templates">
        <table class="table-sm-csv-info">
            <tr class="table-row">
                <td class="sno" align="center"></td>
                <td class="csv-name"></td>
                <td class="uploaded-on"></td>
                <td class="uploaded-by"></td>
                <td class="tot-records text-center"></td>
                <td class="approve-reject text-center"></td>
                <td class="text-center icon-3x"><i class="fa fa-download text-primary c-pointer dropbtn"></i>
                    <div class="dropdown-content">
                        <a class="dl-xls-file">Download Excel</a>
                        <a class="dl-csv-file">Download CSV</a>
                        <a class="dl-ods-file">Download ODS</a>
                        <a class="dl-txt-file">Download Text</a>
                    </div>
                </td>
                <td class="view-button text-center">
                    <button class="btn btn-primary text-center waves-effect waves-light bu-view-mapping" type="button"> View </button>
                    <a href="javascript:void(0);" class="editbtn default-display-none">
                    <i class="fa fa-pencil text-primary c-pointer" title="Click here to Edit"></i>
              </a>
                </td>
                <td class="text-center">
                    <div class="checkbox checkbox-primary checkbox-single m-b-0">
                        <!-- <a href="#custom-modal" data-animation="contentscale" data-plugin="custommodal" data-overlayColor="#36404a" title="Click here to remove"> -->
                            <input value="option2" type="checkbox" class="approve-checkbox" title="Click here to approve">
                        <!-- </a> -->
                        <label></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="checkbox checkbox-danger checkbox-single m-b-0">
                        <!-- <a href="#custom_modal_approve" data-animation="contentscale" data-plugin="custommodal" data-overlayColor="#36404a" title="Click here to remove"> -->
                            <input value="option2" type="checkbox" class="reject-checkbox" title="Click here to reject">
                        <!-- </a> -->
                        <label></label>
                    </div>
                </td>
            </tr>
        </table>
        <table class="table-sm-approve-info">
            <tr>
                <td class="sno" width="1%">1</td>
                <td class="text-center action-approve" width="1%">
                    <div class="checkbox checkbox-primary checkbox-single pull-right m-b-0">
                        <!-- id="singleCheckbox2" -->
                        <input value="option2" class="view-approve-check" type="checkbox" title="Click here to approve">
                        <label></label>
                    </div>
                </td>
                <td class="text-center action-reject" width="1%">
                    <div class="checkbox checkbox-danger checkbox-single pull-right m-b-0">
                        <!-- id="singleCheckbox2" -->
                        <input value="option2" class="view-reject-check" type="checkbox" title="Click here to reject">
                        <label></label>
                    </div>
                </td>
                <td class="text-center reject-reason" width="1%">
                    <i class="fa fa-info-circle fa-1-2x l-h-51 text-primary c-pointer default-display-none" data-toggle="tooltip" title="" data-original-title=""></i>
                </td>
                <td class="divider-column statutory break-word" width="5%"></td>
                <td width="1%"></td>
                <td class="organization break-word" width="4%"></td>
                <td class="nature break-word" width="3%"></td>
                <td class="provision break-word" width="4%"></td>
                <td class="task break-word" width="3%"></td>
                <td class="doc-name break-word" width="3%"></td>
                <td class="task-id break-word" width="3%"></td>
                <td class="comp-desc break-word" width="7%"></td>
                <td class="penal break-word" width="4%"></td>
                <td class="task-type break-word" width="4%"></td>
                <td class="refer-link break-word" width="10%"></td>
                <td class="freq break-word" width="4%"></td>
                <td class="statu-month break-word" width="3%"></td>
                <td class="statu-date" width="3%"></td>
                <td class="trigger-before" width="3%"></td>
                <td class=repeats-every width="3%"></td>
                <td class="repeats-type" width="3%"></td>
                <td class="duration" width="3%"></td>
                <td class="duration-type" width="3%"></td>
                <td class="multiple" width="3%"></td>
                <td class="format" width="4%"><a target="new"></a></td>
                <td class="geography break-word" width="5%"></td>
            </tr>
        </table>
    </div>
    <div id="no_record_templates" class="default-display-none">
        <table class="table-no-content">
            <tr align="left" class="table-row-no-content">
                <td align="center" colspan="13" class="no-records">No Records Found</td>
                <td align="center" colspan="14"></td>
            </tr>
        </table>
    </div>
</div>
<!-- Modal -->
<div id="custom_modal" class="modal-demo box-width-400">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();">
      <i class="zmdi zmdi-close zmdi-hc-2x"></i>
    </span>
    <h4 class="custom-modal-title p-t-10 p-b-10">Enter Password</h4>
    <div class="custom-modal-text">
        <div>
            <div class="form-group">
                <label for="exampleInputPassword" class="pull-left">Password <span class="mandatory">*</span></label>
                <input type="password" - class="form-control input-sm inp-password" id="current_password_reject" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputReason" class="pull-left">Reason <span class="mandatory">*</span></label>
                <textarea class="form-control input-sm inp-reason reject-reason-txt" rows="2" maxlength="500" placeholder="Enter Reason"></textarea>
            </div>
            <button type="button" class="btn btn-primary waves-effect waves-light password-submit">Submit</button>
        </div>
    </div>
</div>
<div id="custom_modal_approve" class="modal-demo box-width-400">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();">
      <i class="zmdi zmdi-close zmdi-hc-2x"></i>
    </span>
    <h4 class="custom-modal-title p-t-10 p-b-10">Enter Password</h4>
    <div class="custom-modal-text">
        <div>
            <div class="form-group">
                <label for="exampleInputPassword" class="pull-left">Password <span class="mandatory">*</span></label>
                <input type="password" class="form-control input-sm inp-password-approve" id="current_password" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary waves-effect waves-light password-submit">Submit</button>
        </div>
    </div>
</div>
<div id="custom_modal_remarks" class="modal-demo box-width-400">
    <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();">
      <i class="zmdi zmdi-close zmdi-hc-2x"></i>
    </span>
    <h4 class="custom-modal-title p-t-10 p-b-10">Enter Reason</h4>
    <div class="custom-modal-text">
        <div>
            <div class="form-group">
                <label for="exampleInputReason" class="pull-left">Reason <span class="mandatory">*</span></label>
                <textarea id="view_reason_id" class="form-control input-sm view-reason" rows="2" placeholder="Enter Reason" maxlength="500" tabindex="1"></textarea>
            </div>
            <button type="button" class="btn btn-primary waves-effect waves-light password-submit">Submit</button>
        </div>
    </div>
</div>
<div class="side-bar right-bar">
    <a id="custom_filter" class="right-bar-toggle close-button c-pointer"> <i class="zmdi zmdi-close-circle-o"></i> </a>
    <h4 class="filter-text bg-info filter_by_inline">Filter By</h4>
    <div class="notification-list nicescroll">
        <div class="filter-data nicescroll">
            <div class="form-group col-sm-12">
                <label class="control-label">View Data</label>
                <div class="col-md-12 no-padding">
                    <div class="radio radio-info radio-inline">
                        <input type="radio" class="view-data" id="verified_data" value="1" name="view-data">
                        <label for="verified_data"> Verified </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" class="view-data" id="pending_data" value="2" name="view-data">
                        <label for="pending_data"> Pending </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" class="view-data" id="all_data" value="3" name="view-data">
                        <label for="all_data"> All </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Organization</label>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" id="orgname" placeholder="Enter Organization">
                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                    <div id="ac_orgname" class="ac-textbox default-display-none">
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Statutory Nature</label>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" id="nature" placeholder="Enter Statutory Nature" value="">
                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                    <div id="ac_nature" class="ac-textbox default-display-none">
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Statutory</label>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" id="statutory" placeholder="Enter Statutory" value="">
                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                    <div id="ac_statutory" class="ac-textbox default-display-none">
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Compliance Frequency</label>
                <div class="has-feedback">
                    <select class="form-control input-sm pull-right" id="frequency" multiple="multiple">
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Geography Location</label>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" id="geolocation" placeholder="Enter Geography Location" value="">
                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                    <div id="ac_geolocation" class="ac-textbox default-display-none">
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Compliance Task</label>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" id="comptask" placeholder="Enter Compliance Task" value="">
                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                    <div id="ac_comptask" class="ac-textbox default-display-none">
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Task ID</label>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" id="taskid" placeholder="Enter Task ID">
                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                    <div id="ac_taskid" class="ac-textbox default-display-none">
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Compliance Document</label>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" id="compdoc" placeholder="Enter Compliance Document" value="">
                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                    <div id="ac_compdoc" class="ac-textbox default-display-none">
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Compliance Description</label>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" id="compdesc" placeholder="Enter Compliance Description" value="">
                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                    <div id="ac_compdesc" class="ac-textbox default-display-none">
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label">Task Type</label>
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm" id="tasktype" placeholder="Enter Task Type" value="">
                    <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                    <div id="ac_tasktype" class="ac-textbox default-display-none">
                        <ul class="ul-inline"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <button class="btn btn-info" id="go">Search</button>
        </div>
    </div>
</div>
{% endblock %} {% block contentscript %}
<script type="text/javascript" src="/script/bulk-upload/statutory-mapping-bulk-upload-approve/approve-mapping-bulk-upload.js"></script>
{% endblock %}