{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-5 m-b-20">
          <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" aria-expanded="false" onclick="parent.location='/assign-statutory/create'"><span class="m-l-5"><i class="fa fa-plus-circle"></i></span> Add </button>
        </div>
      <h4 class="page-title">Assign Statutory</h4>
    </div>
  </div>
  <div class="row">
  <div id="animationSandbox">
    <div class="col-sm-12">
      <div class="panel panel-default panel-info">
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <table  class="table table-striped dt-responsive nowrap highlight" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th align="center" width="2%">#</th>
                  <th width="08%">Group</th>
                  <th width="10%">Business Group</th>
                  <th width="08%">Country</th>
                  <th width="10%">Legal Entity</th>
                  <th width="08%">Division</th>
                  <th width="08%">Category</th>
                  <th width="08%">Location</th>
                  <th width="12%">Unit</th>
                  <th width="08%">Domain</th>
                  <th width="05%" class="text-center">Edit</th>
                </tr>
                <tr class="odd gradeX">
                  <td align="center"></td>
                  <td>
                    <div class="form-group has-feedback col-sm-12 no-padding">
                        <input class="form-control input-sm" type="text">
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group has-feedback col-sm-12 no-padding">
                        <input class="form-control input-sm" type="text">
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group has-feedback col-sm-12 no-padding">
                        <input class="form-control input-sm" type="text">
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group has-feedback col-sm-12 no-padding">
                        <input class="form-control input-sm" type="text">
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group has-feedback col-sm-12 no-padding">
                        <input class="form-control input-sm" type="text">
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group has-feedback col-sm-12 no-padding">
                        <input class="form-control input-sm" type="text">
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group has-feedback col-sm-12 no-padding">
                        <input class="form-control input-sm" type="text">
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group has-feedback col-sm-12 no-padding">
                        <input class="form-control input-sm" type="text">
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td>
                    <div class="form-group has-feedback col-sm-12 no-padding">
                        <input class="form-control input-sm" type="text">
                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                    </div>
                  </td>
                  <td align="center">&nbsp;</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td align="center">1</td>
                  <td>RG Group</td>
                  <td>RG Business Group</td>
                  <td>India</td>
                  <td>RG Legal Entity 01</td>
                  <td>RG Division 01</td>
                  <td>RG Category 01</td>
                  <td>Madurai</td>
                  <td>RG0001 - Branch Office 1</td>
                  <td>Labour Law</td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                </tr>
                <tr>
                  <td align="center">2</td>
                  <td>RG Group</td>
                  <td>RG Business Group</td>
                  <td>Singapore</td>
                  <td>RG Legal Entity 02</td>
                  <td>RG Division 02</td>
                  <td>RG Category 02</td>
                  <td>Chennai</td>
                  <td>RG0002 - Branch Office 2</td>
                  <td>Labour Law</td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                </tr>
                <tr>
                  <td align="center">3</td>
                  <td>VRM Group</td>
                  <td>VRM Business Group</td>
                  <td>India</td>
                  <td>VRM Legal Entity 01</td>
                  <td>RG Division 01</td>
                  <td>RG Category 02</td>
                  <td>Tamilnadu</td>
                  <td>RG0003 - Branch Office 3</td>
                  <td>Labour Law</td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                </tr>
                <tr>
                  <td align="center">4</td>
                  <td>TKU Group</td>
                  <td>TKU Business Group</td>
                  <td>India</td>
                  <td>TKU Legal Entity 01</td>
                  <td>RG Division 02</td>
                  <td>RG Category 03</td>
                  <td>Selam</td>
                  <td>RG0004 - Branch Office 4</td>
                  <td>Labour Law</td>
                  <td class="icon-3x text-center">
                      <i class="fa fa-pencil text-primary c-pointer" data-toggle="tooltip" title="Click here to Edit"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}