{% extends "files/desktop/client/home/container.html" %}
{% block content %}
<div class="content-container">
  <div class="content-area">
    <div class="add-container">
      <div class="add-container-heading">On Occurrence Compliances<span class="error-message"></span></div>
       <div class="form-container-outer">
            <div class="grid-table" style="margin-top:20px">
              <table>
                <tr>
                  <th width="2%" align="left">S.No</th>
                  <th width="25%" align="left">Statutory</th>
                  <th width="15%" align="left">Compliance Task</th>
                  <th width="20%" align="left">Description</th>
                  <th width="10%" align="left">To complete with in</th>
                  <th width="10%" align="left">Start Date</th>
                  <th width="3%" align="left">Start</th>
                </tr>

                <tbody class="tbody-compliances-list">
                </tbody>

<!--                 <tr>
                  <td style="height:50px" align="center">1</td>
                  <td>WORKMEN’S COMPENSATION ACT, 1923 >> Rule 11 >> Sec.10B </td>
                  <td> Form EE - Report of accident </td>
                  <td>Report of fatal Accident and Serious Injury within 7 days to the
Commissioner (not application when ESI Act applies).</td>
                  <td>2 Days</td>
                  <td><input type="text" class="input-box"/></td>
                  <td><input type="button" class="btn-submit" value="Start"/></td>
                </tr>
                <tr>
                  <td style="height:50px" align="center">2</td>
                  <td>WORKMEN’S COMPENSATION ACT, 1923 >> Sec.10 </td>
                  <td>Notice Accident </td>
                  <td>As soon as Practicable</td>
                  <td>3 Hours</td>
                  <td><input type="text" class="input-box"/></td>
                  <td><input type="button" class="btn-submit" value="Start"/></td>
                </tr> -->
              </table>
            </div> 
        </div>
    </div>
  </div>
</div>

<div id="templates">
    <table class="table-compliances">
      <tr class="table-row">
        <td class="sno" align="center"></td>
        <td class="statutory"></td>
        <td class="compliance-task"></td>
        <td class="description"></td>
        <td class="duration"></td>
        <td class="startdate"></td>
        <td class="action" align="center"></td>
      </tr>
    </table>
  </div>
{% endblock %}

