{% extends "files/client/common/html/container.html" %}
{% block content %}
<link href="/files/client/common/css/dashboard.css" rel="stylesheet" type="text/css" />
<link href="/files/client/common/css/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  $(function(){
    $(".left-menu-button").show();
    $(".content-page").removeClass('m-l-0');
  });
</script>


<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Chart List</li>
        <li class="has_sub"> <a href="/dashboard" class="waves-effect"><i class="zmdi zmdi-info-outline"></i> <span> Compliance Status </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/escalation" class="waves-effect"><i class="zmdi zmdi-case"></i> <span> Escalation </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/not-complied" class="waves-effect"><i class="zmdi zmdi-block"></i> <span> Not Complied </span> </a> </li>
        <li class="has_sub active"> <a href="/dashboard/assignee-wise" class="waves-effect"><i class="zmdi zmdi-card-travel"></i> <span> Assignee Wise Compliance</span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/trend-chart" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Trend Chart </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/compliance-applicability" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Compliance Applicability </span> </a> </li>
        <li class="has_sub"> <a href="/dashboard/risk-chart" class="waves-effect"><i class="zmdi zmdi-chart"></i> <span> Risk Chart </span> </a> </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>



<div class="content-page">
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <!--div class="row">
        <div class="col-sm-12 h4-title">
        <button type="button" class="btn btn-success btn-sm waves-effect waves-light pull-right m-t-5" onclick="parent.location='/dashboard/assignee-wise'"><span><i class="fa fa-mail-reply"></i></span> Back </button>
          <h4 class="page-title pull-left">Assignee Wise Compliance</h4>
		      
        </div>
      </div-->
      <div class="row">
        <div class="col-lg-12"> 

          <div class="portlet">
              <div class="portlet-heading bg-info">
                  <h3 class="portlet-title">Assignee Wise Compliance</h3>
                  <div class="portlet-widgets">
                      <a href="#" onclick="parent.location='/dashboard/assignee-wise'">
                          <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                      </a>
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div id="bg-primary1" class="panel-collapse collapse in">
                  <div class="portlet-body">
                      <div class="col-sm-offset-2 col-sm-3">
                          <div class="form-group m-b-0">
                              <label class="col-sm-offset-1 col-sm-3 text-right">User: </label>
                              <label class="col-sm-7">Saravan </label>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="form-group m-b-0">
                              <label class="col-sm-offset-1 col-sm-3 text-right">Domain: </label>
                              <label class="col-sm-7">Finance Law</label>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group m-b-0">
                              <label class="col-sm-offset-1 col-sm-3 text-right">Year: </label>
                              <label class="col-sm-7">2015</label>
                          </div>
                      </div>

                      <div class="panel-group col-lg-12" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default bx-shadow-none">
                              <div class="panel-heading p-0" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="p-5"> Status: Complied </a>
                                  </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body no-padding">
                                    <div class="dataTable_wrapper top-lightborder">
                                      <table class="table table-striped dt-responsive nowrap no-bgheader no-border" cellspacing="0" width="100%">
                                        <thead>
                                          <tr>
                                            <th width="1%">#</th>
                                            <th width="15%">Compliance Task</th>
                                            <th width="10%">Start Date</th>
                                            <th width="10%">Actual Due Date</th>
                                            <th width="10%">Date of Completion</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="bg-lightdark">
                                            <td colspan="100%">
                                              <div class="col-sm-6"><span class="pull-left">KG1009 - Madurai unit </span></div>
                                              <div class="col-sm-6">&nbsp;</div>
                                            </td>
                                          </tr>
                                          <tr>
                                              <td colspan="100%" >
                                                  <div class="col-sm-12 no-padding">
                                                      <h5>The Tamilnadu shops and commercial establishments act - 1947</h5>
                                                      <!--input type="text" class="form-control input-sm text-center" value="The Tamilnadu shops and commercial establishments act - 1947 " readonly="true" /-->
                                                  </div>
                                              </td>
                                          </tr>
                                          <tr>
                                            <td>1</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by manufacturer, importer, bulk consumer, assembler and reconditioned"></i> Opening and closing hours</td>
                                            <td>10-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                            <td>14-Sep-2016</td>
                                          </tr>
                                          <tr>
                                            <td>2</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether registration for importers obtained for importing lead acid battery or primary Lead"></i> FORM II - Registration</td>
                                            <td>10-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                          </tr>
                                          <tr>
                                              <td colspan="100%" >
                                                  <div class="col-sm-12 no-padding">
                                                      <h5>The Batteries act - 2001</h5>
                                                  </div>
                                              </td>
                                          </tr>
                                          <tr>
                                            <td>3</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether undertaking submitted by importer to authority."></i> FORM III - Undertaking submission</td>
                                            <td>10-Sep-2016</td>
                                            <td>16-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                          </tr>
                                          <tr>
                                            <td>4</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by dealer to manufacturer"></i> FORM V - Dealer Half yearly returns</td>
                                            <td>12-Sep-2016</td>
                                            <td>20-Sep-2016</td>
                                            <td>18-Sep-2016</td>
                                          </tr>
                                          <tr>
                                            <td>5</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether registration obtained for dealers"></i> FORM IV - Dealer Registration</td>
                                            <td>15-Sep-2016</td>
                                            <td>24-Sep-2016</td>
                                            <td>24-Sep-2016</td>
                                          </tr>
                                          <tr class="bg-lightdark">
                                            <td colspan="100%">
                                              <div class="col-sm-6"><span class="pull-left">KG1010 - Chennai unit </span></div>
                                              <div class="col-sm-6">&nbsp;</div>
                                            </td>
                                          </tr>
                                          <tr>
                                              <td colspan="100%" >
                                                  <div class="col-sm-12 no-padding">
                                                      <h5>The Tamilnadu shops and commercial establishments act - 1947</h5>
                                                  </div>
                                              </td>
                                          </tr>
                                          <tr>
                                            <td>1</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by manufacturer, importer, bulk consumer, assembler and reconditioned"></i> Opening and closing hours</td>
                                            <td>10-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                            <td>14-Sep-2016</td>
                                          </tr>
                                          <tr>
                                            <td>2</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether registration for importers obtained for importing lead acid battery or primary Lead"></i> FORM II - Registration</td>
                                            <td>10-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default bx-shadow-none">
                              <div class="panel-heading p-0" role="tab" id="headingTwo">
                                  <h4 class="panel-title">
                                      <a class="collapsed p-5" role="button" data-toggle="collapse" ata-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Status: Delayed
                                      </a>
                                  </h4>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body no-padding">
                                    <div class="dataTable_wrapper top-lightborder">
                                      <table  class="table table-striped dt-responsive nowrap no-bgheader no-border" cellspacing="0" width="100%">
                                        <thead>
                                          <tr>
                                            <th width="1%">#</th>
                                            <th width="15%">Compliance Task</th>
                                            <th width="10%">Start Date</th>
                                            <th width="10%">Actual Due Date</th>
                                            <th width="10%">Date of Completion</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="bg-lightdark">
                                            <td colspan="100%">
                                              <div class="col-sm-6"><span class="pull-left">KG1009 - Madurai unit </span></div>
                                              <div class="col-sm-6">&nbsp;</div>
                                            </td>
                                          </tr>
                                          <tr>
                                              <td colspan="100%" >
                                                  <div class="col-sm-12 no-padding">
                                                      <h5>The Tamilnadu shops and commercial establishments act - 1947</h5>
                                                  </div>
                                              </td>
                                          </tr>
                                          <tr>
                                            <td>1</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by manufacturer, importer, bulk consumer, assembler and reconditioned"></i> Opening and closing hours</td>
                                            <td>10-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                            <td>14-Sep-2016</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default bx-shadow-none">
                            <div class="panel-heading p-0" role="tab" id="headingTwo">
                                  <h4 class="panel-title">
                                      <a class="collapsed p-5" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Status: In progress </a>
                                  </h4>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                  <div class="panel-body no-padding">
                                    <div class="dataTable_wrapper top-lightborder">
                                      <table  class="table table-striped dt-responsive nowrap no-bgheader no-border" cellspacing="0" width="100%">
                                        <thead>
                                          <tr>
                                            <th width="1%">#</th>
                                            <th width="15%">Compliance Task</th>
                                            <th width="10%">Start Date</th>
                                            <th width="10%">Actual Due Date</th>
                                            <th width="10%">Date of Completion</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="bg-lightdark">
                                            <td colspan="100%">
                                              <div class="col-sm-6"><span class="pull-left">KG1009 - Madurai unit </span></div>
                                              <div class="col-sm-6">&nbsp;</div>
                                            </td>
                                          </tr>
                                          <tr>
                                              <td colspan="100%" >
                                                  <div class="col-sm-12 no-padding">
                                                      <h5>The Tamilnadu shops and commercial establishments act - 1947</h5>
                                                  </div>
                                              </td>
                                          </tr>
                                          <tr>
                                            <td>1</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by manufacturer, importer, bulk consumer, assembler and reconditioned"></i> Opening and closing hours</td>
                                            <td>10-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                            <td>14-Sep-2016</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default bx-shadow-none">
                            <div class="panel-heading p-0" role="tab" id="headingThree">
                                  <h4 class="panel-title">
                                      <a class="collapsed p-5" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Status: Not complied </a>
                                  </h4>
                              </div>
                              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                  <div class="panel-body no-padding">
                                    <div class="dataTable_wrapper top-lightborder">
                                      <table class="table table-striped dt-responsive nowrap no-bgheader no-border" cellspacing="0" width="100%">
                                        <thead>
                                          <tr>
                                            <th width="1%">#</th>
                                            <th width="15%">Compliance Task</th>
                                            <th width="10%">Start Date</th>
                                            <th width="10%">Actual Due Date</th>
                                            <th width="10%">Date of Completion</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="bg-lightdark">
                                            <td colspan="100%">
                                              <div class="col-sm-6"><span class="pull-left">KG1009 - Madurai unit </span></div>
                                              <div class="col-sm-6">&nbsp;</div>
                                            </td>
                                          </tr>
                                          <tr>
                                              <td colspan="100%" >
                                                  <div class="col-sm-12 no-padding">
                                                      <h5>The Tamilnadu shops and commercial establishments act - 1947</h5>
                                                  </div>
                                              </td>
                                          </tr>
                                          <tr>
                                            <td>1</td>
                                            <td><i class="zmdi zmdi-info" data-toggle="tooltip" title="Whether half yearly returns submitted by manufacturer, importer, bulk consumer, assembler and reconditioned"></i> Opening and closing hours</td>
                                            <td>10-Sep-2016</td>
                                            <td>15-Sep-2016</td>
                                            <td>14-Sep-2016</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clear"></div>
                  </div>
              </div>

            </div>
            <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- content -->
  </div>
</div>
<script type="text/javascript" src="/files/client/common/js/charts/html5.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/highcharts-3d.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/exporting.js"></script>
<script type="text/javascript" src="/files/client/common/js/charts/standalone-framework.js"></script>
<script src="/files/client/common/js/multiselect/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $('#country').multiselect();
    $('#domain').multiselect();	
</script>

{% endblock %}