{% extends "files/desktop/Header/Header.html" %}
{% block content %}

<style type="text/css">
/* Autocomplete textbox Style */
.ac-textbox li
{
list-style-type:none; line-height:25px;
}
.ac-textbox ul {
  border:1px solid gray;
  position: absolute;
  padding-left: 0em;
  background: #ffffff;
}
.ac-textbox ul li {
  font-size: 0.8em;
  padding-right: 0.3em;
  padding-left:0.3em;
  vertical-align: center;
  cursor: pointer;
}
.ac-textbox ul li:hover{
  background: #EAE8E8;  
}

/* Autocomplete selectbox Style */
.ac-selectbox ul {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
  box-sizing: border-box;
  position: absolute;
  padding-left: 0em;
  background: #ffffff;
  transition: opacity 200ms ease-out 0s, top 200ms ease-out 0s, visibility 200ms ease-out 0s;
}
.ac-selectbox ul li {
  font-size: 0.8em;
  list-style-type:none; 
  padding: 6px;
  padding-left: 2em;
  vertical-align: center;
  cursor: pointer;
  background: url(/files/desktop/common/images/tick_1_inactive.png) no-repeat left 5px center;
}
.ac-selectbox ul li:hover{
  
  background:  #EAE8E8 url(/files/desktop/common/images/tick_1_inactive.png) no-repeat left 5px center;
}
.ac-selectbox ul li.active_selectbox {
  background: url(/files/desktop/common/images/tick_1.png) no-repeat left 5px center;
}
.ac-selectbox ul li.active_selectbox:hover {
  background: #f1e9f6 url(/files/desktop/common/images/tick_1.png) no-repeat left 5px center;
}
.ac-selectbox ul li.active_selectbox_country {
  background: #f1e9f6 url(/files/desktop/common/images/tick_1.png) no-repeat left 5px center;
}

</style>


<script type="text/javascript" src="/files/desktop/User/user.js"></script>
<script type="text/javascript" src="/files/desktop/common/js/mirror.js"></script>
<div id="listview" style="display:block">
<div class="content-container width50">
  <div class="content-area">
    <h1>Users</h1>
    <div class="filters-and-search">
      <div class="btn-add" onclick="displayAdd();" formtarget="_self">Add</div>
    </div>
    <div class="clearfix"></div>
    <div class="grid-table">
    
      <table>
        <tr>
          <th align="center">#</th>
          <th align="left">Employee</th>
          <th align="left">User Group</th>
          <th align="left">Designation</th>
          <th align="center" width="9%">Edit</th>
          <th align="center" width="9%">Status</th>
        </tr>

        <tr>
          <td>&nbsp;</td>
          <td>
          <input type="text"  id="employeenamefilter" class="filter-text-box" onkeyup="filter()">
          </td>
          <td>
          <input type="text"  id="usergroupfilter" class="filter-text-box" onkeyup="filter()">
          </td>
          <td>
          <input type="text"  id="designationfilter" class="filter-text-box" onkeyup="filter()">
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tbody class="tbody-user-list">        
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<div id="templates">
<table class="table-user-master">
  <tr class="table-row">
    <td class="sno" align="center"></td>
    <td class="employee-name"></td>
    <td class="user-group"></td>
    <td class="designation"></td>
    <td class="edit" align="center"></td>
    <td class="status" align="center"></td>
  </tr>
</table>
</div>
<div id="addview" style="display:none"> 
<div class="content-container width70">
        <div class="content-area">
          <div class="add-container">
          <div class="add-container-heading">Users<span class="error-message" id="error" ></span></div>
           <div class="input-row-left">
           
            <div class="input-row">
                <div class="field-label">Employee Name:<span class="mandatory">*</span></div>
                <div class="field-input">
                <input type="text" id="employeename" class="input-box" value="" >
                <input type="hidden" id="userid" value="">
                </div>
              </div>
              <div class="input-row">
                <div class="field-label">Employee ID:<span class="mandatory">*</span></div>
                <div class="field-input"><input type="text" id="employeeid" class="input-box" value=""></div>
              </div>
              <div class="input-row">
                <div class="field-label">Address:</div>
                <div class="field-input"><textarea class="input-box" id="address" style="height:70px;"></textarea></div>
              </div>
              
            </div>
            <div class="input-row-right">
             
              <div class="input-row" style="padding-bottom:0px;">
                <div class="field-label">Email ID:<span class="mandatory">*</span></div>
                <div class="field-input"><input type="text" id="emailid" class="input-box" placeholder="Email ID" value="">
                </div>
              </div>

              <div class="input-row" style="padding-bottom:0px;">
                <div class="field-label">&nbsp;</div>
                <div class="field-input">
                <span style="font-size:10px;">[This will be used as the username for user acc.]</span>
                </div>
              </div>
              <div class="input-row" style="padding-bottom:0px;">
                <div class="field-label">Contact No.:<span class="mandatory">*</span></div>
                <div class="field-input"><input type="text" id="countrycode" class="input-box countrycode" value="+91"> <input type="text" id="areacode" class="input-box areacode" value="" > <input type="text" id="contactno" class="input-box mobile" value=""></div>
              </div>
             
               <div class="input-row" style="padding-bottom:0px;">
                <div class="field-label">&nbsp;</div>
                <div class="field-input">
                <span style="font-size:10px;">[+91 452 1234567]</span>
                </div>
              </div>
                 <div class="input-row">
                <div class="field-label">User Group:<span class="mandatory">*</span></div>
                <div class="field-input">

                  <input type="text" class="input-box icon-autocomplete" id="usergroupval" value=""  onkeyup="loadauto_text(this.value)"> 
              <input type="hidden" id="usergroup"> 
             <div id="autocompleteview" class="ac-textbox" style="display:none;">
                <ul id="ulist_text" onclick="hidemenu();" style="width:195px;"></ul> 
            </div>
                
                </div>
              </div>
              <div class="input-row">
                <div class="field-label">Designation:</div>
                <div class="field-input"><input type="text" id="designation" class="input-box" value="Manager"></div>
              </div>
              
               </div>
             <h2>Settings</h2>
              <div class="input-row-left">             
             <div class="input-row" >
                <div class="field-label">Countries:<span class="mandatory">*</span></div>
                <div class="field-input">  

                <input type="hidden" id="country"> 
                <input type="text" class="input-box icon-autocomplete" id="countryselected" value="" readonly="readonly" onclick="loadautocountry()"> 
             <div id="selectboxview-country" class="ac-selectbox" style="display:none;">
                <ul id="ulist-country" onmouseleave="hidemenu();" style="width:195px;"></ul> 
            </div>
                </div>
              </div>
              </div>
              <div class="input-row-right">
           
              <div class="input-row" >
                <div class="field-label">Domain:<span class="mandatory">*</span></div>
                <div class="field-input">  
                <input type="hidden" id="domain"> 
                <input type="text" class="input-box icon-autocomplete" id="domainselected" value="" readonly="readonly" onclick="loadauto()"> 
             <div id="selectboxview" class="ac-selectbox" style="display:none;">
                <ul id="ulist" onmouseleave="hidemenu();" style="width:195px;"></ul> 
            </div>

              </div>
              </div>
              </div>
             
           
            <div class="submit-button-container" style="text-align:left;">
            </div>
            <div class="submit-button-container">
             <input type="reset" name="cancel" value="Cancel" class="btn-cancel" onclick="location.href='/user/list'">&nbsp;&nbsp;
              <input type="submit" name="submit" value="Submit" class="btn-submit" onclick="saveRecord()">

              </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
</div>
{% endblock %} 