{% extends "files/desktop/client/home/container.html" %}
{% block content %}
  <div class="content-container width50" id="userprivilege-view">
    <div class="content-area">
      <h1>User Privileges</h1>
      <div class="filters-and-search">
        <div class="btn-add"  id="btn-userprivilege-add" formtarget="_self">Add</div>
      </div>
      <div class="clearfix"></div>
      <div class="grid-table">
        <table class="js-filtertable">
        <thead>
          <tr align="left">
            <th width="8%" align="center">#</th>
            <th >User Group Name</th>
            <th align="center" width="11%">Edit</th>
            <th align="center" width="11%">Status</th>
          </tr>
          <tr>
            <td></td>
            <td><input type="text" id="search-user-group-name" class="filter-text-box js-filter" ></td>
            <td></td>
            <td></td>
          </tr>
          </thead>
          <tbody class="tbody-userprivilege-list">
          </tbody>

        </table>
      </div>
    </div>
  </div>
  <div id="templates">
    <table class="table-userprivilege-list">
      <tr class="table-row">
        <td align="center" class="sno"></td>
        <td class="usergroup-name"></td>
        <td align="center" class="edit"></td>
        <td align="center" class="is-active"></td>
      </tr>
    </table>
  </div>
  <div class="single-column-form-outer width50 default-display-none" id="userprivilege-add">
    <div class="content-area"  style="padding-top:0em; margin-bottom:0em;">
      <div class="single-column-form-inner">
        <div class="single-column-header">User Privileges<span class="error-message"></span></div>
        <div class="single-column-input-row">
          <div class="input-row">
            <div class="single-column-field-label">User Group Name:<span class="mandatory">*</span></div>
            <div class="single-column-field-input">
              <input type="hidden" id="user-privilege-id">
              <input type="text" class="input-box" id="user-privilege-name" maxlength="50">
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="grid-table" style="max-height:315px;overflow-y:scroll;">
          <table  >
            <tr>
              <th align="left"><input type="checkbox" class="checkbox-full-check"></th>
              <th align="left">Form List</th>
            </tr>
            <tbody class="tbody-userprivilege-form-list"  >
            </tbody>
          </table>
        </div>
        <div class="submit-button-container">
          <input type="reset" name="cancel" value="Cancel" class="btn-cancel" id="btn-userprivilege-cancel">
          &nbsp;&nbsp;
          <input type="submit" name="submit" value="Submit" class="btn-submit" id="submit">
        </div>
      </div>
    </div>
  </div>
  <div id="templates-form-list" class="default-display-none">
    <table class="table-userprivilege-form-list">
      <tr class="table-row-heading"><td colspan="2" style="font-weight:bold; text-transform:capitalize;" class="heading-name"></td></tr>
      <tr class="table-row-form-list">
        <td><input type="checkbox" class="form-checkbox" ></td>
        <td class="form-name"></td>
      </tr>
    </table>
  </div>
  <script type="text/javascript" src="/files/desktop/client/client-user-privilege/clientuserprivilege.js"></script>
{% endblock %}