{% extends "files/desktop/Header/Header.html" %}
{% block content %}
<!-- view Country-->
<div class="content-container width40" id="country-view">
  <div class="content-area">
    <h1>Countries</h1>
    <div class="filters-and-search">
      <div class="btn-add btn-country-add">Add</div>
    </div>
    <div class="clearfix"></div>
      <div class="grid-table" >
      <table id="country-list">
      <thead>
        <tr align="left">
          <th align="center" width="10%">#</th>
          <th width="70%">Country Name</th>
          <th align="center" width="10%">Edit</th>
          <th align="center" width="10%">Status</th>
        </tr>   
        <tr>
          <td width="10%">&nbsp;</td>
          <td width="70%"><input type="text" class="filter-text-box" onkeyup="filter(this, 1)" ></td>
          <td width="10%">&nbsp;</td>
          <td width="10%">&nbsp;</td>
        </tr>
      </thead>
      <tbody id="tableCountriesList">
        <tr id="tableRow">
          <td align="center"></td>
          <td></td>
          <td align="center"></td>
          <td align="center"></td>
        </tr>
      </tbody>
      </table>
    </div>    
  </div>
</div>
<!-- Add Country-->
<div class="single-column-form-outer width40" id="country-add">
  <div class="content-area">
    <div class="single-column-form-inner">
      <div class="single-column-header">Country Master<span class="error-message"></span></div>
      <div class="single-column-input-row">
        <div class="input-row">
          <div class="single-column-field-label">Country Name:<span class="mandatory">*</span></div>
          <div class="single-column-field-input"><input type="text" class="input-box" name="countryName" id="countryName">
          <input type="hidden" id="countryId" value="" ></div>
        </div>
        <div class="submit-button-container">
          <input type="reset" name="cancel" value="Cancel" class="btn-cancel btn-country-cancel">&nbsp;&nbsp;
          <input type="submit" name="submit" value="Submit" class="btn-submit" id="submit">
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/files/desktop/CountryMaster/CountryMaster.js"></script>
{% endblock %}