{% extends "files/client/common/html/container.html" %} 
{% block content %}
<style type="text/css">
    .progress {
  height: 35px !important;

}
.progress .skill {
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  }
  .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
  .invaliddata{
    display: none;
  }
  .dropbtn{
    font-size: 13px;
  }
  .dropdown-content{
    margin-left: 220px;
  }


@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  </style>

<div class="content-page">
<div class="content">
  <!-- Multiselect -->
  <link href="/files/client/common/css/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
  <!-- Notification css (Toastr) -->
  <link href="/files/client/common/css/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row" id="animationSandbox">
          <div class="col-sm-3"> </div>
          <div class="col-sm-6">
            <div class="portlet">
              <div class="portlet-heading bg-info">
                <h3 class="portlet-title">
                  Completed Task - Current Year - Bulk Upload
                </h3>
                <div class="portlet-widgets">
                <a href="#" onclick="location.href='/Completed-task-current-year-BulkUpload_List'" >
                    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                </a>
            </div>
                <div class="clearfix"></div>
              </div>
              <div id="bg-primary1" class="panel-collapse collapse in">
                <div class="portlet-body">
                  <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                    <div style="border:1px solid #F5F5F5" class="col-sm-12">
                      <div class="form-group bg-muted">
                        <div class="col-sm-12">
                          <h4 class="header-title">Download File</h4>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Legal Entity: <span class="mandatory">*</span></label>
                        <div class="col-sm-6 has-feedback">
                          <input type="text" class="form-control input-sm" placeholder="Legal Entity name" value="RG Legal Entity">
                          <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Domain: <span class="mandatory">*</span></label>
                        <div class="col-sm-6 has-feedback">
                          <input type="text" class="form-control input-sm" placeholder="Domain name" value="Labour Law">
                          <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Unit: <span class="mandatory">*</span></label>
                        <div class="col-sm-6 has-feedback">
                          <input type="text" class="form-control input-sm" placeholder="Unit name" value="RG0001 - Corporate Office">
                          <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <center>
                          <button class="btn btn-primary waves-effect waves-light" type="button" onclick="parent.location='files/knowledge/format/Completed_Task_Current_Year-Past_Data.csv'"> Download File </button>
                        </center>
                      </div>
                      <div class="form-group bg-muted">
                        <div class="col-sm-12">
                          <h4 class="header-title">Upload File</h4>
                        </div>
                      </div>
                      <div class="form-group has-feedback">
                        <label class="col-sm-4 control-label">Select File: <span class="mandatory">*</span></label>
                        <div class="col-sm-6">
                          <input class="form-control input-sm" type="file">
                          <small class="" style="text-align: left;">[ Accepted file format <span style="color: #E64C3D !important;">.csv</span> ]</small>
                        </div>
                      </div>
                      <<div class="form-group col-sm-12 text-center">
                          <div class="col-sm-12 col-sm-offset-1">
                             <button class="btn btn-primary waves-effect waves-light animateprogress" type="button" data-toggle="modal" data-target="#myModal"> Upload </button>
                             <a class="btn btn-primary btn-trans invaliddata dropbtn" onclick="myFunction()"><i class="fa fa-download text-primary"></i> Valid / Invalid Data</a>
                                <div id="myDropdown" class="dropdown-content">
                                <a href="#">Download Excel</a>
                                <a href="#">Download CSV</a>
                                <a href="#">Download ODS</a>
                                <a href="#">Download Text</a>
                                </div>
                             </div>
                             
                              <!-- <div class="col-sm-4 invaliddata no-padding">
                               <button class="btn btn-info waves-effect waves-light " type="button"> 
                          Download Invalid Data
                          </button>
</div> -->
                        </div>
                      <!-- <div class="form-group col-sm-12 invaliddata">
                        <label class="col-sm-4 control-label">Download Invalid Data:</label>
                        <div class="col-sm-8 has-feedback">
                          <button class="btn btn-primary"><i class="fa fa-file-excel-o text-white"></i> Excel</button>
                          <button class="btn btn-primary"><i class="fa fa-file-excel-o text-white"></i> CSV</button>
                          <button class="btn btn-primary"><i class="fa fa-file-excel-o text-white"></i> ODS</button>
                          <button class="btn btn-primary"><i class="fa fa-file-text-o text-white"></i> Text</button>
                        </div>
                      </div> -->
                      <div class="clear"></div>
                        
                      <div class="view-summary" style="display: none;">
                        <div class="col-sm-6 no-padding">
                          <div class="form-group bg-muted">
                            <h5 class="col-sm-12 header-title">Uploaded Data - Summary</h5>
                          </div>
                          <ul class="p-l-20">
                            <li>Total No. Of Records: <b>1000</b> </li>
                            <li>Valid Processed Records: <b> 950 </b> </li>
                            <li>Invalid Records: <b> 50</b></li>
                          </ul>
                        </div>
                        <div class="col-sm-6 text-danger no-padding">
                          <div class="form-group bg-muted">
                            <h5 class="col-sm-12 text-danger header-title">Invalid Data - Summary</h5>
                          </div>
                          <ul class="p-l-20">
                            <li>Invalid Date: <b>20</b> </li>
                            <li>Invalid File Format: <b>15</b> </li>
                            <li>Mandatory Field Blank: <b>10</b> </li>
                            <li>Master Data Inactive: <b>5</b> </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="/files/client/common/js/multiselect/bootstrap-multiselect.js"></script>
      <!-- <script type="text/javascript">
        $('#countries').multiselect();
        $('#domains').multiselect();  
        </script> -->
      <script type="text/javascript">
        $(document).ready(function() {
            $('.example-multiple-optgroups').multiselect({
                buttonWidth: '100%',
                enableClickableOptGroups: true /*,
                enableCollapsibleOptGroups: true*/
            });
            $('.example-multiple').multiselect({
                buttonWidth: '100%'
            });
        });
      </script>
      <!-- Toastr js -->
      <script src="/files/client/common/js/toastr/toastr.min.js"></script>
      <script type="text/javascript">

        function import_toast() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            return toastr;
        }

        function displayMessage(message) {
            // $('.error-message').text(message);
            // $('.error-message').show();
            if ($('.toast-error').css('display') == "block") {
                $('.toast').remove();
            }
            var toastPan = import_toast();
            Command: toastPan["error"](message)
        }

        </script>
      <!-- Modal -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
              <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
              <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <span class="skill">Uploading <i class="val">100%</i></span>
                </div>
              </div>
            </div>
            <!--   <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
          </div>
        </div>
      </div>
      <script src="/files/client/common/js/custombox/custombox.min.js"></script>
      <!-- Toastr js -->
      <script src="/files/client/common/js/toastr/toastr.min.js"></script>

      <script type="text/javascript">
        
        var theme_name = "";
        if(window.localStorage['theme_name'])
            theme_name = window.localStorage['theme_name'];
        else
            theme_name = "one";
        
        if(theme_name == "two") {
            $('#themes_value').attr('href','css/theme_two.css');
        } else if(theme_name == "three") {
            $('#themes_value').attr('href','css/theme_three.css');
        } else if(theme_name == "four") {
            $('#themes_value').attr('href','css/theme_four.css');
        } else if(theme_name == "five") {
            $('#themes_value').attr('href','css/theme_five.css');
        } else if(theme_name == "six") {
            $('#themes_value').attr('href','css/theme_six.css');
        } else {
            $('#themes_value').attr('href','/files/client/common/css/theme_one.css');
        }
        
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
        
        $('.thememodalbox').click(function() {
            Custombox.open({
                target: '#theme-modal',
                /*overlayClose: false,
                escKey:false,*/
                effect:'slit',
                overlaySpeed:100,
                overlayColor:'#36404a'
            });
            e.preventDefault();
        });
        $('.legal-table tr').click(function() {
            //location.href='/home';
            location.reload();
        });
        
        
      </script>
      <script type="text/javascript">
        $(document).ready(function() {
          $(".animateprogress").click(function() {
            $('.invaliddata').hide();
            $('.view-summary').hide();
            setTimeout(function(){
          $('#myModal').modal('hide');
            $('.invaliddata').show();
            $('.view-summary').show();
            displayMessage("Records are not uploaded successfully");
            }, 2000);
          });
        });
      </script>
      <script src="/files/client/common/js/jquery.core.js"></script>
      <script src="/files/client/common/js/jquery.app.js"></script>
      <script src="/files/knowledge/common/js/download_dropdown.js"></script>
    </div>
  </div>
</div>
{% endblock %}