{% extends "files/client/common/html/container.html" %} {% block content %}

<!-- Multiselect -->
<link href="/files/client/common/css/multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<!-- Notification css (Toastr) -->
<link href="/files/client/common/css/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .text-middle {
        vertical-align: middle;
    }
</style>
<div id="list-screen">
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div id="list-screen1">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="btn-group pull-right m-t-5 m-b-20">
                                <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" aria-expanded="false" id="btn-add">
                                    <i class="fa fa-plus-circle"></i> Add </button>
                            </div>
                            <h4 class="page-title">Completed Task - Current Year - Bulk Upload</h4>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" id="animationSandbox">
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-10">
                            <div class="card-box table-responsive">

                                <div class="col-sm-12 no-padding">
                                    <table id="datatable-responsive" class="table table-striped dt-responsive nowrap highlight" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="2%">#</th>
                                                <th width="15">Uploaded File Name</th>
                                                <th width="8">Uploaded On</th>
                                                <th width="8" class="text-center">No. of Records</th>
                                                <th width="8" class="text-center">Required Documents</th>
                                                <th width="10" class="text-center">Uploaded Documents</th>
                                                <th width="10" class="text-center">Remaining Documents</th>
                                                <th width="8" class="text-center">Upload Documents</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                        <input type="text" class="form-control input-sm" placeholder="Uploaded File Name">
                                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group col-sm-12 no-padding m-b-10 m-t-10">
                                                        <input type="text" class="form-control input-sm" placeholder="Uploaded On">
                                                        <i class="fa fa-filter form-control-feedback l-h-34"></i>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <!-- end col -->
                    </div>
                </div>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="page-title compfie-model-title">Client Group: RG Group</h4>
                            <hr class="no-top-margin no-bottom-margin">
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table id="datatable-responsive" class="table dt-responsive nowrap" width="100%">
                                        <tr>
                                            <td colspan="4" class="no-border">
                                                <table class="table">
                                                    <tr>
                                                        <td width="30%" align="center">Short Name: rggroup</td>
                                                        <td width="30%" align="center">Username: groupadmin@domain.com</td>
                                                        <td width="30%" align="center">View Only Licence(s): 5</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="bg-lightdark">
                                            <td colspan="4">
                                                <table class="table">
                                                    <tr>
                                                        <td width="33%">Country: India</td>
                                                        <td width="33%">Business Group: RG Business Group </td>
                                                        <td width="33%" colspan="2">Legal Entity: RG Legal Entity</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="33%">Contract From: 01-Jan-2017</td>
                                                        <td width="33%">Contract To: 31-Dec-2018 </td>
                                                        <td width="33%" colspan="2">
                                                            <span data-toggle="tooltip" title="Old Data: Total Licence(s): 15">
                                                                <i class="fa fa-info-circle"></i> Total Licence(s): 20</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">Logo: logo.png</td>
                                                        <td>
                                                            <span data-toggle="tooltip" title="Old Data: File Space: 10 GB">
                                                                <i class="fa fa-info-circle"></i> File Space: 20 GB</span>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <table cellspacing="0" cellpadding="0" width="100%" class="btable letable">
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="grid-table">
                                                                <table cellspacing="0" cellpadding="0" width="100%">
                                                                    <tr>
                                                                        <th width="15%">Domain </th>
                                                                        <th width="20%">Organization</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Labour Law </td>
                                                                        <td>
                                                                            <p>
                                                                                <span data-toggle="tooltip" title="Old Data: Establishment - 6, S & E - 3">
                                                                                    <i class="fa fa-info-circle"></i> Establishment - 5, S & E - 4</span>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Finace Law </td>
                                                                        <td>
                                                                            <p>Establishment - 5, S & E - 4</p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- compfie model -->
                <div class="modal fade bs-example-modal-lg-ci" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="page-title">Client Group: ABC Group</h4>
                            <hr class="no-top-margin no-bottom-margin">
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table id="datatable-responsive" class="table dt-responsive nowrap" width="100%">
                                        <tr>
                                            <td colspan="4" class="no-border">
                                                <table class="table">
                                                    <tr>
                                                        <td width="30%" align="center">Short Name: abcgroup</td>
                                                        <td width="30%" align="center">Username: groupadmin@domain.com</td>
                                                        <td width="30%" align="center">View Only Licence(s): 5</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="bg-lightdark">
                                            <td colspan="4">
                                                <table class="table">
                                                    <tr>
                                                        <td width="33%">Country: India</td>
                                                        <td width="33%">Business Group: ABC Business Group </td>
                                                        <td width="33%" colspan="2">Legal Entity: ABC Limited</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="33%">Contract From: 01-Jan-2017</td>
                                                        <td width="33%">Contract To: 31-Dec-2018 </td>
                                                        <td width="33%" colspan="2">
                                                            <span data-toggle="tooltip" title="Old Data: Total Licence(s): 15">
                                                                <i class="fa fa-info-circle"></i> Total Licence(s): 20</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">Logo: logo.png</td>
                                                        <td>
                                                            <span data-toggle="tooltip" title="Old Data: File Space: 10 GB">
                                                                <i class="fa fa-info-circle"></i> File Space: 20 GB</span>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <table cellspacing="0" cellpadding="0" width="100%" class="btable letable">
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="grid-table">
                                                                <table cellspacing="0" cellpadding="0" width="100%">
                                                                    <tr>
                                                                        <th width="15%">Domain </th>
                                                                        <th width="20%">Organization</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Labour Law </td>
                                                                        <td>
                                                                            <p>
                                                                                <span data-toggle="tooltip" title="Old Data: Establishment - 6, S & E - 3">
                                                                                    <i class="fa fa-info-circle"></i> Establishment - 5, S & E - 4</span>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Finace Law </td>
                                                                        <td>
                                                                            <p>Establishment - 5, S & E - 4</p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- inm model -->
                <div class="modal fade bs-example-modal-lg-inm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="page-title">Client Group: VRM Group</h4>
                            <hr class="no-top-margin no-bottom-margin">
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table id="datatable-responsive" class="table dt-responsive nowrap" width="100%">
                                        <tr>
                                            <td colspan="4" class="no-border">
                                                <table class="table">
                                                    <tr>
                                                        <td width="30%" align="center">Short Name: vrmgroup</td>
                                                        <td width="30%" align="center">Username: groupadmin@domain.com</td>
                                                        <td width="30%" align="center">View Only Licence(s): 5</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="bg-lightdark">
                                            <td colspan="4">
                                                <table class="table">
                                                    <tr>
                                                        <td width="33%">Country: India</td>
                                                        <td width="33%">Business Group: VRM Business Group </td>
                                                        <td width="33%" colspan="2">Legal Entity: ABC Limited</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="33%">Contract From: 01-Jan-2017</td>
                                                        <td width="33%">Contract To: 31-Dec-2018 </td>
                                                        <td width="33%" colspan="2">
                                                            <span data-toggle="tooltip" title="Old Data: Total Licence(s): 15">
                                                                <i class="fa fa-info-circle"></i> Total Licence(s): 20</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">Logo: logo.png</td>
                                                        <td>
                                                            <span data-toggle="tooltip" title="Old Data: File Space: 10 GB">
                                                                <i class="fa fa-info-circle"></i> File Space: 20 GB</span>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <table cellspacing="0" cellpadding="0" width="100%" class="btable letable">
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="grid-table">
                                                                <table cellspacing="0" cellpadding="0" width="100%">
                                                                    <tr>
                                                                        <th width="15%">Domain </th>
                                                                        <th width="20%">Organization</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Labour Law </td>
                                                                        <td>
                                                                            <p>
                                                                                <span data-toggle="tooltip" title="Old Data: Establishment - 6, S & E - 3">
                                                                                    <i class="fa fa-info-circle"></i> Establishment - 5, S & E - 4</span>
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Finace Law </td>
                                                                        <td>
                                                                            <p>Establishment - 5, S & E - 4</p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-dialog -->
                </div>

            </div>
        </div>
    </div>
</div>
<!-- List Screen ends-->

<!-- Add Screen starts-->
<div id="add-screen" style="display:none">
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row" id="animationSandbox">
                            <div class="col-sm-3"> </div>
                            <div class="col-sm-6">
                                <div class="portlet">
                                    <div class="portlet-heading bg-info">
                                        <h3 class="portlet-title">
                                            Completed Task - Current Year - Bulk Upload
                                        </h3>
                                        <div class="portlet-widgets">
                                            <a href="#" id="cancelButton">
                                                <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="bg-primary1" class="panel-collapse collapse in">
                                        <div class="portlet-body">
                                            <form class="form-horizontal group-border-dashed" action="#" novalidate="">
                                                <div style="border:1px solid #F5F5F5" class="col-sm-12">
                                                    <div class="form-group bg-muted">
                                                        <div class="col-sm-12">
                                                            <h4 class="header-title">Download File</h4>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Legal Entity:
                                                            <span class="mandatory">*</span>
                                                        </label>
                                                        <p class="form-control-static legal-entity-name default-display-none"></p>
                                                        <div class="col-sm-6 has-feedback default-display-none legal-entity-name-ac">
                                                            <input type="text" class="form-control input-sm legal-entity-name-ac" placeholder="Legal Entity name" id="legal_entity_name" placeholder="Enter Legal Entity">
                                                            <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                            <input type="hidden" id="legal_entity_id" value="">
                                                            <div id="ac-entity" class="ac-textbox default-display-none">
                                                                <ul class="width85Percent"></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Domain:
                                                            <span class="mandatory">*</span>
                                                        </label>
                                                        <div class="col-sm-6 has-feedback">
                                                            <input type="text" class="form-control input-sm" placeholder="Domain name" id="txtdomain" value="">
                                                            <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                            <input type="hidden" id="hdnDomain" value="">
                                                            <div id="divDomain" class="ac-textbox default-display-none">
                                                                <ul class="hidemenu"></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">Unit:
                                                            <span class="mandatory">*</span>
                                                        </label>
                                                        <div class="col-sm-6 has-feedback">
                                                            <input type="text" class="form-control input-sm" placeholder="Unit name" value="" id="txtUnit">
                                                            <i class="fa-1-2x form-control-feedback fa fa-search"></i>
                                                            <input type="hidden" id="hdnUnit" value="">
                                                            <div id="divUnit" class="ac-textbox default-display-none">
                                                                <ul class="width85Percent"></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <center>

                                                            <button class="btn btn-primary waves-effect waves-light" type="button" id="btnDownloadFile">
                                                                    Download File </button>
                                                            <a href="/files/client/bulkupload/Completed_Task_Current_Year-Past_Data.csv" download="/files/client/bulkupload/Completed_Task_Current_Year-Past_Data.csv"></a>
                                                        </center>
                                                    </div>
                                                    <div id="divUploadFile" style="display:none">
                                                        <div class="form-group bg-muted">
                                                            <div class="col-sm-12">
                                                                <h4 class="header-title">Upload File</h4>
                                                            </div>
                                                        </div>
                                                        <div class="form-group has-feedback">
                                                            <label class="col-sm-4 control-label">Select File:
                                                            <span class="mandatory">*</span>
                                                        </label>
                                                            <div class="col-sm-6">
                                                                <input class="form-control input-sm" type="file">
                                                                <small class="" style="text-align: left;">[ Accepted file format
                                                                <span style="color: #E64C3D !important;">.csv</span> ]</small>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-12 text-center">
                                                            <div class="col-sm-12 col-sm-offset-1">
                                                                <button class="btn btn-primary waves-effect waves-light animateprogress" type="button" data-toggle="modal" data-target="#myModal">
                                                                Upload </button>
                                                                <a class="btn btn-primary btn-trans invaliddata dropbtn" onclick="myFunction()">
                                                                    <i class="fa fa-download text-primary"></i> Valid / Invalid Data</a>
                                                            </div>
                                                        </div>
                                                        <div class="clear"></div>
                                                        <div class="view-summary" style="display: none;">
                                                            <div class="col-sm-6 no-padding">
                                                                <div class="form-group bg-muted">
                                                                    <h5 class="col-sm-12 header-title">Uploaded Data - Summary</h5>
                                                                </div>
                                                                <ul class="p-l-20">
                                                                    <li>Total No. Of Records:
                                                                        <b>1000</b>
                                                                    </li>
                                                                    <li>Valid Processed Records:
                                                                        <b> 950 </b>
                                                                    </li>
                                                                    <li>Invalid Records:
                                                                        <b> 50</b>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-6 text-danger no-padding">
                                                                <div class="form-group bg-muted">
                                                                    <h5 class="col-sm-12 text-danger header-title">Invalid Data - Summary</h5>
                                                                </div>
                                                                <ul class="p-l-20">
                                                                    <li>Invalid Date:
                                                                        <b>20</b>
                                                                    </li>
                                                                    <li>Invalid File Format:
                                                                        <b>15</b>
                                                                    </li>
                                                                    <li>Mandatory Field Blank:
                                                                        <b>10</b>
                                                                    </li>
                                                                    <li>Master Data Inactive:
                                                                        <b>5</b>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                    <h4 class="modal-title">Upload</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="progress skill-bar ">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                            <span class="skill">Uploading
                                                <i class="val">100%</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!--   <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div> -->
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <!-- Add Screen ends -->
        <!-- Modal -->
        <div id="custom-modal" class="modal-demo box-width-400">
            <span class="pull-right m-t-10 m-r-15 c-pointer text-white" onclick="Custombox.close();">
                <i class="zmdi zmdi-close zmdi-hc-2x"></i>
            </span>
            <h4 class="custom-modal-title p-t-10 p-b-10">Enter Password</h4>
            <div class="custom-modal-text">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputPassword" class="pull-left">Password
                            <span class="mandatory">*</span>
                        </label>
                        <input type="password" class="form-control input-sm" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputReason" class="pull-left">Remarks
                            <span class="mandatory">*</span>
                        </label>
                        <textarea class="form-control input-sm" id="exampleInputReason" rows="2" placeholder="Enter Reason"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary waves-effect waves-light">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block contentscript %}
<script src="/script/bulkupload/completed_task_current_year/Completed-task-current-year-BulkUpload.js"></script>
{% endblock %}