{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row">
  <div id="animationSandbox">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8">
      <div class="portlet">
          <!-- <h4 class="page-title">Auto Deletion</h4>
          <hr class="no-top-margin"> -->
          <div class="portlet-heading bg-info">
            <h3 class="portlet-title">
                Auto Deletion
            </h3>
            <div class="portlet-widgets">
                <a href="#" onclick="location.href='/auto-deletion/list'" >
                    <i class="zmdi zmdi-close zmdi-hc-2x"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="bg-primary1" class="panel-collapse collapse in">
            <div class="portlet-body">
        
        <form class="form-horizontal group-border-dashed" action="#" novalidate="">
        <div class="col-lg-6">
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Group</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Group Name" value="RG Group">
            </div>
          </div>
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">Legal Entity</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="Legal Entity" value="RG Legal Entity">
            </div>
          </div> 
          </div>
          <div class="col-lg-6">
          <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-3 control-label" for="example-input-small">&nbsp;</label>
            <div class="col-sm-6 controls">
              &nbsp;
            </div>
          </div>
            <div class="form-group">
            <label class=" col-sm-offset-1 col-sm-4 control-label" for="example-input-small">Deletion Period</label>
            <div class="col-sm-6 controls">
              <input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="00" value="7">
            </div>
          </div>
        </div>
        <div class="clear"></div>
        </form>
        </div>
        </div>
        
      <div class="table-responsive no-padding">
        <form class="form-horizontal group-border-dashed km-view" action="#" novalidate="">
              <table id="datatable-responsive" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="col-sm-5">Unit</th>
                    <th class="col-sm-5">Address</th>
                    <th class="col-sm-2">Deletion Period</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>RG10001 - Corporate Office</td>
                    <td>15/9, New Delhi, 110001</td>
                    <td><input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="00" value="6"></td>
                  </tr>
                  <tr>
                    <td>RG10002 - Regional Office - North</td>
                    <td>12, KK nagar, Chennai 600001</td>
                    <td><input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="00" value="6"></td>
                  </tr>
                  <tr>
                    <td>RG10003 - Regional Office - South</td>
                    <td>24-1/4, South Delhi, 110001</td>
                    <td><input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="00" value="6"></td>
                  </tr>
                  <tr>
                    <td>RG10004 - Regional Office</td>
                    <td>15/9, New Delhi, 110001</td>
                    <td><input type="text" id="example-input-small" name="example-input-small" class="form-control input-sm" placeholder="00" value="6"></td>
                  </tr>
                </tbody>
              </table>
              </form>
      </div>
      <div class="form-group text-center">
          <button class="btn btn-primary waves-effect waves-light" type="submit"> Submit </button>
        <!-- <button class="btn btn-info waves-effect m-l-5" type="reset" onclick="location.href='/auto-deletion/list'"> Cancel </button> -->
      </div>
    
    <!-- end col -->
    </div>
    </div>
  </div>
</div>
{% endblock %}

