{% extends "files/desktop/knowledge/home/container.html" %}
{% block content %}
<div class="single-column-form-outer width50">
  <div class="single-column-form-inner">
    <div class="single-column-header">
      Change Password <span class="error-message"></span>
    </div>
    <div class="single-column-input-row">
      <div class="input-row">
        <div class="single-column-field-label"> Current Password:</div>
        <div class="single-column-field-input"><input type="password" class="input-box" id="currentpassword" maxlength="20" tabindex="1"></div>
      </div>
      <div class="input-row">
        <div class="single-column-field-label">New Password:</div>
        <div class="single-column-field-input"><input type="password" class="input-box" id="newpassword" maxlength="20" tabindex="2"></div>
      </div>
      <div class="input-row">
        <div class="single-column-field-label">Confirm Password:</div>
        <div class="single-column-field-input"><input type="password" class="input-box" id="confirmpassword" maxlength="20" tabindex="3"></div>
      </div>
    </div>
    <div class="submit-button-container">
      <input type="submit" name="submit" value="Submit" class="btn-submit" id="submit" tabindex="4">
    </div>
  </div>
</div>

<script type="text/javascript" src="/files/desktop/common/js/changepassword.js"></script>
{% endblock %}