{% extends "files/knowledge/common/html/container.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <h4 class="page-title">Messages</h4>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div id="animationSandbox">
      <div class="col-sm-1"> </div>
      <div class="col-sm-10">
        <div class="card-box table-responsive notify-list">
              <div class="col-sm-12">
                <table id="datatable-responsive" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                  <tbody class="tbody-message-list">
                  </tbody>
                </table>
              </div>
              <div class="clearfix"></div>
            </div>
      </div>
    </div>
  </div>
</div>

<div id="templates">
<table class="table-message">
  <tr class="table-row">
    <td width="2%"><i class="fa fa-hand-o-right"></i></td>
    <td width="80">
      <div class="col-sm-12 message-content"></div>
      <div class="col-sm-6">
        <span class="pull-left message-time"></span>
      </div>
      <div class="col-sm-6"> 
        <span class="pull-right message-user"></span>
      </div>
    </td>
  </tr>
</table>
</div>
<script type="text/javascript" src="/script/messages/messages.js"></script>
{% endblock %} 